# Census rankings

In [2]:
import pandas as pd
import numpy as np
import json
import math

In [3]:
options = pd.read_csv('./csv/lists/places_2020.csv')

In [4]:
areas = []
for i in options["code"]:
    try:
        areas.append(json.load(open(f'/Users/theojolliffe/Documents/Census Data/census-data-main/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
        print(i)
        pass

E05009289
E05009290
E05009293
E05009294
E05009295
E05009297
E05009298
E05009299
E05009300
E05009301
E05009303
E05009306
E05009307
E05009312
E05011090

In [5]:
wards = []
for i in areas:
    if i['type']=='wd':
        wards.append(i)
        
regions = []
for i in areas:
    if i['type']=='rgn':
        regions.append(i)
        
lads = []
for i in areas:
    if i['type']=='lad':
        lads.append(i)
        
countries = []
for i in areas:
    if (i['type']=='ew')|(i['type']=='ctry'):
        countries.append(i)

In [6]:
for thisRegion in regions:
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_regions = []
    region_code = thisRegion['parents'][0]['code']
    for i in regions:
        if  region_code == i['parents'][0]['code']:
            sister_regions.append(i)

    # Loop through the various data variables
    for a in thisRegion['data']:
        if a in ['population', 'density', 'agemed']:
            b = 'value'
        else:
            b = 'perc'
        # Create nested object with localised rank
        thisRegion['data'][a][b+"_rank_local"] = {}    
        for c in ['2011', 'change']:
            thisRegion['data'][a][b+"_rank_local"][c] = {}
            for d in thisRegion['data'][a][b][c]:
                vari = thisRegion['data'][a][b][c][d]

                # Create sorted list of values from sister areas
                group_values = []
                for region in sister_regions:
                    group_values.append(region['data'][a][b][c][d])
                    group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                group_values.sort(reverse=True)

                # Find index of value of area of interest
                try:
                    varRank = group_values.index(vari) + 1
                except ValueError:
                    print(thisRegion['name'])
                    pass

                # Convert bottom half rankings into negative values
                if varRank>len(group_values)/2:
                    varRank = varRank-len(group_values)-1

                thisRegion['data'][a][b+"_rank_local"][c][d] = varRank

                # Append ranking data to original array
                ranks.append({
                    'label': a+'_'+b+'_'+c+'_'+d, 
                    'locRank': varRank, 
                    'value': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: x['locRank']**2)
    thisRegion["Priorities"] = ranks

In [7]:
for thisWard in wards:
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_wards = []
    ward_code = thisWard['parents'][0]['code']
    for i in wards:
        if  ward_code == i['parents'][0]['code']:
            sister_wards.append(i)

    # Loop through the various data variables
    for a in thisWard['data']:
        if a in ['population', 'density', 'agemed']:
            b = 'value'
        else:
            b = 'perc'
        # Create nested object with localised rank
        thisWard['data'][a][b+"_rank_local"] = {}    
        for c in ['2011', 'change']:
            thisWard['data'][a][b+"_rank_local"][c] = {}
            for d in thisWard['data'][a][b][c]:
                vari = thisWard['data'][a][b][c][d]

                # Create sorted list of values from sister areas
                group_values = []
                for ward in sister_wards:
                    group_values.append(ward['data'][a][b][c][d])
                    group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                group_values.sort(reverse=True)

                # Find index of value of area of interest
                try:
                    varRank = group_values.index(vari) + 1
                except ValueError:
                    print(thisWard['name'])
                    pass

                # Convert bottom half rankings into negative values
                if varRank>len(group_values)/2:
                    varRank = varRank-len(group_values)-1

                thisWard['data'][a][b+"_rank_local"][c][d] = varRank

                # Append ranking data to original array
                ranks.append({
                    'label': a+'_'+b+'_'+c+'_'+d, 
                    'locRank': varRank, 
                    'value': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: x['locRank']**2)
    thisWard["Priorities"] = ranks

Hampton Vale
Hampton Vale
Hampton Vale
Hampton Vale
Kingsway
Kingsway
Kingsway
Kingsway
St Agnes
St Agnes
St Agnes
St Agnes
St Neots East
St Neots East
St Neots East
St Neots East
Cranbrook
Cranbrook
Cranbrook
Cranbrook
Bridge
Bridge
Bridge
Bridge

In [8]:
for thisLad in lads:
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_lads = []
    lad_code = thisLad['parents'][0]['code']
    for i in range(len(lads)):
        if  lad_code == lads[i]['parents'][0]['code']:
            sister_lads.append(lads[i])

    # Loop through the various data variables
    for a in thisLad['data']:
        if a in ['population', 'density', 'agemed']:
            b = 'value'
        else:
            b = 'perc'
        # Create nested object with localised rank
        thisLad['data'][a][b+"_rank_local"] = {}    
        for c in ['2011', 'change']:
            thisLad['data'][a][b+"_rank_local"][c] = {}
            for d in thisLad['data'][a][b][c]:
                vari = thisLad['data'][a][b][c][d]

                # Create sorted list of values from sister areas
                group_values = []
                for lad in sister_lads:
                    group_values.append(lad['data'][a][b][c][d])
                    group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                group_values.sort(reverse=True)

                # Find index of value of area of interest
                varRank = group_values.index(vari) + 1

                # Convert bottom half rankings into negative values
                if varRank>len(group_values)/2:
                    varRank = varRank-len(group_values)-1
                    
                natRank = thisLad['data'][a][b+"_rank"][c][d]
                if natRank > 168:
                    natRank = natRank-336-1

                thisLad['data'][a][b+"_rank_local"][c][d] = varRank

                # Append ranking data to original array
                ranks.append({
                    'label': a+'_'+b+'_'+c+'_'+d, 
                    'locRank': varRank, 
                    'natRank': natRank, 
                    'value': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: (abs(x['locRank']), -abs(x['value'])))
    thisLad["Priorities"] = ranks

In [9]:
topics = [{1: 'population', 2: 'value', 3: 'all'}, 
          {1: 'health', 2: 'perc', 3: 'good'},
          {1: 'travel', 2: 'perc', 3: 'car_van'},
          {1: 'agemed', 2: 'value', 3: 'all'},
          {1: 'economic', 2: 'perc', 3: 'employee'},
          {1: 'health', 2: 'perc', 3: 'bad'},
          {1: 'ethnicity', 2: 'perc', 3: 'black'},
          {1: 'economic', 2: 'perc', 3: 'student'},
          {1: 'economic', 2: 'perc', 3: 'self-employed'},
         ]

ladCodes = []
for lad in lads:
    ladCodes.append(lad['code'])

In [10]:
df = pd.DataFrame(columns=
                  ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
for j in range(len(topics)):
    df1 = pd.DataFrame(index=ladCodes, columns=
                      ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
    for i in range(len(lads)):
        df1['lad'].iloc[i] = lads[i]['name']
        df1['2001'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2001'][topics[j][3]]
        df1['2011'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2011'][topics[j][3]]    
        df1['change'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['change'][topics[j][3]]
        df1['natRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank"]['change'][topics[j][3]]    
        df1['localRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank_local"]['change'][topics[j][3]]    
        df1['topic'].iloc[i] = topics[j][1]+"_"+topics[j][3]
        df1['parent'].iloc[i] = lads[i]['parents'][0]['name']
    df = pd.concat([df,df1])
df['natRank'] = np.where(df['natRank'] > 168, df['natRank']-337,df['natRank'])

In [11]:
for topic in topics:
    for lad in lads:
        
#       Find the areas that this area has overtaken
        v2001 = lad['data'][topic[1]][topic[2]]['2001'][topic[3]]
        v2011 = lad['data'][topic[1]][topic[2]]['2011'][topic[3]]
        dfT = df[(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)]
        obje = []
        for i in range(dfT.shape[0]):
            obje.append(dfT.iloc[i]['lad'])

        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'][topic[3]] = obje
        
#       Find the area immediatly above or below
        below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]
        above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-2
        if below<0:
            below=below+1
            above=above+1
        reg = lad['parents'][0]['name']
        name_above = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[above]['lad']
        name_below = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[below]['lad']
        if above>0:
            area_above = {'name': name_above,
                         'value': df[(df['lad']==name_above)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        else:
            area_above = 'NaN'
        if below<len(df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])]):
            area_below = {'name': name_below,
                          'value': df[(df['lad']==name_below)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        else:
            area_below = 'NaN'
        
        if 'above_below' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'] = {}

        if topic[3] not in lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]] = {}
        
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["above"] = area_above
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["below"] = area_below
            
        # Add top and bottom three biggest movers for each subject to every area
        df_topic = df[(df['topic']==topic[1]+"_"+topic[3])&(abs(df['natRank'])<4)]
        ob = {}
        for index, row in df_topic.iterrows():
            ob[row['natRank']]= {row['lad']: row['change']}
        if 'top_bottom' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'] = {}
        lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'][topic[3]]=ob

In [12]:
breaksLad = [i*336/10 for i in range(10)]
breaksLad
5*1/336

0.01488095238095238

In [13]:
manchester = lads[247]
amberv = lads[68]
tandridge = lads[217]

In [23]:
for lad in lads:
    topicList = ["density", "age10yr"] 
    subjectList = ["fair", "rent_free", "shared_ownership", "bicycle", "taxi", "moto", "bus", "other", "female", "male"]
    priorities = []
    for rank in lad['Priorities']:
        s=rank['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        if ((s[2] == "change") & (s[0] not in topicList) & (s[3] not in subjectList)):
            priorities.append(rank)
#             topicList.append(rank['label'].split("_")[0])
    lad['pri'] = priorities

In [15]:
print(amberv['name'])

amberv['Priorities']

Amber Valley

[{'label': 'travel_perc_2011_moto',
  'locRank': 4,
  'natRank': 76,
  'value': 0.98},
 {'label': 'ethnicity_perc_2011_asian',
  'locRank': -4,
  'natRank': -31,
  'value': 0.76},
 {'label': 'travel_perc_2011_other',
  'locRank': -4,
  'natRank': -12,
  'value': 0.43},
 {'label': 'age10yr_perc_change_60-69',
  'locRank': 5,
  'natRank': 17,
  'value': 3.72},
 {'label': 'ethnicity_perc_2011_black',
  'locRank': -5,
  'natRank': -58,
  'value': 0.21},
 {'label': 'ethnicity_perc_2011_white',
  'locRank': 6,
  'natRank': 36,
  'value': 98.13},
 {'label': 'economic_perc_2011_student',
  'locRank': -6,
  'natRank': -26,
  'value': 2.2},
 {'label': 'age10yr_perc_change_0-9',
  'locRank': -6,
  'natRank': -37,
  'value': -1.39},
 {'label': 'ethnicity_perc_2011_other',
  'locRank': -6,
  'natRank': -36,
  'value': 0.1},
 {'label': 'travel_perc_2011_bicycle',
  'locRank': -7,
  'natRank': -77,
  'value': 1.36},
 {'label': 'economic_perc_change_self-employed',
  'locRank': 7,
  'natRank': 149,
  'value': 1.3},
 {'label': 'ethnicity_perc_2011_mixed',
  'locRank': -7,
  'natRank': -63,
  'value': 0.8},
 {'label': 'population_value_2011_all',
  'locRank': 8,
  'natRank': -150,
  'value': 122309},
 {'label': 'population_value_2011_female',
  'locRank': 8,
  'natRank': -150,
  'value': 62117},
 {'label': 'population_value_2011_male',
  'locRank': 8,
  'natRank': -152,
  'value': 60192},
 {'label': 'agemed_value_2011_all',
  'locRank': 8,
  'natRank': 86,
  'value': 40.0},
 {'label': 'age10yr_perc_2011_60-69',
  'locRank': 8,
  'natRank': 73,
  'value': 13.41},
 {'label': 'tenure_perc_2011_rented_private',
  'locRank': -8,
  'natRank': -69,
  'value': 11.79},
 {'label': 'health_perc_change_bad',
  'locRank': -8,
  'natRank': -79,
  'value': -4.05},
 {'label': 'age10yr_perc_change_40-49',
  'locRank': 8,
  'natRank': 41,
  'value': 2.04},
 {'label': 'ethnicity_perc_change_white',
  'locRank': 8,
  'natRank': 57,
  'value': -0.95},
 {'label': 'tenure_perc_2011_shared_ownership',
  'locRank': -9,
  'natRank': -68,
  'value': 0.41},
 {'label': 'tenure_perc_change_shared_ownership',
  'locRank': -9,
  'natRank': -87,
  'value': -0.04},
 {'label': 'health_perc_2011_good',
  'locRank': -10,
  'natRank': -83,
  'value': 79.0},
 {'label': 'tenure_perc_2011_owned',
  'locRank': 10,
  'natRank': 41,
  'value': 74.1},
 {'label': 'health_perc_2011_fair',
  'locRank': 10,
  'natRank': 64,
  'value': 14.99},
 {'label': 'age10yr_perc_2011_0-9',
  'locRank': -10,
  'natRank': -75,
  'value': 10.46},
 {'label': 'population_value_change_female',
  'locRank': -10,
  'natRank': -115,
  'value': 4.57},
 {'label': 'age10yr_perc_change_50-59',
  'locRank': -10,
  'natRank': -65,
  'value': -1.12},
 {'label': 'tenure_perc_change_rent_free',
  'locRank': -10,
  'natRank': -62,
  'value': -0.98},
 {'label': 'ethnicity_perc_change_asian',
  'locRank': -10,
  'natRank': -46,
  'value': 0.38},
 {'label': 'age10yr_perc_change_10-19',
  'locRank': 10,
  'natRank': 69,
  'value': -0.09},
 {'label': 'health_perc_2011_bad',
  'locRank': 11,
  'natRank': 106,
  'value': 6.01},
 {'label': 'travel_perc_2011_car_van',
  'locRank': 12,
  'natRank': 36,
  'value': 76.78},
 {'label': 'tenure_perc_change_rented_private',
  'locRank': -12,
  'natRank': -112,
  'value': 4.99},
 {'label': 'travel_perc_change_home',
  'locRank': 12,
  'natRank': 146,
  'value': -4.58},
 {'label': 'age10yr_perc_change_20-29',
  'locRank': -12,
  'natRank': -78,
  'value': -0.12},
 {'label': 'health_perc_change_good',
  'locRank': 13,
  'natRank': 83,
  'value': 12.97},
 {'label': 'age10yr_perc_2011_10-19',
  'locRank': -13,
  'natRank': -118,
  'value': 11.86},
 {'label': 'ethnicity_perc_change_mixed',
  'locRank': -13,
  'natRank': -86,
  'value': 0.39},
 {'label': 'travel_perc_change_bicycle',
  'locRank': 13,
  'natRank': -140,
  'value': -0.38},
 {'label': 'ethnicity_perc_change_black',
  'locRank': -13,
  'natRank': -99,
  'value': 0.13},
 {'label': 'age10yr_perc_2011_50-59',
  'locRank': 14,
  'natRank': 71,
  'value': 13.47},
 {'label': 'population_value_change_male',
  'locRank': -14,
  'natRank': -102,
  'value': 5.47},
 {'label': 'population_value_change_all',
  'locRank': -14,
  'natRank': -103,
  'value': 5.01},
 {'label': 'density_value_change_all',
  'locRank': -14,
  'natRank': -106,
  'value': 5.01},
 {'label': 'travel_perc_change_taxi',
  'locRank': 14,
  'natRank': 130,
  'value': -0.01},
 {'label': 'age10yr_perc_2011_40-49',
  'locRank': 15,
  'natRank': 63,
  'value': 15.76},
 {'label': 'age10yr_perc_2011_20-29',
  'locRank': -15,
  'natRank': -96,
  'value': 10.36},
 {'label': 'tenure_perc_change_owned',
  'locRank': 15,
  'natRank': 88,
  'value': -3.04},
 {'label': 'agemed_value_change_all',
  'locRank': -15,
  'natRank': -156,
  'value': 2.56},
 {'label': 'travel_perc_change_other',
  'locRank': -15,
  'natRank': -86,
  'value': 0.17},
 {'label': 'health_perc_change_fair',
  'locRank': 16,
  'natRank': 166,
  'value': -8.92},
 {'label': 'travel_perc_change_car_van',
  'locRank': -16,
  'natRank': 89,
  'value': 6.23},
 {'label': 'tenure_perc_change_rented_social',
  'locRank': 16,
  'natRank': -152,
  'value': -0.93},
 {'label': 'age10yr_perc_change_70plus',
  'locRank': -16,
  'natRank': -161,
  'value': 0.5},
 {'label': 'tenure_perc_2011_rented_social',
  'locRank': -17,
  'natRank': -93,
  'value': 12.33},
 {'label': 'age10yr_perc_change_30-39',
  'locRank': -17,
  'natRank': -73,
  'value': -3.55},
 {'label': 'travel_perc_change_foot',
  'locRank': -17,
  'natRank': -86,
  'value': -1.67},
 {'label': 'travel_perc_2011_train_metro',
  'locRank': -17,
  'natRank': -70,
  'value': 1.29},
 {'label': 'economic_perc_change_unemployed',
  'locRank': 17,
  'natRank': -136,
  'value': 0.83},
 {'label': 'travel_perc_change_bus',
  'locRank': -17,
  'natRank': -132,
  'value': -0.55},
 {'label': 'travel_perc_2011_taxi',
  'locRank': 17,
  'natRank': -133,
  'value': 0.33},
 {'label': 'age10yr_perc_2011_70plus',
  'locRank': 18,
  'natRank': 141,
  'value': 12.72},
 {'label': 'economic_perc_2011_self-employed',
  'locRank': -18,
  'natRank': -120,
  'value': 9.04},
 {'label': 'density_value_2011_all',
  'locRank': 18,
  'natRank': -141,
  'value': 4.61},
 {'label': 'tenure_perc_2011_rent_free',
  'locRank': 18,
  'natRank': 138,
  'value': 1.37},
 {'label': 'ethnicity_perc_change_other',
  'locRank': -18,
  'natRank': -121,
  'value': 0.05},
 {'label': 'age10yr_perc_2011_30-39',
  'locRank': -19,
  'natRank': -142,
  'value': 11.96},
 {'label': 'travel_perc_2011_bus',
  'locRank': 19,
  'natRank': -156,
  'value': 4.06},
 {'label': 'economic_perc_2011_unemployed',
  'locRank': 19,
  'natRank': 167,
  'value': 3.87},
 {'label': 'economic_perc_change_employee',
  'locRank': -19,
  'natRank': -127,
  'value': -0.81},
 {'label': 'economic_perc_2011_employee',
  'locRank': -20,
  'natRank': 103,
  'value': 54.77},
 {'label': 'economic_perc_2011_inactive',
  'locRank': 20,
  'natRank': 154,
  'value': 30.12},
 {'label': 'travel_perc_2011_foot',
  'locRank': -20,
  'natRank': -146,
  'value': 9.67},
 {'label': 'travel_perc_2011_home',
  'locRank': -20,
  'natRank': -149,
  'value': 5.09},
 {'label': 'economic_perc_change_inactive',
  'locRank': 20,
  'natRank': 87,
  'value': -1.83},
 {'label': 'travel_perc_change_train_metro',
  'locRank': 20,
  'natRank': -118,
  'value': 1.09},
 {'label': 'economic_perc_change_student',
  'locRank': 20,
  'natRank': -147,
  'value': 0.5},
 {'label': 'travel_perc_change_moto',
  'locRank': -20,
  'natRank': -117,
  'value': -0.32}]

In [113]:
41/336

0.12202380952380952

In [125]:
barnet = [lad for lad in lads if lad['name']=="Barnet"][0]

In [126]:
barnet

{'code': 'E09000003',
 'name': 'Barnet',
 'type': 'lad',
 'area': 8673.72,
 'count': 336,
 'parents': [{'code': 'E12000007', 'name': 'London', 'type': 'rgn'},
  {'code': 'E92000001', 'name': 'England', 'type': 'ctry'},
  {'code': 'K04000001', 'name': 'England and Wales', 'type': 'ew'}],
 'bounds': [[-0.3056, 51.55519], [-0.12912, 51.67017]],
 'data': {'population': {'perc': {'2001': {'female': 52.38, 'male': 47.62},
    '2011': {'female': 51.55, 'male': 48.45},
    'change': {'female': -0.83, 'male': 0.83}},
   'perc_rank': {'2001': {'female': 16, 'male': 320},
    '2011': {'female': 38, 'male': 297},
    'change': {'female': 278, 'male': 59}},
   'value': {'2001': {'all': 314564, 'female': 164783, 'male': 149781},
    '2011': {'all': 356386, 'female': 183710, 'male': 172676},
    'change': {'all': 13.3, 'female': 11.49, 'male': 15.29}},
   'value_rank': {'2001': {'all': 19, 'female': 19, 'male': 21},
    '2011': {'all': 17, 'female': 17, 'male': 17},
    'change': {'all': 43, 'female': 51, 'male': 31},
    'overtake': {'all': ['Cheshire West and Chester', 'Wakefield']},
    'top_bottom': {'all': {-1: {'Barrow-in-Furness': -4.02},
      2: {'Manchester': 28.08},
      -2: {'Sefton': -3.24},
      -3: {'South Tyneside': -3.05},
      3: {'Newham': 26.28},
      1: {'Tower Hamlets': 29.57}}}},
   'value_rank_local': {'2011': {'all': 2, 'female': 2, 'male': 2},
    'change': {'all': -16, 'female': -17, 'male': -17},
    'above_below': {'all': {'above': 'NaN',
      'below': {'name': 'Ealing', 'value': 338449}}}}},
  'age10yr': {'perc': {'2001': {'0-9': 12.97,
     '10-19': 11.92,
     '20-29': 15.54,
     '30-39': 16.73,
     '40-49': 13.19,
     '50-59': 11.11,
     '60-69': 7.78,
     '70plus': 10.76},
    '2011': {'0-9': 13.63,
     '10-19': 11.75,
     '20-29': 15.53,
     '30-39': 16.07,
     '40-49': 14.19,
     '50-59': 10.77,
     '60-69': 8.48,
     '70plus': 9.57},
    'change': {'0-9': 0.66,
     '10-19': -0.17,
     '20-29': -0.01,
     '30-39': -0.66,
     '40-49': 1.0,
     '50-59': -0.34,
     '60-69': 0.7,
     '70plus': -1.19}},
   'perc_rank': {'2001': {'0-9': 71,
     '10-19': 277,
     '20-29': 39,
     '30-39': 53,
     '40-49': 225,
     '50-59': 288,
     '60-69': 299,
     '70plus': 230},
    '2011': {'0-9': 24,
     '10-19': 239,
     '20-29': 55,
     '30-39': 29,
     '40-49': 254,
     '50-59': 301,
     '60-69': 298,
     '70plus': 287},
    'change': {'0-9': 14,
     '10-19': 83,
     '20-29': 241,
     '30-39': 24,
     '40-49': 242,
     '50-59': 113,
     '60-69': 268,
     '70plus': 304}},
   'value': {'2001': {'0-9': 40847,
     '10-19': 37527,
     '20-29': 48941,
     '30-39': 52692,
     '40-49': 41537,
     '50-59': 34992,
     '60-69': 24500,
     '70plus': 33900,
     'all': 314936},
    '2011': {'0-9': 48591,
     '10-19': 41873,
     '20-29': 55338,
     '30-39': 57275,
     '40-49': 50568,
     '50-59': 38397,
     '60-69': 30238,
     '70plus': 34106,
     'all': 356386},
    'change': {'0-9': 18.96,
     '10-19': 11.58,
     '20-29': 13.07,
     '30-39': 8.7,
     '40-49': 21.74,
     '50-59': 9.73,
     '60-69': 23.42,
     '70plus': 0.61,
     'all': 13.16}},
   'value_rank': {'2001': {'0-9': 15,
     '10-19': 33,
     '20-29': 16,
     '30-39': 18,
     '40-49': 22,
     '50-59': 29,
     '60-69': 34,
     '70plus': 26,
     'all': 19},
    '2011': {'0-9': 13,
     '10-19': 20,
     '20-29': 23,
     '30-39': 14,
     '40-49': 17,
     '50-59': 25,
     '60-69': 31,
     '70plus': 29,
     'all': 17},
    'change': {'0-9': 19,
     '10-19': 32,
     '20-29': 160,
     '30-39': 28,
     '40-49': 81,
     '50-59': 51,
     '60-69': 220,
     '70plus': 280,
     'all': 44}},
   'perc_rank_local': {'2011': {'0-9': 10,
     '10-19': 13,
     '20-29': -11,
     '30-39': -11,
     '40-49': -14,
     '50-59': 14,
     '60-69': 10,
     '70plus': 6},
    'change': {'0-9': 9,
     '10-19': 14,
     '20-29': -14,
     '30-39': 16,
     '40-49': -11,
     '50-59': -12,
     '60-69': 9,
     '70plus': -11}}},
  'ethnicity': {'perc': {'2001': {'asian': 14.34,
     'black': 6.0,
     'mixed': 3.0,
     'other': 2.59,
     'white': 74.07},
    '2011': {'asian': 18.5,
     'black': 7.7,
     'mixed': 4.82,
     'other': 4.86,
     'white': 64.13},
    'change': {'asian': 4.16,
     'black': 1.7,
     'mixed': 1.82,
     'other': 2.27,
     'white': -9.94}},
   'perc_rank': {'2001': {'asian': 17,
     'black': 26,
     'mixed': 21,
     'other': 5,
     'white': 316},
    '2011': {'asian': 20, 'black': 27, 'mixed': 18, 'other': 8, 'white': 313},
    'change': {'asian': 44,
     'black': 45,
     'mixed': 14,
     'other': 11,
     'white': 308},
    'overtake': {'black': ['Kensington and Chelsea',
      'Tower Hamlets',
      'Westminster']},
    'top_bottom': {'black': {1: {'Barking and Dagenham': 13.02},
      3: {'Croydon': 6.83},
      2: {'Greenwich': 8.02},
      -2: {'Hackney': -1.56},
      -3: {'Haringey': -1.28},
      -1: {'Newham': -2.01}}}},
   'value': {'2001': {'all': 314413,
     'asian': 45097,
     'black': 18871,
     'mixed': 9440,
     'other': 8129,
     'white': 232876},
    '2011': {'all': 356386,
     'asian': 65918,
     'black': 27431,
     'mixed': 17169,
     'other': 17315,
     'white': 228553},
    'change': {'all': 13.35,
     'asian': 46.17,
     'black': 45.36,
     'mixed': 81.88,
     'other': 113.0,
     'white': -1.86}},
   'value_rank': {'2001': {'all': 19,
     'asian': 11,
     'black': 16,
     'mixed': 10,
     'other': 2,
     'white': 38},
    '2011': {'all': 17,
     'asian': 14,
     'black': 17,
     'mixed': 10,
     'other': 5,
     'white': 40},
    'change': {'all': 40,
     'asian': 309,
     'black': 282,
     'mixed': 217,
     'other': 133,
     'white': 273}},
   'perc_rank_local': {'2011': {'asian': 10,
     'black': -12,
     'mixed': 16,
     'other': 8,
     'white': 14},
    'change': {'asian': 13,
     'black': 16,
     'mixed': 11,
     'other': 10,
     'white': -16},
    'above_below': {'black': {'above': 'NaN',
      'below': {'name': 'Westminster', 'value': 7.51}}}}},
  'health': {'perc': {'2001': {'bad': 7.29, 'fair': 20.21, 'good': 72.5},
    '2011': {'bad': 4.56, 'fair': 10.99, 'good': 84.45},
    'change': {'bad': -2.73, 'fair': -9.22, 'good': 11.95}},
   'perc_rank': {'2001': {'bad': 245, 'fair': 293, 'good': 60},
    '2011': {'bad': 231, 'fair': 294, 'good': 59},
    'change': {'bad': 70, 'fair': 217, 'good': 218},
    'overtake': {'bad': ['York',
      'Bath and North East Somerset',
      'Slough',
      'Bedford',
      'Eden',
      'South Lakeland',
      'Derbyshire Dales',
      'Mid Devon',
      'Cheltenham',
      'Dartford',
      'Ribble Valley',
      'South Norfolk',
      'Craven',
      'Hambleton',
      'Rugby',
      'Warwick',
      'Welwyn Hatfield',
      'Hillingdon']},
    'top_bottom': {'good': {-3: {'Wokingham': 10.23},
      -2: {'Maldon': 10.14},
      -1: {'Surrey Heath': 10.04},
      1: {'Manchester': 15.87},
      2: {'Barking and Dagenham': 15.48},
      3: {'Tower Hamlets': 15.42}},
     'bad': {1: {'Wokingham': -1.86},
      2: {'Daventry': -2.03},
      3: {'Surrey Heath': -2.06},
      -3: {'Neath Port Talbot': -5.9},
      -2: {'Rhondda Cynon Taff': -6.08},
      -1: {'Merthyr Tydfil': -6.93}}}},
   'value': {'2001': {'all': 314564,
     'bad': 22938,
     'fair': 63568,
     'good': 228058},
    '2011': {'all': 356386, 'bad': 16253, 'fair': 39172, 'good': 300961},
    'change': {'all': 13.3, 'bad': -29.14, 'fair': -38.38, 'good': 31.97}},
   'value_rank': {'2001': {'all': 19, 'bad': 55, 'fair': 30, 'good': 17},
    '2011': {'all': 17, 'bad': 49, 'fair': 36, 'good': 16},
    'change': {'all': 43, 'bad': 26, 'fair': 235, 'good': 61}},
   'perc_rank_local': {'2011': {'bad': -10, 'fair': -14, 'good': 10},
    'change': {'bad': 5, 'fair': 8, 'good': -7},
    'above_below': {'good': {'above': {'name': 'Southwark', 'value': 84.71},
      'below': {'name': 'Sutton', 'value': 84.27}},
     'bad': {'above': 'NaN', 'below': {'name': 'Barnet', 'value': 4.56}}}}},
  'economic': {'perc': {'2001': {'employee': 49.38,
     'inactive': 32.16,
     'self-employed': 12.24,
     'student': 2.82,
     'unemployed': 3.4},
    '2011': {'employee': 47.84,
     'inactive': 28.62,
     'self-employed': 15.59,
     'student': 3.51,
     'unemployed': 4.44},
    'change': {'employee': -1.54,
     'inactive': -3.54,
     'self-employed': 3.35,
     'student': 0.69,
     'unemployed': 1.04}},
   'perc_rank': {'2001': {'employee': 264,
     'inactive': 173,
     'self-employed': 37,
     'student': 70,
     'unemployed': 114},
    '2011': {'employee': 299,
     'inactive': 204,
     'self-employed': 11,
     'student': 78,
     'unemployed': 121},
    'change': {'employee': 262,
     'inactive': 244,
     'self-employed': 7,
     'student': 113,
     'unemployed': 145},
    'overtake': {'self-employed': ['Herefordshire, County of',
      'South Lakeland',
      'Derbyshire Dales',
      'East Devon',
      'Mid Devon',
      'North Devon',
      'Rother',
      'Epping Forest',
      'Maldon',
      'Uttlesford',
      'Ribble Valley',
      'Craven',
      'Hambleton',
      'Richmondshire',
      'Mendip',
      'Elmbridge',
      'Mole Valley',
      'Tandridge',
      'Waverley',
      'Stratford-on-Avon',
      'Chichester',
      'Malvern Hills',
      'Kensington and Chelsea',
      'Richmond upon Thames',
      'Ceredigion',
      'Pembrokeshire']},
    'top_bottom': {'employee': {-1: {'Slough': -3.85},
      3: {'Knowsley': 5.32},
      -3: {'Hillingdon': -3.67},
      1: {'Tower Hamlets': 6.23},
      -2: {'Waltham Forest': -3.8},
      2: {'Merthyr Tydfil': 5.92}},
     'student': {-2: {'Wokingham': -0.07},
      -1: {'Isles of Scilly': -0.38},
      2: {'Lincoln': 3.32},
      3: {'Newcastle upon Tyne': 2.96},
      1: {'Newham': 4.1}},
     'self-employed': {-2: {'Blackpool': -0.09},
      -1: {'Boston': -0.16},
      -3: {'East Lindsey': 0.06},
      2: {'Haringey': 4.86},
      3: {'Newham': 4.53},
      1: {'Waltham Forest': 5.06}}}},
   'value': {'2001': {'all': 228106,
     'employee': 112633,
     'inactive': 73367,
     'self-employed': 27913,
     'student': 6443,
     'unemployed': 7750},
    '2011': {'all': 258443,
     'employee': 123652,
     'inactive': 73960,
     'self-employed': 40290,
     'student': 9065,
     'unemployed': 11476},
    'change': {'all': 13.3,
     'employee': 9.78,
     'inactive': 0.81,
     'self-employed': 44.34,
     'student': 40.7,
     'unemployed': 48.08}},
   'value_rank': {'2001': {'all': 20,
     'employee': 27,
     'inactive': 31,
     'self-employed': 7,
     'student': 26,
     'unemployed': 41},
    '2011': {'all': 18,
     'employee': 25,
     'inactive': 26,
     'self-employed': 5,
     'student': 31,
     'unemployed': 38},
    'change': {'all': 54,
     'employee': 122,
     'inactive': 126,
     'self-employed': 26,
     'student': 132,
     'unemployed': 160}},
   'perc_rank_local': {'2011': {'employee': -9,
     'inactive': 16,
     'self-employed': 2,
     'student': -12,
     'unemployed': -11},
    'change': {'employee': -13,
     'inactive': -17,
     'self-employed': 7,
     'student': -13,
     'unemployed': 14},
    'above_below': {'employee': {'above': 'NaN',
      'below': {'name': 'Waltham Forest', 'value': 47.79}},
     'student': {'above': 'NaN',
      'below': {'name': 'Hammersmith and Fulham', 'value': 3.47}},
     'self-employed': {'above': 'NaN',
      'below': {'name': 'Kensington and Chelsea', 'value': 15.39}}}}},
  'travel': {'perc': {'2001': {'bicycle': 0.9,
     'bus': 10.84,
     'car_van': 53.97,
     'foot': 8.26,
     'home': 14.45,
     'moto': 0.87,
     'other': 0.41,
     'taxi': 0.72,
     'train_metro': 9.58},
    '2011': {'bicycle': 1.45,
     'bus': 11.93,
     'car_van': 38.57,
     'foot': 6.24,
     'home': 7.38,
     'moto': 1.08,
     'other': 0.78,
     'taxi': 0.43,
     'train_metro': 32.13},
    'change': {'bicycle': 0.55,
     'bus': 1.09,
     'car_van': -15.4,
     'foot': -2.02,
     'home': -7.07,
     'moto': 0.21,
     'other': 0.37,
     'taxi': -0.29,
     'train_metro': 22.55}},
   'perc_rank': {'2001': {'bicycle': 327,
     'bus': 36,
     'car_van': 309,
     'foot': 286,
     'home': 51,
     'moto': 233,
     'other': 107,
     'taxi': 56,
     'train_metro': 24},
    '2011': {'bicycle': 242,
     'bus': 37,
     'car_van': 313,
     'foot': 326,
     'home': 81,
     'moto': 52,
     'other': 57,
     'taxi': 142,
     'train_metro': 23},
    'change': {'bicycle': 42,
     'bus': 52,
     'car_van': 319,
     'foot': 267,
     'home': 277,
     'moto': 11,
     'other': 50,
     'taxi': 317,
     'train_metro': 12},
    'overtake': {'car_van': ['Cambridge']},
    'top_bottom': {'car_van': {3: {'East Northamptonshire': 13.48},
      2: {'South Staffordshire': 14.43},
      1: {'Staffordshire Moorlands': 14.88},
      -1: {'Haringey': -25.96},
      -3: {'Lewisham': -23.16},
      -2: {'Newham': -24.53}}}},
   'value': {'2001': {'all': 107048,
     'bicycle': 959,
     'bus': 11607,
     'car_van': 57775,
     'foot': 8837,
     'home': 15469,
     'moto': 933,
     'other': 441,
     'taxi': 775,
     'train_metro': 10252},
    '2011': {'all': 170658,
     'bicycle': 2473,
     'bus': 20351,
     'car_van': 65821,
     'foot': 10647,
     'home': 12601,
     'moto': 1849,
     'other': 1339,
     'taxi': 738,
     'train_metro': 54839},
    'change': {'all': 59.42,
     'bicycle': 157.87,
     'bus': 75.33,
     'car_van': 13.93,
     'foot': 20.48,
     'home': -18.54,
     'moto': 98.18,
     'other': 203.63,
     'taxi': -4.77,
     'train_metro': 434.91}},
   'value_rank': {'2001': {'all': 53,
     'bicycle': 230,
     'bus': 35,
     'car_van': 66,
     'foot': 80,
     'home': 11,
     'moto': 76,
     'other': 40,
     'taxi': 33,
     'train_metro': 24},
    '2011': {'all': 17,
     'bicycle': 92,
     'bus': 19,
     'car_van': 62,
     'foot': 78,
     'home': 8,
     'moto': 12,
     'other': 17,
     'taxi': 52,
     'train_metro': 6},
    'change': {'all': 24,
     'bicycle': 11,
     'bus': 45,
     'car_van': 204,
     'foot': 139,
     'home': 20,
     'moto': 5,
     'other': 32,
     'taxi': 239,
     'train_metro': 101}},
   'perc_rank_local': {'2011': {'bicycle': -8,
     'bus': -12,
     'car_van': 13,
     'foot': -3,
     'home': 6,
     'moto': -16,
     'other': 8,
     'taxi': -16,
     'train_metro': -11},
    'change': {'bicycle': -13,
     'bus': -13,
     'car_van': -16,
     'foot': -15,
     'home': -10,
     'moto': 5,
     'other': 10,
     'taxi': -8,
     'train_metro': 12},
    'above_below': {'car_van': {'above': {'name': 'Croydon', 'value': 39.09},
      'below': {'name': 'Ealing', 'value': 35.32}}}}},
  'tenure': {'perc': {'2001': {'owned': 66.0,
     'rent_free': 1.96,
     'rented_private': 16.36,
     'rented_social': 14.82,
     'shared_ownership': 0.86},
    '2011': {'owned': 57.65,
     'rent_free': 1.61,
     'rented_private': 25.64,
     'rented_social': 14.22,
     'shared_ownership': 0.88},
    'change': {'owned': -8.35,
     'rent_free': -0.35,
     'rented_private': 9.28,
     'rented_social': -0.6,
     'shared_ownership': 0.02}},
   'perc_rank': {'2001': {'owned': 270,
     'rent_free': 184,
     'rented_private': 24,
     'rented_social': 172,
     'shared_ownership': 51},
    '2011': {'owned': 289,
     'rent_free': 73,
     'rented_private': 24,
     'rented_social': 177,
     'shared_ownership': 98},
    'change': {'owned': 310,
     'rent_free': 63,
     'rented_private': 43,
     'rented_social': 149,
     'shared_ownership': 205}},
   'value': {'2001': {'all': 128099,
     'owned': 84542,
     'rent_free': 2507,
     'rented_private': 20963,
     'rented_social': 18980,
     'shared_ownership': 1107},
    '2011': {'all': 135916,
     'owned': 78350,
     'rent_free': 2187,
     'rented_private': 34854,
     'rented_social': 19334,
     'shared_ownership': 1191},
    'change': {'all': 6.1,
     'owned': -7.32,
     'rent_free': -12.76,
     'rented_private': 66.26,
     'rented_social': 1.87,
     'shared_ownership': 7.59}},
   'value_rank': {'2001': {'all': 22,
     'owned': 29,
     'rent_free': 37,
     'rented_private': 13,
     'rented_social': 66,
     'shared_ownership': 21},
    '2011': {'all': 24,
     'owned': 30,
     'rent_free': 20,
     'rented_private': 14,
     'rented_social': 66,
     'shared_ownership': 27},
    'change': {'all': 202,
     'owned': 307,
     'rent_free': 36,
     'rented_private': 226,
     'rented_social': 167,
     'shared_ownership': 217}},
   'perc_rank_local': {'2011': {'owned': 13,
     'rent_free': 5,
     'rented_private': 16,
     'rented_social': -8,
     'shared_ownership': -11},
    'change': {'owned': -13,
     'rent_free': 12,
     'rented_private': -13,
     'rented_social': 15,
     'shared_ownership': -7}}},
  'density': {'value': {'2001': {'all': 36.27},
    '2011': {'all': 41.09},
    'change': {'all': 13.29}},
   'value_rank': {'2001': {'all': 36},
    '2011': {'all': 35},
    'change': {'all': 41}},
   'value_rank_local': {'2011': {'all': -8}, 'change': {'all': -16}}},
  'agemed': {'value': {'2001': {'all': 36.0},
    '2011': {'all': 36.0},
    'change': {'all': 0.0}},
   'value_rank': {'2001': {'all': 254},
    '2011': {'all': 272},
    'change': {'all': 230},
    'overtake': {'all': []},
    'top_bottom': {'all': {-3: {'Manchester': -5.88},
      1: {'Maldon': 7.89},
      3: {'Wychavon': 7.69},
      -1: {'Barking and Dagenham': -8.57}}}},
   'value_rank_local': {'2011': {'all': 8},
    'change': {'all': 5},
    'above_below': {'all': {'above': {'name': 'Kensington and Chelsea',
       'value': 37.0},
      'below': {'name': 'Kingston upon Thames', 'value': 36.0}}}}}},
 'Priorities': [{'label': 'population_value_2011_all',
   'locRank': 2,
   'natRank': 17,
   'value': 356386},
  {'label': 'population_value_2011_female',
   'locRank': 2,
   'natRank': 17,
   'value': 183710},
  {'label': 'population_value_2011_male',
   'locRank': 2,
   'natRank': 17,
   'value': 172676},
  {'label': 'economic_perc_2011_self-employed',
   'locRank': 2,
   'natRank': 11,
   'value': 15.59},
  {'label': 'travel_perc_2011_foot',
   'locRank': -3,
   'natRank': -11,
   'value': 6.24},
  {'label': 'health_perc_change_bad',
   'locRank': 5,
   'natRank': 70,
   'value': -2.73},
  {'label': 'tenure_perc_2011_rent_free',
   'locRank': 5,
   'natRank': 73,
   'value': 1.61},
  {'label': 'travel_perc_change_moto',
   'locRank': 5,
   'natRank': 11,
   'value': 0.21},
  {'label': 'agemed_value_change_all',
   'locRank': 5,
   'natRank': -107,
   'value': 0.0},
  {'label': 'age10yr_perc_2011_70plus',
   'locRank': 6,
   'natRank': -50,
   'value': 9.57},
  {'label': 'travel_perc_2011_home',
   'locRank': 6,
   'natRank': 81,
   'value': 7.38},
  {'label': 'health_perc_change_good',
   'locRank': -7,
   'natRank': -119,
   'value': 11.95},
  {'label': 'economic_perc_change_self-employed',
   'locRank': 7,
   'natRank': 7,
   'value': 3.35},
  {'label': 'tenure_perc_change_shared_ownership',
   'locRank': -7,
   'natRank': -132,
   'value': 0.02},
  {'label': 'density_value_2011_all',
   'locRank': -8,
   'natRank': 35,
   'value': 41.09},
  {'label': 'agemed_value_2011_all',
   'locRank': 8,
   'natRank': -65,
   'value': 36.0},
  {'label': 'tenure_perc_2011_rented_social',
   'locRank': -8,
   'natRank': -160,
   'value': 14.22},
  {'label': 'health_perc_change_fair',
   'locRank': 8,
   'natRank': -120,
   'value': -9.22},
  {'label': 'ethnicity_perc_2011_other',
   'locRank': 8,
   'natRank': 8,
   'value': 4.86},
  {'label': 'travel_perc_2011_bicycle',
   'locRank': -8,
   'natRank': -95,
   'value': 1.45},
  {'label': 'travel_perc_2011_other',
   'locRank': 8,
   'natRank': 57,
   'value': 0.78},
  {'label': 'travel_perc_change_taxi',
   'locRank': -8,
   'natRank': -20,
   'value': -0.29},
  {'label': 'economic_perc_2011_employee',
   'locRank': -9,
   'natRank': -38,

In [104]:
ereWash['data']['ethnicity']['perc']['2011']

{'asian': 1.23, 'black': 0.48, 'mixed': 1.13, 'other': 0.11, 'white': 97.04}

In [115]:
amberv['data']['tenure']['perc_rank']['2011']

{'owned': 41,
 'rent_free': 138,
 'rented_private': 268,
 'rented_social': 244,
 'shared_ownership': 269}

In [128]:
regions[3]['data']['health']['perc']['2011']

{'bad': 5.56, 'fair': 13.99, 'good': 80.44}

In [116]:
countries[1]['data']['tenure']['perc']['2011']

{'owned': 63.34,
 'rent_free': 1.34,
 'rented_private': 16.84,
 'rented_social': 17.69,
 'shared_ownership': 0.79}

In [19]:
amberv['pri']

[{'label': 'economic_perc_change_self-employed',
  'locRank': 7,
  'natRank': 149,
  'value': 1.3},
 {'label': 'health_perc_change_bad',
  'locRank': -8,
  'natRank': -79,
  'value': -4.05},
 {'label': 'ethnicity_perc_change_white',
  'locRank': 8,
  'natRank': 57,
  'value': -0.95},
 {'label': 'tenure_perc_change_shared_ownership',
  'locRank': -9,
  'natRank': -87,
  'value': -0.04},
 {'label': 'tenure_perc_change_rent_free',
  'locRank': -10,
  'natRank': -62,
  'value': -0.98},
 {'label': 'ethnicity_perc_change_asian',
  'locRank': -10,
  'natRank': -46,
  'value': 0.38},
 {'label': 'tenure_perc_change_rented_private',
  'locRank': -12,
  'natRank': -112,
  'value': 4.99},
 {'label': 'travel_perc_change_home',
  'locRank': 12,
  'natRank': 146,
  'value': -4.58},
 {'label': 'health_perc_change_good',
  'locRank': 13,
  'natRank': 83,
  'value': 12.97},
 {'label': 'ethnicity_perc_change_mixed',
  'locRank': -13,
  'natRank': -86,
  'value': 0.39},
 {'label': 'ethnicity_perc_change_black',
  'locRank': -13,
  'natRank': -99,
  'value': 0.13},
 {'label': 'population_value_change_all',
  'locRank': -14,
  'natRank': -103,
  'value': 5.01},
 {'label': 'tenure_perc_change_owned',
  'locRank': 15,
  'natRank': 88,
  'value': -3.04},
 {'label': 'agemed_value_change_all',
  'locRank': -15,
  'natRank': -156,
  'value': 2.56},
 {'label': 'travel_perc_change_car_van',
  'locRank': -16,
  'natRank': 89,
  'value': 6.23},
 {'label': 'tenure_perc_change_rented_social',
  'locRank': 16,
  'natRank': -152,
  'value': -0.93},
 {'label': 'travel_perc_change_foot',
  'locRank': -17,
  'natRank': -86,
  'value': -1.67},
 {'label': 'economic_perc_change_unemployed',
  'locRank': 17,
  'natRank': -136,
  'value': 0.83},
 {'label': 'economic_perc_change_employee',
  'locRank': -19,
  'natRank': -127,
  'value': -0.81},
 {'label': 'economic_perc_change_inactive',
  'locRank': 20,
  'natRank': 87,
  'value': -1.83},
 {'label': 'travel_perc_change_train_metro',
  'locRank': 20,
  'natRank': -118,
  'value': 1.09},
 {'label': 'economic_perc_change_student',
  'locRank': 20,
  'natRank': -147,
  'value': 0.5}]

In [24]:
print(amberv['name'])

least_change = sorted(amberv['pri'], key=lambda x: x['value']**2)

least_change

Amber Valley

[{'label': 'ethnicity_perc_change_black',
  'locRank': -13,
  'natRank': -99,
  'value': 0.13},
 {'label': 'ethnicity_perc_change_asian',
  'locRank': -10,
  'natRank': -46,
  'value': 0.38},
 {'label': 'ethnicity_perc_change_mixed',
  'locRank': -13,
  'natRank': -86,
  'value': 0.39},
 {'label': 'economic_perc_change_student',
  'locRank': 20,
  'natRank': -147,
  'value': 0.5},
 {'label': 'economic_perc_change_employee',
  'locRank': -19,
  'natRank': -127,
  'value': -0.81},
 {'label': 'economic_perc_change_unemployed',
  'locRank': 17,
  'natRank': -136,
  'value': 0.83},
 {'label': 'tenure_perc_change_rented_social',
  'locRank': 16,
  'natRank': -152,
  'value': -0.93},
 {'label': 'ethnicity_perc_change_white',
  'locRank': 8,
  'natRank': 57,
  'value': -0.95},
 {'label': 'travel_perc_change_train_metro',
  'locRank': 20,
  'natRank': -118,
  'value': 1.09},
 {'label': 'economic_perc_change_self-employed',
  'locRank': 7,
  'natRank': 149,
  'value': 1.3},
 {'label': 'travel_perc_change_foot',
  'locRank': -17,
  'natRank': -86,
  'value': -1.67},
 {'label': 'economic_perc_change_inactive',
  'locRank': 20,
  'natRank': 87,
  'value': -1.83},
 {'label': 'agemed_value_change_all',
  'locRank': -15,
  'natRank': -156,
  'value': 2.56},
 {'label': 'tenure_perc_change_owned',
  'locRank': 15,
  'natRank': 88,
  'value': -3.04},
 {'label': 'health_perc_change_bad',
  'locRank': -8,
  'natRank': -79,
  'value': -4.05},
 {'label': 'travel_perc_change_home',
  'locRank': 12,
  'natRank': 146,
  'value': -4.58},
 {'label': 'tenure_perc_change_rented_private',
  'locRank': -12,
  'natRank': -112,
  'value': 4.99},
 {'label': 'population_value_change_all',
  'locRank': -14,
  'natRank': -103,
  'value': 5.01},
 {'label': 'travel_perc_change_car_van',
  'locRank': -16,
  'natRank': 89,
  'value': 6.23},
 {'label': 'health_perc_change_good',
  'locRank': 13,
  'natRank': 83,
  'value': 12.97}]

In [41]:
def cou(i):
    s=i['label'].split("_")
    if len(s)>4:
        s[3] = s[3] + "_" + s[4]
    return countries[1]['data'][s[0]][s[1]][s[2]][s[3]]
couDiff = [(i['label'], i['value']-cou(i)) for i in least_change]
sorted(couDiff, key=lambda x: x[1]**2)

[('economic_perc_change_self-employed', -0.1399999999999999),
 ('agemed_value_change_all', -0.14000000000000012),
 ('economic_perc_change_unemployed', -0.20000000000000007),
 ('health_perc_change_good', 0.33999999999999986),
 ('economic_perc_change_student', -0.36),
 ('health_perc_change_bad', -0.5099999999999998),
 ('tenure_perc_change_rented_social', 0.5299999999999999),
 ('economic_perc_change_employee', -0.53),
 ('ethnicity_perc_change_mixed', -0.5499999999999999),
 ('travel_perc_change_home', -0.7600000000000002),
 ('travel_perc_change_train_metro', -0.95),
 ('ethnicity_perc_change_black', -1.0499999999999998),
 ('economic_perc_change_inactive', 1.2199999999999998),
 ('tenure_perc_change_owned', 1.8899999999999997),
 ('tenure_perc_change_rented_private', -1.96),
 ('ethnicity_perc_change_asian', -2.42),
 ('travel_perc_change_foot', -2.44),
 ('population_value_change_all', -2.87),
 ('ethnicity_perc_change_white', 4.56),
 ('travel_perc_change_car_van', 5.3100000000000005)]

In [42]:
def reg(i):
    s=i['label'].split("_")
    if len(s)>4:
        s[3] = s[3] + "_" + s[4]
    return regions[3]['data'][s[0]][s[1]][s[2]][s[3]]
regDiff = [(i['label'], i['value']-reg(i)) for i in least_change]
sorted(regDiff, key=lambda x: x[1]**2)

[('agemed_value_change_all', -0.06999999999999984),
 ('economic_perc_change_unemployed', -0.07000000000000006),
 ('travel_perc_change_train_metro', 0.07000000000000006),
 ('health_perc_change_good', 0.11000000000000121),
 ('travel_perc_change_home', -0.16999999999999993),
 ('economic_perc_change_student', -0.31999999999999995),
 ('economic_perc_change_employee', -0.36000000000000004),
 ('economic_perc_change_self-employed', 0.37),
 ('economic_perc_change_inactive', 0.3799999999999999),
 ('health_perc_change_bad', -0.46999999999999975),
 ('ethnicity_perc_change_mixed', -0.47),
 ('tenure_perc_change_rented_social', 0.63),
 ('ethnicity_perc_change_black', -0.73),
 ('travel_perc_change_car_van', 1.1600000000000001),
 ('tenure_perc_change_owned', 1.5099999999999998),
 ('tenure_perc_change_rented_private', -1.6399999999999997),
 ('ethnicity_perc_change_asian', -1.73),
 ('travel_perc_change_foot', -1.7999999999999998),
 ('ethnicity_perc_change_white', 3.2800000000000002),
 ('population_value_change_all', -3.6400000000000006)]

In [66]:
areaType = pd.read_csv('/Users/theojolliffe/Documents/Census Data/censusAreaLookup.csv')
areaType

,Code,Name,Region/Country,Country/region,Supergroup code,Supergroup name,Group code,Group name,Subgroup code,Subgroup name,Unnamed: 10
0,E07000098,Hertsmere,East,East,1r,Affluent England,1ar,Rural-Urban Fringe,1a1r,Rural-Urban Fringe,NaN
1,E07000240,St Albans,East,East,1r,Affluent England,1ar,Rural-Urban Fringe,1a1r,Rural-Urban Fringe,NaN
2,E07000102,Three Rivers,East,East,1r,Affluent England,1ar,Rural-Urban Fringe,1a1r,Rural-Urban Fringe,NaN
3,E07000201,Forest Heath,East,East,1r,Affluent England,1ar,Rural-Urban Fringe,1a1r,Rural-Urban Fringe,NaN
4,E09000006,Bromley,London,London,1r,Affluent England,1ar,Rural-Urban Fringe,1a1r,Rural-Urban Fringe,NaN
...,...,...,...,...,...,...,...,...,...,...,...
387,E07000107,Dartford,South East,South East,8r,Urban Settlements,8br,Suburban Traits,8b1r,City Periphery,NaN
388,E07000109,Gravesham,South East,South East,8r,Urban Settlements,8br,Suburban Traits,8b1r,City Periphery,NaN
389,E07000226,Crawley,South East,South East,8r,Urban Settlements,8br,Suburban Traits,8b2r,Expanding Areas,NaN
390,E06000030,Swindon,South West,South West,8r,Urban Settlements,8br,Suburban Traits,8b2r,Expanding Areas,NaN
391,E06000059,Dorset,South West,South West,3r,Countryside Living,3ar,English and Welsh Countryside,3a1r,Older Farming Communities,NaN

In [75]:
geogTriples = []
for lad in lads:
    geogTriples.append([lad['name'], "in", lad['parents'][0]['name']])
    geogTriples.append([lad['name'], "population", lad['data']['population']['value']['2011']['all']])
    try:
        geogTriples.append([lad['name'], "type", areaType[areaType['Name']==lad['name']]["Group name"].iloc[0]])
    except:
        pass
for ward in wards:
    geogTriples.append([ward['parents'][0]['name'], "contains", ward['name']])
for lad in lads:
    list1 = lad['bounds'][0]+lad['bounds'][1]
    for lad2 in lads:
        list2 = lad2['bounds'][0]+lad2['bounds'][1]
        listDif = [abs(list1[i]-list2[i]) for i in [0,1,2,3]]
        listDif.sort()
        if (sum(listDif[:3]) < 0.3) & (lad!=lad2):
            geogTriples.append([lad['name'], "near", lad2['name'], round(sum(listDif[:3]), 2)])

In [82]:
[triple[0] for triple in geogTriples if (triple[0] == "Amber Valley")&(triple[2] == "Country Living")]

['Amber Valley']

In [90]:
nearby = [triple[2] for triple in geogTriples if (triple[0] == "Amber Valley")&(triple[1] == "near")]
nearAndSimilar = [[triple[0] for triple in geogTriples if (triple[0] == area)&(triple[2] == "Country Living")] for area in nearby ]
nearAndSimilar = [i[0] for i in nearAndSimilar if len(i)>0]

In [91]:
nearAndSimilar

['Erewash']

In [127]:
geogTriples

[['Hartlepool', 'in', 'North East'],
 ['Hartlepool', 'population', 92028],
 ['Hartlepool', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Middlesbrough', 'in', 'North East'],
 ['Middlesbrough', 'population', 138412],
 ['Middlesbrough', 'type', 'Manufacturing Traits'],
 ['Redcar and Cleveland', 'in', 'North East'],
 ['Redcar and Cleveland', 'population', 135177],
 ['Redcar and Cleveland',
  'type',
  'Services, Manufacturing and Mining Legacy  '],
 ['Stockton-on-Tees', 'in', 'North East'],
 ['Stockton-on-Tees', 'population', 191610],
 ['Stockton-on-Tees', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Darlington', 'in', 'North East'],
 ['Darlington', 'population', 105564],
 ['Darlington', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Halton', 'in', 'North West'],
 ['Halton', 'population', 125746],
 ['Halton', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Warrington', 'in', 'North West'],
 ['Warrington', 'population', 202228],
 ['Warrington', 'type', 'Town Living'],
 ['Blackburn with Darwen', 'in', 'North West'],
 ['Blackburn with Darwen', 'population', 147489],
 ['Blackburn with Darwen', 'type', 'Manufacturing Traits'],
 ['Blackpool', 'in', 'North West'],
 ['Blackpool', 'population', 142065],
 ['Blackpool', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Kingston upon Hull, City of', 'in', 'Yorkshire and The Humber'],
 ['Kingston upon Hull, City of', 'population', 256406],
 ['Kingston upon Hull, City of', 'type', 'Manufacturing Traits'],
 ['East Riding of Yorkshire', 'in', 'Yorkshire and The Humber'],
 ['East Riding of Yorkshire', 'population', 334179],
 ['East Riding of Yorkshire', 'type', 'English and Welsh Countryside'],
 ['North East Lincolnshire', 'in', 'Yorkshire and The Humber'],
 ['North East Lincolnshire', 'population', 159616],
 ['North East Lincolnshire',
  'type',
  'Services, Manufacturing and Mining Legacy  '],
 ['North Lincolnshire', 'in', 'Yorkshire and The Humber'],
 ['North Lincolnshire', 'population', 167446],
 ['North Lincolnshire', 'type', 'Country Living'],
 ['York', 'in', 'Yorkshire and The Humber'],
 ['York', 'population', 198051],
 ['York', 'type', 'Larger Towns and Cities'],
 ['Derby', 'in', 'East Midlands'],
 ['Derby', 'population', 248752],
 ['Derby', 'type', 'Manufacturing Traits'],
 ['Leicester', 'in', 'East Midlands'],
 ['Leicester', 'population', 329839],
 ['Leicester', 'type', 'Ethnically Diverse Metropolitan  Living'],
 ['Rutland', 'in', 'East Midlands'],
 ['Rutland', 'population', 37369],
 ['Rutland', 'type', 'English and Welsh Countryside'],
 ['Nottingham', 'in', 'East Midlands'],
 ['Nottingham', 'population', 305680],
 ['Nottingham', 'type', 'University Towns and Cities'],
 ['Herefordshire, County of', 'in', 'West Midlands'],
 ['Herefordshire, County of', 'population', 183477],
 ['Herefordshire, County of', 'type', 'English and Welsh Countryside'],
 ['Telford and Wrekin', 'in', 'West Midlands'],
 ['Telford and Wrekin', 'population', 166641],
 ['Telford and Wrekin', 'type', 'Manufacturing Traits'],
 ['Stoke-on-Trent', 'in', 'West Midlands'],
 ['Stoke-on-Trent', 'population', 249008],
 ['Stoke-on-Trent', 'type', 'Manufacturing Traits'],
 ['Bath and North East Somerset', 'in', 'South West'],
 ['Bath and North East Somerset', 'population', 176016],
 ['Bath and North East Somerset', 'type', 'Larger Towns and Cities'],
 ['Bristol, City of', 'in', 'South West'],
 ['Bristol, City of', 'population', 428234],
 ['Bristol, City of', 'type', 'Larger Towns and Cities'],
 ['North Somerset', 'in', 'South West'],
 ['North Somerset', 'population', 202566],
 ['North Somerset', 'type', 'English and Welsh Countryside'],
 ['South Gloucestershire', 'in', 'South West'],
 ['South Gloucestershire', 'population', 262767],
 ['South Gloucestershire', 'type', 'Town Living'],
 ['Plymouth', 'in', 'South West'],
 ['Plymouth', 'population', 256384],
 ['Plymouth', 'type', 'Larger Towns and Cities'],
 ['Torbay', 'in', 'South West'],
 ['Torbay', 'population', 130959],
 ['Torbay', 'type', 'Remoter Coastal Living'],
 ['Swindon', 'in', 'South West'],
 ['Swindon', 'population', 209156],
 ['Swindon', 'type', 'Suburban Traits'],
 ['Peterborough', 'in', 'East'],
 ['Peterborough', 'population', 183631],
 ['Peterborough', 'type', 'Suburban Traits'],
 ['Luton', 'in', 'East'],
 ['Luton', 'population', 203201],
 ['Luton', 'type', 'Ethnically Diverse Metropolitan  Living'],
 ['Southend-on-Sea', 'in', 'East'],
 ['Southend-on-Sea', 'population', 173658],
 ['Southend-on-Sea', 'type', 'Manufacturing Traits'],
 ['Thurrock', 'in', 'East'],
 ['Thurrock', 'population', 157705],
 ['Thurrock', 'type', 'Suburban Traits'],
 ['Medway', 'in', 'South East'],
 ['Medway', 'population', 263925],
 ['Medway', 'type', 'Suburban Traits'],
 ['Bracknell Forest', 'in', 'South East'],
 ['Bracknell Forest', 'population', 113205],
 ['Bracknell Forest', 'type', 'Rural-Urban Fringe'],
 ['West Berkshire', 'in', 'South East'],
 ['West Berkshire', 'population', 153822],
 ['West Berkshire', 'type', 'Thriving Rural'],
 ['Reading', 'in', 'South East'],
 ['Reading', 'population', 155698],
 ['Reading', 'type', 'University Towns and Cities'],
 ['Slough', 'in', 'South East'],
 ['Slough', 'population', 140205],
 ['Slough', 'type', 'Ethnically Diverse Metropolitan  Living'],
 ['Windsor and Maidenhead', 'in', 'South East'],
 ['Windsor and Maidenhead', 'population', 144560],
 ['Windsor and Maidenhead', 'type', 'Rural-Urban Fringe'],
 ['Wokingham', 'in', 'South East'],
 ['Wokingham', 'population', 154380],
 ['Wokingham', 'type', 'Thriving Rural'],
 ['Milton Keynes', 'in', 'South East'],
 ['Milton Keynes', 'population', 248821],
 ['Milton Keynes', 'type', 'Suburban Traits'],
 ['Brighton and Hove', 'in', 'South East'],
 ['Brighton and Hove', 'population', 273369],
 ['Brighton and Hove', 'type', 'University Towns and Cities'],
 ['Portsmouth', 'in', 'South East'],
 ['Portsmouth', 'population', 205056],
 ['Portsmouth', 'type', 'Larger Towns and Cities'],
 ['Southampton', 'in', 'South East'],
 ['Southampton', 'population', 236882],
 ['Southampton', 'type', 'Larger Towns and Cities'],
 ['Isle of Wight', 'in', 'South East'],
 ['Isle of Wight', 'population', 138265],
 ['Isle of Wight', 'type', 'Remoter Coastal Living'],
 ['County Durham', 'in', 'North East'],
 ['County Durham', 'population', 513242],
 ['County Durham', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Cheshire East', 'in', 'North West'],
 ['Cheshire East', 'population', 370127],
 ['Cheshire East', 'type', 'Country Living'],
 ['Cheshire West and Chester', 'in', 'North West'],
 ['Cheshire West and Chester', 'population', 329608],
 ['Cheshire West and Chester', 'type', 'Town Living'],
 ['Shropshire', 'in', 'West Midlands'],
 ['Shropshire', 'population', 306129],
 ['Shropshire', 'type', 'English and Welsh Countryside'],
 ['Cornwall', 'in', 'South West'],
 ['Cornwall', 'population', 532273],
 ['Cornwall', 'type', 'Remoter Coastal Living'],
 ['Isles of Scilly', 'in', 'South West'],
 ['Isles of Scilly', 'population', 2203],
 ['Isles of Scilly', 'type', 'Remoter Coastal Living'],
 ['Wiltshire', 'in', 'South West'],
 ['Wiltshire', 'population', 470981],
 ['Wiltshire', 'type', 'Country Living'],
 ['Bedford', 'in', 'East'],
 ['Bedford', 'population', 157479],
 ['Bedford', 'type', 'Suburban Traits'],
 ['Central Bedfordshire', 'in', 'East'],
 ['Central Bedfordshire', 'population', 254381],
 ['Central Bedfordshire', 'type', 'Thriving Rural'],
 ['Northumberland', 'in', 'North East'],
 ['Northumberland', 'population', 316028],
 ['Northumberland', 'type', 'English and Welsh Countryside'],
 ['Bournemouth, Christchurch and Poole', 'in', 'South West'],
 ['Bournemouth, Christchurch and Poole', 'population', 378888],
 ['Dorset', 'in', 'South West'],
 ['Dorset', 'population', 365153],
 ['Dorset', 'type', 'English and Welsh Countryside'],
 ['Buckinghamshire', 'in', 'South East'],
 ['Buckinghamshire', 'population', 505283],
 ['Cambridge', 'in', 'East'],
 ['Cambridge', 'population', 123867],
 ['Cambridge', 'type', 'University Towns and Cities'],
 ['East Cambridgeshire', 'in', 'East'],
 ['East Cambridgeshire', 'population', 83818],
 ['East Cambridgeshire', 'type', 'Country Living'],
 ['Fenland', 'in', 'East'],
 ['Fenland', 'population', 95262],
 ['Fenland', 'type', 'Country Living'],
 ['Huntingdonshire', 'in', 'East'],
 ['Huntingdonshire', 'population', 169508],
 ['Huntingdonshire', 'type', 'Country Living'],
 ['South Cambridgeshire', 'in', 'East'],
 ['South Cambridgeshire', 'population', 148755],
 ['South Cambridgeshire', 'type', 'Thriving Rural'],
 ['Allerdale', 'in', 'North West'],
 ['Allerdale', 'population', 96422],
 ['Allerdale', 'type', 'English and Welsh Countryside'],
 ['Barrow-in-Furness', 'in', 'North West'],
 ['Barrow-in-Furness', 'population', 69087],
 ['Barrow-in-Furness', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Carlisle', 'in', 'North West'],
 ['Carlisle', 'population', 107524],
 ['Carlisle', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Copeland', 'in', 'North West'],
 ['Copeland', 'population', 70603],
 ['Copeland', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Eden', 'in', 'North West'],
 ['Eden', 'population', 52564],
 ['Eden', 'type', 'English and Welsh Countryside'],
 ['South Lakeland', 'in', 'North West'],
 ['South Lakeland', 'population', 103658],
 ['South Lakeland', 'type', 'English and Welsh Countryside'],
 ['Amber Valley', 'in', 'East Midlands'],
 ['Amber Valley', 'population', 122309],
 ['Amber Valley', 'type', 'Country Living'],
 ['Bolsover', 'in', 'East Midlands'],
 ['Bolsover', 'population', 75866],
 ['Bolsover', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Chesterfield', 'in', 'East Midlands'],
 ['Chesterfield', 'population', 103788],
 ['Chesterfield', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Derbyshire Dales', 'in', 'East Midlands'],
 ['Derbyshire Dales', 'population', 71116],
 ['Derbyshire Dales', 'type', 'English and Welsh Countryside'],
 ['Erewash', 'in', 'East Midlands'],
 ['Erewash', 'population', 112081],
 ['Erewash', 'type', 'Country Living'],
 ['High Peak', 'in', 'East Midlands'],
 ['High Peak', 'population', 90892],
 ['High Peak', 'type', 'Town Living'],
 ['North East Derbyshire', 'in', 'East Midlands'],
 ['North East Derbyshire', 'population', 99023],
 ['North East Derbyshire', 'type', 'Town Living'],
 ['South Derbyshire', 'in', 'East Midlands'],
 ['South Derbyshire', 'population', 94611],
 ['South Derbyshire', 'type', 'Country Living'],
 ['East Devon', 'in', 'South West'],
 ['East Devon', 'population', 132457],
 ['East Devon', 'type', 'Remoter Coastal Living'],
 ['Exeter', 'in', 'South West'],
 ['Exeter', 'population', 117773],
 ['Exeter', 'type', 'Larger Towns and Cities'],
 ['Mid Devon', 'in', 'South West'],
 ['Mid Devon', 'population', 77750],
 ['Mid Devon', 'type', 'English and Welsh Countryside'],
 ['North Devon', 'in', 'South West'],
 ['North Devon', 'population', 93667],
 ['North Devon', 'type', 'Remoter Coastal Living'],
 ['South Hams', 'in', 'South West'],
 ['South Hams', 'population', 83140],
 ['South Hams', 'type', 'English and Welsh Countryside'],
 ['Teignbridge', 'in', 'South West'],
 ['Teignbridge', 'population', 124220],
 ['Teignbridge', 'type', 'Remoter Coastal Living'],
 ['Torridge', 'in', 'South West'],
 ['Torridge', 'population', 63839],
 ['Torridge', 'type', 'English and Welsh Countryside'],
 ['West Devon', 'in', 'South West'],
 ['West Devon', 'population', 53553],
 ['West Devon', 'type', 'English and Welsh Countryside'],
 ['Eastbourne', 'in', 'South East'],
 ['Eastbourne', 'population', 99412],
 ['Eastbourne', 'type', 'Larger Towns and Cities'],
 ['Hastings', 'in', 'South East'],
 ['Hastings', 'population', 90254],
 ['Hastings', 'type', 'Manufacturing Traits'],
 ['Lewes', 'in', 'South East'],
 ['Lewes', 'population', 97502],
 ['Lewes', 'type', 'Remoter Coastal Living'],
 ['Rother', 'in', 'South East'],
 ['Rother', 'population', 90588],
 ['Rother', 'type', 'Remoter Coastal Living'],
 ['Wealden', 'in', 'South East'],
 ['Wealden', 'population', 148915],
 ['Wealden', 'type', 'English and Welsh Countryside'],
 ['Basildon', 'in', 'East'],
 ['Basildon', 'population', 174497],
 ['Basildon', 'type', 'Suburban Traits'],
 ['Braintree', 'in', 'East'],
 ['Braintree', 'population', 147084],
 ['Braintree', 'type', 'Country Living'],
 ['Brentwood', 'in', 'East'],
 ['Brentwood', 'population', 73601],
 ['Brentwood', 'type', 'Thriving Rural'],
 ['Castle Point', 'in', 'East'],
 ['Castle Point', 'population', 88011],
 ['Castle Point', 'type', 'Town Living'],
 ['Chelmsford', 'in', 'East'],
 ['Chelmsford', 'population', 168310],
 ['Chelmsford', 'type', 'Thriving Rural'],
 ['Colchester', 'in', 'East'],
 ['Colchester', 'population', 173074],
 ['Colchester', 'type', 'Thriving Rural'],
 ['Epping Forest', 'in', 'East'],
 ['Epping Forest', 'population', 124659],
 ['Epping Forest', 'type', 'Thriving Rural'],
 ['Harlow', 'in', 'East'],
 ['Harlow', 'population', 81944],
 ['Harlow', 'type', 'Suburban Traits'],
 ['Maldon', 'in', 'East'],
 ['Maldon', 'population', 61629],
 ['Maldon', 'type', 'Country Living'],
 ['Rochford', 'in', 'East'],
 ['Rochford', 'population', 83287],
 ['Rochford', 'type', 'Town Living'],
 ['Tendring', 'in', 'East'],
 ['Tendring', 'population', 138048],
 ['Tendring', 'type', 'Remoter Coastal Living'],
 ['Uttlesford', 'in', 'East'],
 ['Uttlesford', 'population', 79443],
 ['Uttlesford', 'type', 'Thriving Rural'],
 ['Cheltenham', 'in', 'South West'],
 ['Cheltenham', 'population', 115732],
 ['Cheltenham', 'type', 'Larger Towns and Cities'],
 ['Cotswold', 'in', 'South West'],
 ['Cotswold', 'population', 82881],
 ['Cotswold', 'type', 'English and Welsh Countryside'],
 ['Forest of Dean', 'in', 'South West'],
 ['Forest of Dean', 'population', 81961],
 ['Forest of Dean', 'type', 'Country Living'],
 ['Gloucester', 'in', 'South West'],
 ['Gloucester', 'population', 121688],
 ['Gloucester', 'type', 'Manufacturing Traits'],
 ['Stroud', 'in', 'South West'],
 ['Stroud', 'population', 112779],
 ['Stroud', 'type', 'Country Living'],
 ['Tewkesbury', 'in', 'South West'],
 ['Tewkesbury', 'population', 81943],
 ['Tewkesbury', 'type', 'Country Living'],
 ['Basingstoke and Deane', 'in', 'South East'],
 ['Basingstoke and Deane', 'population', 167799],
 ['Basingstoke and Deane', 'type', 'Thriving Rural'],
 ['East Hampshire', 'in', 'South East'],
 ['East Hampshire', 'population', 115608],
 ['East Hampshire', 'type', 'Thriving Rural'],
 ['Eastleigh', 'in', 'South East'],
 ['Eastleigh', 'population', 125199],
 ['Eastleigh', 'type', 'Town Living'],
 ['Fareham', 'in', 'South East'],
 ['Fareham', 'population', 111581],
 ['Fareham', 'type', 'Town Living'],
 ['Gosport', 'in', 'South East'],
 ['Gosport', 'population', 82622],
 ['Gosport', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['Hart', 'in', 'South East'],
 ['Hart', 'population', 91033],
 ['Hart', 'type', 'Thriving Rural'],
 ['Havant', 'in', 'South East'],
 ['Havant', 'population', 120684],
 ['Havant', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['New Forest', 'in', 'South East'],
 ['New Forest', 'population', 176462],
 ['New Forest', 'type', 'Remoter Coastal Living'],
 ['Rushmoor', 'in', 'South East'],
 ['Rushmoor', 'population', 93807],
 ['Rushmoor', 'type', 'Suburban Traits'],
 ['Test Valley', 'in', 'South East'],
 ['Test Valley', 'population', 116398],
 ['Test Valley', 'type', 'Thriving Rural'],
 ['Winchester', 'in', 'South East'],
 ['Winchester', 'population', 116595],
 ['Winchester', 'type', 'Thriving Rural'],
 ['Broxbourne', 'in', 'East'],
 ['Broxbourne', 'population', 93609],
 ['Broxbourne', 'type', 'Suburban Traits'],
 ['Dacorum', 'in', 'East'],
 ['Dacorum', 'population', 144847],
 ['Dacorum', 'type', 'Thriving Rural'],
 ['Hertsmere', 'in', 'East'],
 ['Hertsmere', 'population', 100031],
 ['Hertsmere', 'type', 'Rural-Urban Fringe'],
 ['North Hertfordshire', 'in', 'East'],
 ['North Hertfordshire', 'population', 127114],
 ['North Hertfordshire', 'type', 'Thriving Rural'],
 ['Three Rivers', 'in', 'East'],
 ['Three Rivers', 'population', 87317],
 ['Three Rivers', 'type', 'Rural-Urban Fringe'],
 ['Watford', 'in', 'East'],
 ['Watford', 'population', 90301],
 ['Watford', 'type', 'Suburban Traits'],
 ['Ashford', 'in', 'South East'],
 ['Ashford', 'population', 117956],
 ['Ashford', 'type', 'Country Living'],
 ['Canterbury', 'in', 'South East'],
 ['Canterbury', 'population', 151145],
 ['Canterbury', 'type', 'Larger Towns and Cities'],
 ['Dartford', 'in', 'South East'],
 ['Dartford', 'population', 97365],
 ['Dartford', 'type', 'Suburban Traits'],
 ['Dover', 'in', 'South East'],
 ['Dover', 'population', 111674],
 ['Dover', 'type', 'Remoter Coastal Living'],
 ['Gravesham', 'in', 'South East'],
 ['Gravesham', 'population', 101720],
 ['Gravesham', 'type', 'Suburban Traits'],
 ['Maidstone', 'in', 'South East'],
 ['Maidstone', 'population', 155143],
 ['Maidstone', 'type', 'Thriving Rural'],
 ['Sevenoaks', 'in', 'South East'],
 ['Sevenoaks', 'population', 114893],
 ['Sevenoaks', 'type', 'Thriving Rural'],
 ['Folkestone and Hythe', 'in', 'South East'],
 ['Folkestone and Hythe', 'population', 107969],
 ['Swale', 'in', 'South East'],
 ['Swale', 'population', 135835],
 ['Swale', 'type', 'Country Living'],
 ['Thanet', 'in', 'South East'],
 ['Thanet', 'population', 134186],
 ['Thanet', 'type', 'Remoter Coastal Living'],
 ['Tonbridge and Malling', 'in', 'South East'],
 ['Tonbridge and Malling', 'population', 120805],
 ['Tonbridge and Malling', 'type', 'Thriving Rural'],
 ['Tunbridge Wells', 'in', 'South East'],
 ['Tunbridge Wells', 'population', 115049],
 ['Tunbridge Wells', 'type', 'Thriving Rural'],
 ['Burnley', 'in', 'North West'],
 ['Burnley', 'population', 87059],
 ['Burnley', 'type', 'Manufacturing Traits'],
 ['Chorley', 'in', 'North West'],
 ['Chorley', 'population', 107155],
 ['Chorley', 'type', 'Town Living'],
 ['Fylde', 'in', 'North West'],
 ['Fylde', 'population', 75757],
 ['Fylde', 'type', 'English and Welsh Countryside'],
 ['Hyndburn', 'in', 'North West'],
 ['Hyndburn', 'population', 80734],
 ['Hyndburn', 'type', 'Manufacturing Traits'],
 ['Lancaster', 'in', 'North West'],
 ['Lancaster', 'population', 138375],
 ['Lancaster', 'type', 'Larger Towns and Cities'],
 ['Pendle', 'in', 'North West'],
 ['Pendle', 'population', 89452],
 ['Pendle', 'type', 'Manufacturing Traits'],
 ['Preston', 'in', 'North West'],
 ['Preston', 'population', 140202],
 ['Preston', 'type', 'Larger Towns and Cities'],
 ['Ribble Valley', 'in', 'North West'],
 ['Ribble Valley', 'population', 57132],
 ['Ribble Valley', 'type', 'English and Welsh Countryside'],
 ['Rossendale', 'in', 'North West'],
 ['Rossendale', 'population', 67982],
 ['Rossendale', 'type', 'Services, Manufacturing and Mining Legacy  '],
 ['South Ribble', 'in', 'North West'],
 ['South Ribble', 'population', 109057],
 ['South Ribble', 'type', 'Town Living'],
 ['West Lancashire', 'in', 'North West'],
 ['West Lancashire', 'population', 110685],
 ['West Lancashire', 'type', 'Town Living'],
 ['Wyre', 'in', 'North West'],
 ['Wyre', 'population', 107749],
 ['Wyre', 'type', 'English and Welsh Countryside'],
 ['Blaby', 'in', 'East Midlands'],
 ['Blaby', 'population', 93915],
 ['Blaby', 'type', 'Town Living'],
 ['Charnwood', 'in', 'East Midlands'],
 ['Charnwood', 'population', 166100],
 ['Charnwood', 'type', 'Town Living'],
 ['Harborough', 'in', 'East Midlands'],
 ['Harborough', 'population', 85382],
 ['Harborough', 'type', 'Country Living'],
 ['Hinckley and Bosworth', 'in', 'East Midlands'],
 ['Hinckley and Bosworth', 'population', 105078],
 ['Hinckley and Bosworth', 'type', 'Country Living'],
 ['Melton', 'in', 'East Midlands'],
 ['Melton', 'population', 50376],
 ['Melton', 'type', 'Country Living'],
 ['North West Leicestershire', 'in', 'East Midlands'],
 ['North West Leicestershire', 'population', 93468],
 ['North West Leicestershire', 'type', 'Country Living'],
 ['Oadby and Wigston', 'in', 'East Midlands'],
 ['Oadby and Wigston', 'population', 56170],

In [459]:
list1 = lads[287]['bounds'][0]+lads[287]['bounds'][1]
list2 = lads[299]['bounds'][0]+lads[299]['bounds'][1]
round(sum([list1[i]-list2[i] for i in [0,1,2,3]]), 2)

-0.11

In [210]:
lads[287]['bounds']

[[-0.21351, 51.51266], [-0.10532, 51.57296]]

In [198]:
lads[299]['bounds']

[[-0.14251, 51.51855], [-0.07633, 51.5755]]

In [129]:
lads[9]

{'code': 'E06000010',
 'name': 'Kingston upon Hull, City of',
 'type': 'lad',
 'area': 7144.92,
 'count': 336,
 'parents': [{'code': 'E12000003',
   'name': 'Yorkshire and The Humber',
   'type': 'rgn'},
  {'code': 'E92000001', 'name': 'England', 'type': 'ctry'},
  {'code': 'K04000001', 'name': 'England and Wales', 'type': 'ew'}],
 'bounds': [[-0.42258, 53.71157], [-0.2414, 53.81325]],
 'data': {'population': {'perc': {'2001': {'female': 51.09, 'male': 48.91},
    '2011': {'female': 49.92, 'male': 50.08},
    'change': {'female': -1.17, 'male': 1.17}},
   'perc_rank': {'2001': {'female': 203, 'male': 133},
    '2011': {'female': 316, 'male': 20},
    'change': {'female': 311, 'male': 26}},
   'value': {'2001': {'all': 243589, 'female': 124458, 'male': 119131},
    '2011': {'all': 256406, 'female': 127986, 'male': 128420},
    'change': {'all': 5.26, 'female': 2.83, 'male': 7.8}},
   'value_rank': {'2001': {'all': 51, 'female': 50, 'male': 51},
    '2011': {'all': 54, 'female': 58, 'male': 54},
    'change': {'all': 217, 'female': 268, 'male': 144},
    'overtake': {'all': []},
    'top_bottom': {'all': {-1: {'Barrow-in-Furness': -4.02},
      2: {'Manchester': 28.08},
      -2: {'Sefton': -3.24},
      -3: {'South Tyneside': -3.05},
      3: {'Newham': 26.28},
      1: {'Tower Hamlets': 29.57}}}},
   'value_rank_local': {'2011': {'all': 9, 'female': 9, 'male': 8},
    'change': {'all': -9, 'female': -6, 'male': 8},
    'above_below': {'all': {'above': {'name': 'Rotherham', 'value': 257280},
      'below': {'name': 'Barnsley', 'value': 231221}}}}},
  'age10yr': {'perc': {'2001': {'0-9': 13.09,
     '10-19': 13.83,
     '20-29': 14.37,
     '30-39': 15.16,
     '40-49': 12.71,
     '50-59': 10.94,
     '60-69': 8.99,
     '70plus': 10.91},
    '2011': {'0-9': 12.22,
     '10-19': 12.23,
     '20-29': 17.28,
     '30-39': 13.47,
     '40-49': 13.88,
     '50-59': 11.58,
     '60-69': 9.16,
     '70plus': 10.18},
    'change': {'0-9': -0.87,
     '10-19': -1.6,
     '20-29': 2.91,
     '30-39': -1.69,
     '40-49': 1.17,
     '50-59': 0.64,
     '60-69': 0.17,
     '70plus': -0.73}},
   'perc_rank': {'2001': {'0-9': 61,
     '10-19': 37,
     '20-29': 52,
     '30-39': 172,
     '40-49': 275,
     '50-59': 294,
     '60-69': 223,
     '70plus': 218},
    '2011': {'0-9': 103,
     '10-19': 135,
     '20-29': 40,
     '30-39': 88,
     '40-49': 277,
     '50-59': 266,
     '60-69': 279,
     '70plus': 272},
    'change': {'0-9': 204,
     '10-19': 316,
     '20-29': 17,
     '30-39': 61,
     '40-49': 209,
     '50-59': 20,
     '60-69': 295,
     '70plus': 281}},
   'value': {'2001': {'0-9': 31907,
     '10-19': 33723,
     '20-29': 35027,
     '30-39': 36942,
     '40-49': 30984,
     '50-59': 26677,
     '60-69': 21906,
     '70plus': 26587,
     'all': 243753},
    '2011': {'0-9': 31332,
     '10-19': 31360,
     '20-29': 44314,
     '30-39': 34532,
     '40-49': 35598,
     '50-59': 29695,
     '60-69': 23479,
     '70plus': 26096,
     'all': 256406},
    'change': {'0-9': -1.8,
     '10-19': -7.01,
     '20-29': 26.51,
     '30-39': -6.52,
     '40-49': 14.89,
     '50-59': 11.31,
     '60-69': 7.18,
     '70plus': -1.85,
     'all': 5.19}},
   'value_rank': {'2001': {'0-9': 47,
     '10-19': 43,
     '20-29': 45,
     '30-39': 62,
     '40-49': 54,
     '50-59': 59,
     '60-69': 47,
     '70plus': 53,
     'all': 51},
    '2011': {'0-9': 56,
     '10-19': 53,
     '20-29': 39,
     '30-39': 59,
     '40-49': 61,
     '50-59': 52,
     '60-69': 59,
     '70plus': 63,
     'all': 54},
    'change': {'0-9': 208,
     '10-19': 311,
     '20-29': 33,
     '30-39': 88,
     '40-49': 212,
     '50-59': 42,
     '60-69': 315,
     '70plus': 299,
     'all': 223}},
   'perc_rank_local': {'2011': {'0-9': 3,
     '10-19': 9,
     '20-29': 2,
     '30-39': 3,
     '40-49': -6,
     '50-59': -5,
     '60-69': -2,
     '70plus': -2},
    'change': {'0-9': -11,
     '10-19': -2,
     '20-29': 1,
     '30-39': 3,
     '40-49': -11,
     '50-59': 1,
     '60-69': -2,
     '70plus': -2}}},
  'ethnicity': {'perc': {'2001': {'asian': 1.09,
     'black': 0.35,
     'mixed': 0.67,
     'other': 0.21,
     'white': 97.68},
    '2011': {'asian': 2.52,
     'black': 1.17,
     'mixed': 1.35,
     'other': 0.84,
     'white': 94.12},
    'change': {'asian': 1.43,
     'black': 0.82,
     'mixed': 0.68,
     'other': 0.63,
     'white': -3.56}},
   'perc_rank': {'2001': {'asian': 173,
     'black': 146,
     'mixed': 178,
     'other': 140,
     'white': 164},
    '2011': {'asian': 163,
     'black': 119,
     'mixed': 164,
     'other': 76,
     'white': 187},
    'change': {'asian': 146,
     'black': 84,
     'mixed': 145,
     'other': 54,
     'white': 210},
    'overtake': {'black': ['Telford and Wrekin',
      'Bath and North East Somerset',
      'South Gloucestershire',
      'West Berkshire',
      'Huntingdonshire',
      'South Cambridgeshire',
      'Erewash',
      'Eastbourne',
      'Basingstoke and Deane',
      'Swale',
      'Blaby',
      'Charnwood',
      'Breckland',
      'Kettering',
      'Broxtowe',
      'Rushcliffe',
      'South Oxfordshire',
      'East Staffordshire',
      'Stafford',
      'Tamworth',
      'Elmbridge',
      'Runnymede',
      'Surrey Heath',
      'Tandridge',
      'Warwick',
      'Redditch',
      'East Hertfordshire',
      'Bury',
      'Stockport',
      'Doncaster']},
    'top_bottom': {'black': {1: {'Barking and Dagenham': 13.02},
      3: {'Croydon': 6.83},
      2: {'Greenwich': 8.02},
      -2: {'Hackney': -1.56},
      -3: {'Haringey': -1.28},
      -1: {'Newham': -2.01}}}},
   'value': {'2001': {'all': 243569,
     'asian': 2647,
     'black': 847,
     'mixed': 1634,
     'other': 512,
     'white': 237929},
    '2011': {'all': 256406,
     'asian': 6471,
     'black': 2996,
     'mixed': 3454,
     'other': 2164,
     'white': 241321},
    'change': {'all': 5.27,
     'asian': 144.47,
     'black': 253.72,
     'mixed': 111.38,
     'other': 322.66,
     'white': 1.43}},
   'value_rank': {'2001': {'all': 51,
     'asian': 126,
     'black': 105,
     'mixed': 101,
     'other': 86,
     'white': 34},
    '2011': {'all': 54,
     'asian': 117,
     'black': 82,
     'mixed': 84,
     'other': 56,
     'white': 33},
    'change': {'all': 218,
     'asian': 74,
     'black': 39,
     'mixed': 63,
     'other': 30,
     'white': 206}},
   'perc_rank_local': {'2011': {'asian': 10,
     'black': 5,
     'mixed': 6,
     'other': 4,
     'white': -7},
    'change': {'asian': 8, 'black': 4, 'mixed': 5, 'other': 4, 'white': -6},
    'above_below': {'black': {'above': {'name': 'Bradford', 'value': 1.77},
      'below': {'name': 'Richmondshire', 'value': 0.95}}}}},
  'health': {'perc': {'2001': {'bad': 11.24, 'fair': 23.59, 'good': 65.17},
    '2011': {'bad': 7.09, 'fair': 14.86, 'good': 78.05},
    'change': {'bad': -4.15, 'fair': -8.73, 'good': 12.88}},
   'perc_rank': {'2001': {'bad': 51, 'fair': 64, 'good': 283},
    '2011': {'bad': 53, 'fair': 74, 'good': 280},
    'change': {'bad': 269, 'fair': 116, 'good': 93},
    'overtake': {'bad': ['Pendle',
      'Sheffield',
      'Newcastle upon Tyne',
      'Conwy',
      'Wrexham']},
    'top_bottom': {'good': {-3: {'Wokingham': 10.23},
      -2: {'Maldon': 10.14},
      -1: {'Surrey Heath': 10.04},
      1: {'Manchester': 15.87},
      2: {'Barking and Dagenham': 15.48},
      3: {'Tower Hamlets': 15.42}},
     'bad': {1: {'Wokingham': -1.86},
      2: {'Daventry': -2.03},
      3: {'Surrey Heath': -2.06},
      -3: {'Neath Port Talbot': -5.9},
      -2: {'Rhondda Cynon Taff': -6.08},
      -1: {'Merthyr Tydfil': -6.93}}}},
   'value': {'2001': {'all': 243589,
     'bad': 27370,
     'fair': 57465,
     'good': 158754},
    '2011': {'all': 256406, 'bad': 18177, 'fair': 38102, 'good': 200127},
    'change': {'all': 5.26, 'bad': -33.59, 'fair': -33.7, 'good': 26.06}},
   'value_rank': {'2001': {'all': 51, 'bad': 40, 'fair': 43, 'good': 55},
    '2011': {'all': 54, 'bad': 35, 'fair': 41, 'good': 61},
    'change': {'all': 217, 'bad': 120, 'fair': 82, 'good': 153}},
   'perc_rank_local': {'2011': {'bad': 5, 'fair': 7, 'good': -6},
    'change': {'bad': -9, 'fair': -11, 'good': 9},
    'above_below': {'good': {'above': 'NaN',
      'below': {'name': 'Doncaster', 'value': 77.62}},
     'bad': {'above': {'name': 'Doncaster', 'value': 7.25},
      'below': {'name': 'Scarborough', 'value': 6.66}}}}},
  'economic': {'perc': {'2001': {'employee': 49.02,
     'inactive': 38.12,
     'self-employed': 4.18,
     'student': 2.45,
     'unemployed': 6.23},
    '2011': {'employee': 50.4,
     'inactive': 32.78,
     'self-employed': 5.15,
     'student': 3.64,
     'unemployed': 8.02},
    'change': {'employee': 1.38,
     'inactive': -5.34,
     'self-employed': 0.97,
     'student': 1.19,
     'unemployed': 1.79}},
   'perc_rank': {'2001': {'employee': 273,
     'inactive': 47,
     'self-employed': 333,
     'student': 116,
     'unemployed': 5},
    '2011': {'employee': 252,
     'inactive': 73,
     'self-employed': 334,
     'student': 71,
     'unemployed': 1},
    'change': {'employee': 68,
     'inactive': 308,
     'self-employed': 252,
     'student': 47,
     'unemployed': 22},
    'overtake': {'self-employed': []},
    'top_bottom': {'employee': {-1: {'Slough': -3.85},
      3: {'Knowsley': 5.32},
      -3: {'Hillingdon': -3.67},
      1: {'Tower Hamlets': 6.23},
      -2: {'Waltham Forest': -3.8},
      2: {'Merthyr Tydfil': 5.92}},
     'student': {-2: {'Wokingham': -0.07},
      -1: {'Isles of Scilly': -0.38},
      2: {'Lincoln': 3.32},
      3: {'Newcastle upon Tyne': 2.96},
      1: {'Newham': 4.1}},
     'self-employed': {-2: {'Blackpool': -0.09},
      -1: {'Boston': -0.16},
      -3: {'East Lindsey': 0.06},
      2: {'Haringey': 4.86},
      3: {'Newham': 4.53},
      1: {'Waltham Forest': 5.06}}}},
   'value': {'2001': {'all': 173809,
     'employee': 85193,
     'inactive': 66262,
     'self-employed': 7272,
     'student': 4258,
     'unemployed': 10824},
    '2011': {'all': 190610,
     'employee': 96076,
     'inactive': 62480,
     'self-employed': 9814,
     'student': 6944,
     'unemployed': 15296},
    'change': {'all': 9.67,
     'employee': 12.77,
     'inactive': -5.71,
     'self-employed': 34.96,
     'student': 63.08,
     'unemployed': 41.32}},
   'value_rank': {'2001': {'all': 53,
     'employee': 59,
     'inactive': 42,
     'self-employed': 192,
     'student': 70,
     'unemployed': 12},
    '2011': {'all': 56,
     'employee': 55,
     'inactive': 45,
     'self-employed': 166,
     'student': 50,
     'unemployed': 10},
    'change': {'all': 113,
     'employee': 68,
     'inactive': 282,
     'self-employed': 56,
     'student': 37,
     'unemployed': 200}},
   'perc_rank_local': {'2011': {'employee': -5,
     'inactive': 7,
     'self-employed': -1,
     'student': 4,
     'unemployed': 1},
    'change': {'employee': 5,
     'inactive': -2,
     'self-employed': -8,
     'student': 4,
     'unemployed': 1},
    'above_below': {'employee': {'above': 'NaN',
      'below': {'name': 'Ryedale', 'value': 49.31}},
     'student': {'above': {'name': 'Leeds', 'value': 5.32},
      'below': {'name': 'Kirklees', 'value': 3.49}},
     'self-employed': {'above': 'NaN',
      'below': {'name': 'Ryedale', 'value': 16.64}}}}},
  'travel': {'perc': {'2001': {'bicycle': 9.62,
     'bus': 11.45,
     'car_van': 62.23,
     'foot': 8.47,
     'home': 4.45,
     'moto': 1.52,
     'other': 0.33,
     'taxi': 0.99,
     'train_metro': 0.94},
    '2011': {'bicycle': 8.19,
     'bus': 13.12,
     'car_van': 61.1,
     'foot': 11.97,
     'home': 1.91,
     'moto': 1.2,
     'other': 0.81,
     'taxi': 1.05,
     'train_metro': 0.66},
    'change': {'bicycle': -1.43,
     'bus': 1.67,
     'car_van': -1.13,
     'foot': 3.5,
     'home': -2.54,
     'moto': -0.32,
     'other': 0.48,
     'taxi': 0.06,
     'train_metro': -0.28}},
   'perc_rank': {'2001': {'bicycle': 7,
     'bus': 29,
     'car_van': 260,
     'foot': 277,
     'home': 327,
     'moto': 37,
     'other': 177,
     'taxi': 25,
     'train_metro': 166},
    '2011': {'bicycle': 9,
     'bus': 31,
     'car_van': 270,
     'foot': 102,
     'home': 336,
     'moto': 26,
     'other': 48,
     'taxi': 27,
     'train_metro': 323},
    'change': {'bicycle': 307,
     'bus': 40,
     'car_van': 231,
     'foot': 29,
     'home': 46,
     'moto': 220,
     'other': 23,
     'taxi': 76,
     'train_metro': 322},
    'overtake': {'car_van': ['Leicester',
      'Southampton',
      'Exeter',
      'Brentwood',
      'Epping Forest',
      'Cheltenham',
      'Hertsmere',
      'Watford',
      'Sevenoaks',
      'Tunbridge Wells',
      'Norwich',
      'Elmbridge',
      'Epsom and Ewell',
      'Guildford',
      'Tandridge',
      'St Albans',
      'Bexley',
      'Hillingdon']},
    'top_bottom': {'car_van': {3: {'East Northamptonshire': 13.48},
      2: {'South Staffordshire': 14.43},
      1: {'Staffordshire Moorlands': 14.88},
      -1: {'Haringey': -25.96},
      -3: {'Lewisham': -23.16},
      -2: {'Newham': -24.53}}}},
   'value': {'2001': {'all': 117084,
     'bicycle': 11264,
     'bus': 13411,
     'car_van': 72861,
     'foot': 9918,
     'home': 5208,
     'moto': 1782,
     'other': 385,
     'taxi': 1158,
     'train_metro': 1097},
    '2011': {'all': 110903,
     'bicycle': 9082,
     'bus': 14549,
     'car_van': 67759,
     'foot': 13276,
     'home': 2118,
     'moto': 1326,
     'other': 903,
     'taxi': 1160,
     'train_metro': 730},
    'change': {'all': -5.28,
     'bicycle': -19.37,
     'bus': 8.49,
     'car_van': -7.0,
     'foot': 33.86,
     'home': -59.33,
     'moto': -25.59,
     'other': 134.55,
     'taxi': 0.17,
     'train_metro': -33.45}},
   'value_rank': {'2001': {'all': 37,
     'bicycle': 2,
     'bus': 25,
     'car_van': 37,
     'foot': 58,
     'home': 190,
     'moto': 22,
     'other': 53,
     'taxi': 12,
     'train_metro': 126},
    '2011': {'all': 68,
     'bicycle': 10,
     'bus': 36,
     'car_van': 57,
     'foot': 46,
     'home': 282,
     'moto': 31,
     'other': 46,
     'taxi': 21,
     'train_metro': 262},
    'change': {'all': 309,
     'bicycle': 306,
     'bus': 177,
     'car_van': 297,
     'foot': 41,
     'home': 333,
     'moto': 243,
     'other': 100,
     'taxi': 215,
     'train_metro': 328}},
   'perc_rank_local': {'2011': {'bicycle': 2,
     'bus': 3,
     'car_van': -4,
     'foot': 9,
     'home': -1,
     'moto': 1,
     'other': 6,
     'taxi': 2,
     'train_metro': -3},
    'change': {'bicycle': -5,
     'bus': 1,
     'car_van': -2,
     'foot': 2,
     'home': 3,
     'moto': -9,
     'other': 2,
     'taxi': 9,
     'train_metro': -1},
    'above_below': {'car_van': {'above': 'NaN',
      'below': {'name': 'Sheffield', 'value': 61.02}}}}},
  'tenure': {'perc': {'2001': {'owned': 51.91,
     'rent_free': 2.94,
     'rented_private': 11.6,
     'rented_social': 33.07,
     'shared_ownership': 0.48},
    '2011': {'owned': 49.54,
     'rent_free': 1.5,
     'rented_private': 20.41,
     'rented_social': 28.1,
     'shared_ownership': 0.45},
    'change': {'owned': -2.37,
     'rent_free': -1.44,
     'rented_private': 8.81,
     'rented_social': -4.97,
     'shared_ownership': -0.03}},
   'perc_rank': {'2001': {'owned': 317,
     'rent_free': 25,
     'rented_private': 75,
     'rented_social': 19,
     'shared_ownership': 201},
    '2011': {'owned': 311,
     'rent_free': 100,
     'rented_private': 56,
     'rented_social': 20,
     'shared_ownership': 253},
    'change': {'owned': 57,
     'rent_free': 329,
     'rented_private': 52,
     'rented_social': 323,
     'shared_ownership': 240}},
   'value': {'2001': {'all': 104756,
     'owned': 54379,
     'rent_free': 3084,
     'rented_private': 12149,
     'rented_social': 34643,
     'shared_ownership': 501},
    '2011': {'all': 112596,
     'owned': 55785,
     'rent_free': 1688,
     'rented_private': 22984,
     'rented_social': 31634,
     'shared_ownership': 505},
    'change': {'all': 7.48,
     'owned': 2.59,
     'rent_free': -45.27,
     'rented_private': 89.18,
     'rented_social': -8.69,
     'shared_ownership': 0.8}},
   'value_rank': {'2001': {'all': 45,
     'owned': 77,
     'rent_free': 22,
     'rented_private': 43,
     'rented_social': 19,
     'shared_ownership': 90},
    '2011': {'all': 45,
     'owned': 71,
     'rent_free': 38,
     'rented_private': 39,
     'rented_social': 21,
     'shared_ownership': 117},
    'change': {'all': 148,
     'owned': 106,
     'rent_free': 326,
     'rented_private': 155,
     'rented_social': 311,
     'shared_ownership': 241}},
   'perc_rank_local': {'2011': {'owned': -1,
     'rent_free': -9,
     'rented_private': 2,
     'rented_social': 1,
     'shared_ownership': 9},
    'change': {'owned': 7,
     'rent_free': -1,
     'rented_private': 1,
     'rented_social': -2,
     'shared_ownership': -8}}},
  'density': {'value': {'2001': {'all': 34.09},
    '2011': {'all': 35.89},
    'change': {'all': 5.28}},
   'value_rank': {'2001': {'all': 41},
    '2011': {'all': 45},
    'change': {'all': 221}},
   'value_rank_local': {'2011': {'all': 1}, 'change': {'all': -9}}},
  'agemed': {'value': {'2001': {'all': 36.0},
    '2011': {'all': 36.0},
    'change': {'all': 0.0}},
   'value_rank': {'2001': {'all': 254},
    '2011': {'all': 272},
    'change': {'all': 230},
    'overtake': {'all': []},
    'top_bottom': {'all': {-3: {'Manchester': -5.88},
      1: {'Maldon': 7.89},
      3: {'Wychavon': 7.69},
      -1: {'Barking and Dagenham': -8.57}}}},
   'value_rank_local': {'2011': {'all': -3},
    'change': {'all': -6},
    'above_below': {'all': {'above': 'NaN',
      'below': {'name': 'Kingston upon Hull, City of', 'value': 36.0}}}}}},
 'Priorities': [{'label': 'tenure_perc_2011_owned',
   'locRank': -1,
   'natRank': -26,
   'value': 49.54},
  {'label': 'density_value_2011_all',
   'locRank': 1,
   'natRank': 45,
   'value': 35.89},
  {'label': 'tenure_perc_2011_rented_social',
   'locRank': 1,
   'natRank': 20,
   'value': 28.1},
  {'label': 'tenure_perc_change_rented_private',
   'locRank': 1,
   'natRank': 52,
   'value': 8.81},
  {'label': 'economic_perc_2011_unemployed',
   'locRank': 1,
   'natRank': 1,
   'value': 8.02},
  {'label': 'economic_perc_2011_self-employed',
   'locRank': -1,
   'natRank': -3,
   'value': 5.15},
  {'label': 'age10yr_perc_change_20-29',
   'locRank': 1,
   'natRank': 17,
   'value': 2.91},
  {'label': 'travel_perc_2011_home',
   'locRank': -1,
   'natRank': -1,
   'value': 1.91},
  {'label': 'economic_perc_change_unemployed',
   'locRank': 1,
   'natRank': 22,
   'value': 1.79},
  {'label': 'travel_perc_change_bus',
   'locRank': 1,
   'natRank': 40,
   'value': 1.67},
  {'label': 'tenure_perc_change_rent_free',
   'locRank': -1,
   'natRank': -8,
   'value': -1.44},
  {'label': 'travel_perc_2011_moto',
   'locRank': 1,
   'natRank': 26,
   'value': 1.2},
  {'label': 'age10yr_perc_change_50-59',
   'locRank': 1,
   'natRank': 20,
   'value': 0.64},
  {'label': 'travel_perc_change_train_metro',
   'locRank': -1,
   'natRank': -15,
   'value': -0.28},
  {'label': 'tenure_perc_2011_rented_private',
   'locRank': 2,
   'natRank': 56,
   'value': 20.41},
  {'label': 'age10yr_perc_2011_20-29',
   'locRank': 2,
   'natRank': 40,
   'value': 17.28},
  {'label': 'age10yr_perc_2011_70plus',
   'locRank': -2,
   'natRank': -65,
   'value': 10.18},
  {'label': 'age10yr_perc_2011_60-69',
   'locRank': -2,
   'natRank': -58,
   'value': 9.16},
  {'label': 'travel_perc_2011_bicycle',
   'locRank': 2,
   'natRank': 9,
   'value': 8.19},
  {'label': 'economic_perc_change_inactive',
   'locRank': -2,
   'natRank': -29,
   'value': -5.34},
  {'label': 'tenure_perc_change_rented_social',
   'locRank': -2,
   'natRank': -14,
   'value': -4.97},
  {'label': 'travel_perc_change_foot',
   'locRank': 2,
   'natRank': 29,
   'value': 3.5},

In [1]:
for lad in lads:
    with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+lad['code']+'.json', 'w') as outfile:
        json.dump(lad, outfile)

NameError: name 'lads' is not defined

In [496]:
!git add .
!git commit -m "Add files"
!git push -u origin main

[main b5220e1] Add files
 336 files changed, 336 insertions(+), 336 deletions(-)
Enumerating objects: 577, done.
Counting objects: 100% (577/577), done.
Delta compression using up to 16 threads
Compressing objects: 100% (340/340), done.
Writing objects: 100% (340/340), 498.92 KiB | 8.91 MiB/s, done.
Total 340 (delta 236), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (236/236), completed with 236 local objects.
To https://github.com/theojolliffe/census-data.git
   1854acd..b5220e1  main -> main
Branch 'main' set up to track remote branch 'main' from 'origin'.

In [29]:
areas[1]

{'code': 'E92000001',
 'name': 'England',
 'type': 'ctry',
 'area': 13027842.85,
 'count': 2,
 'parents': [{'code': 'K04000001', 'name': 'England and Wales', 'type': 'ew'}],
 'bounds': [[-6.41894, 49.86464], [1.76891, 55.81167]],
 'data': {'population': {'perc': {'2001': {'female': 51.32, 'male': 48.68},
    '2011': {'female': 50.82, 'male': 49.18},
    'change': {'female': -0.5, 'male': 0.5}},
   'perc_rank': {'2001': {'female': 2.0, 'male': 1.0},
    '2011': {'female': 2.0, 'male': 1.0},
    'change': {'female': 1.0, 'male': 2.0}},
   'value': {'2001': {'all': 49138420.0,
     'female': 25216488.0,
     'male': 23921932.0},
    '2011': {'all': 53012456.0, 'female': 26943308.0, 'male': 26069148.0},
    'change': {'all': 7.88, 'female': 6.85, 'male': 8.98}},
   'value_rank': {'2001': {'all': 1.0, 'female': 1.0, 'male': 1.0},
    '2011': {'all': 1.0, 'female': 1.0, 'male': 1.0},
    'change': {'all': 1.0, 'female': 1.0, 'male': 1.0}}},
  'age10yr': {'perc': {'2001': {'0-9': 12.32,
     '10-19': 12.74,
     '20-29': 12.66,
     '30-39': 15.6,
     '40-49': 13.37,
     '50-59': 12.55,
     '60-69': 9.25,
     '70plus': 11.51},
    '2011': {'0-9': 11.87,
     '10-19': 12.11,
     '20-29': 13.67,
     '30-39': 13.31,
     '40-49': 14.65,
     '50-59': 12.07,
     '60-69': 10.72,
     '70plus': 11.61},
    'change': {'0-9': -0.45,
     '10-19': -0.63,
     '20-29': 1.01,
     '30-39': -2.29,
     '40-49': 1.28,
     '50-59': -0.48,
     '60-69': 1.47,
     '70plus': 0.1}},
   'perc_rank': {'2001': {'0-9': 1.0,
     '10-19': 2.0,
     '20-29': 1.0,
     '30-39': 1.0,
     '40-49': 1.0,
     '50-59': 2.0,
     '60-69': 2.0,
     '70plus': 2.0},
    '2011': {'0-9': 1.0,
     '10-19': 2.0,
     '20-29': 1.0,
     '30-39': 1.0,
     '40-49': 1.0,
     '50-59': 2.0,
     '60-69': 2.0,
     '70plus': 2.0},
    'change': {'0-9': 1.0,
     '10-19': 1.0,
     '20-29': 2.0,
     '30-39': 1.0,
     '40-49': 1.0,
     '50-59': 1.0,
     '60-69': 2.0,
     '70plus': 2.0}},
   'value': {'2001': {'0-9': 6052255.0,
     '10-19': 6261069.0,
     '20-29': 6220948.0,
     '30-39': 7666992.0,
     '40-49': 6572193.0,
     '50-59': 6168381.0,
     '60-69': 4545950.0,
     '70plus': 5653939.0,
     'all': 49141727.0},
    '2011': {'0-9': 6291081.0,
     '10-19': 6421194.0,
     '20-29': 7246202.0,
     '30-39': 7058337.0,
     '40-49': 7765749.0,
     '50-59': 6397087.0,
     '60-69': 5680431.0,
     '70plus': 6152375.0,
     'all': 53012456.0},
    'change': {'0-9': 3.95,
     '10-19': 2.56,
     '20-29': 16.48,
     '30-39': -7.94,
     '40-49': 18.16,
     '50-59': 3.71,
     '60-69': 24.96,
     '70plus': 8.82,
     'all': 7.88}},
   'value_rank': {'2001': {'0-9': 1.0,
     '10-19': 1.0,
     '20-29': 1.0,
     '30-39': 1.0,
     '40-49': 1.0,
     '50-59': 1.0,
     '60-69': 1.0,
     '70plus': 1.0,
     'all': 1.0},
    '2011': {'0-9': 1.0,
     '10-19': 1.0,
     '20-29': 1.0,
     '30-39': 1.0,
     '40-49': 1.0,
     '50-59': 1.0,
     '60-69': 1.0,
     '70plus': 1.0,
     'all': 1.0},
    'change': {'0-9': 1.0,
     '10-19': 1.0,
     '20-29': 2.0,
     '30-39': 1.0,
     '40-49': 1.0,
     '50-59': 1.0,
     '60-69': 2.0,
     '70plus': 1.0,
     'all': 1.0}}},
  'ethnicity': {'perc': {'2001': {'asian': 5.02,
     'black': 2.3,
     'mixed': 1.31,
     'other': 0.44,
     'white': 90.93},
    '2011': {'asian': 7.82,
     'black': 3.48,
     'mixed': 2.25,
     'other': 1.03,
     'white': 85.42},
    'change': {'asian': 2.8,
     'black': 1.18,
     'mixed': 0.94,
     'other': 0.59,
     'white': -5.51}},
   'perc_rank': {'2001': {'asian': 1.0,
     'black': 1.0,
     'mixed': 1.0,
     'other': 1.0,
     'white': 2.0},
    '2011': {'asian': 1.0,
     'black': 1.0,
     'mixed': 1.0,
     'other': 1.0,
     'white': 2.0},
    'change': {'asian': 1.0,
     'black': 1.0,
     'mixed': 1.0,
     'other': 1.0,
     'white': 2.0}},
   'value': {'2001': {'all': 49137856.0,
     'asian': 2468968.0,
     'black': 1132332.0,
     'mixed': 643205.0,
     'other': 214202.0,
     'white': 44679149.0},
    '2011': {'all': 53012456.0,
     'asian': 4143403.0,
     'black': 1846614.0,
     'mixed': 1192879.0,
     'other': 548418.0,
     'white': 45281142.0},
    'change': {'all': 7.89,
     'asian': 67.82,
     'black': 63.08,
     'mixed': 85.46,
     'other': 156.03,
     'white': 1.35}},
   'value_rank': {'2001': {'all': 1.0,
     'asian': 1.0,
     'black': 1.0,
     'mixed': 1.0,
     'other': 1.0,
     'white': 1.0},
    '2011': {'all': 1.0,
     'asian': 1.0,
     'black': 1.0,
     'mixed': 1.0,
     'other': 1.0,
     'white': 1.0},
    'change': {'all': 1.0,
     'asian': 2.0,
     'black': 2.0,
     'mixed': 1.0,
     'other': 2.0,
     'white': 2.0}}},
  'health': {'perc': {'2001': {'bad': 9.03, 'fair': 22.21, 'good': 68.76},
    '2011': {'bad': 5.49, 'fair': 13.12, 'good': 81.39},
    'change': {'bad': -3.54, 'fair': -9.09, 'good': 12.63}},
   'perc_rank': {'2001': {'bad': 2.0, 'fair': 2.0, 'good': 1.0},
    '2011': {'bad': 2.0, 'fair': 2.0, 'good': 1.0},
    'change': {'bad': 1.0, 'fair': 2.0, 'good': 2.0}},
   'value': {'2001': {'all': 49138439.0,
     'bad': 4435851.0,
     'fair': 10915504.0,
     'good': 33787084.0},
    '2011': {'all': 53012456.0,
     'bad': 2911195.0,
     'fair': 6954092.0,
     'good': 43147169.0},
    'change': {'all': 7.88, 'bad': -34.37, 'fair': -36.29, 'good': 27.7}},
   'value_rank': {'2001': {'all': 1.0, 'bad': 1.0, 'fair': 1.0, 'good': 1.0},
    '2011': {'all': 1.0, 'bad': 1.0, 'fair': 1.0, 'good': 1.0},
    'change': {'all': 1.0, 'bad': 1.0, 'fair': 2.0, 'good': 1.0}}},
  'economic': {'perc': {'2001': {'employee': 52.62,
     'inactive': 33.14,
     'self-employed': 8.32,
     'student': 2.58,
     'unemployed': 3.35},
    '2011': {'employee': 52.34,
     'inactive': 30.09,
     'self-employed': 9.76,
     'student': 3.44,
     'unemployed': 4.38},
    'change': {'employee': -0.28,
     'inactive': -3.05,
     'self-employed': 1.44,
     'student': 0.86,
     'unemployed': 1.03}},
   'perc_rank': {'2001': {'employee': 1.0,
     'inactive': 2.0,
     'self-employed': 1.0,
     'student': 1.0,
     'unemployed': 2.0},
    '2011': {'employee': 1.0,
     'inactive': 2.0,
     'self-employed': 1.0,
     'student': 1.0,
     'unemployed': 1.0},
    'change': {'employee': 2.0,
     'inactive': 1.0,
     'self-employed': 1.0,
     'student': 2.0,
     'unemployed': 1.0}},
   'value': {'2001': {'all': 35531835.0,
     'employee': 18695235.0,
     'inactive': 11775045.0,
     'self-employed': 2954901.0,
     'student': 917690.0,
     'unemployed': 1188964.0},
    '2011': {'all': 38881374.0,
     'employee': 20349832.0,
     'inactive': 11698240.0,
     'self-employed': 3793632.0,
     'student': 1336823.0,
     'unemployed': 1702847.0},
    'change': {'all': 9.43,
     'employee': 8.85,
     'inactive': -0.65,
     'self-employed': 28.38,
     'student': 45.67,
     'unemployed': 43.22}},
   'value_rank': {'2001': {'all': 1.0,
     'employee': 1.0,
     'inactive': 1.0,
     'self-employed': 1.0,
     'student': 1.0,
     'unemployed': 1.0},
    '2011': {'all': 1.0,
     'employee': 1.0,
     'inactive': 1.0,
     'self-employed': 1.0,
     'student': 1.0,
     'unemployed': 1.0},
    'change': {'all': 1.0,
     'employee': 2.0,
     'inactive': 1.0,
     'self-employed': 1.0,
     'student': 2.0,
     'unemployed': 1.0}}},
  'travel': {'perc': {'2001': {'bicycle': 2.83,
     'bus': 7.51,
     'car_van': 61.12,
     'foot': 9.97,
     'home': 9.18,
     'moto': 1.11,
     'other': 0.37,
     'taxi': 0.52,
     'train_metro': 7.38},
    '2011': {'bicycle': 2.95,
     'bus': 7.5,
     'car_van': 62.04,
     'foot': 10.74,
     'home': 5.36,
     'moto': 0.82,
     'other': 0.65,
     'taxi': 0.52,
     'train_metro': 9.42},
    'change': {'bicycle': 0.12,
     'bus': -0.01,
     'car_van': 0.92,
     'foot': 0.77,
     'home': -3.82,
     'moto': -0.29,
     'other': 0.28,
     'taxi': 0.0,
     'train_metro': 2.04}},
   'perc_rank': {'2001': {'bicycle': 1.0,
     'bus': 1.0,
     'car_van': 2.0,
     'foot': 2.0,
     'home': 2.0,
     'moto': 1.0,
     'other': 2.0,
     'taxi': 1.0,
     'train_metro': 1.0},
    '2011': {'bicycle': 1.0,
     'bus': 1.0,
     'car_van': 2.0,
     'foot': 1.0,
     'home': 1.0,
     'moto': 1.0,
     'other': 1.0,
     'taxi': 1.0,
     'train_metro': 1.0},
    'change': {'bicycle': 1.0,
     'bus': 1.0,
     'car_van': 2.0,
     'foot': 1.0,
     'home': 1.0,
     'moto': 2.0,
     'other': 1.0,
     'taxi': 1.0,
     'train_metro': 1.0}},
   'value': {'2001': {'all': 22376042.0,
     'bicycle': 632135.0,
     'bus': 1681473.0,
     'car_van': 13677028.0,
     'foot': 2231725.0,
     'home': 2055167.0,
     'moto': 248690.0,
     'other': 82657.0,
     'taxi': 115985.0,
     'train_metro': 1651182.0},
    '2011': {'all': 25162721.0,
     'bicycle': 742675.0,
     'bus': 1886539.0,
     'car_van': 15610435.0,
     'foot': 2701453.0,
     'home': 1349568.0,
     'moto': 206550.0,
     'other': 162727.0,
     'taxi': 131465.0,
     'train_metro': 2371309.0},
    'change': {'all': 12.45,
     'bicycle': 17.49,
     'bus': 12.2,
     'car_van': 14.14,
     'foot': 21.05,
     'home': -34.33,
     'moto': -16.94,
     'other': 96.87,
     'taxi': 13.35,
     'train_metro': 43.61}},
   'value_rank': {'2001': {'all': 1.0,
     'bicycle': 1.0,
     'bus': 1.0,
     'car_van': 1.0,
     'foot': 1.0,
     'home': 1.0,
     'moto': 1.0,
     'other': 1.0,
     'taxi': 1.0,
     'train_metro': 1.0},
    '2011': {'all': 1.0,
     'bicycle': 1.0,
     'bus': 1.0,
     'car_van': 1.0,
     'foot': 1.0,
     'home': 1.0,
     'moto': 1.0,
     'other': 1.0,
     'taxi': 1.0,
     'train_metro': 1.0},
    'change': {'all': 2.0,
     'bicycle': 2.0,
     'bus': 1.0,
     'car_van': 2.0,
     'foot': 1.0,
     'home': 1.0,
     'moto': 2.0,
     'other': 1.0,
     'taxi': 1.0,
     'train_metro': 2.0}}},
  'tenure': {'perc': {'2001': {'owned': 68.27,
     'rent_free': 2.04,
     'rented_private': 9.89,
     'rented_social': 19.15,
     'shared_ownership': 0.65},
    '2011': {'owned': 63.34,
     'rent_free': 1.34,
     'rented_private': 16.84,
     'rented_social': 17.69,
     'shared_ownership': 0.79},
    'change': {'owned': -4.93,
     'rent_free': -0.7,
     'rented_private': 6.95,
     'rented_social': -1.46,
     'shared_ownership': 0.14}},
   'perc_rank': {'2001': {'owned': 2.0,
     'rent_free': 2.0,
     'rented_private': 1.0,
     'rented_social': 1.0,
     'shared_ownership': 1.0},
    '2011': {'owned': 2.0,
     'rent_free': 2.0,
     'rented_private': 1.0,
     'rented_social': 1.0,
     'shared_ownership': 1.0},
    'change': {'owned': 2.0,
     'rent_free': 2.0,
     'rented_private': 1.0,
     'rented_social': 2.0,
     'shared_ownership': 1.0}},
   'value': {'2001': {'all': 20585448.0,
     'owned': 14054129.0,
     'rent_free': 419717.0,
     'rented_private': 2036617.0,
     'rented_social': 3941200.0,
     'shared_ownership': 133785.0},
    '2011': {'all': 22063368.0,
     'owned': 13975024.0,
     'rent_free': 295110.0,
     'rented_private': 3715924.0,
     'rented_social': 3903550.0,
     'shared_ownership': 173760.0},
    'change': {'all': 7.18,
     'owned': -0.56,
     'rent_free': -29.69,
     'rented_private': 82.46,
     'rented_social': -0.96,
     'shared_ownership': 29.88}},
   'value_rank': {'2001': {'all': 1.0,
     'owned': 1.0,
     'rent_free': 1.0,
     'rented_private': 1.0,
     'rented_social': 1.0,
     'shared_ownership': 1.0},
    '2011': {'all': 1.0,
     'owned': 1.0,
     'rent_free': 1.0,
     'rented_private': 1.0,
     'rented_social': 1.0,
     'shared_ownership': 1.0},
    'change': {'all': 2.0,
     'owned': 2.0,
     'rent_free': 2.0,
     'rented_private': 1.0,
     'rented_social': 2.0,
     'shared_ownership': 1.0}}},
  'density': {'value': {'2001': {'all': 3.77},
    '2011': {'all': 4.07},
    'change': {'all': 7.96}},
   'value_rank': {'2001': {'all': 1.0},
    '2011': {'all': 1.0},
    'change': {'all': 1.0}}},
  'agemed': {'value': {'2001': {'all': 37.0},
    '2011': {'all': 38.0},
    'change': {'all': 2.7}},
   'value_rank': {'2001': {'all': 2.0},
    '2011': {'all': 2.0},
    'change': {'all': 1.0}}}}}

In [ ]:
for ward in wards:
    with open('/Users/theojolliffe/Documents/census-data-ranked/json/place/'+ward['code']+'.json', 'w') as outfile:
        json.dump(ward, outfile)

In [ ]:
for region in regions:
    with open('/Users/theojolliffe/Documents/census-data-ranked/json/place/'+region['code']+'.json', 'w') as outfile:
        json.dump(region, outfile)

In [ ]:
for country in countries:
    with open('/Users/theojolliffe/Documents/census-data-ranked/json/place/'+country['code']+'.json', 'w') as outfile:
        json.dump(country, outfile)