# Census rankings

In [6]:
import pandas as pd
import numpy as np
import json
import math

In [7]:
options = pd.read_csv('./csv/lists/places_2020.csv')

In [15]:
areas = []
for i in options["code"]:
    try:
        areas.append(json.load(open(f'/Users/theojolliffe/Documents/Census Data/census-data-main/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
        print(i)
        pass

E05009289
E05009290
E05009293
E05009294
E05009295
E05009297
E05009298
E05009299
E05009300
E05009301
E05009303
E05009306
E05009307
E05009312
E05011090

In [16]:
wards = []
for i in areas:
    if i['type']=='wd':
        wards.append(i)
        
regions = []
for i in areas:
    if i['type']=='rgn':
        regions.append(i)
        
lads = []
for i in areas:
    if i['type']=='lad':
        lads.append(i)
        
countries = []
for i in areas:
    if (i['type']=='ew')|(i['type']=='ctry'):
        countries.append(i)

In [17]:
for thisRegion in regions:
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_regions = []
    region_code = thisRegion['parents'][0]['code']
    for i in regions:
        if  region_code == i['parents'][0]['code']:
            sister_regions.append(i)

    # Loop through the various data variables
    for a in thisRegion['data']:
        if a in ['population', 'density', 'agemed']:
            b = 'value'
        else:
            b = 'perc'
        # Create nested object with localised rank
        thisRegion['data'][a][b+"_rank_local"] = {}    
        for c in ['2011', 'change']:
            thisRegion['data'][a][b+"_rank_local"][c] = {}
            for d in thisRegion['data'][a][b][c]:
                vari = thisRegion['data'][a][b][c][d]

                # Create sorted list of values from sister areas
                group_values = []
                for region in sister_regions:
                    group_values.append(region['data'][a][b][c][d])
                    group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                group_values.sort(reverse=True)

                # Find index of value of area of interest
                try:
                    varRank = group_values.index(vari) + 1
                except ValueError:
                    print(thisRegion['name'])
                    pass

                # Convert bottom half rankings into negative values
                if varRank>len(group_values)/2:
                    varRank = varRank-len(group_values)-1

                thisRegion['data'][a][b+"_rank_local"][c][d] = varRank

                # Append ranking data to original array
                ranks.append({
                    'label': a+'_'+b+'_'+c+'_'+d, 
                    'value': varRank, 
                    'sqr': varRank**2, 
                    'sqrt': math.sqrt(varRank**2), 
                    'abVal': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: x['sqr'])
    thisRegion["Priorities"] = ranks

In [18]:
for thisWard in wards:
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_wards = []
    ward_code = thisWard['parents'][0]['code']
    for i in wards:
        if  ward_code == i['parents'][0]['code']:
            sister_wards.append(i)

    # Loop through the various data variables
    for a in thisWard['data']:
        if a in ['population', 'density', 'agemed']:
            b = 'value'
        else:
            b = 'perc'
        # Create nested object with localised rank
        thisWard['data'][a][b+"_rank_local"] = {}    
        for c in ['2011', 'change']:
            thisWard['data'][a][b+"_rank_local"][c] = {}
            for d in thisWard['data'][a][b][c]:
                vari = thisWard['data'][a][b][c][d]

                # Create sorted list of values from sister areas
                group_values = []
                for ward in sister_wards:
                    group_values.append(ward['data'][a][b][c][d])
                    group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                group_values.sort(reverse=True)

                # Find index of value of area of interest
                try:
                    varRank = group_values.index(vari) + 1
                except ValueError:
                    print(thisWard['name'])
                    pass

                # Convert bottom half rankings into negative values
                if varRank>len(group_values)/2:
                    varRank = varRank-len(group_values)-1

                thisWard['data'][a][b+"_rank_local"][c][d] = varRank

                # Append ranking data to original array
                ranks.append({
                    'label': a+'_'+b+'_'+c+'_'+d, 
                    'value': varRank, 
                    'sqr': varRank**2, 
                    'sqrt': math.sqrt(varRank**2), 
                    'abVal': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: x['sqr'])
    thisWard["Priorities"] = ranks

Hampton Vale
Hampton Vale
Hampton Vale
Hampton Vale
Kingsway
Kingsway
Kingsway
Kingsway
St Agnes
St Agnes
St Agnes
St Agnes
St Neots East
St Neots East
St Neots East
St Neots East
Cranbrook
Cranbrook
Cranbrook
Cranbrook
Bridge
Bridge
Bridge
Bridge

In [19]:
for thisLad in lads:
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_lads = []
    lad_code = thisLad['parents'][0]['code']
    for i in range(len(lads)):
        if  lad_code == lads[i]['parents'][0]['code']:
            sister_lads.append(lads[i])

    # Loop through the various data variables
    for a in thisLad['data']:
        if a in ['population', 'density', 'agemed']:
            b = 'value'
        else:
            b = 'perc'
        # Create nested object with localised rank
        thisLad['data'][a][b+"_rank_local"] = {}    
        for c in ['2011', 'change']:
            thisLad['data'][a][b+"_rank_local"][c] = {}
            for d in thisLad['data'][a][b][c]:
                vari = thisLad['data'][a][b][c][d]

                # Create sorted list of values from sister areas
                group_values = []
                for lad in sister_lads:
                    group_values.append(lad['data'][a][b][c][d])
                    group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                group_values.sort(reverse=True)

                # Find index of value of area of interest
                varRank = group_values.index(vari) + 1

                # Convert bottom half rankings into negative values
                if varRank>len(group_values)/2:
                    varRank = varRank-len(group_values)-1

                thisLad['data'][a][b+"_rank_local"][c][d] = varRank

                # Append ranking data to original array
                ranks.append({
                    'label': a+'_'+b+'_'+c+'_'+d, 
                    'value': varRank, 
                    'sqr': varRank**2, 
                    'sqrt': math.sqrt(varRank**2), 
                    'abVal': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: x['sqr'])
    thisLad["Priorities"] = ranks

In [20]:
topics = [{1: 'population', 2: 'value', 3: 'all'}, 
          {1: 'health', 2: 'perc', 3: 'good'},
          {1: 'travel', 2: 'perc', 3: 'car_van'},
          {1: 'agemed', 2: 'value', 3: 'all'},
          {1: 'economic', 2: 'perc', 3: 'employee'},
          {1: 'health', 2: 'perc', 3: 'bad'},
         ]

In [21]:
ladCodes = []
for lad in lads:
    ladCodes.append(lad['code'])

In [22]:
df = pd.DataFrame(columns=
                  ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
for j in range(len(topics)):
    df1 = pd.DataFrame(index=ladCodes, columns=
                      ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
    for i in range(len(lads)):
        df1['lad'].iloc[i] = lads[i]['name']
        df1['2001'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2001'][topics[j][3]]
        df1['2011'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2011'][topics[j][3]]    
        df1['change'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['change'][topics[j][3]]
        df1['natRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank"]['change'][topics[j][3]]    
        df1['localRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank_local"]['change'][topics[j][3]]    
        df1['topic'].iloc[i] = topics[j][1]+"_"+topics[j][3]
        df1['parent'].iloc[i] = lads[i]['parents'][0]['name']
    df = pd.concat([df,df1])
df['natRank'] = np.where(df['natRank'] > 168, df['natRank']-337,df['natRank'])

In [74]:
for topic in topics:
    for lad in lads:
        
#       Find the areas that this area has overtaken
        v2001 = lad['data'][topic[1]][topic[2]]['2001'][topic[3]]
        v2011 = lad['data'][topic[1]][topic[2]]['2011'][topic[3]]
        dfT = df[(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)]
        obje = []
        for i in range(dfT.shape[0]):
            obje.append(dfT.iloc[i]['lad'])

        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'][topic[3]] = obje
        
#       Find the area immediatly above or below
        below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]
        above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-2
        if below<0:
            below=below+1
            above=above+1
        reg = lad['parents'][0]['name']
        name_above = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[above]['lad']
        name_below = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[below]['lad']
        if above>0:
            area_above = {'name': name_above,
                         'value': df[(df['lad']==name_above)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        else:
            area_above = 'NaN'
        if below<len(df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])]):
            area_below = {'name': name_below,
                          'value': df[(df['lad']==name_below)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        else:
            area_below = 'NaN'
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'] = {}
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]] = {}
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["above"] = area_above
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["below"] = area_below
        if lad['name']=='Manchester':
            print('*********')
            print('topic:', topic[1]+"_"+topic[3])
            print('area_below:', area_below)
            print('area_above:', area_above)
            print('below:', below)
            print('above:', above)
            
        # Add top and bottom three biggest movers for each subject to every area
        df_topic = df[(df['topic']==topic[1]+"_"+topic[3])&(abs(df['natRank'])<4)]
        ob = {}
        for index, row in df_topic.iterrows():
            ob[row['natRank']]= {row['lad']: row['change']}
        lad['data'][topic[1]][topic[2]+'_rank']['top_bottom']={}
        lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'][topic[3]]=ob

*********
topic: population_all
area_below: {'name': 'Liverpool', 'value': 466415}
area_above: NaN
below: 1
above: -1
*********
topic: health_good
area_below: {'name': 'Bury', 'value': 80.39}
area_above: {'name': 'Lancaster', 'value': 80.51}
below: 13
above: 11
*********
topic: travel_car_van
area_below: {'name': 'Rossendale', 'value': 78.13}
area_above: NaN
below: 0
above: -2
*********
topic: agemed_all
area_below: {'name': 'South Lakeland', 'value': 44.0}
area_above: NaN
below: 0
above: -2

In [69]:
df_population_all = df[(df['topic']=='population_all')&(abs(df['natRank'])<4)]
df_population_all
ob = {}
for index, row in df_population_all.iterrows():
    ob[row['natRank']]= {row['lad']: row['change']}
ob

{-1: {'Barrow-in-Furness': -4.02},
 2: {'Manchester': 28.08},
 -2: {'Sefton': -3.24},
 -3: {'South Tyneside': -3.05},
 3: {'Newham': 26.28},
 1: {'Tower Hamlets': 29.57}}

In [62]:
df_population_all

,lad,2001,2011,change,natRank,localRank,topic,parent
E07000027,Barrow-in-Furness,71980,69087,-4.02,-1,-1,population_all,North West
E08000003,Manchester,392819,503127,28.08,2,1,population_all,North West
E08000014,Sefton,282958,273790,-3.24,-2,-2,population_all,North West
E08000023,South Tyneside,152785,148127,-3.05,-3,-1,population_all,North East
E09000025,Newham,243891,307984,26.28,3,2,population_all,London
E09000030,Tower Hamlets,196106,254096,29.57,1,1,population_all,London

In [42]:
df[(df['lad']=='Liverpool')&(df['topic']=='population_all')]['2011'].iloc[0]

466415

In [43]:
lads[247]['data']['population']['value_rank_local']

{'2011': {'all': 1, 'female': 1, 'male': 1},
 'change': {'all': 1, 'female': 1, 'male': 1},
 'above_below': {'all': {'above': 'NaN',
   'below': {'name': 'Liverpool', 'value': 466415}}}}

In [44]:
df[df['topic']=='population_all']

,lad,2001,2011,change,natRank,localRank,topic,parent
E06000001,Hartlepool,88611,92028,3.86,-77,-6,population_all,North East
E06000002,Middlesbrough,134855,138412,2.64,-48,-4,population_all,North East
E06000003,Redcar and Cleveland,139132,135177,-2.84,-5,-2,population_all,North East
E06000004,Stockton-on-Tees,178408,191610,7.4,139,3,population_all,North East
E06000005,Darlington,97838,105564,7.9,125,2,population_all,North East
...,...,...,...,...,...,...,...,...
W06000020,Torfaen,90949,91075,0.14,-15,-2,population_all,Wales
W06000021,Monmouthshire,84885,91323,7.58,131,3,population_all,Wales
W06000022,Newport,137011,145736,6.37,168,6,population_all,Wales
W06000023,Powys,126354,132976,5.24,-118,10,population_all,Wales
W06000024,Merthyr Tydfil,55981,58802,5.04,-105,-11,population_all,Wales

In [75]:
for lad in lads:
    with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+lad['code']+'.json', 'w') as outfile:
        json.dump(lad, outfile)

In [76]:
!git add .
!git commit -m "Add files"
!git push -u origin main

[main 43f4688] Add files
 337 files changed, 489 insertions(+), 439 deletions(-)
 rewrite json/place/E06000001.json (94%)
 rewrite json/place/E06000002.json (94%)
 rewrite json/place/E06000003.json (95%)
 rewrite json/place/E06000004.json (95%)
 rewrite json/place/E06000005.json (94%)
 rewrite json/place/E06000006.json (94%)
 rewrite json/place/E06000007.json (94%)
 rewrite json/place/E06000008.json (94%)
 rewrite json/place/E06000009.json (94%)
 rewrite json/place/E06000010.json (94%)
 rewrite json/place/E06000011.json (94%)
 rewrite json/place/E06000012.json (94%)
 rewrite json/place/E06000013.json (93%)
 rewrite json/place/E06000014.json (94%)
 rewrite json/place/E06000015.json (94%)
 rewrite json/place/E06000016.json (94%)
 rewrite json/place/E06000017.json (94%)
 rewrite json/place/E06000018.json (94%)
 rewrite json/place/E06000019.json (95%)
 rewrite json/place/E06000020.json (94%)
 rewrite json/place/E06000021.json (94%)
 rewrite json/place/E06000022.json (94%)
 rewrite json/place/E06000023.json (95%)
 rewrite json/place/E06000024.json (94%)
 rewrite json/place/E06000025.json (94%)
 rewrite json/place/E06000026.json (95%)
 rewrite json/place/E06000027.json (94%)
 rewrite json/place/E06000030.json (94%)
 rewrite json/place/E06000031.json (93%)
 rewrite json/place/E06000032.json (94%)
 rewrite json/place/E06000033.json (95%)
 rewrite json/place/E06000034.json (94%)
 rewrite json/place/E06000035.json (95%)
 rewrite json/place/E06000036.json (94%)
 rewrite json/place/E06000037.json (94%)
 rewrite json/place/E06000038.json (94%)
 rewrite json/place/E06000039.json (92%)
 rewrite json/place/E06000040.json (94%)
 rewrite json/place/E06000041.json (94%)
 rewrite json/place/E06000042.json (94%)
 rewrite json/place/E06000043.json (95%)
 rewrite json/place/E06000044.json (95%)
 rewrite json/place/E06000045.json (94%)
 rewrite json/place/E06000046.json (94%)
 rewrite json/place/E06000047.json (95%)
 rewrite json/place/E06000049.json (95%)
 rewrite json/place/E06000050.json (94%)
 rewrite json/place/E06000051.json (94%)
 rewrite json/place/E06000052.json (95%)
 rewrite json/place/E06000053.json (95%)
 rewrite json/place/E06000054.json (94%)
 rewrite json/place/E06000055.json (94%)
 rewrite json/place/E06000056.json (95%)
 rewrite json/place/E06000057.json (95%)
 rewrite json/place/E06000058.json (94%)
 rewrite json/place/E06000059.json (95%)
 rewrite json/place/E06000060.json (95%)
 rewrite json/place/E07000008.json (93%)
 rewrite json/place/E07000009.json (93%)
 rewrite json/place/E07000010.json (94%)
 rewrite json/place/E07000011.json (94%)
 rewrite json/place/E07000012.json (93%)
 rewrite json/place/E07000026.json (94%)
 rewrite json/place/E07000027.json (95%)
 rewrite json/place/E07000028.json (94%)
 rewrite json/place/E07000029.json (94%)
 rewrite json/place/E07000030.json (94%)
 rewrite json/place/E07000031.json (95%)
 rewrite json/place/E07000032.json (94%)
 rewrite json/place/E07000033.json (94%)
 rewrite json/place/E07000034.json (94%)
 rewrite json/place/E07000035.json (94%)
 rewrite json/place/E07000036.json (95%)
 rewrite json/place/E07000037.json (95%)
 rewrite json/place/E07000038.json (95%)
 rewrite json/place/E07000039.json (94%)
 rewrite json/place/E07000040.json (95%)
 rewrite json/place/E07000041.json (94%)
 rewrite json/place/E07000042.json (94%)
 rewrite json/place/E07000043.json (94%)
 rewrite json/place/E07000044.json (94%)
 rewrite json/place/E07000045.json (95%)
 rewrite json/place/E07000046.json (94%)
 rewrite json/place/E07000047.json (94%)
 rewrite json/place/E07000061.json (94%)
 rewrite json/place/E07000062.json (94%)
 rewrite json/place/E07000063.json (94%)
 rewrite json/place/E07000064.json (94%)
 rewrite json/place/E07000065.json (94%)
 rewrite json/place/E07000066.json (94%)
 rewrite json/place/E07000067.json (94%)
 rewrite json/place/E07000068.json (94%)
 rewrite json/place/E07000069.json (95%)
 rewrite json/place/E07000070.json (94%)
 rewrite json/place/E07000071.json (94%)
 rewrite json/place/E07000072.json (94%)
 rewrite json/place/E07000073.json (95%)
 rewrite json/place/E07000074.json (95%)
 rewrite json/place/E07000075.json (94%)
 rewrite json/place/E07000076.json (95%)
 rewrite json/place/E07000077.json (94%)
 rewrite json/place/E07000078.json (94%)
 rewrite json/place/E07000079.json (95%)
 rewrite json/place/E07000080.json (95%)
 rewrite json/place/E07000081.json (94%)
 rewrite json/place/E07000082.json (94%)
 rewrite json/place/E07000083.json (94%)
 rewrite json/place/E07000084.json (93%)
 rewrite json/place/E07000085.json (94%)
 rewrite json/place/E07000086.json (94%)
 rewrite json/place/E07000087.json (95%)
 rewrite json/place/E07000088.json (94%)
 rewrite json/place/E07000089.json (94%)
 rewrite json/place/E07000090.json (95%)
 rewrite json/place/E07000091.json (94%)
 rewrite json/place/E07000092.json (95%)
 rewrite json/place/E07000093.json (94%)
 rewrite json/place/E07000094.json (93%)
 rewrite json/place/E07000095.json (94%)
 rewrite json/place/E07000096.json (94%)
 rewrite json/place/E07000098.json (94%)
 rewrite json/place/E07000099.json (94%)
 rewrite json/place/E07000102.json (95%)
 rewrite json/place/E07000103.json (94%)
 rewrite json/place/E07000105.json (93%)
 rewrite json/place/E07000106.json (94%)
 rewrite json/place/E07000107.json (93%)
 rewrite json/place/E07000108.json (94%)
 rewrite json/place/E07000109.json (94%)
 rewrite json/place/E07000110.json (94%)
 rewrite json/place/E07000111.json (94%)
 rewrite json/place/E07000112.json (94%)
 rewrite json/place/E07000113.json (93%)
 rewrite json/place/E07000114.json (94%)
 rewrite json/place/E07000115.json (93%)
 rewrite json/place/E07000116.json (93%)
 rewrite json/place/E07000117.json (94%)
 rewrite json/place/E07000118.json (94%)
 rewrite json/place/E07000119.json (95%)
 rewrite json/place/E07000120.json (95%)
 rewrite json/place/E07000121.json (94%)
 rewrite json/place/E07000122.json (95%)
 rewrite json/place/E07000123.json (94%)
 rewrite json/place/E07000124.json (94%)
 rewrite json/place/E07000125.json (95%)
 rewrite json/place/E07000126.json (94%)
 rewrite json/place/E07000127.json (94%)
 rewrite json/place/E07000128.json (95%)
 rewrite json/place/E07000129.json (94%)
 rewrite json/place/E07000130.json (94%)
 rewrite json/place/E07000131.json (94%)
 rewrite json/place/E07000132.json (95%)
 rewrite json/place/E07000133.json (95%)
 rewrite json/place/E07000134.json (94%)
 rewrite json/place/E07000135.json (95%)
 rewrite json/place/E07000136.json (94%)
 rewrite json/place/E07000137.json (95%)
 rewrite json/place/E07000138.json (94%)
 rewrite json/place/E07000139.json (94%)
 rewrite json/place/E07000140.json (93%)
 rewrite json/place/E07000141.json (95%)
 rewrite json/place/E07000142.json (93%)
 rewrite json/place/E07000143.json (94%)
 rewrite json/place/E07000144.json (95%)
 rewrite json/place/E07000145.json (94%)
 rewrite json/place/E07000146.json (94%)
 rewrite json/place/E07000147.json (95%)
 rewrite json/place/E07000148.json (94%)
 rewrite json/place/E07000149.json (94%)
 rewrite json/place/E07000150.json (94%)
 rewrite json/place/E07000151.json (94%)
 rewrite json/place/E07000152.json (94%)
 rewrite json/place/E07000153.json (94%)
 rewrite json/place/E07000154.json (94%)
 rewrite json/place/E07000155.json (94%)
 rewrite json/place/E07000156.json (94%)
 rewrite json/place/E07000163.json (94%)
 rewrite json/place/E07000164.json (94%)
 rewrite json/place/E07000165.json (94%)
 rewrite json/place/E07000166.json (94%)
 rewrite json/place/E07000167.json (95%)
 rewrite json/place/E07000168.json (94%)
 rewrite json/place/E07000169.json (94%)
 rewrite json/place/E07000170.json (94%)
 rewrite json/place/E07000171.json (94%)
 rewrite json/place/E07000172.json (94%)
 rewrite json/place/E07000173.json (95%)
 rewrite json/place/E07000174.json (94%)
 rewrite json/place/E07000175.json (94%)
 rewrite json/place/E07000176.json (94%)
 rewrite json/place/E07000177.json (94%)
 rewrite json/place/E07000178.json (93%)
 rewrite json/place/E07000179.json (95%)
 rewrite json/place/E07000180.json (94%)
 rewrite json/place/E07000181.json (94%)
 rewrite json/place/E07000187.json (94%)
 rewrite json/place/E07000188.json (94%)
 rewrite json/place/E07000189.json (94%)
 rewrite json/place/E07000192.json (94%)
 rewrite json/place/E07000193.json (94%)
 rewrite json/place/E07000194.json (94%)
 rewrite json/place/E07000195.json (94%)
 rewrite json/place/E07000196.json (95%)
 rewrite json/place/E07000197.json (94%)
 rewrite json/place/E07000198.json (95%)
 rewrite json/place/E07000199.json (95%)
 rewrite json/place/E07000200.json (95%)
 rewrite json/place/E07000202.json (94%)
 rewrite json/place/E07000203.json (93%)
 rewrite json/place/E07000207.json (94%)
 rewrite json/place/E07000208.json (93%)
 rewrite json/place/E07000209.json (94%)
 rewrite json/place/E07000210.json (94%)
 rewrite json/place/E07000211.json (94%)
 rewrite json/place/E07000212.json (95%)
 rewrite json/place/E07000213.json (94%)
 rewrite json/place/E07000214.json (94%)
 rewrite json/place/E07000215.json (94%)
 rewrite json/place/E07000216.json (94%)
 rewrite json/place/E07000217.json (93%)
 rewrite json/place/E07000218.json (95%)
 rewrite json/place/E07000219.json (94%)
 rewrite json/place/E07000220.json (93%)
 rewrite json/place/E07000221.json (94%)
 rewrite json/place/E07000222.json (94%)
 rewrite json/place/E07000223.json (95%)
 rewrite json/place/E07000224.json (95%)
 rewrite json/place/E07000225.json (94%)
 rewrite json/place/E07000226.json (94%)
 rewrite json/place/E07000227.json (95%)
 rewrite json/place/E07000228.json (93%)
 rewrite json/place/E07000229.json (95%)
 rewrite json/place/E07000234.json (95%)
 rewrite json/place/E07000235.json (95%)
 rewrite json/place/E07000236.json (94%)
 rewrite json/place/E07000237.json (94%)
 rewrite json/place/E07000238.json (94%)
 rewrite json/place/E07000239.json (94%)
 rewrite json/place/E07000240.json (94%)
 rewrite json/place/E07000241.json (93%)
 rewrite json/place/E07000242.json (94%)
 rewrite json/place/E07000243.json (94%)
 rewrite json/place/E07000244.json (95%)
 rewrite json/place/E07000245.json (94%)
 rewrite json/place/E07000246.json (94%)
 rewrite json/place/E08000001.json (95%)
 rewrite json/place/E08000002.json (95%)
 rewrite json/place/E08000003.json (94%)
 rewrite json/place/E08000004.json (95%)
 rewrite json/place/E08000005.json (95%)
 rewrite json/place/E08000006.json (93%)
 rewrite json/place/E08000007.json (94%)
 rewrite json/place/E08000008.json (94%)
 rewrite json/place/E08000009.json (95%)
 rewrite json/place/E08000010.json (95%)
 rewrite json/place/E08000011.json (94%)
 rewrite json/place/E08000012.json (95%)
 rewrite json/place/E08000013.json (95%)
 rewrite json/place/E08000014.json (95%)
 rewrite json/place/E08000015.json (94%)
 rewrite json/place/E08000016.json (95%)
 rewrite json/place/E08000017.json (95%)
 rewrite json/place/E08000018.json (94%)
 rewrite json/place/E08000019.json (95%)
 rewrite json/place/E08000021.json (94%)
 rewrite json/place/E08000022.json (94%)
 rewrite json/place/E08000023.json (95%)
 rewrite json/place/E08000024.json (95%)
 rewrite json/place/E08000025.json (95%)
 rewrite json/place/E08000026.json (94%)
 rewrite json/place/E08000027.json (95%)
 rewrite json/place/E08000028.json (94%)
 rewrite json/place/E08000029.json (94%)
 rewrite json/place/E08000030.json (94%)
 rewrite json/place/E08000031.json (94%)
 rewrite json/place/E08000032.json (94%)
 rewrite json/place/E08000033.json (95%)
 rewrite json/place/E08000034.json (95%)
 rewrite json/place/E08000035.json (95%)
 rewrite json/place/E08000036.json (95%)
 rewrite json/place/E08000037.json (94%)
 rewrite json/place/E09000001.json (94%)
 rewrite json/place/E09000002.json (94%)
 rewrite json/place/E09000003.json (94%)
 rewrite json/place/E09000004.json (94%)
 rewrite json/place/E09000005.json (94%)
 rewrite json/place/E09000006.json (94%)
 rewrite json/place/E09000007.json (94%)
 rewrite json/place/E09000008.json (95%)
 rewrite json/place/E09000009.json (94%)
 rewrite json/place/E09000010.json (94%)
 rewrite json/place/E09000011.json (94%)
 rewrite json/place/E09000012.json (94%)
 rewrite json/place/E09000013.json (93%)
 rewrite json/place/E09000014.json (93%)
 rewrite json/place/E09000015.json (94%)
 rewrite json/place/E09000016.json (94%)
 rewrite json/place/E09000017.json (93%)
 rewrite json/place/E09000018.json (93%)
 rewrite json/place/E09000019.json (94%)
 rewrite json/place/E09000020.json (94%)
 rewrite json/place/E09000021.json (93%)
 rewrite json/place/E09000022.json (94%)
 rewrite json/place/E09000023.json (94%)
 rewrite json/place/E09000024.json (95%)
 rewrite json/place/E09000025.json (93%)
 rewrite json/place/E09000026.json (93%)
 rewrite json/place/E09000027.json (94%)
 rewrite json/place/E09000028.json (94%)
 rewrite json/place/E09000029.json (94%)
 rewrite json/place/E09000030.json (93%)
 rewrite json/place/E09000031.json (94%)
 rewrite json/place/E09000032.json (94%)
 rewrite json/place/E09000033.json (94%)
 rewrite json/place/W06000001.json (94%)
 rewrite json/place/W06000002.json (94%)
 rewrite json/place/W06000003.json (95%)
 rewrite json/place/W06000004.json (95%)
 rewrite json/place/W06000005.json (95%)
 rewrite json/place/W06000006.json (95%)
 rewrite json/place/W06000008.json (95%)
 rewrite json/place/W06000009.json (95%)
 rewrite json/place/W06000010.json (94%)
 rewrite json/place/W06000011.json (94%)
 rewrite json/place/W06000012.json (95%)
 rewrite json/place/W06000013.json (94%)
 rewrite json/place/W06000014.json (93%)
 rewrite json/place/W06000015.json (94%)
 rewrite json/place/W06000016.json (94%)
 rewrite json/place/W06000018.json (95%)
 rewrite json/place/W06000019.json (94%)
 rewrite json/place/W06000020.json (95%)
 rewrite json/place/W06000021.json (94%)
 rewrite json/place/W06000022.json (94%)
 rewrite json/place/W06000023.json (95%)
 rewrite json/place/W06000024.json (95%)
Enumerating objects: 579, done.
Counting objects: 100% (579/579), done.
Delta compression using up to 16 threads
Compressing objects: 100% (341/341), done.
Writing objects: 100% (341/341), 578.65 KiB | 7.06 MiB/s, done.
Total 341 (delta 276), reused 0 (delta 0)
remote: Resolving deltas: 100% (276/276), completed with 237 local objects.
To https://github.com/theojolliffe/census-data.git
   1631b90..43f4688  main -> main
Branch 'main' set up to track remote branch 'main' from 'origin'.

In [ ]:
for ward in wards:
    with open('/Users/theojolliffe/Documents/census-data-ranked/json/place/'+ward['code']+'.json', 'w') as outfile:
        json.dump(ward, outfile)

In [ ]:
for region in regions:
    with open('/Users/theojolliffe/Documents/census-data-ranked/json/place/'+region['code']+'.json', 'w') as outfile:
        json.dump(region, outfile)

In [ ]:
for country in countries:
    with open('/Users/theojolliffe/Documents/census-data-ranked/json/place/'+country['code']+'.json', 'w') as outfile:
        json.dump(country, outfile)