In [44]:
import pandas as pd
import json
import networkx as nx
from networkx_query import search_nodes, search_edges
import numpy as np

In [45]:
wales = pd.read_csv('/Users/theojolliffe/Downloads/LADistrict_to_Local_Resilience_Forum_in_Wales.csv')
walesLU = {}
for i in wales.index:
    if wales['LAD20CD'].iloc[i][0] == 'W':
        walesLU[wales['LAD20CD'].iloc[i]] = {}
        walesLU[wales['LAD20CD'].iloc[i]]['name'] = wales['LRF20NM'].iloc[i]
        walesLU[wales['LAD20CD'].iloc[i]]['code'] = wales['LRF20CD'].iloc[i]

options = pd.read_csv('./csv/lists/places_2020.csv')
areaType = pd.read_csv('/Users/theojolliffe/Documents/Census Data/censusAreaLookup.csv')
tfidf = pd.read_csv('/Users/theojolliffe/Documents/Wayback BBC/BBCRegionalTFIDF.csv')
typeLookup = {}
for i in areaType.index:
    typeLookup[areaType.iloc[i]['Name']]=areaType.iloc[i]['Group name']

In [46]:
areas = []
for i in options["code"]:
    try:
        areas.append(json.load(open(f'/Users/theojolliffe/Documents/Census Data/census-data-main/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
        print(i)
        pass
    
for area in areas:
    area['data']['agemed']['value']['change']['all'] = area['data']['agemed']['value']['2011']['all']-area['data']['agemed']['value']['2001']['all']

E05009289
E05009290
E05009293
E05009294
E05009295
E05009297
E05009298
E05009299
E05009300
E05009301
E05009303
E05009306
E05009307
E05009312
E05011090

In [47]:
# Seperate the areas by area type
regions = []
for i in areas:
    if i['type']=='rgn':
        regions.append(i)
        
lads = []
for i in areas:
    if i['type']=='lad':
        lads.append(i)
        
countries = []
for i in areas:
    if (i['type']=='ew')|(i['type']=='ctry'):
        countries.append(i)

In [49]:
for lad in lads:
    if lad['code'][0]=='W':
        lad['parents'].insert(0, {'code': walesLU[lad['code']]['code'], 'name': walesLU[lad['code']]['name'], 'type': 'rgn'})

In [50]:
# Find each LAD local and national ranks and put in prioirity order
for thisLad in lads:
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_lads = []
    lad_code = thisLad['parents'][0]['code']
    for i in range(len(lads)):
        if  lad_code == lads[i]['parents'][0]['code']:
            sister_lads.append(lads[i])

    # Loop through the various data variables
    for a in thisLad['data']:
        if a in ['population', 'density', 'agemed']:
            b = 'value'
        else:
            b = 'perc'
        # Create nested object with localised rank
        thisLad['data'][a][b+"_rank_local"] = {}    
        for c in ['2011', 'change']:
            thisLad['data'][a][b+"_rank_local"][c] = {}
            for d in thisLad['data'][a][b][c]:
                vari = thisLad['data'][a][b][c][d]

                # Create sorted list of values from sister areas
                group_values = []
                for lad in sister_lads:
                    group_values.append(lad['data'][a][b][c][d])
                    group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                group_values.sort(reverse=True)

                # Find index of value of area of interest
                varRank = group_values.index(vari) + 1

                # Convert bottom half rankings into negative values
                if varRank>len(group_values)/2:
                    varRank = varRank-len(group_values)-1
                    
                natRank = thisLad['data'][a][b+"_rank"][c][d]
                if natRank > 168:
                    natRank = natRank-336-1

                thisLad['data'][a][b+"_rank_local"][c][d] = varRank

                # Append ranking data to original array
                ranks.append({
                    'label': a+'_'+b+'_'+c+'_'+d, 
                    'locRank': varRank, 
                    'natRank': natRank, 
                    'value': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: (abs(x['locRank']), -abs(x['value'])))
    thisLad["Priorities"] = ranks

In [53]:
topics = [{1: 'population', 2: 'value', 3: 'all'}, 
          {1: 'health', 2: 'perc', 3: 'good'},
          {1: 'health', 2: 'perc', 3: 'bad'},
          {1: 'travel', 2: 'perc', 3: 'car_van'},
          {1: 'travel', 2: 'perc', 3: 'foot'},
          {1: 'travel', 2: 'perc', 3: 'home'},
          {1: 'travel', 2: 'perc', 3: 'train_metro'},
          {1: 'agemed', 2: 'value', 3: 'all'},
          {1: 'ethnicity', 2: 'perc', 3: 'black'},
          {1: 'ethnicity', 2: 'perc', 3: 'white'},
          {1: 'ethnicity', 2: 'perc', 3: 'asian'},
          {1: 'ethnicity', 2: 'perc', 3: 'mixed'},
          {1: 'economic', 2: 'perc', 3: 'employee'},
          {1: 'economic', 2: 'perc', 3: 'student'},
          {1: 'economic', 2: 'perc', 3: 'self-employed'}]

ladCodes = []
for lad in lads:
    ladCodes.append(lad['code'])
    
    
df = pd.DataFrame(columns=
                  ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
for j in range(len(topics)):
    df1 = pd.DataFrame(index=ladCodes, columns=
                      ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
    for i in range(len(lads)):
        df1['lad'].iloc[i] = lads[i]['name']
        df1['2001'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2001'][topics[j][3]]
        df1['2011'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2011'][topics[j][3]]    
        df1['change'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['change'][topics[j][3]]
        df1['natRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank"]['change'][topics[j][3]]    
        df1['localRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank_local"]['change'][topics[j][3]]    
        df1['topic'].iloc[i] = topics[j][1]+"_"+topics[j][3]
        df1['parent'].iloc[i] = lads[i]['parents'][0]['name']
    df = pd.concat([df,df1])
df['natRank'] = np.where(df['natRank'] > 168, df['natRank']-337,df['natRank'])



for topic in topics:
    for lad in lads:
        
#       Find the areas that this area has overtaken
        v2001 = lad['data'][topic[1]][topic[2]]['2001'][topic[3]]
        v2011 = lad['data'][topic[1]][topic[2]]['2011'][topic[3]]
        dfT = df[(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)]
        obje = []
        for i in range(dfT.shape[0]):
            obje.append(dfT.iloc[i]['lad'])

        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'][topic[3]] = obje
        
#       Find the area immediatly above or below
        below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]
        above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-2
        if below<0:
            below=below+1
            above=above+1
        reg = lad['parents'][0]['name']
        name_above = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[above]['lad']
        name_below = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[below]['lad']
        if above>0:
            area_above = {'name': name_above,
                         'value': df[(df['lad']==name_above)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        else:
            area_above = 'NaN'
        if below<len(df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])]):
            area_below = {'name': name_below,
                          'value': df[(df['lad']==name_below)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        else:
            area_below = 'NaN'
        
        if 'above_below' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'] = {}

        if topic[3] not in lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]] = {}
        
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["above"] = area_above
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["below"] = area_below
            
        # Add top and bottom three biggest movers for each subject to every area
        df_topic = df[(df['topic']==topic[1]+"_"+topic[3])&(abs(df['natRank'])<4)]
        ob = {}
        for index, row in df_topic.iterrows():
            ob[row['natRank']]= {row['lad']: row['change']}
        if 'top_bottom' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'] = {}
        lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'][topic[3]]=ob

In [54]:
gwynedd = [i for i in lads if i['name']=='Gwynedd']

In [59]:
[i for i in areas if i['name']=='England']

[{'code': 'E92000001',
  'name': 'England',
  'type': 'ctry',
  'area': 13027842.85,
  'count': 2,
  'parents': [{'code': 'K04000001',
    'name': 'England and Wales',
    'type': 'ew'}],
  'bounds': [[-6.41894, 49.86464], [1.76891, 55.81167]],
  'data': {'population': {'perc': {'2001': {'female': 51.32, 'male': 48.68},
     '2011': {'female': 50.82, 'male': 49.18},
     'change': {'female': -0.5, 'male': 0.5}},
    'perc_rank': {'2001': {'female': 2.0, 'male': 1.0},
     '2011': {'female': 2.0, 'male': 1.0},
     'change': {'female': 1.0, 'male': 2.0}},
    'value': {'2001': {'all': 49138420.0,
      'female': 25216488.0,
      'male': 23921932.0},
     '2011': {'all': 53012456.0, 'female': 26943308.0, 'male': 26069148.0},
     'change': {'all': 7.88, 'female': 6.85, 'male': 8.98}},
    'value_rank': {'2001': {'all': 1.0, 'female': 1.0, 'male': 1.0},
     '2011': {'all': 1.0, 'female': 1.0, 'male': 1.0},
     'change': {'all': 1.0, 'female': 1.0, 'male': 1.0}}},
   'age10yr': {'perc': {'2001': {'0-9': 12.32,
      '10-19': 12.74,
      '20-29': 12.66,
      '30-39': 15.6,
      '40-49': 13.37,
      '50-59': 12.55,
      '60-69': 9.25,
      '70plus': 11.51},
     '2011': {'0-9': 11.87,
      '10-19': 12.11,
      '20-29': 13.67,
      '30-39': 13.31,
      '40-49': 14.65,
      '50-59': 12.07,
      '60-69': 10.72,
      '70plus': 11.61},
     'change': {'0-9': -0.45,
      '10-19': -0.63,
      '20-29': 1.01,
      '30-39': -2.29,
      '40-49': 1.28,
      '50-59': -0.48,
      '60-69': 1.47,
      '70plus': 0.1}},
    'perc_rank': {'2001': {'0-9': 1.0,
      '10-19': 2.0,
      '20-29': 1.0,
      '30-39': 1.0,
      '40-49': 1.0,
      '50-59': 2.0,
      '60-69': 2.0,
      '70plus': 2.0},
     '2011': {'0-9': 1.0,
      '10-19': 2.0,
      '20-29': 1.0,
      '30-39': 1.0,
      '40-49': 1.0,
      '50-59': 2.0,
      '60-69': 2.0,
      '70plus': 2.0},
     'change': {'0-9': 1.0,
      '10-19': 1.0,
      '20-29': 2.0,
      '30-39': 1.0,
      '40-49': 1.0,
      '50-59': 1.0,
      '60-69': 2.0,
      '70plus': 2.0}},
    'value': {'2001': {'0-9': 6052255.0,
      '10-19': 6261069.0,
      '20-29': 6220948.0,
      '30-39': 7666992.0,
      '40-49': 6572193.0,
      '50-59': 6168381.0,
      '60-69': 4545950.0,
      '70plus': 5653939.0,
      'all': 49141727.0},
     '2011': {'0-9': 6291081.0,
      '10-19': 6421194.0,
      '20-29': 7246202.0,
      '30-39': 7058337.0,
      '40-49': 7765749.0,
      '50-59': 6397087.0,
      '60-69': 5680431.0,
      '70plus': 6152375.0,
      'all': 53012456.0},
     'change': {'0-9': 3.95,
      '10-19': 2.56,
      '20-29': 16.48,
      '30-39': -7.94,
      '40-49': 18.16,
      '50-59': 3.71,
      '60-69': 24.96,
      '70plus': 8.82,
      'all': 7.88}},
    'value_rank': {'2001': {'0-9': 1.0,
      '10-19': 1.0,
      '20-29': 1.0,
      '30-39': 1.0,
      '40-49': 1.0,
      '50-59': 1.0,
      '60-69': 1.0,
      '70plus': 1.0,
      'all': 1.0},
     '2011': {'0-9': 1.0,
      '10-19': 1.0,
      '20-29': 1.0,
      '30-39': 1.0,
      '40-49': 1.0,
      '50-59': 1.0,
      '60-69': 1.0,
      '70plus': 1.0,
      'all': 1.0},
     'change': {'0-9': 1.0,
      '10-19': 1.0,
      '20-29': 2.0,
      '30-39': 1.0,
      '40-49': 1.0,
      '50-59': 1.0,
      '60-69': 2.0,
      '70plus': 1.0,
      'all': 1.0}}},
   'ethnicity': {'perc': {'2001': {'asian': 5.02,
      'black': 2.3,
      'mixed': 1.31,
      'other': 0.44,
      'white': 90.93},
     '2011': {'asian': 7.82,
      'black': 3.48,
      'mixed': 2.25,
      'other': 1.03,
      'white': 85.42},
     'change': {'asian': 2.8,
      'black': 1.18,
      'mixed': 0.94,
      'other': 0.59,
      'white': -5.51}},
    'perc_rank': {'2001': {'asian': 1.0,
      'black': 1.0,
      'mixed': 1.0,
      'other': 1.0,
      'white': 2.0},
     '2011': {'asian': 1.0,
      'black': 1.0,
      'mixed': 1.0,
      'other': 1.0,
      'white': 2.0},
     'change': {'asian': 1.0,
      'black': 1.0,
      'mixed': 1.0,
      'other': 1.0,
      'white': 2.0}},
    'value': {'2001': {'all': 49137856.0,
      'asian': 2468968.0,
      'black': 1132332.0,
      'mixed': 643205.0,
      'other': 214202.0,
      'white': 44679149.0},
     '2011': {'all': 53012456.0,
      'asian': 4143403.0,
      'black': 1846614.0,
      'mixed': 1192879.0,
      'other': 548418.0,
      'white': 45281142.0},
     'change': {'all': 7.89,
      'asian': 67.82,
      'black': 63.08,
      'mixed': 85.46,
      'other': 156.03,
      'white': 1.35}},
    'value_rank': {'2001': {'all': 1.0,
      'asian': 1.0,
      'black': 1.0,
      'mixed': 1.0,
      'other': 1.0,
      'white': 1.0},
     '2011': {'all': 1.0,
      'asian': 1.0,
      'black': 1.0,
      'mixed': 1.0,
      'other': 1.0,
      'white': 1.0},
     'change': {'all': 1.0,
      'asian': 2.0,
      'black': 2.0,
      'mixed': 1.0,
      'other': 2.0,
      'white': 2.0}}},
   'health': {'perc': {'2001': {'bad': 9.03, 'fair': 22.21, 'good': 68.76},
     '2011': {'bad': 5.49, 'fair': 13.12, 'good': 81.39},
     'change': {'bad': -3.54, 'fair': -9.09, 'good': 12.63}},
    'perc_rank': {'2001': {'bad': 2.0, 'fair': 2.0, 'good': 1.0},
     '2011': {'bad': 2.0, 'fair': 2.0, 'good': 1.0},
     'change': {'bad': 1.0, 'fair': 2.0, 'good': 2.0}},
    'value': {'2001': {'all': 49138439.0,
      'bad': 4435851.0,
      'fair': 10915504.0,
      'good': 33787084.0},
     '2011': {'all': 53012456.0,
      'bad': 2911195.0,
      'fair': 6954092.0,
      'good': 43147169.0},
     'change': {'all': 7.88, 'bad': -34.37, 'fair': -36.29, 'good': 27.7}},
    'value_rank': {'2001': {'all': 1.0, 'bad': 1.0, 'fair': 1.0, 'good': 1.0},
     '2011': {'all': 1.0, 'bad': 1.0, 'fair': 1.0, 'good': 1.0},
     'change': {'all': 1.0, 'bad': 1.0, 'fair': 2.0, 'good': 1.0}}},
   'economic': {'perc': {'2001': {'employee': 52.62,
      'inactive': 33.14,
      'self-employed': 8.32,
      'student': 2.58,
      'unemployed': 3.35},
     '2011': {'employee': 52.34,
      'inactive': 30.09,
      'self-employed': 9.76,
      'student': 3.44,
      'unemployed': 4.38},
     'change': {'employee': -0.28,
      'inactive': -3.05,
      'self-employed': 1.44,
      'student': 0.86,
      'unemployed': 1.03}},
    'perc_rank': {'2001': {'employee': 1.0,
      'inactive': 2.0,
      'self-employed': 1.0,
      'student': 1.0,
      'unemployed': 2.0},
     '2011': {'employee': 1.0,
      'inactive': 2.0,
      'self-employed': 1.0,
      'student': 1.0,
      'unemployed': 1.0},
     'change': {'employee': 2.0,
      'inactive': 1.0,
      'self-employed': 1.0,
      'student': 2.0,
      'unemployed': 1.0}},
    'value': {'2001': {'all': 35531835.0,
      'employee': 18695235.0,
      'inactive': 11775045.0,
      'self-employed': 2954901.0,
      'student': 917690.0,
      'unemployed': 1188964.0},
     '2011': {'all': 38881374.0,
      'employee': 20349832.0,
      'inactive': 11698240.0,
      'self-employed': 3793632.0,
      'student': 1336823.0,
      'unemployed': 1702847.0},
     'change': {'all': 9.43,
      'employee': 8.85,
      'inactive': -0.65,
      'self-employed': 28.38,
      'student': 45.67,
      'unemployed': 43.22}},
    'value_rank': {'2001': {'all': 1.0,
      'employee': 1.0,
      'inactive': 1.0,
      'self-employed': 1.0,
      'student': 1.0,
      'unemployed': 1.0},
     '2011': {'all': 1.0,
      'employee': 1.0,
      'inactive': 1.0,
      'self-employed': 1.0,
      'student': 1.0,
      'unemployed': 1.0},
     'change': {'all': 1.0,
      'employee': 2.0,
      'inactive': 1.0,
      'self-employed': 1.0,
      'student': 2.0,
      'unemployed': 1.0}}},
   'travel': {'perc': {'2001': {'bicycle': 2.83,
      'bus': 7.51,
      'car_van': 61.12,
      'foot': 9.97,
      'home': 9.18,
      'moto': 1.11,
      'other': 0.37,
      'taxi': 0.52,
      'train_metro': 7.38},
     '2011': {'bicycle': 2.95,
      'bus': 7.5,
      'car_van': 62.04,
      'foot': 10.74,
      'home': 5.36,
      'moto': 0.82,
      'other': 0.65,
      'taxi': 0.52,
      'train_metro': 9.42},
     'change': {'bicycle': 0.12,
      'bus': -0.01,
      'car_van': 0.92,
      'foot': 0.77,
      'home': -3.82,
      'moto': -0.29,
      'other': 0.28,
      'taxi': 0.0,
      'train_metro': 2.04}},
    'perc_rank': {'2001': {'bicycle': 1.0,
      'bus': 1.0,
      'car_van': 2.0,
      'foot': 2.0,
      'home': 2.0,
      'moto': 1.0,
      'other': 2.0,
      'taxi': 1.0,
      'train_metro': 1.0},
     '2011': {'bicycle': 1.0,
      'bus': 1.0,
      'car_van': 2.0,
      'foot': 1.0,
      'home': 1.0,
      'moto': 1.0,
      'other': 1.0,
      'taxi': 1.0,
      'train_metro': 1.0},
     'change': {'bicycle': 1.0,
      'bus': 1.0,
      'car_van': 2.0,
      'foot': 1.0,
      'home': 1.0,
      'moto': 2.0,
      'other': 1.0,
      'taxi': 1.0,
      'train_metro': 1.0}},
    'value': {'2001': {'all': 22376042.0,
      'bicycle': 632135.0,
      'bus': 1681473.0,
      'car_van': 13677028.0,
      'foot': 2231725.0,
      'home': 2055167.0,
      'moto': 248690.0,
      'other': 82657.0,
      'taxi': 115985.0,
      'train_metro': 1651182.0},
     '2011': {'all': 25162721.0,
      'bicycle': 742675.0,
      'bus': 1886539.0,
      'car_van': 15610435.0,
      'foot': 2701453.0,
      'home': 1349568.0,
      'moto': 206550.0,
      'other': 162727.0,
      'taxi': 131465.0,
      'train_metro': 2371309.0},
     'change': {'all': 12.45,
      'bicycle': 17.49,
      'bus': 12.2,
      'car_van': 14.14,
      'foot': 21.05,
      'home': -34.33,
      'moto': -16.94,
      'other': 96.87,
      'taxi': 13.35,
      'train_metro': 43.61}},
    'value_rank': {'2001': {'all': 1.0,
      'bicycle': 1.0,
      'bus': 1.0,
      'car_van': 1.0,
      'foot': 1.0,
      'home': 1.0,
      'moto': 1.0,
      'other': 1.0,
      'taxi': 1.0,
      'train_metro': 1.0},
     '2011': {'all': 1.0,
      'bicycle': 1.0,
      'bus': 1.0,
      'car_van': 1.0,
      'foot': 1.0,
      'home': 1.0,
      'moto': 1.0,
      'other': 1.0,
      'taxi': 1.0,
      'train_metro': 1.0},
     'change': {'all': 2.0,
      'bicycle': 2.0,
      'bus': 1.0,
      'car_van': 2.0,
      'foot': 1.0,
      'home': 1.0,
      'moto': 2.0,
      'other': 1.0,
      'taxi': 1.0,
      'train_metro': 2.0}}},
   'tenure': {'perc': {'2001': {'owned': 68.27,
      'rent_free': 2.04,
      'rented_private': 9.89,
      'rented_social': 19.15,
      'shared_ownership': 0.65},
     '2011': {'owned': 63.34,
      'rent_free': 1.34,
      'rented_private': 16.84,
      'rented_social': 17.69,
      'shared_ownership': 0.79},
     'change': {'owned': -4.93,
      'rent_free': -0.7,
      'rented_private': 6.95,
      'rented_social': -1.46,
      'shared_ownership': 0.14}},
    'perc_rank': {'2001': {'owned': 2.0,
      'rent_free': 2.0,
      'rented_private': 1.0,
      'rented_social': 1.0,
      'shared_ownership': 1.0},
     '2011': {'owned': 2.0,
      'rent_free': 2.0,
      'rented_private': 1.0,
      'rented_social': 1.0,
      'shared_ownership': 1.0},
     'change': {'owned': 2.0,
      'rent_free': 2.0,
      'rented_private': 1.0,
      'rented_social': 2.0,
      'shared_ownership': 1.0}},
    'value': {'2001': {'all': 20585448.0,
      'owned': 14054129.0,
      'rent_free': 419717.0,
      'rented_private': 2036617.0,
      'rented_social': 3941200.0,
      'shared_ownership': 133785.0},
     '2011': {'all': 22063368.0,
      'owned': 13975024.0,
      'rent_free': 295110.0,
      'rented_private': 3715924.0,
      'rented_social': 3903550.0,
      'shared_ownership': 173760.0},
     'change': {'all': 7.18,
      'owned': -0.56,
      'rent_free': -29.69,
      'rented_private': 82.46,
      'rented_social': -0.96,
      'shared_ownership': 29.88}},
    'value_rank': {'2001': {'all': 1.0,
      'owned': 1.0,
      'rent_free': 1.0,
      'rented_private': 1.0,
      'rented_social': 1.0,
      'shared_ownership': 1.0},
     '2011': {'all': 1.0,
      'owned': 1.0,
      'rent_free': 1.0,
      'rented_private': 1.0,
      'rented_social': 1.0,
      'shared_ownership': 1.0},
     'change': {'all': 2.0,
      'owned': 2.0,
      'rent_free': 2.0,
      'rented_private': 1.0,
      'rented_social': 2.0,
      'shared_ownership': 1.0}}},
   'density': {'value': {'2001': {'all': 3.77},
     '2011': {'all': 4.07},
     'change': {'all': 7.96}},
    'value_rank': {'2001': {'all': 1.0},
     '2011': {'all': 1.0},
     'change': {'all': 1.0}}},
   'agemed': {'value': {'2001': {'all': 37.0},
     '2011': {'all': 38.0},
     'change': {'all': 1.0}},
    'value_rank': {'2001': {'all': 2.0},
     '2011': {'all': 2.0},
     'change': {'all': 1.0}}}}}]

In [261]:
# Filter out priority list by subject
for lad in lads:
    subjectList = ["fair", "rent_free", "shared_ownership", "bicycle", "taxi", "moto", "bus", "other", "female", "male"]
    priorities = []
    priorities2011 = []
    for rank in lad['Priorities']:
        s=rank['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        if ((s[2] == "change") & (s[3] not in subjectList)):
            priorities.append(rank)
        if (s[2]!="change"):
            priorities2011.append(rank)
    lad['pri'] = priorities
    lad['pri2011'] = priorities2011

In [262]:
# Create triple data for areas of closest proximity
geogTriples = []
for lad in lads:
    list1 = lad['bounds'][0]+lad['bounds'][1]
    for lad2 in lads:
        list2 = lad2['bounds'][0]+lad2['bounds'][1]
        listDif = [abs(list1[i]-list2[i]) for i in [0,1,2,3]]
        listDif.sort()
        if (sum(listDif[:3]) < 0.3) & (lad!=lad2):
            geogTriples.append([lad['name'], lad2['name'], ("near", round(sum(listDif[:3]), 2))])

In [263]:
for thisLad in lads:

    # Find nearby area of same area type
    nearSimilar = []
    for i in geogTriples:
        try:
            if ((i[0]==thisLad['name'])&(typeLookup[i[1]]==typeLookup[thisLad['name']])):
                nearSimilar.append([i[0], i[1], ('near_similar', i[2][1])])
        except:
            pass

    if len(nearSimilar)==0:
        nearSimilar = [i for i in geogTriples if i[0]==thisLad['name']]

    nearSimilar = sorted(nearSimilar, key=lambda x: x[2][1])


    # Find and refine stories
    stories = []
    stories=stories+[i for i in thisLad['pri'] if abs(i['locRank']) <= 5]
    stories=stories+[i for i in thisLad['pri'] if (abs(i['natRank']) <= 10)&(abs(i['locRank']) > 5)]

    change = sorted(thisLad['pri'], reverse=True, key=lambda x: abs(x['value']))

    bigchange = [i for i in change if abs(i['value'])>4.5]
    for i in range(len(bigchange)):
        if len(stories)<4:
            stories=stories+[bigchange[i]]

    smallchange = sorted([i for i in change if abs(i['value'])<1], reverse=False, key=lambda x: abs(x['value']))
    for i in range(len(smallchange)):
        if len(stories)<5:
            stories=stories+[smallchange[i]]

    stories = sorted(stories, key=lambda x: (abs(x['locRank']), abs(x['natRank']), -abs(x['value'])))
    stories = sorted(stories, reverse=True, key=lambda x: x['label']=='population_value_change_all')

    storiesRefined =[]
    notInc = ['density', 'age10yr']
    for i in stories:
        if i['label'].split("_")[0] not in notInc:
            storiesRefined.append(i)
            notInc.append(i['label'].split("_")[0])
    storiesRefined

    
    #Find differences in data
    if thisLad['parents'][0]['name']=='Wales':
        region=[i for i in countries if i['name']=="Wales"][0]
        country=[i for i in countries if i['name']=="Wales"][0]
    else:
        region=[i for i in regions if i['name']==thisLad['parents'][0]['name']][0]
        country=[i for i in countries if i['name']==thisLad['parents'][1]['name']][0]

    def reg(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return region['data'][s[0]][s[1]][s[2]][s[3]]
    regDiff = [(i['label'], i['value']-reg(i)) for i in change]
    regDiff = sorted(regDiff, reverse=True, key=lambda x: abs(x[1]))

    def cou(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return countries[1]['data'][s[0]][s[1]][s[2]][s[3]]
    couDiff = [(i['label'], i['value']-cou(i)) for i in change]
    couDiff = sorted(couDiff, reverse=True, key=lambda x: abs(x[1]))
    
    try:
        nearSimilarData = {}
        nearSimilarData['name'] = nearSimilar[0][1]
        nearSimilarData['data'] = [lad for lad in lads if lad['name']==nearSimilar[0][1]][0]['data']
    except:
        nearSimilarData = []

    def near(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return nearSimilarData['data'][s[0]][s[1]][s[2]][s[3]]
    if len(nearSimilarData)>0:
        nearDiff = [(i['label'], i['value']-near(i)) for i in change]
        nearDiff = sorted(nearDiff, reverse=True, key=lambda x: abs(x[1]))

    nearTops = sorted([(lad['name'], lad['pri'][0]) for lad in lads if lad['name'] in [i[1] for i in nearSimilar if i[0]==thisLad['name']]], key=lambda x: abs(x[1]['locRank']))

    ageBandChange = sorted([(i, thisLad['data']['age10yr']['value']['2011'][i]-thisLad['data']['age10yr']['value']['2001'][i]) for i in thisLad['data']['age10yr']['value']['2001'].keys()], 
           reverse=True, key=lambda x: x[1])

    equalAgeChange = [lad['name'] for 
     lad in lads if (lad['parents'][0]['name'] == thisLad['parents'][0]['name']) 
     & (lad['data']['agemed']['value']['change']['all']==thisLad['data']['agemed']['value']['change']['all'])]
    len(equalAgeChange)

    # Add data to object
    thisLad['stories'] = storiesRefined
    thisLad['nearSimilar'] = {}
    thisLad['nearSimilar']['triples'] = nearSimilar
    thisLad['nearSimilar']['nearTops'] = nearTops
    thisLad['nearSimilar']['nearTops'] = nearSimilarData
    thisLad['differences'] = {}
    thisLad['differences']['country'] = couDiff
    thisLad['differences']['region'] = regDiff
    thisLad['differences']['near'] = nearDiff
    thisLad['data']['age10yr']['absChange'] = ageBandChange
    thisLad['data']['agemed']['value_rank_local']['equalAgeChange]'] = len(equalAgeChange)

In [264]:
for lad in lads:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+lad['code']+'.json', 'w') as outfile:
            json.dump(lad, outfile)
        print("Worked: ", lad['name'])

    except:
        print("Failed: ", lad['name'])

Worked:  Hartlepool
Worked:  Middlesbrough
Worked:  Redcar and Cleveland
Worked:  Stockton-on-Tees
Worked:  Darlington
Worked:  Halton
Worked:  Warrington
Worked:  Blackburn with Darwen
Worked:  Blackpool
Worked:  Kingston upon Hull, City of
Worked:  East Riding of Yorkshire
Worked:  North East Lincolnshire
Worked:  North Lincolnshire
Worked:  York
Worked:  Derby
Worked:  Leicester
Worked:  Rutland
Worked:  Nottingham
Worked:  Herefordshire, County of
Worked:  Telford and Wrekin
Worked:  Stoke-on-Trent
Worked:  Bath and North East Somerset
Worked:  Bristol, City of
Worked:  North Somerset
Worked:  South Gloucestershire
Worked:  Plymouth
Worked:  Torbay
Worked:  Swindon
Worked:  Peterborough
Worked:  Luton
Worked:  Southend-on-Sea
Worked:  Thurrock
Worked:  Medway
Worked:  Bracknell Forest
Worked:  West Berkshire
Worked:  Reading
Worked:  Slough
Worked:  Windsor and Maidenhead
Worked:  Wokingham
Worked:  Milton Keynes
Worked:  Brighton and Hove
Worked:  Portsmouth
Worked:  Southampton
Worked:  Isle of Wight
Worked:  County Durham
Worked:  Cheshire East
Worked:  Cheshire West and Chester
Worked:  Shropshire
Worked:  Cornwall
Worked:  Isles of Scilly
Worked:  Wiltshire
Worked:  Bedford
Worked:  Central Bedfordshire
Worked:  Northumberland
Worked:  Bournemouth, Christchurch and Poole
Worked:  Dorset
Worked:  Buckinghamshire
Worked:  Cambridge
Worked:  East Cambridgeshire
Worked:  Fenland
Worked:  Huntingdonshire
Worked:  South Cambridgeshire
Worked:  Allerdale
Worked:  Barrow-in-Furness
Worked:  Carlisle
Worked:  Copeland
Worked:  Eden
Worked:  South Lakeland
Worked:  Amber Valley
Worked:  Bolsover
Worked:  Chesterfield
Worked:  Derbyshire Dales
Worked:  Erewash
Worked:  High Peak
Worked:  North East Derbyshire
Worked:  South Derbyshire
Worked:  East Devon
Worked:  Exeter
Worked:  Mid Devon
Worked:  North Devon
Worked:  South Hams
Worked:  Teignbridge
Worked:  Torridge
Worked:  West Devon
Worked:  Eastbourne
Worked:  Hastings
Worked:  Lewes
Worked:  Rother
Worked:  Wealden
Worked:  Basildon
Worked:  Braintree
Worked:  Brentwood
Worked:  Castle Point
Worked:  Chelmsford
Worked:  Colchester
Worked:  Epping Forest
Worked:  Harlow
Worked:  Maldon
Worked:  Rochford
Worked:  Tendring
Worked:  Uttlesford
Worked:  Cheltenham
Worked:  Cotswold
Worked:  Forest of Dean
Worked:  Gloucester
Worked:  Stroud
Worked:  Tewkesbury
Worked:  Basingstoke and Deane
Worked:  East Hampshire
Worked:  Eastleigh
Worked:  Fareham
Worked:  Gosport
Worked:  Hart
Worked:  Havant
Worked:  New Forest
Worked:  Rushmoor
Worked:  Test Valley
Worked:  Winchester
Worked:  Broxbourne
Worked:  Dacorum
Worked:  Hertsmere
Worked:  North Hertfordshire
Worked:  Three Rivers
Worked:  Watford
Worked:  Ashford
Worked:  Canterbury
Worked:  Dartford
Worked:  Dover
Worked:  Gravesham
Worked:  Maidstone
Worked:  Sevenoaks
Worked:  Folkestone and Hythe
Worked:  Swale
Worked:  Thanet
Worked:  Tonbridge and Malling
Worked:  Tunbridge Wells
Worked:  Burnley
Worked:  Chorley
Worked:  Fylde
Worked:  Hyndburn
Worked:  Lancaster
Worked:  Pendle
Worked:  Preston
Worked:  Ribble Valley
Worked:  Rossendale
Worked:  South Ribble
Worked:  West Lancashire
Worked:  Wyre
Worked:  Blaby
Worked:  Charnwood
Worked:  Harborough
Worked:  Hinckley and Bosworth
Worked:  Melton
Worked:  North West Leicestershire
Worked:  Oadby and Wigston
Worked:  Boston
Worked:  East Lindsey
Worked:  Lincoln
Worked:  North Kesteven
Worked:  South Holland
Worked:  South Kesteven
Worked:  West Lindsey
Worked:  Breckland
Worked:  Broadland
Worked:  Great Yarmouth
Worked:  King's Lynn and West Norfolk
Worked:  North Norfolk
Worked:  Norwich
Worked:  South Norfolk
Worked:  Corby
Worked:  Daventry
Worked:  East Northamptonshire
Worked:  Kettering
Worked:  Northampton
Worked:  South Northamptonshire
Worked:  Wellingborough
Worked:  Craven
Worked:  Hambleton
Worked:  Harrogate
Worked:  Richmondshire
Worked:  Ryedale
Worked:  Scarborough
Worked:  Selby
Worked:  Ashfield
Worked:  Bassetlaw
Worked:  Broxtowe
Worked:  Gedling
Worked:  Mansfield
Worked:  Newark and Sherwood
Worked:  Rushcliffe
Worked:  Cherwell
Worked:  Oxford
Worked:  South Oxfordshire
Worked:  Vale of White Horse
Worked:  West Oxfordshire
Worked:  Mendip
Worked:  Sedgemoor
Worked:  South Somerset
Worked:  Cannock Chase
Worked:  East Staffordshire
Worked:  Lichfield
Worked:  Newcastle-under-Lyme
Worked:  South Staffordshire
Worked:  Stafford
Worked:  Staffordshire Moorlands
Worked:  Tamworth
Worked:  Babergh
Worked:  Ipswich
Worked:  Mid Suffolk
Worked:  Elmbridge
Worked:  Epsom and Ewell
Worked:  Guildford
Worked:  Mole Valley
Worked:  Reigate and Banstead
Worked:  Runnymede
Worked:  Spelthorne
Worked:  Surrey Heath
Worked:  Tandridge
Worked:  Waverley
Worked:  Woking
Worked:  North Warwickshire
Worked:  Nuneaton and Bedworth
Worked:  Rugby
Worked:  Stratford-on-Avon
Worked:  Warwick
Worked:  Adur
Worked:  Arun
Worked:  Chichester
Worked:  Crawley
Worked:  Horsham
Worked:  Mid Sussex
Worked:  Worthing
Worked:  Bromsgrove
Worked:  Malvern Hills
Worked:  Redditch
Worked:  Worcester
Worked:  Wychavon
Worked:  Wyre Forest
Worked:  St Albans
Worked:  Welwyn Hatfield
Worked:  East Hertfordshire
Worked:  Stevenage
Worked:  East Suffolk
Worked:  West Suffolk
Worked:  Somerset West and Taunton
Worked:  Bolton
Worked:  Bury
Worked:  Manchester
Worked:  Oldham
Worked:  Rochdale
Worked:  Salford
Worked:  Stockport
Worked:  Tameside
Worked:  Trafford
Worked:  Wigan
Worked:  Knowsley
Worked:  Liverpool
Worked:  St. Helens
Worked:  Sefton
Worked:  Wirral
Worked:  Barnsley
Worked:  Doncaster
Worked:  Rotherham
Worked:  Sheffield
Worked:  Newcastle upon Tyne
Worked:  North Tyneside
Worked:  South Tyneside
Worked:  Sunderland
Worked:  Birmingham
Worked:  Coventry
Worked:  Dudley
Worked:  Sandwell
Worked:  Solihull
Worked:  Walsall
Worked:  Wolverhampton
Worked:  Bradford
Worked:  Calderdale
Worked:  Kirklees
Worked:  Leeds
Worked:  Wakefield
Worked:  Gateshead
Worked:  City of London
Worked:  Barking and Dagenham
Worked:  Barnet
Worked:  Bexley
Worked:  Brent
Worked:  Bromley
Worked:  Camden
Worked:  Croydon
Worked:  Ealing
Worked:  Enfield
Worked:  Greenwich
Worked:  Hackney
Worked:  Hammersmith and Fulham
Worked:  Haringey
Worked:  Harrow
Worked:  Havering
Worked:  Hillingdon
Worked:  Hounslow
Worked:  Islington
Worked:  Kensington and Chelsea
Worked:  Kingston upon Thames
Worked:  Lambeth
Worked:  Lewisham
Worked:  Merton
Worked:  Newham
Worked:  Redbridge
Worked:  Richmond upon Thames
Worked:  Southwark
Worked:  Sutton
Worked:  Tower Hamlets
Worked:  Waltham Forest
Worked:  Wandsworth
Worked:  Westminster
Worked:  Isle of Anglesey
Worked:  Gwynedd
Worked:  Conwy
Worked:  Denbighshire
Worked:  Flintshire
Worked:  Wrexham
Worked:  Ceredigion
Worked:  Pembrokeshire
Worked:  Carmarthenshire
Worked:  Swansea
Worked:  Neath Port Talbot
Worked:  Bridgend
Worked:  Vale of Glamorgan
Worked:  Cardiff
Worked:  Rhondda Cynon Taff
Worked:  Caerphilly
Worked:  Blaenau Gwent
Worked:  Torfaen
Worked:  Monmouthshire
Worked:  Newport
Worked:  Powys
Worked:  Merthyr Tydfil

In [265]:
!git add .
!git commit -m "Add files"
!git push -u origin main