In [501]:
import pandas as pd
import json
import networkx as nx
from networkx_query import search_nodes, search_edges
import numpy as np

In [502]:
with open('/Users/theojolliffe/Documents/Wayback BBC/topicScoresOrder.json', 'r') as fp:
    topicScoresOrder = json.load(fp)
topicScoresOrder = {i: {i[0]: 1/(1+i[1]/10) for i in topicScoresOrder[i]} for i in topicScoresOrder}

In [503]:
options = pd.read_csv('./csv/lists/places_2020.csv')
areaType = pd.read_csv('/Users/theojolliffe/Documents/Census Data/censusAreaLookup.csv')
typeLookup = {}
for i in areaType.index:
    typeLookup[areaType.iloc[i]['Name']]=areaType.iloc[i]['Group name']

areas = []
for i in options["code"]:
    try:
        areas.append(json.load(open(f'/Users/theojolliffe/Documents/pipeline_v3/final/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
#         print(i)
        pass
    
for area in areas:
    area['data']['agemed']['value']['change']['all'] = area['data']['agemed']['value']['2011']['all']-area['data']['agemed']['value']['2001']['all']

In [504]:
# Seperate the areas by area type
regions = []
for i in areas:
    if i['type']=='rgn':
        regions.append(i)
        
lads = []
for i in areas:
    if i['type']=='lad':
        lads.append(i)
        
countries = []
for i in areas:
    if (i['type']=='ew')|(i['type']=='ctry'):
        countries.append(i)

In [505]:
simiDF = pd.read_csv('/Users/theojolliffe/Documents/correspondinglocalauthoritiesv3r.csv')

In [506]:
areaClassDF = pd.read_csv('/Users/theojolliffe/Documents/area-reports/src/data/censusAreaLookup.csv')
areaClassDF.at[75, 'Code'] = "E06000058"
areaClassLU = {
    "1a1r": "affluent suburban area", "1b1r": "affluent rural area", 
    "1b2r": "growing rural area", "2a1r": "city", 
    "2b1r": "area", "3a2r": "remote area", 
    "3a1r": "agricultural area", "3b1r": "coastal area",
    "3b2r": "seaside  area",
    "4a1r": "urban area", "5a1r": "cosmopolitan area",
    "6a2r": "industrial area", "6a3r": "service economy area",
    "6a1r": "industrial area", "7a1r": "rural area",
    "7c2r": "affluent area", "7c1r": "affluent area",
    "8a1r": "multi-cultural area", "8a2r": "urban area",
    "8b1r": "suburban area", "8b2r": "suburban area",
}
areaClassSuperLU = {
    "1r": "affluent area",
    "2r": "urban area",
    "3r": "rural area",
    "4r": "multi-cultural area",
    "5r": "cosmopolitan area",
    "6r": "industrial area",
    "7r": "suburban area",
    "8r": "built up area",
}
gssLookup = {"E09": "London borough", "E08": "metropolitan district", "E07": "district", "E06": "unitary authority", "W06": "Welsh district"}
gssLookupShort = {"E09": "borough", "E08": "district", "E07": "district", "E06": "unitary authority", "W06": "district"}

In [507]:
bbcReg = pd.read_csv('/Users/theojolliffe/Downloads/bbc_regions.csv')
bbcRegLU = {}
for i in bbcReg.index:
    if bbcReg['areaCode'].iloc[i] in [lad['code'] for lad in lads]:
        bbcRegLU[bbcReg['areaCode'].iloc[i]] = bbcReg['bbc_online'].iloc[i]
bbcRegLU['E06000053'] = 'cornwall'
bbcRegLU['E06000060'] = 'beds_bucks_and_herts'
bbcRegLU['E09000001'] = 'london'
bbcRegLU['E07000150'] = 'northamptonshire'

regionsBBC = ['cumbria', 'lancashire', 'merseyside', 'manchester', 'tees', 'tyne_and_wear', 'Humberside', 'york_and_north_yorkshire', 'leeds_and_west_yorkshire', 'lincolnshire', 'south_yorkshire', 'birmingham_and_black_country', 'coventry_and_warwickshire', 'hereford_and_worcester', 'shropshire', 'stoke_and_staffordshire', 'derbyshire', 'leicester', 'northamptonshire', 'nottingham', 'bristol', 'cornwall', 'devon', 'gloucestershire', 'somerset', 'wiltshire', 'beds_bucks_and_herts', 'cambridgeshire', 'essex', 'norfolk', 'suffolk', 'berkshire', 'dorset', 'hampshire', 'oxford', 'kent', 'london', 'surrey', 'sussex']
bbcNames = {
     'derby': 'derbyshire', 
     'hereford and worcester': 'hereford_and_worcester',
     'tyne and wear': 'tyne_and_wear',
     'northampton': 'northamptonshire',
     'liverpool': 'merseyside',
     'coventry and warwickshire': 'coventry_and_warwickshire',
     'humberside': 'Humberside',
     'sheffield and south yorkshire': 'south_yorkshire',
     'hampshire & isle of wight': 'hampshire',
     'stoke and staffordshire': 'stoke_and_staffordshire',
     'york & north yorkshire': 'york_and_north_yorkshire',
     'birmingham and black country': 'birmingham_and_black_country',
     'beds, bucks and herts': 'beds_bucks_and_herts',
     'leeds and west yorkshire': 'leeds_and_west_yorkshire'
}
for i in bbcRegLU.keys():
    bbcRegLU[i] = bbcRegLU[i].lower()
    if bbcRegLU[i] not in regionsBBC:
        try:
            bbcRegLU[i] = bbcNames[bbcRegLU[i]]
        except:
            pass

In [508]:
tfidf = pd.read_csv('/Users/theojolliffe/Documents/Wayback BBC/BBCRegionalTFIDF.csv')
tfidf = tfidf.set_index('Unnamed: 0')
for i in tfidf.columns:
    for j in tfidf[i].index:
        tfidf[i].loc[j] = 1+100*tfidf[i].loc[j]
tfidfLU = {}
for i in regionsBBC:
    tfidfLU[i]=tfidf.loc[i].to_dict()

In [509]:
TFtopicLU = {
    'health': 'health',
    'racial': 'ethnicity',
    'population': 'population',
    'age': 'agemed',
    'work': 'economic',
    'commuter': 'travel',
    'housing': 'tenure'
}
TFtopicRev = dict((TFtopicLU[x],x) for x in TFtopicLU)

In [510]:
def this(lad):
    return[l for l in lads if l['name']==lad][0]

In [511]:
# Find each LAD local and national ranks and put in prioirity order
for thisLad in lads:
    
    try:
        thisLad['similar'] = [
            {'code': simiDF[simiDF['Code']==thisLad['code']]['Code.1'].iloc[0], 'name': simiDF[simiDF['Code']==thisLad['code']]['Name.1'].iloc[0]},
            {'code': simiDF[simiDF['Code']==thisLad['code']]['Code.2'].iloc[0], 'name': simiDF[simiDF['Code']==thisLad['code']]['Name.2'].iloc[0]},
            {'code': simiDF[simiDF['Code']==thisLad['code']]['Code.3'].iloc[0], 'name': simiDF[simiDF['Code']==thisLad['code']]['Name.3'].iloc[0]}
        ]
    except:
        thisLad['similar'] = [
            {'code': 'faulty pre-process', 'name': 'faulty pre-process'},
            {'code': 'faulty pre-process', 'name': 'faulty pre-process'},
            {'code': 'faulty pre-process', 'name': 'faulty pre-process'}
        ]
    
    if (areaClassDF[areaClassDF['Code']==thisLad['code']]['Subgroup code'].shape[0]>0):
        thisLad['classification'] = areaClassLU[areaClassDF[areaClassDF['Code']==thisLad['code']]['Subgroup code'].iloc[0]]
    else:
        thisLad['classification'] = "unk"
    thisLad['gss'] = {}
    thisLad['gss']['short'] = gssLookupShort[thisLad['code'][:3]]
    thisLad['gss']['long'] = gssLookup[thisLad['code'][:3]]
    
    if thisLad['parents'][0]['type'] == "cty":
        thisLad['parents'] = thisLad['parents'][1:]
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_lads = []
    lad_code = thisLad['parents'][0]['code']
    for i in range(len(lads)):
        if  lad_code == lads[i]['parents'][0]['code']:
            sister_lads.append(lads[i])

    # Loop through the various data variables
    for a in thisLad['data']:
        if a in ['population', 'density', 'agemed']:
            b = 'value'
        else:
            b = 'perc'
        # Create nested object with localised rank
        thisLad['data'][a][b+"_rank_local"] = {}    
        for c in ['2011', 'change']:
            thisLad['data'][a][b+"_rank_local"][c] = {}
            for d in thisLad['data'][a][b][c]:
                vari = thisLad['data'][a][b][c][d]

                # Create sorted list of values from sister areas
                group_values = []
                for lad in sister_lads:
                    group_values.append(lad['data'][a][b][c][d])
                    group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                group_values.sort(reverse=True)

                # Find index of value of area of interest
                varRank = group_values.index(vari) + 1

                # Convert bottom half rankings into negative values
                if varRank>len(group_values)/2:
                    varRank = varRank-len(group_values)-1
                    
                natRank = thisLad['data'][a][b+"_rank"][c][d]
                if natRank > 168:
                    natRank = natRank-336-1

                thisLad['data'][a][b+"_rank_local"][c][d] = varRank
                thisLad['data'][a][b+"_rank"][c][d] = natRank

                # Append ranking data to original array
                ranks.append({
                    'label': a+'_'+b+'_'+c+'_'+d, 
                    'locRank': varRank, 
                    'natRank': natRank, 
                    'value': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: (abs(x['locRank']), -abs(x['value'])))
    thisLad["Priorities"] = ranks

In [ ]:
topics = [{1: 'population', 2: 'value', 3: 'all'}, 
          {1: 'density', 2: 'value', 3: 'all'},
          {1: 'agemed', 2: 'value', 3: 'all'},
          {1: 'care', 2: 'perc', 3: '1to19hoursWeek'},
          {1: 'care', 2: 'perc', 3: '20to49hoursWeek'},
          {1: 'care', 2: 'perc', 3: '40PlushoursWeek'},
          {1: 'children', 2: 'perc', 3: 'NoKids'},
          {1: 'children', 2: 'perc', 3: 'Kids'},
          {1: 'children', 2: 'perc', 3: 'NonDepKids'},
          {1: 'travel', 2: 'perc', 3: 'car_van'},
          {1: 'travel', 2: 'perc', 3: 'bus'},
          {1: 'travel', 2: 'perc', 3: 'home'},
          {1: 'travel', 2: 'perc', 3: 'train_metro'},
          {1: 'travel', 2: 'perc', 3: 'foot'},
          {1: 'tenure', 2: 'perc', 3: 'rented_social'},
          {1: 'tenure', 2: 'perc', 3: 'rented_private'},
          {1: 'tenure', 2: 'perc', 3: 'owned'},
          {1: 'religion', 2: 'perc', 3: 'Hindu'},
          {1: 'religion', 2: 'perc', 3: 'Buddhist'},
          {1: 'religion', 2: 'perc', 3: 'Jewish'},
          {1: 'religion', 2: 'perc', 3: 'Christian'},
          {1: 'religion', 2: 'perc', 3: 'Muslim'},
          {1: 'religion', 2: 'perc', 3: 'Noreligion'},
          {1: 'household', 2: 'perc', 3: 'OnePerson'},
          {1: 'household', 2: 'perc', 3: 'Married'},
          {1: 'household', 2: 'perc', 3: 'LoneParent'},
          {1: 'household', 2: 'perc', 3: 'Cohabiting'},
          {1: 'health', 2: 'perc', 3: 'bad'},
          {1: 'health', 2: 'perc', 3: 'good'},
          {1: 'ethnicity', 2: 'perc', 3: 'black'},
          {1: 'ethnicity', 2: 'perc', 3: 'white'},
          {1: 'ethnicity', 2: 'perc', 3: 'asian'},
          {1: 'marital', 2: 'perc', 3: 'Married'},
          {1: 'marital', 2: 'perc', 3: 'Seperated'},
          {1: 'marital', 2: 'perc', 3: 'Single'},
          {1: 'hoursworked', 2: 'perc', 3: 'Female1-15'},
          {1: 'hoursworked', 2: 'perc', 3: 'Male1-15'},
          {1: 'hoursworked', 2: 'perc', 3: 'Female49plus'},
          {1: 'hoursworked', 2: 'perc', 3: 'Male49plus'},
          {1: 'economic', 2: 'perc', 3: 'employee'},
          {1: 'economic', 2: 'perc', 3: 'student'},
          {1: 'economic', 2: 'perc', 3: 'unemployed'},
          {1: 'economic', 2: 'perc', 3: 'inactive'},
          {1: 'economic', 2: 'perc', 3: 'self-employed'}]

ladCodes = []
for lad in lads:
    ladCodes.append(lad['code'])
    
    
df = pd.DataFrame(columns=
                  ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
for j in range(len(topics)):
    df1 = pd.DataFrame(index=ladCodes, columns=
                      ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
    for i in range(len(lads)):
        df1['lad'].iloc[i] = lads[i]['name']
        df1['2001'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2001'][topics[j][3]]
        df1['2011'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2011'][topics[j][3]]    
        df1['change'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['change'][topics[j][3]]
        df1['natRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank"]['change'][topics[j][3]]    
        df1['localRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank_local"]['change'][topics[j][3]]    
        df1['topic'].iloc[i] = topics[j][1]+"_"+topics[j][3]
        df1['parent'].iloc[i] = lads[i]['parents'][0]['name']
    df = pd.concat([df,df1])
df['natRank'] = np.where(df['natRank'] > 168, df['natRank']-337,df['natRank'])



for topic in topics:
    for lad in lads:
        
#       Find the areas that this area has overtaken
        v2001 = lad['data'][topic[1]][topic[2]]['2001'][topic[3]]
        v2011 = lad['data'][topic[1]][topic[2]]['2011'][topic[3]]
        dfT = df[(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)]
        obje = []
        for i in range(dfT.shape[0]):
            obje.append(dfT.iloc[i]['lad'])
        
        if 'overtake' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'][topic[3]] = obje
        
        
        # Find areas within the region that this area has overtaken
        reg = lad['parents'][0]['name']
        dfTr = df[(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)&(df['parent']==reg)]
        objeR = []
        for i in range(dfTr.shape[0]):
            objeR.append(dfTr.iloc[i]['lad'])
        if 'overtake' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank_local"]['overtake'][topic[3]] = objeR
        
        dfReg = df[(df['topic']==topic[1]+"_"+topic[3])&(df['parent']==reg)]
        rank2001 = sorted(dfReg['2001'], reverse=True).index(v2001)+1
        if rank2001 > 168:
            rank2001 = rank2001-336-1
        if '2001' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['2001'] = {}
        lad['data'][topic[1]][topic[2]+'_rank_local']['2001'][topic[3]] = rank2001
        
        
#       Find the area immediatly above or below
        below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]
        above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-2
        if below<0:
            below=below+1
            above=above+1
        name_above = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[above]['lad']
        name_below = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[below]['lad']

        area_above = {'name': name_above,
                         'value': df[(df['lad']==name_above)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        area_below = {'name': name_below,
                          'value': df[(df['lad']==name_below)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}

        
        if 'above_below' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'] = {}

        if topic[3] not in lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]] = {}
        
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["above"] = area_above
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["below"] = area_below
            
        # Add top and bottom three biggest movers for each subject to every area
        df_topic = df[(df['topic']==topic[1]+"_"+topic[3])&(abs(df['natRank'])<4)]
        ob = {}
        for index, row in df_topic.iterrows():
            ob[row['natRank']]= {row['lad']: row['change']}
        if 'top_bottom' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'] = {}
        lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'][topic[3]]=ob
        
        
        # Add top and bottom three biggest movers for each subject to every area
        df_topicReg = df[(df['topic']==topic[1]+"_"+topic[3])&(abs(df['localRank'])<4)&(df['parent']==reg)]

        ob = {}
        for index, row in df_topicReg.iterrows():
            ob[row['localRank']]= {'name': row['lad'], 2001: row['2001'], 2011: row['2011']}
        if 'top_bottom' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['top_bottom'] = {}
        lad['data'][topic[1]][topic[2]+'_rank_local']['top_bottom'][topic[3]]=ob

In [491]:
thisLad = this("Dover")

In [492]:
thisLad['similar']

[{'code': 'E07000112', 'name': 'Shepway'},
 {'code': 'E07000114', 'name': 'Swale'}]

In [493]:
thisLad['similar'][0]['name']

'Shepway'

In [494]:
[lad for lad in lads if lad['name']==thisLad['similar'][0]['name']][0]['data']

IndexError: list index out of range

In [ ]:
thisLad['similar'][0]['name']

In [ ]:
this("Shepway")

In [ ]:
# Filter out priority list by subject
for lad in lads:
    subjectList = ["Male31-48", "Male16-30", "Female31-48", "Female16-30", "Widowed", "65andOver", "Other", "noCare", "Sikh", "Religionnotstated", "MultiOther", "Otherreligion", "fair", "rent_free", "shared_ownership", "bicycle", "taxi", "moto", "other", "female", "male", "inactive", "mixed", "LoneNKids", "MultiStudents"]
    priorities = []
    priorities2011 = []
    for rank in lad['Priorities']:
        s=rank['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        if ((s[2] == "change") & (s[3] not in subjectList) & (((s[0]=="household")&(s[3]=="Married")) is False)):
            priorities.append(rank)
        if (s[2]!="change"):
            priorities2011.append(rank)
    lad['pri'] = priorities
    lad['pri2011'] = priorities2011


# Create triple data for areas of closest proximity
geogTriples = []
for lad in lads:
    list1 = lad['bounds'][0]+lad['bounds'][1]
    for lad2 in lads:
        list2 = lad2['bounds'][0]+lad2['bounds'][1]
        listDif = [abs(list1[i]-list2[i]) for i in [0,1,2,3]]
        listDif.sort()
        if (sum(listDif[:3]) < 1) & (lad!=lad2):
            geogTriples.append([lad['name'], lad2['name'], ("near", round(sum(listDif[:3]), 2))])

            
for thisLad in lads:
    
    #Find differences in data
    if (thisLad['parents'][0]['name']=='Wales'):                     
        region=[i for i in countries if i['name']=="Wales"][0]
        country=[i for i in countries if i['name']=="Wales"][0]
    else:
        region=[i for i in regions if i['name']==thisLad['parents'][0]['name']][0]
        country=[i for i in countries if i['name']==thisLad['parents'][1]['name']][0]

    def reg(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return region['data'][s[0]][s[1]][s[2]][s[3]]
    regDiff = [(i, i['value']-reg(i)) for i in thisLad['pri']]
    regDiff = sorted(regDiff, reverse=True, key=lambda x: abs(x[1]))

    def cou(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return countries[1]['data'][s[0]][s[1]][s[2]][s[3]]
    couDiff = [(i, i['value']-cou(i)) for i in thisLad['pri']]
    couDiff = sorted(couDiff, reverse=True, key=lambda x: abs(x[1]))
    
    try:
        nearSimilarData = {}
        nearSimilarData['name'] = nearSimilar[0][1]
        nearSimilarData['data'] = [lad for lad in lads if lad['name']==nearSimilar[0][1]][0]['data']
    except:
        print("Nearby data not found for:: ", thisLad['name'])
        nearSimilarData = []
        
    try:
        similarData = {}
        if (nearSimilar[0][1]!=thisLad['similar'][0]['name']):
            try:
                similarData['name'] = thisLad['similar'][0]['name']
                similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][0]['name']][0]['data']
            except:
                try:
                    similarData['name'] = thisLad['similar'][1]['name']
                    similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][1]['name']][0]['data']
                except:
                    similarData['name'] = thisLad['similar'][2]['name']
                    similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][2]['name']][0]['data']
        else:
            try:
                similarData['name'] = thisLad['similar'][1]['name']
                similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][1]['name']][0]['data']
            except:
                similarData['name'] = thisLad['similar'][2]['name']
                similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][2]['name']][0]['data']
    
    except:
        print("Similar data not found for:: ", thisLad['name'])
        similarData = []
    
    def simi(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return similarData['data'][s[0]][s[1]][s[2]][s[3]]
    if len(similarData)>0:
        simiDiff = [(i, i['value']-simi(i)) for i in thisLad['pri']]
        simiDiff = sorted(simiDiff, reverse=True, key=lambda x: abs(x[1]))


    def near(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return nearSimilarData['data'][s[0]][s[1]][s[2]][s[3]]
    if len(nearSimilarData)>0:
        nearDiff = [(i, i['value']-near(i)) for i in thisLad['pri']]
        nearDiff = sorted(nearDiff, reverse=True, key=lambda x: abs(x[1]))

    nearTops = sorted([(lad['name'], lad['pri'][0]) for lad in lads if lad['name'] in [i[1] for i in nearSimilar if i[0]==thisLad['name']]], key=lambda x: abs(x[1]['locRank']))

    ageBandChange = sorted([(i, thisLad['data']['age10yr']['value']['2011'][i]-thisLad['data']['age10yr']['value']['2001'][i]) for i in thisLad['data']['age10yr']['value']['2001'].keys()], 
           reverse=True, key=lambda x: x[1])

    equalAgeChange = [lad['name'] for 
     lad in lads if (lad['parents'][0]['name'] == thisLad['parents'][0]['name']) 
     & (lad['data']['agemed']['value']['change']['all']==thisLad['data']['agemed']['value']['change']['all'])]
    len(equalAgeChange)
    
    
    # Find and refine stories
    stories = []
    stories=stories+[{**i, **{'type':['pop']}} for i in thisLad['pri'] if i['label'] == 'population_value_change_all']
    stories=stories+[{**i, **{'type':['size']}} for i in thisLad['pri'] if (abs(i['value']) >= 5)]
    stories=stories+[{**i, **{'type':['locRank']}} for i in thisLad['pri'] if (abs(i['locRank']) < 4)&(abs(i['value']) > 1)]
    stories=stories+[{**i, **{'type':['natRank']}} for i in thisLad['pri'] if (abs(i['natRank']) <= 6)&(abs(i['locRank']) >= 4)&(abs(i['value']) > 1)]
    stories=stories+[{**i[0], **{'type':['couDiff']}} for i in couDiff if abs(i[1])>2]
    stories=stories+[{**i[0], **{'type':['regDiff']}} for i in regDiff if abs(i[1])>2]
    stories=stories+[{**i[0], **{'type':['nearDiff']}} for i in nearDiff if abs(i[1])>2]
    stories=stories+[{**i[0], **{'type':['simiDiff']}} for i in simiDiff if abs(i[1])>2]
    seen = set()
    uniq = [item['label'] for item in stories if item['label'] in seen or seen.add(item['label'])]
    listofdoubles = [[i for i in stories if i['label'] == uniqI] for uniqI in uniq]
    multi = [{**double[0], **{'type': [item for sublist in [i['type'] for i in double] for item in sublist]}} for double in listofdoubles]
    stories = [item for item in stories if item['label'] not in [i['label'] for i in multi]]
    stories=stories+multi
    
    storiesRefined =[]
    notInc = ['density', 'age10yr', 'travel']
    for i in stories:
        if i['label'].split("_")[0] not in notInc:
            storiesRefined.append(i)
            notInc.append(i['label'].split("_")[0])

    if (thisLad['code'][0]!='W'):
        storiesRefined = sorted(storiesRefined, key=lambda x: ((topicScoresOrder[bbcRegLU[thisLad['code']]][x['label'].split('_')[0]])*(1/(1+abs(x['value'])))))
    else:
        storiesRefined = sorted(storiesRefined, key=lambda x: 1/(1+abs(x['value'])))

    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['locRank']<5)
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['natRank']<5)
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['label']=='population_value_change_all')

    
    # Create a varibale 'hiRank' which holds the index of a top 5 rank at the national or reginal level to be used for an overtake story
    hiRank ={}
    hiRankNat = []
    for i in storiesRefined:
        if i['label'] not in ['population_value_change_all', 'agemed_value_change_all']:
            s=i['label'].split("_")
            if len(s)>4:
                s[3] = s[3] + "_" + s[4]
            if thisLad['data'][s[0]][s[1]+"_rank"]['2011'][s[3]]!=thisLad['data'][s[0]][s[1]+"_rank"]['2001'][s[3]]:
                hiRankNat.append(abs(thisLad['data'][s[0]][s[1]+"_rank"]['2011'][s[3]]))
            else:
                hiRankNat.append(100)
        else:
            hiRankNat.append(100)

    hiRankReg = []
    for i in storiesRefined:
        if i['label'] not in ['population_value_change_all', 'agemed_value_change_all']:
            s=i['label'].split("_")
            if len(s)>4:
                s[3] = s[3] + "_" + s[4]
            if thisLad['data'][s[0]][s[1]+"_rank_local"]['2011'][s[3]]!=thisLad['data'][s[0]][s[1]+"_rank_local"]['2001'][s[3]]:
                hiRankReg.append(abs(thisLad['data'][s[0]][s[1]+"_rank_local"]['2011'][s[3]]))
            else:
                hiRankReg.append(100)
        else:
            hiRankReg.append(100)
            
    if min(hiRankNat)<5:
        hiRank['rankIn'] = hiRankNat.index(min(hiRankNat))
        hiRank['type'] = 'nat'
    elif min(hiRankReg)<5:
        hiRank['rankIn'] = hiRankReg.index(min(hiRankReg))
        hiRank['type'] = 'reg'
    elif min(hiRankNat)<10:
        hiRank['rankIn'] = hiRankNat.index(min(hiRankNat))
        hiRank['type'] = 'nat'
    else:
        hiRank['rankIn'] = "None"
        hiRank['type'] = "None"
        
    ageBandChange= [i for i in ageBandChange if i[0]!='all']
    ageBandPos = sorted([i for i in ageBandChange if i[1]>0], reverse=True, key=lambda x: abs(x[1]))
    ageBandNeg = sorted([i for i in ageBandChange if i[1]<0], reverse=True, key=lambda x: abs(x[1]))
    

    # Add data to object
    thisLad['hiRank']=hiRank
    thisLad['stories'] = storiesRefined
    thisLad['similar'] = similarData
    thisLad['nearSimilar'] = {}
    thisLad['nearSimilar']['triples'] = nearSimilar
    thisLad['nearSimilar']['nearTops'] = nearTops
    thisLad['nearSimilar']['nearTops'] = nearSimilarData
    thisLad['differences'] = {}
    thisLad['differences']['country'] = couDiff
    thisLad['differences']['region'] = regDiff
    thisLad['differences']['near'] = nearDiff
    thisLad['data']['age10yr']['absChange'] = {}
    thisLad['data']['age10yr']['absChange']['pos'] = ageBandPos
    thisLad['data']['age10yr']['absChange']['neg'] = ageBandNeg
    thisLad['data']['agemed']['value_rank_local']['equalAgeChange]'] = len(equalAgeChange)

In [ ]:
for rgn in regions:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+rgn['code']+'.json', 'w') as outfile:
            json.dump(rgn, outfile)
    except:
        print("Failed: ", rgn['name'])

In [ ]:
for ctry in countries:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+ctry['code']+'.json', 'w') as outfile:
            json.dump(ctry, outfile)
    except:
        print("Failed: ", ctry['name'])

In [ ]:
for lad in lads:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+lad['code']+'.json', 'w') as outfile:
            json.dump(lad, outfile)
    except:
        print("Failed: ", lad['name'])

In [ ]:
!git add .
!git commit -m "Add files"
!git push -u origin main

In [411]:
this("City of London")['similar']

{'name': 'Westminster',
 'data': {'population': {'perc': {'2001': {'female': 51.01, 'male': 48.99},
    '2011': {'female': 49.16, 'male': 50.84},
    'change': {'female': -1.85, 'male': 1.85}},
   'perc_rank': {'2001': {'female': 214.0, 'male': 117.0},
    '2011': {'female': 326.0, 'male': 6.0},
    'change': {'female': 329.0, 'male': 3.0}},
   'value': {'2001': {'all': 181286.0, 'female': 92479.0, 'male': 88807.0},
    '2011': {'all': 219396.0, 'female': 107848.0, 'male': 111548.0},
    'change': {'all': 21.02, 'female': 16.62, 'male': 25.61}},
   'value_rank': {'2001': {'all': 91.0, 'female': 93.0, 'male': 92.0},
    '2011': {'all': 80.0, 'female': 82.0, 'male': 77.0},
    'change': {'all': 5.0, 'female': 8.0, 'male': 5.0},
    'overtake': {'all': ['Warrington',
      'North Somerset',
      'Luton',
      'Portsmouth',
      'Rochdale',
      'Tameside',
      'North Tyneside',
      'Solihull',
      'Calderdale',
      'Gateshead',
      'Merton']},
    'top_bottom': {'all': {2.0: {'Manchester': 28.08},
      3.0: {'Newham': 26.28},
      1.0: {'Tower Hamlets': 29.57}}}},
   'value_rank_local': {'2011': {'all': -10, 'female': -10, 'male': -11},
    'change': {'all': 4, 'female': 5, 'male': 4},
    'overtake': {'all': ['Merton']},
    '2001': {'all': 25},
    'above_below': {'all': {'above': {'name': 'Camden', 'value': 220338.0},
      'below': {'name': 'Islington', 'value': 206125.0}}},
    'top_bottom': {'all': {-2: {'name': 'City of London',
       2001: 7185.0,
       2011: 7375.0},
      -3: {'name': 'Bromley', 2001: 295532.0, 2011: 309392.0},
      3: {'name': 'Hackney', 2001: 202824.0, 2011: 246270.0},
      -1: {'name': 'Kensington and Chelsea', 2001: 158919.0, 2011: 158649.0},
      2: {'name': 'Newham', 2001: 243891.0, 2011: 307984.0},
      1: {'name': 'Tower Hamlets', 2001: 196106.0, 2011: 254096.0}}}}},
  'care': {'perc': {'2001': {'1to19hoursWeek': 4.93,
     '20to49hoursWeek': 0.82,
     '40PlushoursWeek': 1.2,
     'noCare': 93.05},
    '2011': {'1to19hoursWeek': 4.52,
     '20to49hoursWeek': 1.16,
     '40PlushoursWeek': 1.56,
     'noCare': 92.76},
    'change': {'1to19hoursWeek': -0.41,
     '20to49hoursWeek': 0.34,
     '40PlushoursWeek': 0.36,
     'noCare': -0.29}},
   'perc_rank': {'2001': {'1to19hoursWeek': 324.0,
     '20to49hoursWeek': 262.0,
     '40PlushoursWeek': 322.0,
     'noCare': 2.0},
    '2011': {'1to19hoursWeek': -13.0,
     '20to49hoursWeek': -97.0,
     '40PlushoursWeek': -24.0,
     'noCare': 6.0},
    'change': {'1to19hoursWeek': -99.0,
     '20to49hoursWeek': 83.0,
     '40PlushoursWeek': -157.0,
     'noCare': 114.0},
    'overtake': {'1to19hoursWeek': ['Hammersmith and Fulham'],
     '20to49hoursWeek': ['York',
      'Bath and North East Somerset',
      'South Gloucestershire',
      'Brighton and Hove',
      'Portsmouth',
      'Exeter',
      'Epping Forest',
      'Stroud',
      'Tewkesbury',
      'Three Rivers',
      'Ribble Valley',
      'Charnwood',
      'Norwich',
      'Hambleton',
      'Harrogate',
      'Richmondshire',
      'Rushcliffe',
      'Mid Suffolk',
      'Epsom and Ewell',
      'Chichester',
      'Camden',
      'Haringey',
      'Lambeth'],
     '40PlushoursWeek': ['Windsor and Maidenhead',
      'Oxford',
      'Guildford',
      'Surrey Heath',
      'Waverley',
      'East Hertfordshire',
      'Camden',
      'Kingston upon Thames',
      'Lambeth',
      'Wandsworth']},
    'top_bottom': {'1to19hoursWeek': {1.0: {'Isles of Scilly': 1.03},
      2.0: {'Eden': 0.9},
      3.0: {'Gosport': 0.71}},
     '20to49hoursWeek': {2.0: {'Folkestone and Hythe': 0.5},
      1.0: {'Tendring': 0.52}},
     '40PlushoursWeek': {3.0: {'Torbay': 0.82},
      2.0: {'Rother': 0.83},
      1.0: {'East Lindsey': 0.86}}}},
   'value': {'2001': {'1to19hoursWeek': 8946.0,
     '20to49hoursWeek': 1491.0,
     '40PlushoursWeek': 2170.0,
     'all': 181286.0,
     'noCare': 168679.0},
    '2011': {'1to19hoursWeek': 9916.0,
     '20to49hoursWeek': 2536.0,
     '40PlushoursWeek': 3426.0,
     'all': 219396.0,
     'noCare': 203518.0},
    'change': {'1to19hoursWeek': 10.84,
     '20to49hoursWeek': 70.09,
     '40PlushoursWeek': 57.88,
     'all': 21.02,
     'noCare': 20.65}},
   'value_rank': {'2001': {'1to19hoursWeek': 162.0,
     '20to49hoursWeek': 135.0,
     '40PlushoursWeek': 186.0,
     'all': 91.0,
     'noCare': 90.0},
    '2011': {'1to19hoursWeek': 140.0,
     '20to49hoursWeek': 105.0,
     '40PlushoursWeek': 147.0,
     'all': 80.0,
     'noCare': 77.0},
    'change': {'1to19hoursWeek': 39.0,
     '20to49hoursWeek': 2.0,
     '40PlushoursWeek': 2.0,
     'all': 5.0,
     'noCare': 5.0}},
   'perc_rank_local': {'2011': {'1to19hoursWeek': -8,
     '20to49hoursWeek': -11,
     '40PlushoursWeek': -9,
     'noCare': 6},
    'change': {'1to19hoursWeek': 12,
     '20to49hoursWeek': 5,
     '40PlushoursWeek': 4,
     'noCare': -6},
    'overtake': {'1to19hoursWeek': ['Hammersmith and Fulham'],
     '20to49hoursWeek': ['Camden', 'Haringey', 'Lambeth'],
     '40PlushoursWeek': ['Camden',
      'Kingston upon Thames',
      'Lambeth',
      'Wandsworth']},
    '2001': {'1to19hoursWeek': 26,
     '20to49hoursWeek': 25,
     '40PlushoursWeek': 29},
    'above_below': {'1to19hoursWeek': {'above': {'name': 'Haringey',
       'value': 4.63},
      'below': {'name': 'Hackney', 'value': 4.36}},
     '20to49hoursWeek': {'above': {'name': 'Sutton', 'value': 1.18},
      'below': {'name': 'Haringey', 'value': 1.14}},
     '40PlushoursWeek': {'above': {'name': 'Haringey', 'value': 1.64},
      'below': {'name': 'Camden', 'value': 1.51}}},
    'top_bottom': {'1to19hoursWeek': {-1: {'name': 'Barking and Dagenham',
       2001: 5.72,
       2011: 4.65},
      3: {'name': 'Haringey', 2001: 4.91, 2011: 4.63},
      -3: {'name': 'Kensington and Chelsea', 2001: 5.38, 2011: 4.71},
      2: {'name': 'Lewisham', 2001: 5.24, 2011: 5.05},
      -2: {'name': 'Redbridge', 2001: 6.84, 2011: 6.16},
      1: {'name': 'Sutton', 2001: 6.59, 2011: 6.54}},
     '20to49hoursWeek': {-2: {'name': 'City of London',
       2001: 0.61,
       2011: 0.69},
      3: {'name': 'Croydon', 2001: 0.94, 2011: 1.31},
      1: {'name': 'Harrow', 2001: 1.19, 2011: 1.65},
      2: {'name': 'Redbridge', 2001: 1.19, 2011: 1.58},
      -1: {'name': 'Tower Hamlets', 2001: 1.32, 2011: 1.38}},
     '40PlushoursWeek': {-3: {'name': 'City of London',
       2001: 1.14,
       2011: 0.95},
      -2: {'name': 'Barking and Dagenham', 2001: 2.69, 2011: 2.49},
      1: {'name': 'Bexley', 2001: 1.91, 2011: 2.47},
      2: {'name': 'Bromley', 2001: 1.65, 2011: 2.04},
      3: {'name': 'Havering', 2001: 2.09, 2011: 2.46},
      -1: {'name': 'Tower Hamlets', 2001: 2.38, 2011: 1.93}}}}},
  'religion': {'perc': {'2001': {'Buddhist': 1.32,
     'Christian': 55.05,
     'Hindu': 1.93,
     'Jewish': 4.27,
     'Muslim': 11.77,
     'Noreligion': 16.16,
     'Otherreligion': 0.52,
     'Religionnotstated': 8.76,
     'Sikh': 0.22},
    '2011': {'Buddhist': 1.46,
     'Christian': 44.61,
     'Hindu': 1.9,
     'Jewish': 3.3,
     'Muslim': 18.27,
     'Noreligion': 20.3,
     'Otherreligion': 0.58,
     'Religionnotstated': 9.35,
     'Sikh': 0.23},
    'change': {'Buddhist': 0.14,
     'Christian': -10.44,
     'Hindu': -0.03,
     'Jewish': -0.97,
     'Muslim': 6.5,
     'Noreligion': 4.14,
     'Otherreligion': 0.06,
     'Religionnotstated': 0.59,
     'Sikh': 0.01}},
   'perc_rank': {'2001': {'Buddhist': 1.0,
     'Christian': 316.0,
     'Hindu': 32.0,
     'Jewish': 8.0,
     'Muslim': 13.0,
     'Noreligion': 106.0,
     'Otherreligion': 17.0,
     'Religionnotstated': 31.0,
     'Sikh': 99.0},
    '2011': {'Buddhist': 4.0,
     'Christian': -21.0,
     'Hindu': 45.0,
     'Jewish': 8.0,
     'Muslim': 12.0,
     'Noreligion': -54.0,
     'Otherreligion': 33.0,
     'Religionnotstated': 7.0,
     'Sikh': 111.0},
    'change': {'Buddhist': 112.0,
     'Christian': 48.0,
     'Hindu': -20.0,
     'Jewish': -10.0,
     'Muslim': 14.0,
     'Noreligion': -21.0,
     'Otherreligion': -49.0,
     'Religionnotstated': 42.0,
     'Sikh': -144.0},
    'overtake': {'Hindu': ['Haringey'],
     'Buddhist': [],
     'Jewish': [],
     'Christian': ['Nottingham', 'Brighton and Hove'],
     'Muslim': ['Pendle', 'Hackney'],
     'Noreligion': []},
    'top_bottom': {'Hindu': {1.0: {'Harrow': 5.66},
      3.0: {'Hillingdon': 3.43},
      2.0: {'Redbridge': 3.54}},
     'Buddhist': {1.0: {'Rushmoor': 2.91}, 2.0: {'Hounslow': 0.73}},
     'Jewish': {1.0: {'Hertsmere': 2.95},
      3.0: {'Salford': 0.89},
      2.0: {'Hackney': 0.99}},
     'Christian': {1.0: {'Knowsley': -4.75},
      2.0: {'Haringey': -5.09},
      3.0: {'Lambeth': -5.72}},
     'Muslim': {2.0: {'Luton': 9.98},
      3.0: {'Slough': 9.94},
      1.0: {'Redbridge': 11.36}},
     'Noreligion': {2.0: {'Kingston upon Hull, City of': 16.52},
      3.0: {'Gosport': 16.23},
      1.0: {'Caerphilly': 16.71}}}},
   'value': {'2001': {'Buddhist': 2392.0,
     'Christian': 99797.0,
     'Hindu': 3497.0,
     'Jewish': 7732.0,
     'Muslim': 21346.0,
     'Noreligion': 29300.0,
     'Otherreligion': 945.0,
     'Religionnotstated': 15877.0,
     'Sikh': 400.0,
     'all': 181286.0},
    '2011': {'Buddhist': 3194.0,
     'Christian': 97877.0,
     'Hindu': 4178.0,
     'Jewish': 7237.0,
     'Muslim': 40073.0,
     'Noreligion': 44542.0,
     'Otherreligion': 1280.0,
     'Religionnotstated': 20519.0,
     'Sikh': 496.0,
     'all': 219396.0},
    'change': {'Buddhist': 33.53,
     'Christian': -1.92,
     'Hindu': 19.47,
     'Jewish': -6.4,
     'Muslim': 87.73,
     'Noreligion': 52.02,
     'Otherreligion': 35.45,
     'Religionnotstated': 29.24,
     'Sikh': 24.0,
     'all': 21.02}},
   'value_rank': {'2001': {'Buddhist': 8.0,
     'Christian': 134.0,
     'Hindu': 31.0,
     'Jewish': 9.0,
     'Muslim': 21.0,
     'Noreligion': 78.0,
     'Otherreligion': 31.0,
     'Religionnotstated': 79.0,
     'Sikh': 92.0,
     'all': 91.0},
    '2011': {'Buddhist': 10.0,
     'Christian': 115.0,
     'Hindu': 43.0,
     'Jewish': 10.0,
     'Muslim': 16.0,
     'Noreligion': 107.0,
     'Otherreligion': 42.0,
     'Religionnotstated': 42.0,
     'Sikh': 97.0,
     'all': 80.0},
    'change': {'Buddhist': 308.0,
     'Christian': 14.0,
     'Hindu': 290.0,
     'Jewish': 188.0,
     'Muslim': 134.0,
     'Noreligion': 305.0,
     'Otherreligion': 284.0,
     'Religionnotstated': 6.0,
     'Sikh': 208.0,
     'all': 5.0}},
   'perc_rank_local': {'2011': {'Buddhist': 3,
     'Christian': -12,
     'Hindu': -14,
     'Jewish': 6,
     'Muslim': 6,
     'Noreligion': -14,
     'Otherreligion': 9,
     'Religionnotstated': 6,
     'Sikh': -7},
    'change': {'Buddhist': -11,
     'Christian': -13,
     'Hindu': -8,
     'Jewish': -5,
     'Muslim': 6,
     'Noreligion': -14,
     'Otherreligion': -17,
     'Religionnotstated': 5,
     'Sikh': 15},
    'overtake': {'Hindu': ['Haringey'],
     'Buddhist': [],
     'Jewish': [],
     'Christian': [],
     'Muslim': ['Hackney'],
     'Noreligion': []},
    '2001': {'Hindu': 17,
     'Buddhist': 1,
     'Jewish': 6,
     'Christian': 20,
     'Muslim': 7,
     'Noreligion': 17},
    'above_below': {'Hindu': {'above': {'name': 'City of London',
       'value': 1.97},
      'below': {'name': 'Haringey', 'value': 1.78}},
     'Buddhist': {'above': {'name': 'Kensington and Chelsea', 'value': 1.54},
      'below': {'name': 'Hounslow', 'value': 1.42}},
     'Jewish': {'above': {'name': 'Redbridge', 'value': 3.66},
      'below': {'name': 'Haringey', 'value': 3.0}},
     'Christian': {'above': {'name': 'Haringey', 'value': 44.98},
      'below': {'name': 'Ealing', 'value': 43.75}},
     'Muslim': {'above': {'name': 'Brent', 'value': 18.65},
      'below': {'name': 'Enfield', 'value': 16.69}},
     'Noreligion': {'above': {'name': 'Kensington and Chelsea',
       'value': 20.59},
      'below': {'name': 'Croydon', 'value': 19.99}}},
    'top_bottom': {'Hindu': {-1: {'name': 'Barnet', 2001: 6.68, 2011: 6.15},
      -2: {'name': 'Haringey', 2001: 2.05, 2011: 1.78},
      1: {'name': 'Harrow', 2001: 19.61, 2011: 25.27},
      3: {'name': 'Hillingdon', 2001: 4.61, 2011: 8.04},
      -3: {'name': 'Lambeth', 2001: 1.27, 2011: 1.03},
      2: {'name': 'Redbridge', 2001: 7.82, 2011: 11.36}},
     'Buddhist': {3: {'name': 'City of London', 2001: 0.58, 2011: 1.25},
      -1: {'name': 'Camden', 2001: 1.31, 2011: 1.27},
      1: {'name': 'Hounslow', 2001: 0.69, 2011: 1.42},
      -3: {'name': 'Haringey', 2001: 1.05, 2011: 1.11},
      -2: {'name': 'Islington', 2001: 1.05, 2011: 1.03}},
     'Jewish': {3: {'name': 'Barnet', 2001: 14.84, 2011: 15.18},
      -3: {'name': 'Camden', 2001: 5.63, 2011: 4.46},
      1: {'name': 'Hackney', 2001: 5.29, 2011: 6.28},
      2: {'name': 'Haringey', 2001: 2.64, 2011: 3.0},
      -2: {'name': 'Harrow', 2001: 6.34, 2011: 4.41},
      -1: {'name': 'Redbridge', 2001: 6.2, 2011: 3.66}},
     'Christian': {3: {'name': 'Barnet', 2001: 47.32, 2011: 41.21},
      1: {'name': 'Haringey', 2001: 50.07, 2011: 44.98},
      -1: {'name': 'Hillingdon', 2001: 64.1, 2011: 49.21},
      -2: {'name': 'Islington', 2001: 54.21, 2011: 40.21},
      2: {'name': 'Lambeth', 2001: 58.82, 2011: 53.1},
      -3: {'name': 'Redbridge', 2001: 50.73, 2011: 36.83}},
     'Muslim': {-2: {'name': 'City of London', 2001: 5.61, 2011: 5.55},
      2: {'name': 'Barking and Dagenham', 2001: 4.36, 2011: 13.73},
      -3: {'name': 'Hackney', 2001: 13.76, 2011: 14.1},
      3: {'name': 'Newham', 2001: 24.31, 2011: 31.97},
      1: {'name': 'Redbridge', 2001: 11.94, 2011: 23.3},
      -1: {'name': 'Tower Hamlets', 2001: 36.4, 2011: 34.51}},
     'Noreligion': {2: {'name': 'City of London', 2001: 24.59, 2011: 34.2},
      3: {'name': 'Bexley', 2001: 14.73, 2011: 24.14},
      -3: {'name': 'Brent', 2001: 9.96, 2011: 10.62},
      1: {'name': 'Bromley', 2001: 16.34, 2011: 25.96},
      -2: {'name': 'Harrow', 2001: 9.03, 2011: 9.57},
      -1: {'name': 'Newham', 2001: 9.01, 2011: 9.54}}}}},
  'ethnicity': {'perc': {'2001': {'asian': 11.13,
     'black': 7.44,
     'mixed': 4.13,
     'other': 4.1,
     'white': 73.21},
    '2011': {'asian': 14.52,
     'black': 7.51,
     'mixed': 5.19,
     'other': 11.09,
     'white': 61.68},
    'change': {'asian': 3.39,
     'black': 0.07,
     'mixed': 1.06,
     'other': 6.99,
     'white': -11.53}},
   'perc_rank': {'2001': {'asian': 28.0,
     'black': 19.0,
     'mixed': 5.0,
     'other': 1.0,
     'white': 312.0},
    '2011': {'asian': 34.0,
     'black': 28.0,
     'mixed': 14.0,
     'other': 1.0,
     'white': -27.0},
    'change': {'asian': 67.0,
     'black': -65.0,
     'mixed': 66.0,
     'other': 1.0,
     'white': -24.0},
    'overtake': {'black': [],
     'white': ['Barking and Dagenham', 'Enfield', 'Hillingdon'],
     'asian': []},
    'top_bottom': {'black': {1.0: {'Barking and Dagenham': 13.0},
      3.0: {'Croydon': 6.83},
      2.0: {'Greenwich': 8.03}},
     'white': {2.0: {'West Lancashire': -0.4}, 1.0: {'Torridge': -0.31}},
     'asian': {3.0: {'Slough': 11.49},
      2.0: {'Harrow': 11.7},
      1.0: {'Redbridge': 15.95}}}},
   'value': {'2001': {'all': 181286.0,
     'asian': 20184.0,
     'black': 13481.0,
     'mixed': 7480.0,
     'other': 7426.0,
     'white': 132715.0},
    '2011': {'all': 219396.0,
     'asian': 31862.0,
     'black': 16472.0,
     'mixed': 11395.0,
     'other': 24337.0,
     'white': 135330.0},
    'change': {'all': 21.02,
     'asian': 57.86,
     'black': 22.19,
     'mixed': 52.34,
     'other': 227.73,
     'white': 1.97}},
   'value_rank': {'2001': {'all': 91.0,
     'asian': 34.0,
     'black': 22.0,
     'mixed': 21.0,
     'other': 3.0,
     'white': 127.0},
    '2011': {'all': 80.0,
     'asian': 34.0,
     'black': 39.0,
     'mixed': 29.0,
     'other': 1.0,
     'white': 125.0},
    'change': {'all': 5.0,
     'asian': 271.0,
     'black': 312.0,
     'mixed': 322.0,
     'other': 55.0,
     'white': 190.0}},
   'perc_rank_local': {'2011': {'asian': 16,
     'black': -11,
     'mixed': 13,
     'other': 1,
     'white': 16},
    'change': {'asian': -12,
     'black': -8,
     'mixed': -5,
     'other': 1,
     'white': -11},
    'overtake': {'black': [],
     'white': ['Barking and Dagenham', 'Enfield', 'Hillingdon'],
     'asian': []},
    '2001': {'black': 19, 'white': 18, 'asian': 14},
    'above_below': {'black': {'above': {'name': 'Barnet', 'value': 7.7},
      'below': {'name': 'Tower Hamlets', 'value': 7.33}},
     'white': {'above': {'name': 'Greenwich', 'value': 62.46},
      'below': {'name': 'Enfield', 'value': 61.01}},
     'asian': {'above': {'name': 'Barking and Dagenham', 'value': 15.92},
      'below': {'name': 'City of London', 'value': 12.75}}},
    'top_bottom': {'black': {1: {'name': 'Barking and Dagenham',
       2001: 6.98,
       2011: 19.98},
      3: {'name': 'Croydon', 2001: 13.33, 2011: 20.16},
      2: {'name': 'Greenwich', 2001: 11.08, 2011: 19.11},
      -2: {'name': 'Hackney', 2001: 24.66, 2011: 23.09},
      -3: {'name': 'Haringey', 2001: 20.03, 2011: 18.76},
      -1: {'name': 'Newham', 2001: 21.59, 2011: 19.56}},
     'white': {-1: {'name': 'Barking and Dagenham', 2001: 85.19, 2011: 58.3},
      1: {'name': 'Hackney', 2001: 59.4, 2011: 54.66},
      3: {'name': 'Haringey', 2001: 65.62, 2011: 60.54},
      -3: {'name': 'Hillingdon', 2001: 79.06, 2011: 60.61},
      -2: {'name': 'Redbridge', 2001: 63.52, 2011: 42.53},
      2: {'name': 'Richmond upon Thames', 2001: 90.98, 2011: 85.95}},
     'asian': {-1: {'name': 'Hackney', 2001: 9.76, 2011: 10.5},
      -3: {'name': 'Haringey', 2001: 7.84, 2011: 9.47},
      2: {'name': 'Harrow', 2001: 30.89, 2011: 42.59},
      3: {'name': 'Hillingdon', 2001: 14.37, 2011: 25.28},
      -2: {'name': 'Lambeth', 2001: 5.83, 2011: 6.91},
      1: {'name': 'Redbridge', 2001: 25.81, 2011: 41.76}}}}},
  'health': {'perc': {'2001': {'bad': 8.57, 'fair': 19.03, 'good': 72.4},
    '2011': {'bad': 5.81, 'fair': 10.04, 'good': 84.15},
    'change': {'bad': -2.76, 'fair': -8.99, 'good': 11.75}},
   'perc_rank': {'2001': {'bad': 169.0, 'fair': 319.0, 'good': 65.0},
    '2011': {'bad': 118.0, 'fair': -20.0, 'good': 70.0},
    'change': {'bad': 78.0, 'fair': -160.0, 'good': -102.0},
    'overtake': {'bad': ['Warrington',
      'East Riding of Yorkshire',
      'North Lincolnshire',
      'Bristol, City of',
      'North Somerset',
      'Southend-on-Sea',
      'Brighton and Hove',
      'Portsmouth',
      'Southampton',
      'Cheshire West and Chester',
      'Bournemouth, Christchurch and Poole',
      'Erewash',
      'High Peak',
      'South Derbyshire',
      'East Devon',
      'North Devon',
      'Teignbridge',
      'Gloucester',
      'Canterbury',
      'Chorley',
      'Lancaster',
      'South Ribble',
      'North West Leicestershire',
      'Lincoln',
      'West Lindsey',
      'Breckland',
      'Norwich',
      'Broxtowe',
      'Gedling',
      'Sedgemoor',
      'Tamworth',
      'Ipswich',
      'Adur',
      'Arun',
      'Worthing',
      'East Suffolk',
      'Somerset West and Taunton',
      'Stockport',
      'Trafford',
      'Calderdale',
      'Kirklees',
      'Leeds',
      'Brent',
      'Camden',
      'Greenwich',
      'Haringey',
      'Newham',
      'Southwark',
      'Waltham Forest',
      'Gwynedd',
      'Flintshire'],
     'good': ['South Gloucestershire', 'Wiltshire', 'Spelthorne']},
    'top_bottom': {'bad': {1.0: {'Wokingham': -1.86},
      3.0: {'Isles of Scilly': -2.11},
      2.0: {'Surrey Heath': -2.06}},
     'good': {1.0: {'Manchester': 15.87},
      2.0: {'Barking and Dagenham': 15.48},
      3.0: {'Tower Hamlets': 15.42}}}},
   'value': {'2001': {'all': 181286.0,
     'bad': 15539.0,
     'fair': 34504.0,
     'good': 131243.0},
    '2011': {'all': 219396.0,
     'bad': 12754.0,
     'fair': 22027.0,
     'good': 184615.0},
    'change': {'all': 21.02, 'bad': -17.92, 'fair': -36.16, 'good': 40.67}},
   'value_rank': {'2001': {'all': 91.0,
     'bad': 101.0,