In [478]:
import pandas as pd
import json
import networkx as nx
from networkx_query import search_nodes, search_edges
import numpy as np
import math

In [479]:
with open('/Users/theojolliffe/Documents/Wayback BBC/topicScoresOrder.json', 'r') as fp:
    topicScoresOrder = json.load(fp)

topicScoresOrder = {i: {i[0]: 1/(1+i[1]/10) for i in topicScoresOrder[i]} for i in topicScoresOrder}

for i in topicScoresOrder.keys():
    topicScoresOrder[i]['welsh'] = 0.1

In [480]:
# COLLECT 2021 LAs

las2021 = pd.read_csv('./pipeline_active/lookup/lad2015_lad2021.csv')
las2021 = [x for x in las2021['parent'] if str(x) != 'nan']
las2021 = list(set(las2021))

lads = []
for i in las2021:
    try:
        lads.append(json.load(open(f'/Users/theojolliffe/Documents/pipeline_active/final/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
        print(i)
        # pass

# Remove tiny areas
# lads = [lad for lad in lads if (lad['name'] != 'City of London')&(lad['name'] != 'Isle of Scilly')]

for lad in lads:
    lad['data']['agemed']['value']['change']['all'] = lad['data']['agemed']['value']['2011']['all']-lad['data']['agemed']['value']['2001']['all']
    lad['data']['density']['value']['change']['all'] = lad['data']['density']['value']['2011']['all']-lad['data']['density']['value']['2001']['all']

In [481]:
options = pd.read_csv('./csv/lists/places_2020.csv')
areaType = pd.read_csv('/Users/theojolliffe/Documents/Census Data/censusAreaLookup.csv')
typeLookup = {}
for i in areaType.index:
    typeLookup[areaType.iloc[i]['Name']]=areaType.iloc[i]['Group name']

areas = []
for i in options["code"]:
    try:
        areas.append(json.load(open(f'/Users/theojolliffe/Documents/pipeline_active/final/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
#         print(i)
        pass

for area in areas:
    area['data']['agemed']['value']['change']['all'] = area['data']['agemed']['value']['2011']['all']-area['data']['agemed']['value']['2001']['all']
    area['data']['density']['value']['change']['all'] = area['data']['density']['value']['2011']['all']-area['data']['density']['value']['2001']['all']

# Seperate the areas by area type
regions = []
for i in areas:
    if i['type']=='rgn':
        regions.append(i)

countries = []
for i in areas:
    if (i['type']=='ew')|(i['type']=='ctry'):
        countries.append(i)

In [482]:
# Transform the welsh language data

for area in lads:
    if area['parents'][0]['name']=='Wales':
        x = area['data']['welsh']
        for y in x.keys():
            if y=='value':
                for z in x[y].keys():
                    if z=='change':
                        x[y][z]['NoWelsh'] = round(((x[y]['2011']['NoWelsh'] - x[y]['2001']['NoWelsh'])/x[y]['2001']['NoWelsh'])*100, 2)
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                    else:
                        x[y][z]['NoWelsh'] = x[y][z]['AllOver3'] - x[y][z]['SpeaksWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']

for area in lads:
    if area['parents'][0]['name']=='Wales':
        x = area['data']['welsh']
        for y in x.keys():
            if y=='perc':
                for z in x[y].keys():
                    if z=='change':
                        x[y][z]['NoWelsh'] = x[y]['2011']['NoWelsh'] - x[y]['2001']['NoWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                        for w in x[y][z].keys():
                            x[y][z][w] = round(x[y]['2011'][w]-x[y]['2001'][w], 2)
                    else:
                        x[y][z]['NoWelsh'] = x[y][z]['AllOver3'] - x[y][z]['SpeaksWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                        for w in x[y][z].keys():
                            x[y][z][w] = round((x[y][z][w]/x[y][z]['all'])*100, 2)

for area in lads:
    if area['parents'][0]['name']!='Wales':
        x = area['data']['welsh']
        for y in x.keys():
            for z in x[y].keys():
                x[y][z]['all'] = 1
                del x[y][z]['AllOver3']
                for w in x[y][z].keys():
                    x[y][z][w] = x[y][z][w] = 1

In [483]:
for area in lads:
    x = area['data']
    for a in x.keys():
        for y in x[a].keys():
            for z in x[a][y].keys():
                for b in x[a][y][z].keys():
                    if math.isinf(x[a][y][z][b]):
                        x[a][y][z][b] = 'Inf'

In [484]:
# Transform the welsh language data

for area in countries:
    if area['name']=='Wales':
        x = area['data']['welsh']
        for y in x.keys():
            if y=='value':
                for z in x[y].keys():
                    if z=='change':
                        x[y][z]['NoWelsh'] = round(((x[y]['2011']['NoWelsh'] - x[y]['2001']['NoWelsh'])/x[y]['2001']['NoWelsh'])*100, 2)
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                    else:
                        x[y][z]['NoWelsh'] = x[y][z]['AllOver3'] - x[y][z]['SpeaksWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']

for area in countries:
    if area['name']=='Wales':
        x = area['data']['welsh']
        for y in x.keys():
            if y=='perc':
                for z in x[y].keys():
                    if z=='change':
                        x[y][z]['NoWelsh'] = x[y]['2011']['NoWelsh'] - x[y]['2001']['NoWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                        for w in x[y][z].keys():
                            x[y][z][w] = round(x[y]['2011'][w]-x[y]['2001'][w], 2)
                    else:
                        x[y][z]['NoWelsh'] = x[y][z]['AllOver3'] - x[y][z]['SpeaksWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                        for w in x[y][z].keys():
                            x[y][z][w] = round((x[y][z][w]/x[y][z]['all'])*100, 2)
        
for area in countries:
    if area['name']!='Wales':
        x = area['data']['welsh']
        for y in x.keys():
            for z in x[y].keys():
                x[y][z]['all'] = 1
                del x[y][z]['AllOver3']
                for w in x[y][z].keys():
                    x[y][z][w] = x[y][z][w] = 1

In [485]:
nameChanges = {
    "Herefordshire, County of": "Herefordshire",
    "Bristol, City of": "Bristol",
    # "City of London": "the City of London",
    # "Isles of Scilly": "the Isles of Scilly",
    # "Isle of Anglesey": "the Isle of Anglesey",
    "Derbyshire Dales": "the Derbyshire Dales",
    "Kingston upon Hull, City of": "Kingston upon Hull",
    # "New Forest": "the New Forest"
}
for lad in lads:
    if lad['name'] in nameChanges.keys():
        lad['name'] = nameChanges[lad['name']]

In [486]:
simiDF = pd.read_csv('/Users/theojolliffe/Documents/correspondinglocalauthoritiesv3r.csv')

In [487]:
noOfLads = {"England": 309, "Wales": 22}
areaClassDF = pd.read_csv('/Users/theojolliffe/Documents/area-reports/src/data/censusAreaLookup.csv')
areaClassDF.at[75, 'Code'] = "E06000058"
areaClassLU = {
    "1a1r": "affluent suburban area", "1b1r": "affluent rural area", 
    "1b2r": "growing rural area", "2a1r": "city", 
    "2b1r": "area", "3a2r": "remote area", 
    "3a1r": "agricultural area", "3b1r": "coastal area",
    "3b2r": "seaside  area",
    "4a1r": "urban area", "5a1r": "cosmopolitan area",
    "6a2r": "industrial area", "6a3r": "service economy area",
    "6a1r": "industrial area", "7a1r": "rural area",
    "7c2r": "affluent area", "7c1r": "affluent area",
    "8a1r": "multi-cultural area", "8a2r": "urban area",
    "8b1r": "suburban area", "8b2r": "suburban area",
}
areaClassSuperLU = {
    "1r": "affluent area",
    "2r": "urban area",
    "3r": "rural area",
    "4r": "multi-cultural area",
    "5r": "cosmopolitan area",
    "6r": "industrial area",
    "7r": "suburban area",
    "8r": "built up area",
}
gssLookup = {"E09": "London borough", "E08": "metropolitan district", "E07": "district", "E06": "unitary authority", "W06": "Welsh district"}
gssLookupShort = {"E09": "borough", "E08": "district", "E07": "district", "E06": "unitary authority", "W06": "district"}

In [488]:
bbcReg = pd.read_csv('/Users/theojolliffe/Downloads/bbc_regions.csv')
bbcRegLU = {}
for i in bbcReg.index:
    if bbcReg['areaCode'].iloc[i] in [lad['code'] for lad in lads]:
        bbcRegLU[bbcReg['areaCode'].iloc[i]] = bbcReg['bbc_online'].iloc[i]
bbcRegLU['E06000053'] = 'cornwall'
bbcRegLU['E06000060'] = 'beds_bucks_and_herts'
bbcRegLU['E09000001'] = 'london'
bbcRegLU['E07000150'] = 'northamptonshire'
bbcRegLU['E06000061'] = 'northamptonshire'
bbcRegLU['E06000062'] = 'northamptonshire'

regionsBBC = ['cumbria', 'lancashire', 'merseyside', 'manchester', 'tees', 'tyne_and_wear', 'Humberside', 'york_and_north_yorkshire', 'leeds_and_west_yorkshire', 'lincolnshire', 'south_yorkshire', 'birmingham_and_black_country', 'coventry_and_warwickshire', 'hereford_and_worcester', 'shropshire', 'stoke_and_staffordshire', 'derbyshire', 'leicester', 'northamptonshire', 'nottingham', 'bristol', 'cornwall', 'devon', 'gloucestershire', 'somerset', 'wiltshire', 'beds_bucks_and_herts', 'cambridgeshire', 'essex', 'norfolk', 'suffolk', 'berkshire', 'dorset', 'hampshire', 'oxford', 'kent', 'london', 'surrey', 'sussex']
bbcNames = {
     'derby': 'derbyshire', 
     'hereford and worcester': 'hereford_and_worcester',
     'tyne and wear': 'tyne_and_wear',
     'northampton': 'northamptonshire',
     'liverpool': 'merseyside',
     'coventry and warwickshire': 'coventry_and_warwickshire',
     'humberside': 'Humberside',
     'sheffield and south yorkshire': 'south_yorkshire',
     'hampshire & isle of wight': 'hampshire',
     'stoke and staffordshire': 'stoke_and_staffordshire',
     'york & north yorkshire': 'york_and_north_yorkshire',
     'birmingham and black country': 'birmingham_and_black_country',
     'beds, bucks and herts': 'beds_bucks_and_herts',
     'leeds and west yorkshire': 'leeds_and_west_yorkshire'
}
for i in bbcRegLU.keys():
    bbcRegLU[i] = bbcRegLU[i].lower()
    if bbcRegLU[i] not in regionsBBC:
        try:
            bbcRegLU[i] = bbcNames[bbcRegLU[i]]
        except:
            pass

In [489]:
tfidf = pd.read_csv('/Users/theojolliffe/Documents/Wayback BBC/BBCRegionalTFIDF.csv')
tfidf = tfidf.set_index('Unnamed: 0')
for i in tfidf.columns:
    for j in tfidf[i].index:
        tfidf[i].loc[j] = 1+100*tfidf[i].loc[j]
tfidfLU = {}
for i in regionsBBC:
    tfidfLU[i]=tfidf.loc[i].to_dict()

In [490]:
TFtopicLU = {
    'health': 'health',
    'racial': 'ethnicity',
    'population': 'population',
    'age': 'agemed',
    'work': 'economic',
    'commuter': 'travel',
    'housing': 'tenure'
}
TFtopicRev = dict((TFtopicLU[x],x) for x in TFtopicLU)

In [491]:
def this(lad):
    return[l for l in lads if l['name']==lad][0]

In [492]:
topics = [{1: 'population', 2: 'value', 3: 'all'}, 
          {1: 'density', 2: 'value', 3: 'all'},
          {1: 'agemed', 2: 'value', 3: 'all'},
          {1: 'welsh', 2: 'perc', 3: 'SpeaksWelsh'},
          {1: 'welsh', 2: 'perc', 3: 'all'},
          {1: 'care', 2: 'perc', 3: '20to49hoursWeek'},
          {1: 'care', 2: 'perc', 3: '40PlushoursWeek'},
          {1: 'children', 2: 'perc', 3: 'NoKids'},
          {1: 'children', 2: 'perc', 3: 'Kids'},
          {1: 'children', 2: 'perc', 3: 'NonDepKids'},
          {1: 'travel', 2: 'perc', 3: 'car_van'},
          {1: 'travel', 2: 'perc', 3: 'bus'},
          {1: 'travel', 2: 'perc', 3: 'home'},
          {1: 'travel', 2: 'perc', 3: 'train_metro'},
          {1: 'travel', 2: 'perc', 3: 'foot'},
          {1: 'tenure', 2: 'perc', 3: 'rented_social'},
          {1: 'tenure', 2: 'perc', 3: 'rented_private'},
          {1: 'tenure', 2: 'perc', 3: 'owned'},
          {1: 'religion', 2: 'perc', 3: 'Hindu'},
          {1: 'religion', 2: 'perc', 3: 'Buddhist'},
          {1: 'religion', 2: 'perc', 3: 'Jewish'},
          {1: 'religion', 2: 'perc', 3: 'Christian'},
          {1: 'religion', 2: 'perc', 3: 'Muslim'},
          {1: 'religion', 2: 'perc', 3: 'Noreligion'},
          {1: 'household', 2: 'perc', 3: 'OnePerson'},
          {1: 'household', 2: 'perc', 3: 'Married'},
          {1: 'household', 2: 'perc', 3: 'LoneParent'},
          {1: 'household', 2: 'perc', 3: 'Cohabiting'},
          {1: 'health', 2: 'perc', 3: 'bad'},
          {1: 'health', 2: 'perc', 3: 'good'},
          {1: 'ethnicity', 2: 'perc', 3: 'black'},
          {1: 'ethnicity', 2: 'perc', 3: 'white'},
          {1: 'ethnicity', 2: 'perc', 3: 'asian'},
          {1: 'marital', 2: 'perc', 3: 'Married'},
          {1: 'marital', 2: 'perc', 3: 'Seperated'},
          {1: 'marital', 2: 'perc', 3: 'Single'},
          {1: 'hoursworked', 2: 'perc', 3: 'Female1-15'},
          {1: 'hoursworked', 2: 'perc', 3: 'Male1-15'},
          {1: 'hoursworked', 2: 'perc', 3: 'Female49plus'},
          {1: 'hoursworked', 2: 'perc', 3: 'Male49plus'},
          {1: 'economic', 2: 'perc', 3: 'employee'},
          {1: 'economic', 2: 'perc', 3: 'student'},
          {1: 'economic', 2: 'perc', 3: 'unemployed'},
          {1: 'economic', 2: 'perc', 3: 'self-employed'}]

ladCodes = []
for lad in lads:
    ladCodes.append(lad['code'])
    
    
df = pd.DataFrame(columns=
                  ['lad', '2001',  '2011',  'change', 'topic', 'parent'])
for j in range(len(topics)):
    df1 = pd.DataFrame(index=ladCodes, columns=
                      ['lad', '2001',  '2011',  'change', 'topic', 'parent'])
    for i in range(len(lads)):
        df1['lad'].iloc[i] = lads[i]['name']
        df1['2001'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2001'][topics[j][3]]
        df1['2011'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2011'][topics[j][3]]    
        df1['change'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['change'][topics[j][3]]
        df1['topic'].iloc[i] = topics[j][1]+"_"+topics[j][3]
        df1['parent'].iloc[i] = lads[i]['parents'][0]['name']
    df = pd.concat([df,df1])

In [493]:
this('Barking and Dagenham')['data']['care']['perc_rank']['change']

{'1to19hoursWeek': 331.0,
 '20to49hoursWeek': 175.0,
 '40PlushoursWeek': 330.0,
 'noCare': 1.0}

In [494]:
df[df['topic'].map(lambda x: x.split("_")[0] == 'care')].sort_values(['change'])

,lad,2001,2011,change,topic,parent
E09000030,Tower Hamlets,2.38,1.93,-0.45,care_40PlushoursWeek,London
E09000002,Barking and Dagenham,2.69,2.49,-0.2,care_40PlushoursWeek,London
E09000001,City of London,1.14,0.95,-0.19,care_40PlushoursWeek,London
E09000025,Newham,2.2,2.05,-0.15,care_40PlushoursWeek,London
E09000012,Hackney,1.74,1.67,-0.07,care_40PlushoursWeek,London
...,...,...,...,...,...,...
E07000146,King's Lynn and West Norfolk,2.48,3.25,0.77,care_40PlushoursWeek,Norfolk
E07000076,Tendring,2.77,3.54,0.77,care_40PlushoursWeek,Essex
E06000027,Torbay,2.76,3.58,0.82,care_40PlushoursWeek,South West
E07000064,Rother,2.19,3.02,0.83,care_40PlushoursWeek,East Sussex
E07000137,East Lindsey,3.26,4.12,0.86,care_40PlushoursWeek,Lincolnshire

In [495]:
df[ ( ( df['topic'].map(lambda x: x == 'care_40PlushoursWeek') ) & ( df['parent'] == 'North East' ) ) ].sort_values(['change'])

,lad,2001,2011,change,topic,parent
E08000021,Newcastle upon Tyne,2.5,2.44,-0.06,care_40PlushoursWeek,North East
E06000002,Middlesbrough,3.05,3.14,0.09,care_40PlushoursWeek,North East
E06000004,Stockton-on-Tees,2.61,2.77,0.16,care_40PlushoursWeek,North East
E08000022,North Tyneside,2.56,2.73,0.17,care_40PlushoursWeek,North East
E06000005,Darlington,2.38,2.61,0.23,care_40PlushoursWeek,North East
E08000037,Gateshead,2.87,3.12,0.25,care_40PlushoursWeek,North East
E06000001,Hartlepool,3.02,3.31,0.29,care_40PlushoursWeek,North East
E06000047,County Durham,2.94,3.29,0.35,care_40PlushoursWeek,North East
E06000003,Redcar and Cleveland,2.97,3.39,0.42,care_40PlushoursWeek,North East
E06000057,Northumberland,2.37,2.8,0.43,care_40PlushoursWeek,North East
E08000023,South Tyneside,2.73,3.24,0.51,care_40PlushoursWeek,North East
E08000024,Sunderland,2.98,3.49,0.51,care_40PlushoursWeek,North East

In [496]:
subjectList = ["NoWelsh", "Male31-48", "Male16-30", "Female31-48", "Female16-30", "Widowed", "65andOver", "Other", "noCare", "Sikh", "Religionnotstated", "MultiOther", "Otherreligion", "fair", "rent_free", "shared_ownership", "bicycle", "taxi", "moto", "other", "female", "male", "inactive", "mixed", "LoneNKids", "MultiStudents", '1to19hoursWeek']
topicList = ["age10yr"]

# Find each LAD local and national ranks and put in prioirity order
for thisLad in lads:

    try:
        thisLad['similar'] = [
            {'code': simiDF[simiDF['Code']==thisLad['code']]['Code.1'].iloc[0], 'name': simiDF[simiDF['Code']==thisLad['code']]['Name.1'].iloc[0]},
            {'code': simiDF[simiDF['Code']==thisLad['code']]['Code.2'].iloc[0], 'name': simiDF[simiDF['Code']==thisLad['code']]['Name.2'].iloc[0]},
            {'code': simiDF[simiDF['Code']==thisLad['code']]['Code.3'].iloc[0], 'name': simiDF[simiDF['Code']==thisLad['code']]['Name.3'].iloc[0]}
        ]
    except:
        thisLad['similar'] = [
            {'code': 'faulty pre-process', 'name': 'faulty pre-process'},
            {'code': 'faulty pre-process', 'name': 'faulty pre-process'},
            {'code': 'faulty pre-process', 'name': 'faulty pre-process'}
        ]
    
    if (areaClassDF[areaClassDF['Code']==thisLad['code']]['Subgroup code'].shape[0]>0):
        thisLad['classification'] = areaClassLU[areaClassDF[areaClassDF['Code']==thisLad['code']]['Subgroup code'].iloc[0]]
    else:
        thisLad['classification'] = "unk"
    thisLad['gss'] = {}
    thisLad['gss']['short'] = gssLookupShort[thisLad['code'][:3]]
    thisLad['gss']['long'] = gssLookup[thisLad['code'][:3]]
    
    if thisLad['parents'][0]['type'] == "cty":
        thisLad['parents'] = thisLad['parents'][1:]
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_lads = []
    try:
        par_name = next(i for i in thisLad['parents'] if ([j for j in i.values()][2] == 'rgn'))['name']
    except:
        par_name = next(i for i in thisLad['parents'] if ([j for j in i.values()][2] == 'ctry'))['name']
        
    for thatLad in lads:
        try:
            if  par_name == next(i for i in thatLad['parents'] if ([j for j in i.values()][2] == 'rgn'))['name']:
                sister_lads.append(thatLad)
        except:
            if par_name=='Wales':
                sister_lads.append(thatLad)

    # Loop through the various data variables
    for a in thisLad['data']:
        if a not in topicList:
            if a in ['population', 'density', 'agemed']:
                b = 'value'
            else:
                b = 'perc'
            # Create nested object with localised rank
            thisLad['data'][a][b+"_rank_local"] = {}    
            for c in ['2001', '2011', 'change']:
                thisLad['data'][a][b+"_rank_local"][c] = {}
                for d in thisLad['data'][a][b][c]:
                    if d not in subjectList:
                        vari = thisLad['data'][a][b][c][d]

                        # Create sorted list of values from sister areas
                        group_values = []
                        for lad in sister_lads:
                            group_values.append(lad['data'][a][b][c][d])
                            group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                        group_values.sort(reverse=True)


                        # Find index of value of area of interest
                        varRank = group_values.index(vari) + 1

                        # Convert bottom half rankings into negative values
                        if varRank>len(group_values)/2:
                            varRank = varRank-len(group_values)-1

                        # Find the variable's rank nationally
                        if thisLad['parents'][0]['name'] == "Wales":
                            natRank = [i for i in df[(df['parent']=="Wales")&(df['topic']==a+"_"+d)].sort_values(by=[c], ascending=False)['lad']].index(thisLad['name'])+1
                            if natRank > noOfLads["Wales"]/2:
                                natRank = natRank-noOfLads["Wales"]-1
                        else:
                            # Index + 1 gives toprank = 1
                            natRank = [i for i in df[(df['parent']!="Wales")&(df['topic']==a+"_"+d)].sort_values(by=[c], ascending=False)['lad']].index(thisLad['name'])+1
                            # If the rank is in the bottom half, ie, greater value than the middle rank
                            if natRank > noOfLads["England"]/2:
                                natRank = (natRank-noOfLads["England"])-1

                        thisLad['data'][a][b+"_rank_local"][c][d] = varRank
                        thisLad['data'][a][b+"_rank"][c][d] = natRank

                        # Append ranking data to original array
                        ranks.append({
                            'label': a+'_'+b+'_'+c+'_'+d, 
                            'locRank': varRank, 
                            'natRank': natRank, 
                            'value': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: (abs(x['locRank']), -abs(x['value'])))
    thisLad["Priorities"] = ranks

In [497]:
df = pd.DataFrame(columns=
                  ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
for j in range(len(topics)):
    df1 = pd.DataFrame(index=ladCodes, columns=
                      ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
    for i in range(len(lads)):
        df1['lad'].iloc[i] = lads[i]['name']
        df1['2001'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2001'][topics[j][3]]
        df1['2011'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2011'][topics[j][3]]    
        df1['change'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['change'][topics[j][3]]
        df1['natRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank"]['change'][topics[j][3]]    
        df1['localRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank_local"]['change'][topics[j][3]]    
        df1['topic'].iloc[i] = topics[j][1]+"_"+topics[j][3]
        try:
            df1['parent'].iloc[i] = next(k for k in lads[i]['parents'] if ([j for j in k.values()][2] == 'rgn'))['name']
        except:
            df1['parent'].iloc[i] = next(k for k in lads[i]['parents'] if ([j for j in k.values()][2] == 'ctry'))['name']

    df = pd.concat([df,df1])

for topic in topics:
    for lad in lads:
        
        # Find the areas that this area has overtaken
        v2001 = lad['data'][topic[1]][topic[2]]['2001'][topic[3]]
        v2011 = lad['data'][topic[1]][topic[2]]['2011'][topic[3]]
        if thisLad['parents'][0]['name'] == "Wales":
            dfT = df[(df['parent']=="Wales")&(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)]
        else:
            dfT = df[(df['parent']!="Wales")&(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)]

        obje = []
        for i in range(dfT.shape[0]):
            obje.append(dfT.iloc[i]['lad'])
        
        if 'overtake' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'][topic[3]] = obje


        # Find areas within the region that this area has overtaken
        reg = lad['parents'][0]['name']
        dfTr = df[(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)&(df['parent']==reg)]
        objeR = []
        for i in range(dfTr.shape[0]):
            objeR.append(dfTr.iloc[i]['lad'])
        if 'overtake' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank_local"]['overtake'][topic[3]] = objeR
        
        dfReg = df[(df['topic']==topic[1]+"_"+topic[3])&(df['parent']==reg)]
        rank2001 = sorted(dfReg['2001'], reverse=True).index(v2001)+1
        if rank2001 > 168:
            rank2001 = rank2001-336-1
        if '2001' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['2001'] = {}
        lad['data'][topic[1]][topic[2]+'_rank_local']['2001'][topic[3]] = rank2001


        # Find the area immediatly above or below
        above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-2
        below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]
        if below<0:
            above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-1
            below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]+1
            
        name_above = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[above]['lad']
        name_below = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[below]['lad']

        area_above = {'name': name_above,
                         'value': df[(df['lad']==name_above)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        area_below = {'name': name_below,
                          'value': df[(df['lad']==name_below)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}


        if 'above_below' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'] = {}

        if topic[3] not in lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]] = {}
        
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["above"] = area_above
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["below"] = area_below
            
        # Add top and bottom three biggest movers for each subject to every area
        if thisLad['parents'][0]['name'] == "Wales":
            df_topic = df[(df['parent']=="Wales")&(df['topic']==topic[1]+"_"+topic[3])&(abs(df['natRank'])<4)]
        else:
            df_topic = df[(df['parent']!="Wales")&(df['topic']==topic[1]+"_"+topic[3])&(abs(df['natRank'])<4)]

        ob = {}
        for index, row in df_topic.iterrows():
            ob[int(row['natRank'])] = {'name': row['lad'], 2001: row['2001'], 2011: row['2011'], 'change': row['change']}
        if 'top_bottom' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'] = {}
        lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'][topic[3]]=ob
        
        
        # Add top and bottom three biggest movers for each subject to every area (regional)
        df_topicReg = df[(df['topic']==topic[1]+"_"+topic[3])&(abs(df['localRank'])<4)&(df['parent']==reg)]

        ob = {}
        for index, row in df_topicReg.iterrows():
            if int(row['localRank']) in ob.keys():
                if int(row['localRank']) > 0:
                    ob[int(row['localRank'])+1] = {'name': row['lad'], 2001: row['2001'], 2011: row['2011'], 'change': row['change']}
                else:
                    ob[int(row['localRank'])+1] = {'name': row['lad'], 2001: row['2001'], 2011: row['2011'], 'change': row['change']}
            else:
                ob[int(row['localRank'])] = {'name': row['lad'], 2001: row['2001'], 2011: row['2011'], 'change': row['change']}
        if 'top_bottom' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['top_bottom'] = {}
        lad['data'][topic[1]][topic[2]+'_rank_local']['top_bottom'][topic[3]]=ob

In [498]:
this("Copeland")['Priorities']

[{'label': 'tenure_perc_2011_rented_private',
  'locRank': -1,
  'natRank': -4,
  'value': 8.73},
 {'label': 'agemed_value_change_all',
  'locRank': 1,
  'natRank': 3,
  'value': 5.0},
 {'label': 'tenure_perc_change_owned',
  'locRank': 1,
  'natRank': 1,
  'value': 3.39},
 {'label': 'hoursworked_perc_2011_Male1-15',
  'locRank': -1,
  'natRank': -2,
  'value': 2.12},
 {'label': 'tenure_perc_change_rented_private',
  'locRank': -1,
  'natRank': -2,
  'value': 2.04},
 {'label': 'economic_perc_2011_student',
  'locRank': -1,
  'natRank': -2,
  'value': 1.74},
 {'label': 'economic_perc_2001_student',
  'locRank': -1,
  'natRank': -2,
  'value': 1.39},
 {'label': 'welsh_perc_2001_SpeaksWelsh',
  'locRank': 1,
  'natRank': -54,
  'value': 1},
 {'label': 'welsh_perc_2001_all', 'locRank': 1, 'natRank': -54, 'value': 1},
 {'label': 'welsh_perc_2011_SpeaksWelsh',
  'locRank': 1,
  'natRank': -54,
  'value': 1},
 {'label': 'welsh_perc_2011_all', 'locRank': 1, 'natRank': -54, 'value': 1},
 {'label': 'welsh_perc_change_SpeaksWelsh',
  'locRank': 1,
  'natRank': -54,
  'value': 1},
 {'label': 'welsh_perc_change_all', 'locRank': 1, 'natRank': -54, 'value': 1},
 {'label': 'economic_perc_change_unemployed',
  'locRank': -1,
  'natRank': -1,
  'value': -0.78},
 {'label': 'hoursworked_perc_change_Male1-15',
  'locRank': -1,
  'natRank': -21,
  'value': 0.76},
 {'label': 'religion_perc_2001_Jewish',
  'locRank': -1,
  'natRank': -5,
  'value': 0.02},
 {'label': 'religion_perc_2011_Christian',
  'locRank': 2,
  'natRank': 2,
  'value': 78.87},
 {'label': 'hoursworked_perc_change_Male49plus',
  'locRank': 2,
  'natRank': 16,
  'value': -1.69},
 {'label': 'hoursworked_perc_change_Female1-15',
  'locRank': -2,
  'natRank': -3,
  'value': -1.22},
 {'label': 'household_perc_change_LoneParent',
  'locRank': -2,
  'natRank': -4,
  'value': -0.84},
 {'label': 'ethnicity_perc_2001_white',
  'locRank': 3,
  'natRank': 6,
  'value': 99.3},
 {'label': 'ethnicity_perc_2011_white',
  'locRank': 3,
  'natRank': 15,
  'value': 98.42},
 {'label': 'religion_perc_2001_Christian',
  'locRank': 3,
  'natRank': 3,
  'value': 86.31},
 {'label': 'travel_perc_2001_car_van',
  'locRank': 3,
  'natRank': 21,
  'value': 72.23},
 {'label': 'religion_perc_2011_Noreligion',
  'locRank': -3,
  'natRank': -8,
  'value': 14.37},
 {'label': 'religion_perc_change_Christian',
  'locRank': 3,
  'natRank': 10,
  'value': -7.44},
 {'label': 'economic_perc_2001_unemployed',
  'locRank': 3,
  'natRank': 23,
  'value': 5.02},
 {'label': 'tenure_perc_change_rented_social',
  'locRank': -3,
  'natRank': -19,
  'value': -4.41},
 {'label': 'economic_perc_change_employee',
  'locRank': 3,
  'natRank': 5,
  'value': 4.03},
 {'label': 'population_value_2001_all',
  'locRank': -4,
  'natRank': -21,
  'value': 69318.0},
 {'label': 'hoursworked_perc_2001_Male49plus',
  'locRank': -4,
  'natRank': -5,
  'value': 8.9},
 {'label': 'religion_perc_2001_Noreligion',
  'locRank': -4,
  'natRank': -4,
  'value': 7.0},
 {'label': 'marital_perc_change_Married',
  'locRank': 4,
  'natRank': 62,
  'value': -2.9},
 {'label': 'household_perc_change_Married',
  'locRank': 4,
  'natRank': 76,
  'value': -2.62},
 {'label': 'density_value_2011_all',
  'locRank': -4,
  'natRank': -20,
  'value': 0.96},
 {'label': 'economic_perc_change_student',
  'locRank': -4,
  'natRank': -63,
  'value': 0.35},
 {'label': 'ethnicity_perc_2001_asian',
  'locRank': -4,
  'natRank': -17,
  'value': 0.31},
 {'label': 'ethnicity_perc_2001_black',
  'locRank': -4,
  'natRank': -9,
  'value': 0.06},
 {'label': 'travel_perc_change_train_metro',
  'locRank': -4,
  'natRank': -16,
  'value': -0.05},
 {'label': 'population_value_2011_all',
  'locRank': -5,
  'natRank': -19,
  'value': 70603.0},
 {'label': 'religion_perc_change_Noreligion',
  'locRank': -5,
  'natRank': -35,
  'value': 7.37},
 {'label': 'health_perc_change_bad',
  'locRank': 5,
  'natRank': -123,
  'value': -3.5},
 {'label': 'marital_perc_change_Single',
  'locRank': -5,
  'natRank': -87,
  'value': 3.09},
 {'label': 'household_perc_change_Cohabiting',
  'locRank': 5,
  'natRank': 21,
  'value': 2.52},
 {'label': 'hoursworked_perc_2001_Male1-15',
  'locRank': -5,
  'natRank': -19,
  'value': 1.36},
 {'label': 'density_value_2001_all',
  'locRank': -5,
  'natRank': -24,
  'value': 0.95},
 {'label': 'economic_perc_change_self-employed',
  'locRank': -5,
  'natRank': -18,
  'value': 0.57},
 {'label': 'ethnicity_perc_2011_black',
  'locRank': -5,
  'natRank': -13,
  'value': 0.12},
 {'label': 'agemed_value_2011_all',
  'locRank': 6,
  'natRank': 59,
  'value': 44.0},
 {'label': 'hoursworked_perc_2001_Female1-15',
  'locRank': 6,
  'natRank': 79,
  'value': 7.4},
 {'label': 'ethnicity_perc_2011_asian',
  'locRank': -6,
  'natRank': -42,
  'value': 0.89},
 {'label': 'household_perc_change_OnePerson',
  'locRank': -6,
  'natRank': -120,
  'value': 0.43},
 {'label': 'religion_perc_2011_Hindu',
  'locRank': -6,
  'natRank': -39,
  'value': 0.11},
 {'label': 'travel_perc_2011_car_van',
  'locRank': 7,
  'natRank': 40,
  'value': 75.5},
 {'label': 'tenure_perc_2001_owned',
  'locRank': -7,
  'natRank': -73,
  'value': 67.58},
 {'label': 'marital_perc_2011_Seperated',
  'locRank': -7,
  'natRank': -94,
  'value': 11.11},
 {'label': 'travel_perc_2001_foot',
  'locRank': -7,
  'natRank': -83,
  'value': 8.93},
 {'label': 'children_perc_change_Kids',
  'locRank': -7,
  'natRank': -17,
  'value': -2.76},
 {'label': 'hoursworked_perc_2011_Female49plus',
  'locRank': -7,
  'natRank': -20,
  'value': 2.06},
 {'label': 'hoursworked_perc_change_Female49plus',
  'locRank': -7,
  'natRank': -25,
  'value': -0.34},
 {'label': 'religion_perc_2001_Hindu',
  'locRank': -7,
  'natRank': -30,
  'value': 0.06},
 {'label': 'marital_perc_2011_Married',
  'locRank': 8,
  'natRank': 121,
  'value': 51.21},
 {'label': 'household_perc_2011_Married',
  'locRank': 8,
  'natRank': 113,
  'value': 36.62},
 {'label': 'tenure_perc_2001_rented_social',
  'locRank': 8,
  'natRank': 56,
  'value': 22.97},
 {'label': 'household_perc_2011_LoneParent',
  'locRank': -8,
  'natRank': -143,
  'value': 9.39},
 {'label': 'household_perc_2001_Cohabiting',
  'locRank': -8,
  'natRank': -22,
  'value': 6.92},
 {'label': 'religion_perc_2001_Muslim',
  'locRank': -8,
  'natRank': -50,
  'value': 0.18},
 {'label': 'religion_perc_2011_Jewish',
  'locRank': -8,
  'natRank': -11,
  'value': 0.02},
 {'label': 'marital_perc_2011_Single',
  'locRank': -9,
  'natRank': -124,
  'value': 29.71},
 {'label': 'health_perc_change_good',
  'locRank': -9,
  'natRank': -62,
  'value': 11.55},
 {'label': 'hoursworked_perc_2011_Male49plus',
  'locRank': -9,
  'natRank': -16,
  'value': 7.21},
 {'label': 'economic_perc_2011_self-employed',
  'locRank': -9,
  'natRank': -34,
  'value': 6.97},
 {'label': 'travel_perc_2001_train_metro',
  'locRank': 9,
  'natRank': 123,
  'value': 1.72},
 {'label': 'travel_perc_change_bus',
  'locRank': -9,
  'natRank': -50,
  'value': -1.32},
 {'label': 'ethnicity_perc_change_white',
  'locRank': 9,
  'natRank': 42,
  'value': -0.88},
 {'label': 'religion_perc_2011_Muslim',
  'locRank': -9,
  'natRank': -61,
  'value': 0.32},
 {'label': 'religion_perc_2001_Buddhist',
  'locRank': -9,
  'natRank': -33,
  'value': 0.1},
 {'label': 'economic_perc_2011_employee',
  'locRank': 10,
  'natRank': 126,
  'value': 54.09},
 {'label': 'children_perc_2011_Kids',
  'locRank': -10,
  'natRank': -79,
  'value': 26.58},
 {'label': 'marital_perc_2001_Seperated',
  'locRank': -10,
  'natRank': -129,
  'value': 10.25},
 {'label': 'travel_perc_change_foot',
  'locRank': 10,
  'natRank': 74,
  'value': 1.41},
 {'label': 'care_perc_change_40PlushoursWeek',
  'locRank': 10,
  'natRank': 61,
  'value': 0.53},
 {'label': 'religion_perc_change_Muslim',
  'locRank': -10,
  'natRank': -73,
  'value': 0.14},
 {'label': 'density_value_change_all',
  'locRank': -10,
  'natRank': -17,
  'value': 0.010000000000000009},
 {'label': 'children_perc_2011_NonDepKids',
  'locRank': 11,
  'natRank': 46,
  'value': 10.89},
 {'label': 'travel_perc_2011_bus',
  'locRank': -11,
  'natRank': 153,
  'value': 4.74},
 {'label': 'population_value_change_all',
  'locRank': -11,
  'natRank': -29,
  'value': 1.85},
 {'label': 'care_perc_2001_20to49hoursWeek',
  'locRank': 11,
  'natRank': 35,
  'value': 1.37},
 {'label': 'ethnicity_perc_change_black',
  'locRank': -11,
  'natRank': -36,
  'value': 0.06},
 {'label': 'tenure_perc_2011_owned',
  'locRank': 12,
  'natRank': 103,
  'value': 70.97},
 {'label': 'household_perc_2001_Married',
  'locRank': 12,
  'natRank': 154,
  'value': 39.24},
 {'label': 'agemed_value_2001_all',
  'locRank': 12,
  'natRank': 132,
  'value': 39.0},
 {'label': 'children_perc_2001_Kids',
  'locRank': -12,
  'natRank': -138,
  'value': 29.34},
 {'label': 'economic_perc_2001_self-employed',
  'locRank': -12,
  'natRank': -61,
  'value': 6.4},
 {'label': 'children_perc_change_NoKids',
  'locRank': 12,
  'natRank': 34,
  'value': 2.35},
 {'label': 'marital_perc_change_Seperated',
  'locRank': -12,
  'natRank': -77,
  'value': 0.86},
 {'label': 'children_perc_2011_NoKids',
  'locRank': 13,
  'natRank': 125,
  'value': 62.53},
 {'label': 'marital_perc_2001_Married',
  'locRank': 13,
  'natRank': -154,
  'value': 54.11},
 {'label': 'marital_perc_2001_Single',
  'locRank': -13,
  'natRank': -152,
  'value': 26.62},
 {'label': 'travel_perc_2001_home',
  'locRank': -13,
  'natRank': -80,
  'value': 8.23},
 {'label': 'hoursworked_perc_2001_Female49plus',
  'locRank': -13,
  'natRank': -58,
  'value': 2.4},
 {'label': 'care_perc_2011_20to49hoursWeek',
  'locRank': 13,
  'natRank': 38,
  'value': 1.67},
 {'label': 'religion_perc_change_Buddhist',
  'locRank': 13,
  'natRank': -135,
  'value': 0.11},
 {'label': 'children_perc_2001_NoKids',
  'locRank': 14,
  'natRank': -135,
  'value': 60.18},
 {'label': 'tenure_perc_2011_rented_social',
  'locRank': 14,
  'natRank': 81,
  'value': 18.56},
 {'label': 'household_perc_2011_Cohabiting',
  'locRank': -14,
  'natRank': -104,
  'value': 9.44},
 {'label': 'care_perc_2011_40PlushoursWeek',
  'locRank': 14,
  'natRank': 47,
  'value': 2.98},
 {'label': 'children_perc_change_NonDepKids',
  'locRank': 14,
  'natRank': 108,
  'value': 0.41},
 {'label': 'religion_perc_change_Jewish',
  'locRank': 14,
  'natRank': 105,
  'value': 0.0},
 {'label': 'economic_perc_2001_employee',
  'locRank': -15,
  'natRank': -75,
  'value': 50.06},
 {'label': 'children_perc_2001_NonDepKids',
  'locRank': 15,
  'natRank': 60,
  'value': 10.48},
 {'label': 'tenure_perc_2001_rented_private',
  'locRank': -15,
  'natRank': -77,
  'value': 6.69},
 {'label': 'travel_perc_2001_bus',
  'locRank': -15,
  'natRank': 121,
  'value': 6.06},
 {'label': 'travel_perc_change_home',
  'locRank': 15,
  'natRank': 120,
  'value': -4.16},
 {'label': 'care_perc_2001_40PlushoursWeek',
  'locRank': 15,
  'natRank': 55,
  'value': 2.45},
 {'label': 'religion_perc_2011_Buddhist',
  'locRank': -15,
  'natRank': -70,
  'value': 0.21},
 {'label': 'religion_perc_change_Hindu',
  'locRank': -15,
  'natRank': -65,
  'value': 0.05},
 {'label': 'health_perc_2011_good',
  'locRank': -16,
  'natRank': -54,
  'value': 78.28},
 {'label': 'household_perc_2011_OnePerson',
  'locRank': -16,
  'natRank': 104,
  'value': 30.48},
 {'label': 'household_perc_2001_OnePerson',
  'locRank': 16,
  'natRank': 101,
  'value': 30.05},
 {'label': 'hoursworked_perc_2011_Female1-15',
  'locRank': 16,
  'natRank': -92,
  'value': 6.18},
 {'label': 'travel_perc_change_car_van',
  'locRank': -16,
  'natRank': 140,
  'value': 3.27},
 {'label': 'travel_perc_2011_train_metro',
  'locRank': -16,
  'natRank': -92,
  'value': 1.67},
 {'label': 'health_perc_2001_bad',
  'locRank': -17,
  'natRank': 63,
  'value': 10.33},
 {'label': 'ethnicity_perc_change_asian',
  'locRank': -17,
  'natRank': -83,
  'value': 0.58},
 {'label': 'economic_perc_2011_unemployed',
  'locRank': -18,
  'natRank': 126,
  'value': 4.24},
 {'label': 'health_perc_2001_good',
  'locRank': -19,
  'natRank': -79,
  'value': 66.73},
 {'label': 'travel_perc_2011_foot',
  'locRank': 19,
  'natRank': 136,
  'value': 10.34},
 {'label': 'household_perc_2001_LoneParent',
  'locRank': -19,
  'natRank': 74,
  'value': 10.23},
 {'label': 'travel_perc_2011_home',
  'locRank': 19,
  'natRank': -90,
  'value': 4.07},
 {'label': 'health_perc_2011_bad',
  'locRank': -20,
  'natRank': 48,
  'value': 6.83},
 {'label': 'care_perc_change_20to49hoursWeek',
  'locRank': -20,
  'natRank': 135,
  'value': 0.3}]

In [499]:
lads_copy = lads.copy()

In [500]:
lads = lads_copy.copy()
# Filter out priority list by subject
for lad in lads:
    subjectList = ["Male31-48", "Male16-30", "Female31-48", "Female16-30", "Widowed", "65andOver", "Other", "noCare", "Sikh", "Religionnotstated", "MultiOther", "Otherreligion", "fair", "rent_free", "shared_ownership", "bicycle", "taxi", "moto", "other", "female", "male", "inactive", "mixed", "LoneNKids", "MultiStudents"]
    priorities = []
    priorities2011 = []
    for rank in lad['Priorities']:
        s=rank['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        if ((s[2] == "change") & (s[3] not in subjectList) & (((s[0]=="household")&(s[3]=="Married")) is False)):
            if (s[0]=='welsh') & (lad['parents'][0]['name'] != 'Wales'):
                pass
            else:
                rank['2011']=[i for i in this("Manchester")['Priorities'] if i['label']==s[0]+'_'+s[1]+'_2011_'+s[3]][0]['value']
                priorities.append(rank)
        if (s[2]!="change"):
            priorities2011.append(rank)
    lad['pri'] = priorities
    lad['pri2011'] = priorities2011


# Create triple data for areas of closest proximity
geogTriples = []
for lad in lads:
    list1 = lad['bounds'][0]+lad['bounds'][1]
    for lad2 in lads:
        list2 = lad2['bounds'][0]+lad2['bounds'][1]
        listDif = [abs(list1[i]-list2[i]) for i in [0,1,2,3]]
        listDif.sort()
        if (sum(listDif[:3]) < 1) & (lad!=lad2):
            geogTriples.append([lad['name'], lad2['name'], ("near", round(sum(listDif[:3]), 2))])


sign = lambda x: math.copysign(1, x)

for thisLad in lads:
    # thisLad['similar'] = thisLad['similarC']

    # Find nearby area
    nearbyArea = [i for i in geogTriples if i[0]==thisLad['name']]
    nearbyArea = [i for i in nearbyArea if this(i[1])['parents'][1]['name'] == thisLad['parents'][1]['name']]

    nearbyArea = sorted(nearbyArea, key=lambda x: x[2][1])

    #Find differences in data
    if (thisLad['parents'][0]['name']=='Wales'):                     
        region=[i for i in countries if i['name']=="Wales"][0]
        country=[i for i in countries if i['name']=="Wales"][0]
    else:
        region=[i for i in regions if i['name']==thisLad['parents'][0]['name']][0]
        country=[i for i in countries if i['name']==thisLad['parents'][1]['name']][0]

    def reg(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]    
        try:
            return region['data'][s[0]][s[1]][s[2]][s[3]]
        except:
            if (thisLad['parents'][0]['name']=='Wales'):
                return country['data'][s[0]][s[1]][s[2]][s[3]]
            else:
                return 0

    
    regDiff = [(i, {'val': reg(i), 'dif': i['value']-reg(i)}) for i in thisLad['pri']]
    regDiff = sorted(regDiff, reverse=True, key=lambda x: abs(x[1]['dif']))

    def cou(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return country['data'][s[0]][s[1]][s[2]][s[3]]
    couDiff = [(i, {'val': cou(i), 'dif': i['value']-cou(i)}) for i in thisLad['pri']]
    couDiff = sorted(couDiff, reverse=True, key=lambda x: abs(x[1]['dif']))
    
    try:
        nearbyAreaData = {}
        nearbyAreaData['name'] = nearbyArea[0][1]
        nearbyAreaData['data'] = [lad for lad in lads if lad['name']==nearbyArea[0][1]][0]['data']
    except:
        print("Nearby data not found for:: ", thisLad['name'])
        nearbyAreaData = []
        
    try:
        similarData = {}
        if (nearbyArea[0][1]!=thisLad['similar'][0]['name']):
            try:
                similarData['name'] = thisLad['similar'][0]['name']
                similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][0]['name']][0]['data']
            except:
                try:
                    similarData['name'] = thisLad['similar'][1]['name']
                    similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][1]['name']][0]['data']
                except:
                    similarData['name'] = thisLad['similar'][2]['name']
                    similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][2]['name']][0]['data']
        else:
            try:
                similarData['name'] = thisLad['similar'][1]['name']
                similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][1]['name']][0]['data']
            except:
                similarData['name'] = thisLad['similar'][2]['name']
                similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][2]['name']][0]['data']

    except:
        print("Similar data not found for:: ", thisLad['name'])
        similarData = []

    def simi(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return similarData['data'][s[0]][s[1]][s[2]][s[3]]
    if len(similarData)>0:
        simiDiff = [(i, {'val': simi(i), 'dif': i['value']-simi(i)}) for i in thisLad['pri']]
        simiDiff = sorted(simiDiff, reverse=True, key=lambda x: abs(x[1]['dif']))

    def near(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return nearbyAreaData['data'][s[0]][s[1]][s[2]][s[3]]
    if len(nearbyAreaData)>0:
        nearDiff = [(i, {'val': near(i), 'dif': i['value']-near(i)}) for i in thisLad['pri']]
        nearDiff = sorted(nearDiff, reverse=True, key=lambda x: abs(x[1]['dif']))

    nearTops = sorted([(lad['name'], lad['pri'][0]) for lad in lads if lad['name'] in [i[1] for i in nearbyArea if i[0]==thisLad['name']]], key=lambda x: abs(x[1]['locRank']))

    ageBandChange = sorted([(i, thisLad['data']['age10yr']['value']['2011'][i]-thisLad['data']['age10yr']['value']['2001'][i]) for i in thisLad['data']['age10yr']['value']['2001'].keys()], 
           reverse=True, key=lambda x: x[1])

    equalAgeChange = [lad['name'] for 
     lad in lads if (lad['parents'][0]['name'] == thisLad['parents'][0]['name']) 
     & (lad['data']['agemed']['value']['change']['all']==thisLad['data']['agemed']['value']['change']['all'])]
    len(equalAgeChange)

    # Find and refine stories
    stories = []
    stories=stories+[{**i, **{'type':['pop']}} for i in thisLad['pri'] if i['label'] == 'population_value_change_all']
    stories=stories+[{**i, **{'type':['size']}} for i in thisLad['pri'] if ((abs(i['value'])/abs(i['2011'])>0.1)&(abs(i['value']) > 1))]
    stories=stories+[{**i, **{'type':['locRank']}} for i in thisLad['pri'] if (abs(i['locRank']) < 4)&(abs(i['value']) > 0.5)]
    stories=stories+[{**i, **{'type':['natRank']}} for i in thisLad['pri'] if (abs(i['natRank']) < 4)&(abs(i['value']) > 0.5)]
    stories=stories+[{**i[0], **{'type':['couBuck']}} for i in couDiff if ((abs(i[1]['val'])>0.5) & (abs(i[0]['value'])>0.5) & (sign(i[1]['val'])!=sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['regBuck']}} for i in regDiff if ((abs(i[1]['val'])>0.5) & (abs(i[0]['value'])>0.5) & (sign(i[1]['val'])!=sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['nearBuck']}} for i in nearDiff if ((abs(i[1]['val'])>0.8) & (abs(i[0]['value'])>0.8) & (sign(i[1]['val'])!=sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['simiBuck']}} for i in simiDiff if ((abs(i[1]['val'])>0.8) & (abs(i[0]['value'])>0.8) & (sign(i[1]['val'])!=sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['couDiff']}} for i in couDiff if ((abs(i[1]['dif'])>2) & (sign(i[1]['val'])==sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['regDiff']}} for i in regDiff if ((abs(i[1]['dif'])>2) & (sign(i[1]['val'])==sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['nearDiff']}} for i in nearDiff if ((abs(i[1]['dif'])>2) & (sign(i[1]['val'])==sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['simiDiff']}} for i in simiDiff if ((abs(i[1]['dif'])>2) & (sign(i[1]['val'])==sign(i[0]['value'])))]
    seen = set()
    uniq = [item['label'] for item in stories if item['label'] in seen or seen.add(item['label'])]
    listofdoubles = [[i for i in stories if i['label'] == uniqI] for uniqI in uniq]
    multi = [{**double[0], **{'type': [item for sublist in [i['type'] for i in double] for item in sublist]}} for double in listofdoubles]
    stories = [item for item in stories if item['label'] not in [i['label'] for i in multi]]
    stories=stories+multi

    storiesRefined =[]
    notInc = ['density', 'age10yr', 'travel']
    for i in stories:
        if i['label'].split("_")[0] not in notInc:
            storiesRefined.append(i)
            notInc.append(i['label'].split("_")[0])

    if (thisLad['code'][0]!='W'):
        storiesRefined = sorted(storiesRefined, key=lambda x: ((topicScoresOrder[bbcRegLU[thisLad['code']]][x['label'].split('_')[0]])*(1/(1+abs(x['value'])))))
    else:
        storiesRefined = sorted(storiesRefined, key=lambda x: 1/(1+abs(x['value'])))

    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: abs(x['locRank'])<4)
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: abs(x['natRank'])<4)
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: abs(x['locRank'])<3)
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: abs(x['natRank'])<3)
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['type']=='regBuck')
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['type']=='couBuck')
    # storiesRefined = storiesRefined[:6]
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['label']=='agemed_value_change_all')
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['label']=='population_value_change_all')

    
    # Create a varibale 'hiRank' which holds the index of a top 5 rank at the national or reginal level to be used for an overtake story
    hiRank ={}
    hiRankNat = []
    for i in storiesRefined:
        if i['label'] not in ['population_value_change_all', 'agemed_value_change_all']:
            s=i['label'].split("_")
            if len(s)>4:
                s[3] = s[3] + "_" + s[4]
            if thisLad['data'][s[0]][s[1]+"_rank"]['2011'][s[3]]!=thisLad['data'][s[0]][s[1]+"_rank"]['2001'][s[3]]:
                hiRankNat.append(abs(thisLad['data'][s[0]][s[1]+"_rank"]['2011'][s[3]]))
            else:
                hiRankNat.append(100)
        else:
            hiRankNat.append(100)

    hiRankReg = []
    for i in storiesRefined:
        if i['label'] not in ['population_value_change_all', 'agemed_value_change_all']:
            s=i['label'].split("_")
            if len(s)>4:
                s[3] = s[3] + "_" + s[4]
            if thisLad['data'][s[0]][s[1]+"_rank_local"]['2011'][s[3]]!=thisLad['data'][s[0]][s[1]+"_rank_local"]['2001'][s[3]]:
                hiRankReg.append(abs(thisLad['data'][s[0]][s[1]+"_rank_local"]['2011'][s[3]]))
            else:
                hiRankReg.append(100)
        else:
            hiRankReg.append(100)
            
    if min(hiRankNat)<5:
        hiRank['rankIn'] = hiRankNat.index(min(hiRankNat))
        hiRank['type'] = 'nat'
    elif min(hiRankReg)<5:
        hiRank['rankIn'] = hiRankReg.index(min(hiRankReg))
        hiRank['type'] = 'reg'
    elif min(hiRankNat)<10:
        hiRank['rankIn'] = hiRankNat.index(min(hiRankNat))
        hiRank['type'] = 'nat'
    else:
        hiRank['rankIn'] = "None"
        hiRank['type'] = "None"

    ageBandChange= [i for i in ageBandChange if i[0]!='all']
    ageBandPos = sorted([i for i in ageBandChange if i[1]>0], reverse=True, key=lambda x: abs(x[1]))
    ageBandNeg = sorted([i for i in ageBandChange if i[1]<0], reverse=True, key=lambda x: abs(x[1]))

    # Add data to object
    thisLad['hiRank']=hiRank
    thisLad['stories'] = storiesRefined
    thisLad['similar'] = similarData
    thisLad['nearbyArea'] = {}
    thisLad['nearbyArea']['triples'] = nearbyArea
    thisLad['nearbyArea']['nearTops'] = nearTops
    thisLad['nearbyArea']['nearTops'] = nearbyAreaData
    thisLad['differences'] = {}
    thisLad['differences']['country'] = couDiff
    thisLad['differences']['region'] = regDiff
    thisLad['differences']['near'] = nearDiff
    thisLad['data']['age10yr']['absChange'] = {}
    thisLad['data']['age10yr']['absChange']['pos'] = ageBandPos
    thisLad['data']['age10yr']['absChange']['neg'] = ageBandNeg
    thisLad['data']['agemed']['value_rank_local']['equalAgeChange]'] = len(equalAgeChange)

Similar data not found for::  Bournemouth, Christchurch and Poole
Similar data not found for::  Cornwall
Nearby data not found for::  Isles of Scilly
Similar data not found for::  Isles of Scilly
Similar data not found for::  East Suffolk
Similar data not found for::  West Suffolk
Similar data not found for::  North Northamptonshire
Similar data not found for::  Dorset
Similar data not found for::  Somerset West and Taunton
Similar data not found for::  West Northamptonshire
Similar data not found for::  Buckinghamshire

In [501]:
this("Copeland")['stories']

[{'label': 'population_value_change_all',
  'locRank': -11,
  'natRank': -29,
  'value': 1.85,
  '2011': 503127.0,
  'type': ['pop', 'nearBuck', 'couDiff', 'regDiff']},
 {'label': 'agemed_value_change_all',
  'locRank': 1,
  'natRank': 3,
  'value': 5.0,
  '2011': 29.0,
  'type': ['size', 'locRank', 'natRank', 'couDiff', 'regDiff']},
 {'label': 'economic_perc_change_unemployed',
  'locRank': -1,
  'natRank': -1,
  'value': -0.78,
  '2011': 5.71,
  'type': ['locRank', 'natRank', 'couBuck', 'regBuck']},
 {'label': 'hoursworked_perc_change_Male1-15',
  'locRank': -1,
  'natRank': -21,
  'value': 0.76,
  '2011': 4.5,
  'type': ['locRank']},
 {'label': 'religion_perc_change_Christian',
  'locRank': 3,
  'natRank': 10,
  'value': -7.44,
  '2011': 48.74,
  'type': ['size', 'locRank', 'couDiff', 'regDiff', 'nearDiff', 'simiDiff']},
 {'label': 'tenure_perc_change_rented_social',
  'locRank': -3,
  'natRank': -19,
  'value': -4.41,
  '2011': 31.56,
  'type': ['size', 'locRank', 'couDiff', 'regDiff', 'nearDiff', 'simiDiff']},
 {'label': 'health_perc_change_bad',
  'locRank': 5,
  'natRank': -123,
  'value': -3.5,
  '2011': 7.09,
  'type': ['size']},
 {'label': 'marital_perc_change_Married',
  'locRank': 4,
  'natRank': 62,
  'value': -2.9,
  '2011': 29.71,
  'type': ['nearDiff']},
 {'label': 'children_perc_change_Kids',
  'locRank': -7,
  'natRank': -17,
  'value': -2.76,
  '2011': 28.45,
  'type': ['couDiff']},
 {'label': 'household_perc_change_Cohabiting',
  'locRank': 5,
  'natRank': 21,
  'value': 2.52,
  '2011': 10.9,
  'type': ['size']},
 {'label': 'ethnicity_perc_change_asian',
  'locRank': -17,
  'natRank': -83,
  'value': 0.58,
  '2011': 17.09,
  'type': ['couDiff']}]

In [502]:
similarData['name'] = this('Somerset West and Taunton')['name']
similarData['data'] = this('Somerset West and Taunton')['data']

this('Dorset')['similar'] = similarData


similarData['name'] = this('Dorset')['name']
similarData['data'] = this('Dorset')['data']

this('Somerset West and Taunton')['similar'] = similarData


similarData['name'] = this('West Devon')['name']
similarData['data'] = this('West Devon')['data']

this('Cornwall')['similar'] = similarData


similarData['name'] = this('Buckinghamshire')['name']
similarData['data'] = this('Buckinghamshire')['data']

this('East Suffolk')['similar'] = similarData


similarData['name'] = this('East Suffolk')['name']
similarData['data'] = this('East Suffolk')['data']

this('Buckinghamshire')['similar'] = similarData


similarData['name'] = this('Bournemouth, Christchurch and Poole')['name']
similarData['data'] = this('Bournemouth, Christchurch and Poole')['data']

this('West Suffolk')['similar'] = similarData

similarData['name'] = this('West Suffolk')['name']
similarData['data'] = this('West Suffolk')['data']

this('Bournemouth, Christchurch and Poole')['similar'] = similarData

similarData['name'] = this('North Northamptonshire')['name']
similarData['data'] = this('North Northamptonshire')['data']

this('West Northamptonshire')['similar'] = similarData


similarData['name'] = this('West Northamptonshire')['name']
similarData['data'] = this('West Northamptonshire')['data']

this('North Northamptonshire')['similar'] = similarData

In [503]:
for region in regions:
    region['data']['welsh'] = {}
    region['data']['welsh']['perc'] = {}
    region['data']['welsh']['value'] = {}
    for k in region['data']['welsh'].keys():
        region['data']['welsh'][k]['2001'] = {}
        region['data']['welsh'][k]['2011'] = {}
        region['data']['welsh'][k]['change'] = {}
        for j in region['data']['welsh'][k].keys():
            region['data']['welsh'][k][j]['SpeaksWelsh'] = 0

In [504]:
for rgn in regions:
    try:
        with open('/Users/theojolliffe/Documents/Area Reports/census-data-transformed/json/place/'+rgn['code']+'.json', 'w') as outfile:
            json.dump(rgn, outfile)
    except:
        print("Failed: ", rgn['name'])

In [505]:
for ctry in countries:
    try:
        with open('/Users/theojolliffe/Documents/Area Reports/census-data-transformed/json/place/'+ctry['code']+'.json', 'w') as outfile:
            json.dump(ctry, outfile)
    except:
        print("Failed: ", ctry['name'])

In [506]:
for lad in lads:
    try:
        with open('/Users/theojolliffe/Documents/Area Reports/census-data-transformed/json/place/'+lad['code']+'.json', 'w') as outfile:
            json.dump(lad, outfile)
    except:
        print("Failed: ", lad['name'])

In [507]:
this("City of London")['gss']['short'] = 'city'
this("City of London")['gss']['long'] = 'City of London'

In [508]:
!git add .
!git commit -m "Add files"
!git push -u origin main

[main 4e70a48c] Add files
 331 files changed, 331 insertions(+), 331 deletions(-)
 rewrite json/place/E06000001.json (92%)
 rewrite json/place/E06000002.json (93%)
 rewrite json/place/E06000003.json (91%)
 rewrite json/place/E06000004.json (92%)
 rewrite json/place/E06000005.json (90%)
 rewrite json/place/E06000006.json (92%)
 rewrite json/place/E06000007.json (92%)
 rewrite json/place/E06000008.json (92%)
 rewrite json/place/E06000009.json (93%)
 rewrite json/place/E06000010.json (92%)
 rewrite json/place/E06000011.json (91%)
 rewrite json/place/E06000012.json (92%)
 rewrite json/place/E06000013.json (91%)
 rewrite json/place/E06000014.json (67%)
 rewrite json/place/E06000015.json (93%)
 rewrite json/place/E06000016.json (92%)
 rewrite json/place/E06000017.json (70%)
 rewrite json/place/E06000018.json (92%)
 rewrite json/place/E06000019.json (92%)
 rewrite json/place/E06000020.json (93%)
 rewrite json/place/E06000021.json (92%)
 rewrite json/place/E06000022.json (65%)
 rewrite json/place/E06000023.json (92%)
 rewrite json/place/E06000024.json (92%)
 rewrite json/place/E06000025.json (91%)
 rewrite json/place/E06000026.json (68%)
 rewrite json/place/E06000027.json (91%)
 rewrite json/place/E06000030.json (93%)
 rewrite json/place/E06000031.json (93%)
 rewrite json/place/E06000032.json (93%)
 rewrite json/place/E06000033.json (92%)
 rewrite json/place/E06000034.json (93%)
 rewrite json/place/E06000035.json (92%)
 rewrite json/place/E06000036.json (92%)
 rewrite json/place/E06000037.json (92%)
 rewrite json/place/E06000038.json (93%)
 rewrite json/place/E06000039.json (93%)
 rewrite json/place/E06000040.json (93%)
 rewrite json/place/E06000041.json (90%)
 rewrite json/place/E06000042.json (93%)
 rewrite json/place/E06000043.json (93%)
 rewrite json/place/E06000044.json (94%)
 rewrite json/place/E06000045.json (92%)
 rewrite json/place/E06000046.json (92%)
 rewrite json/place/E06000047.json (93%)
 rewrite json/place/E06000049.json (92%)
 rewrite json/place/E06000050.json (92%)
 rewrite json/place/E06000051.json (92%)
 rewrite json/place/E06000052.json (91%)
 rewrite json/place/E06000053.json (93%)
 rewrite json/place/E06000054.json (92%)
 rewrite json/place/E06000055.json (93%)
 rewrite json/place/E06000056.json (92%)
 rewrite json/place/E06000057.json (93%)
 rewrite json/place/E06000058.json (93%)
 rewrite json/place/E06000059.json (92%)
 rewrite json/place/E06000060.json (91%)
 rewrite json/place/E06000061.json (93%)
 rewrite json/place/E06000062.json (92%)
 rewrite json/place/E07000008.json (92%)
 rewrite json/place/E07000009.json (93%)
 rewrite json/place/E07000010.json (93%)
 rewrite json/place/E07000011.json (92%)
 rewrite json/place/E07000012.json (93%)
 rewrite json/place/E07000026.json (93%)
 rewrite json/place/E07000027.json (93%)
 rewrite json/place/E07000028.json (93%)
 rewrite json/place/E07000029.json (93%)
 rewrite json/place/E07000030.json (93%)
 rewrite json/place/E07000031.json (93%)
 rewrite json/place/E07000032.json (90%)
 rewrite json/place/E07000033.json (93%)
 rewrite json/place/E07000034.json (93%)
 rewrite json/place/E07000035.json (92%)
 rewrite json/place/E07000036.json (91%)
 rewrite json/place/E07000037.json (92%)
 rewrite json/place/E07000038.json (92%)
 rewrite json/place/E07000039.json (93%)
 rewrite json/place/E07000040.json (92%)
 rewrite json/place/E07000041.json (93%)
 rewrite json/place/E07000042.json (92%)
 rewrite json/place/E07000043.json (93%)
 rewrite json/place/E07000044.json (92%)
 rewrite json/place/E07000045.json (93%)
 rewrite json/place/E07000046.json (91%)
 rewrite json/place/E07000047.json (92%)
 rewrite json/place/E07000061.json (92%)
 rewrite json/place/E07000062.json (93%)
 rewrite json/place/E07000063.json (93%)
 rewrite json/place/E07000064.json (93%)
 rewrite json/place/E07000065.json (93%)
 rewrite json/place/E07000066.json (92%)
 rewrite json/place/E07000067.json (93%)
 rewrite json/place/E07000068.json (93%)
 rewrite json/place/E07000069.json (92%)
 rewrite json/place/E07000070.json (91%)
 rewrite json/place/E07000071.json (68%)
 rewrite json/place/E07000072.json (92%)
 rewrite json/place/E07000073.json (92%)
 rewrite json/place/E07000074.json (93%)
 rewrite json/place/E07000075.json (92%)
 rewrite json/place/E07000076.json (93%)
 rewrite json/place/E07000077.json (92%)
 rewrite json/place/E07000078.json (91%)
 rewrite json/place/E07000079.json (91%)
 rewrite json/place/E07000080.json (93%)
 rewrite json/place/E07000081.json (93%)
 rewrite json/place/E07000082.json (93%)
 rewrite json/place/E07000083.json (93%)
 rewrite json/place/E07000084.json (68%)
 rewrite json/place/E07000085.json (92%)
 rewrite json/place/E07000086.json (92%)
 rewrite json/place/E07000087.json (94%)
 rewrite json/place/E07000088.json (93%)
 rewrite json/place/E07000089.json (92%)
 rewrite json/place/E07000090.json (92%)
 rewrite json/place/E07000091.json (93%)
 rewrite json/place/E07000092.json (93%)
 rewrite json/place/E07000093.json (93%)
 rewrite json/place/E07000094.json (92%)
 rewrite json/place/E07000095.json (92%)
 rewrite json/place/E07000096.json (91%)
 rewrite json/place/E07000098.json (92%)
 rewrite json/place/E07000099.json (93%)
 rewrite json/place/E07000102.json (91%)
 rewrite json/place/E07000103.json (68%)
 rewrite json/place/E07000105.json (91%)
 rewrite json/place/E07000106.json (93%)
 rewrite json/place/E07000107.json (92%)
 rewrite json/place/E07000108.json (92%)
 rewrite json/place/E07000109.json (93%)
 rewrite json/place/E07000110.json (93%)
 rewrite json/place/E07000111.json (92%)
 rewrite json/place/E07000112.json (91%)
 rewrite json/place/E07000113.json (92%)
 rewrite json/place/E07000114.json (92%)
 rewrite json/place/E07000115.json (92%)
 rewrite json/place/E07000116.json (93%)
 rewrite json/place/E07000117.json (92%)
 rewrite json/place/E07000118.json (94%)
 rewrite json/place/E07000119.json (93%)
 rewrite json/place/E07000120.json (92%)
 rewrite json/place/E07000121.json (93%)
 rewrite json/place/E07000122.json (92%)
 rewrite json/place/E07000123.json (91%)
 rewrite json/place/E07000124.json (68%)
 rewrite json/place/E07000125.json (93%)
 rewrite json/place/E07000126.json (92%)
 rewrite json/place/E07000127.json (93%)
 rewrite json/place/E07000128.json (89%)
 rewrite json/place/E07000129.json (93%)
 rewrite json/place/E07000130.json (94%)
 rewrite json/place/E07000131.json (93%)
 rewrite json/place/E07000132.json (93%)
 rewrite json/place/E07000133.json (92%)
 rewrite json/place/E07000134.json (93%)
 rewrite json/place/E07000135.json (93%)
 rewrite json/place/E07000136.json (93%)
 rewrite json/place/E07000137.json (92%)
 rewrite json/place/E07000138.json (92%)
 rewrite json/place/E07000139.json (92%)
 rewrite json/place/E07000140.json (92%)
 rewrite json/place/E07000141.json (93%)
 rewrite json/place/E07000142.json (92%)
 rewrite json/place/E07000143.json (92%)
 rewrite json/place/E07000144.json (92%)
 rewrite json/place/E07000145.json (92%)
 rewrite json/place/E07000146.json (93%)
 rewrite json/place/E07000147.json (93%)
 rewrite json/place/E07000148.json (88%)
 rewrite json/place/E07000149.json (93%)
 rewrite json/place/E07000163.json (92%)
 rewrite json/place/E07000164.json (92%)
 rewrite json/place/E07000165.json (91%)
 rewrite json/place/E07000166.json (92%)
 rewrite json/place/E07000167.json (92%)
 rewrite json/place/E07000168.json (94%)
 rewrite json/place/E07000169.json (91%)
 rewrite json/place/E07000170.json (92%)
 rewrite json/place/E07000171.json (69%)
 rewrite json/place/E07000172.json (92%)
 rewrite json/place/E07000173.json (92%)
 rewrite json/place/E07000174.json (93%)
 rewrite json/place/E07000175.json (92%)
 rewrite json/place/E07000176.json (92%)
 rewrite json/place/E07000177.json (93%)
 rewrite json/place/E07000178.json (91%)
 rewrite json/place/E07000179.json (93%)
 rewrite json/place/E07000180.json (92%)
 rewrite json/place/E07000181.json (93%)
 rewrite json/place/E07000187.json (93%)
 rewrite json/place/E07000188.json (91%)
 rewrite json/place/E07000189.json (92%)
 rewrite json/place/E07000192.json (92%)
 rewrite json/place/E07000193.json (93%)
 rewrite json/place/E07000194.json (94%)
 rewrite json/place/E07000195.json (91%)
 rewrite json/place/E07000196.json (93%)
 rewrite json/place/E07000197.json (92%)
 rewrite json/place/E07000198.json (92%)
 rewrite json/place/E07000199.json (90%)
 rewrite json/place/E07000200.json (93%)
 rewrite json/place/E07000202.json (93%)
 rewrite json/place/E07000203.json (92%)
 rewrite json/place/E07000207.json (93%)
 rewrite json/place/E07000208.json (94%)
 rewrite json/place/E07000209.json (92%)
 rewrite json/place/E07000210.json (93%)
 rewrite json/place/E07000211.json (93%)
 rewrite json/place/E07000212.json (92%)
 rewrite json/place/E07000213.json (91%)
 rewrite json/place/E07000214.json (90%)
 rewrite json/place/E07000215.json (92%)
 rewrite json/place/E07000216.json (93%)
 rewrite json/place/E07000217.json (91%)
 rewrite json/place/E07000218.json (94%)
 rewrite json/place/E07000219.json (65%)
 rewrite json/place/E07000220.json (92%)
 rewrite json/place/E07000221.json (93%)
 rewrite json/place/E07000222.json (94%)
 rewrite json/place/E07000223.json (92%)
 rewrite json/place/E07000224.json (92%)
 rewrite json/place/E07000225.json (93%)
 rewrite json/place/E07000226.json (93%)
 rewrite json/place/E07000227.json (93%)
 rewrite json/place/E07000228.json (91%)
 rewrite json/place/E07000229.json (92%)
 rewrite json/place/E07000234.json (92%)
 rewrite json/place/E07000235.json (93%)
 rewrite json/place/E07000236.json (92%)
 rewrite json/place/E07000237.json (94%)
 rewrite json/place/E07000238.json (94%)
 rewrite json/place/E07000239.json (90%)
 rewrite json/place/E07000240.json (92%)
 rewrite json/place/E07000241.json (92%)
 rewrite json/place/E07000242.json (92%)
 rewrite json/place/E07000243.json (91%)
 rewrite json/place/E07000244.json (91%)
 rewrite json/place/E07000245.json (93%)
 rewrite json/place/E07000246.json (93%)
 rewrite json/place/E08000001.json (93%)
 rewrite json/place/E08000002.json (89%)
 rewrite json/place/E08000003.json (91%)
 rewrite json/place/E08000004.json (92%)
 rewrite json/place/E08000005.json (93%)
 rewrite json/place/E08000006.json (92%)
 rewrite json/place/E08000007.json (93%)
 rewrite json/place/E08000008.json (93%)
 rewrite json/place/E08000009.json (92%)
 rewrite json/place/E08000010.json (92%)
 rewrite json/place/E08000011.json (93%)
 rewrite json/place/E08000012.json (91%)
 rewrite json/place/E08000013.json (91%)
 rewrite json/place/E08000014.json (92%)
 rewrite json/place/E08000015.json (93%)
 rewrite json/place/E08000016.json (90%)
 rewrite json/place/E08000017.json (92%)
 rewrite json/place/E08000018.json (91%)
 rewrite json/place/E08000019.json (92%)
 rewrite json/place/E08000021.json (93%)
 rewrite json/place/E08000022.json (93%)
 rewrite json/place/E08000023.json (90%)
 rewrite json/place/E08000024.json (90%)
 rewrite json/place/E08000025.json (89%)
 rewrite json/place/E08000026.json (93%)
 rewrite json/place/E08000027.json (93%)
 rewrite json/place/E08000028.json (91%)
 rewrite json/place/E08000029.json (93%)
 rewrite json/place/E08000030.json (91%)
 rewrite json/place/E08000031.json (91%)
 rewrite json/place/E08000032.json (91%)
 rewrite json/place/E08000033.json (92%)
 rewrite json/place/E08000034.json (93%)
 rewrite json/place/E08000035.json (90%)
 rewrite json/place/E08000036.json (90%)
 rewrite json/place/E08000037.json (94%)
 rewrite json/place/E09000001.json (93%)
 rewrite json/place/E09000002.json (93%)
 rewrite json/place/E09000003.json (90%)
 rewrite json/place/E09000004.json (92%)
 rewrite json/place/E09000005.json (89%)
 rewrite json/place/E09000006.json (92%)
 rewrite json/place/E09000007.json (92%)
 rewrite json/place/E09000008.json (91%)
 rewrite json/place/E09000009.json (92%)
 rewrite json/place/E09000010.json (92%)
 rewrite json/place/E09000011.json (93%)
 rewrite json/place/E09000012.json (91%)
 rewrite json/place/E09000013.json (90%)
 rewrite json/place/E09000014.json (90%)
 rewrite json/place/E09000015.json (91%)
 rewrite json/place/E09000016.json (89%)
 rewrite json/place/E09000017.json (90%)
 rewrite json/place/E09000018.json (92%)
 rewrite json/place/E09000019.json (92%)
 rewrite json/place/E09000020.json (68%)
 rewrite json/place/E09000021.json (92%)
 rewrite json/place/E09000022.json (92%)
 rewrite json/place/E09000023.json (91%)
 rewrite json/place/E09000024.json (92%)
 rewrite json/place/E09000025.json (86%)
 rewrite json/place/E09000026.json (92%)
 rewrite json/place/E09000027.json (92%)
 rewrite json/place/E09000028.json (91%)
 rewrite json/place/E09000029.json (92%)
 rewrite json/place/E09000030.json (92%)
 rewrite json/place/E09000031.json (93%)
 rewrite json/place/E09000032.json (92%)
 rewrite json/place/E09000033.json (92%)
 rewrite json/place/W06000001.json (94%)
 rewrite json/place/W06000002.json (90%)
 rewrite json/place/W06000003.json (93%)
 rewrite json/place/W06000004.json (91%)
 rewrite json/place/W06000005.json (92%)
 rewrite json/place/W06000006.json (92%)
 rewrite json/place/W06000008.json (91%)
 rewrite json/place/W06000009.json (92%)
 rewrite json/place/W06000010.json (92%)
 rewrite json/place/W06000011.json (93%)
 rewrite json/place/W06000012.json (92%)
 rewrite json/place/W06000013.json (69%)
 rewrite json/place/W06000014.json (93%)
 rewrite json/place/W06000015.json (93%)
 rewrite json/place/W06000016.json (91%)
 rewrite json/place/W06000018.json (93%)
 rewrite json/place/W06000019.json (93%)
 rewrite json/place/W06000020.json (91%)
 rewrite json/place/W06000021.json (90%)
 rewrite json/place/W06000022.json (91%)
 rewrite json/place/W06000023.json (94%)
 rewrite json/place/W06000024.json (93%)
Enumerating objects: 572, done.
Counting objects: 100% (572/572), done.
Delta compression using up to 16 threads
Compressing objects: 100% (335/335), done.
Writing objects: 100% (335/335), 3.81 MiB | 916.00 KiB/s, done.
Total 335 (delta 333), reused 0 (delta 0)
remote: Resolving deltas: 100% (333/333), completed with 236 local objects.
To https://github.com/theojolliffe/census-data.git
   5ddd86a4..4e70a48c  main -> main
Branch 'main' set up to track remote branch 'main' from 'origin'.

In [1]:
!pwd

/Users/theojolliffe/Documents/census-data-transformed

In [64]:
df[df['topic'].split("_")[0] == 'care']

AttributeError: 'Series' object has no attribute 'split'