In [1170]:
import pandas as pd
import json
import networkx as nx
from networkx_query import search_nodes, search_edges
import numpy as np

In [1171]:
with open('/Users/theojolliffe/Documents/Wayback BBC/topicScoresOrder.json', 'r') as fp:
    topicScoresOrder = json.load(fp)
topicScoresOrder = {i: {i[0]: 1/(1+i[1]/10) for i in topicScoresOrder[i]} for i in topicScoresOrder}

In [1172]:
bbcReg = pd.read_csv('/Users/theojolliffe/Downloads/bbc_regions.csv')
bbcRegLU = {}
for i in bbcReg.index:
    if bbcReg['areaCode'].iloc[i] in [lad['code'] for lad in lads]:
        bbcRegLU[bbcReg['areaCode'].iloc[i]] = bbcReg['bbc_online'].iloc[i]
bbcRegLU['E06000053'] = 'cornwall'
bbcRegLU['E06000060'] = 'beds_bucks_and_herts'
bbcRegLU['E09000001'] = 'london'
bbcRegLU['E07000150'] = 'northamptonshire'

regions = ['cumbria', 'lancashire', 'merseyside', 'manchester', 'tees', 'tyne_and_wear', 'Humberside', 'york_and_north_yorkshire', 'leeds_and_west_yorkshire', 'lincolnshire', 'south_yorkshire', 'birmingham_and_black_country', 'coventry_and_warwickshire', 'hereford_and_worcester', 'shropshire', 'stoke_and_staffordshire', 'derbyshire', 'leicester', 'northamptonshire', 'nottingham', 'bristol', 'cornwall', 'devon', 'gloucestershire', 'somerset', 'wiltshire', 'beds_bucks_and_herts', 'cambridgeshire', 'essex', 'norfolk', 'suffolk', 'berkshire', 'dorset', 'hampshire', 'oxford', 'kent', 'london', 'surrey', 'sussex']
bbcNames = {
     'derby': 'derbyshire', 
     'hereford and worcester': 'hereford_and_worcester',
     'tyne and wear': 'tyne_and_wear',
     'northampton': 'northamptonshire',
     'liverpool': 'merseyside',
     'coventry and warwickshire': 'coventry_and_warwickshire',
     'humberside': 'Humberside',
     'sheffield and south yorkshire': 'south_yorkshire',
     'hampshire & isle of wight': 'hampshire',
     'stoke and staffordshire': 'stoke_and_staffordshire',
     'york & north yorkshire': 'york_and_north_yorkshire',
     'birmingham and black country': 'birmingham_and_black_country',
     'beds, bucks and herts': 'beds_bucks_and_herts',
     'leeds and west yorkshire': 'leeds_and_west_yorkshire'
}
for i in bbcRegLU.keys():
    bbcRegLU[i] = bbcRegLU[i].lower()
    if bbcRegLU[i] not in regions:
        try:
            bbcRegLU[i] = bbcNames[bbcRegLU[i]]
        except:
            pass

In [1173]:
tfidf = pd.read_csv('/Users/theojolliffe/Documents/Wayback BBC/BBCRegionalTFIDF.csv')
tfidf = tfidf.set_index('Unnamed: 0')
for i in tfidf.columns:
    for j in tfidf[i].index:
        tfidf[i].loc[j] = 1+100*tfidf[i].loc[j]
tfidfLU = {}
for i in regions:
    tfidfLU[i]=tfidf.loc[i].to_dict()

In [1174]:
TFtopicLU = {
    'health': 'health',
    'racial': 'ethnicity',
    'population': 'population',
    'age': 'agemed',
    'work': 'economic',
    'commuter': 'travel',
    'housing': 'tenure'
}
TFtopicRev = dict((TFtopicLU[x],x) for x in TFtopicLU)

In [1175]:
options = pd.read_csv('./csv/lists/places_2020.csv')
areaType = pd.read_csv('/Users/theojolliffe/Documents/Census Data/censusAreaLookup.csv')
typeLookup = {}
for i in areaType.index:
    typeLookup[areaType.iloc[i]['Name']]=areaType.iloc[i]['Group name']

In [1176]:
areasO = []
for i in options["code"]:
    try:
        areasO.append(json.load(open(f'/Users/theojolliffe/Documents/Census Data/census-data-main/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
        print(i)
        pass
    
for area in areasO:
    area['data']['agemed']['value']['change']['all'] = area['data']['agemed']['value']['2011']['all']-area['data']['agemed']['value']['2001']['all']

E05009289
E05009290
E05009293
E05009294
E05009295
E05009297
E05009298
E05009299
E05009300
E05009301
E05009303
E05009306
E05009307
E05009312
E05011090

In [1177]:
areas = []
for i in options["code"]:
    try:
        areas.append(json.load(open(f'/Users/theojolliffe/Documents/pipeline_2/final/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
#         print(i)
        pass
    
for area in areas:
    area['data']['agemed']['value']['change']['all'] = area['data']['agemed']['value']['2011']['all']-area['data']['agemed']['value']['2001']['all']

In [1178]:
# Seperate the areas by area type
regions = []
for i in areasO:
    if i['type']=='rgn':
        regions.append(i)
        
lads = []
for i in areasO:
    if i['type']=='lad':
        lads.append(i)
        
countries = []
for i in areasO:
    if (i['type']=='ew')|(i['type']=='ctry'):
        countries.append(i)

In [ ]:
# Find each LAD local and national ranks and put in prioirity order
for thisLad in lads:
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_lads = []
    lad_code = thisLad['parents'][0]['code']
    for i in range(len(lads)):
        if  lad_code == lads[i]['parents'][0]['code']:
            sister_lads.append(lads[i])

    # Loop through the various data variables
    for a in thisLad['data']:
        if a in ['population', 'density', 'agemed']:
            b = 'value'
        else:
            b = 'perc'
        # Create nested object with localised rank
        thisLad['data'][a][b+"_rank_local"] = {}    
        for c in ['2011', 'change']:
            thisLad['data'][a][b+"_rank_local"][c] = {}
            for d in thisLad['data'][a][b][c]:
                vari = thisLad['data'][a][b][c][d]

                # Create sorted list of values from sister areas
                group_values = []
                for lad in sister_lads:
                    group_values.append(lad['data'][a][b][c][d])
                    group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                group_values.sort(reverse=True)

                # Find index of value of area of interest
                varRank = group_values.index(vari) + 1

                # Convert bottom half rankings into negative values
                if varRank>len(group_values)/2:
                    varRank = varRank-len(group_values)-1
                    
                natRank = thisLad['data'][a][b+"_rank"][c][d]
                if natRank > 168:
                    natRank = natRank-336-1

                thisLad['data'][a][b+"_rank_local"][c][d] = varRank

                # Append ranking data to original array
                ranks.append({
                    'label': a+'_'+b+'_'+c+'_'+d, 
                    'locRank': varRank, 
                    'natRank': natRank, 
                    'value': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: (abs(x['locRank']), -abs(x['value'])))
    thisLad["Priorities"] = ranks

In [ ]:
topics = [{1: 'population', 2: 'value', 3: 'all'}, 
          {1: 'agemed', 2: 'value', 3: 'all'},
          {1: 'health', 2: 'perc', 3: 'good'},
          {1: 'travel', 2: 'perc', 3: 'car_van'},
          {1: 'tenure', 2: 'perc', 3: 'rented_social'},
          {1: 'tenure', 2: 'perc', 3: 'rented_private'},
          {1: 'tenure', 2: 'perc', 3: 'owned'},
          {1: 'agemed', 2: 'value', 3: 'all'},
          {1: 'economic', 2: 'perc', 3: 'employee'},
#           {1: 'religion', 2: 'perc', 3: 'Christian'},
          {1: 'health', 2: 'perc', 3: 'bad'},
          {1: 'ethnicity', 2: 'perc', 3: 'black'},
          {1: 'ethnicity', 2: 'perc', 3: 'white'},
          {1: 'ethnicity', 2: 'perc', 3: 'asian'},
          {1: 'economic', 2: 'perc', 3: 'student'},
          {1: 'economic', 2: 'perc', 3: 'self-employed'}]

ladCodes = []
for lad in lads:
    ladCodes.append(lad['code'])
    
    
df = pd.DataFrame(columns=
                  ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
for j in range(len(topics)):
    df1 = pd.DataFrame(index=ladCodes, columns=
                      ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
    for i in range(len(lads)):
        df1['lad'].iloc[i] = lads[i]['name']
        df1['2001'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2001'][topics[j][3]]
        df1['2011'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2011'][topics[j][3]]    
        df1['change'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['change'][topics[j][3]]
        df1['natRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank"]['change'][topics[j][3]]    
        df1['localRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank_local"]['change'][topics[j][3]]    
        df1['topic'].iloc[i] = topics[j][1]+"_"+topics[j][3]
        df1['parent'].iloc[i] = lads[i]['parents'][0]['name']
    df = pd.concat([df,df1])
df['natRank'] = np.where(df['natRank'] > 168, df['natRank']-337,df['natRank'])



for topic in topics:
    for lad in lads:
        
#       Find the areas that this area has overtaken
        v2001 = lad['data'][topic[1]][topic[2]]['2001'][topic[3]]
        v2011 = lad['data'][topic[1]][topic[2]]['2011'][topic[3]]
        dfT = df[(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)]
        obje = []
        for i in range(dfT.shape[0]):
            obje.append(dfT.iloc[i]['lad'])
            
        
        if 'overtake' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'][topic[3]] = obje
        
#       Find the area immediatly above or below
        below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]
        above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-2
        if below<0:
            below=below+1
            above=above+1
        reg = lad['parents'][0]['name']
        name_above = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[above]['lad']
        name_below = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[below]['lad']

        area_above = {'name': name_above,
                         'value': df[(df['lad']==name_above)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        area_below = {'name': name_below,
                          'value': df[(df['lad']==name_below)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}

        
        if 'above_below' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'] = {}

        if topic[3] not in lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]] = {}
        
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["above"] = area_above
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["below"] = area_below
            
        # Add top and bottom three biggest movers for each subject to every area
        df_topic = df[(df['topic']==topic[1]+"_"+topic[3])&(abs(df['natRank'])<4)]
        ob = {}
        for index, row in df_topic.iterrows():
            ob[row['natRank']]= {row['lad']: row['change']}
        if 'top_bottom' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'] = {}
        lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'][topic[3]]=ob

In [1158]:
manchester = [l for l in lads if l['name']=="Manchester"][0]
lad = manchester
topic = {1: 'ethnicity', 2: 'perc', 3: 'white'}

In [1159]:
below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]
above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-2

In [1162]:
if below<0:
    below=below+1
    above=above+1

In [1163]:
below

0

In [1164]:
above

-2

In [1165]:
reg = lad['parents'][0]['name']

In [1166]:
reg

'North West'

In [1167]:
df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[above]['lad']

'Blackburn with Darwen'

In [1168]:
df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[below]['lad']

'Eden'

In [1169]:
df[(df['parent']==reg)&(df['topic']=="ethnicity_white")]

,lad,2001,2011,change,natRank,localRank,topic,parent
E06000006,Halton,98.77,97.85,-0.92,54,10,ethnicity_white,North West
E06000007,Warrington,97.86,95.93,-1.93,147,-18,ethnicity_white,North West
E06000008,Blackburn with Darwen,77.93,69.16,-8.77,-40,-2,ethnicity_white,North West
E06000009,Blackpool,98.44,96.67,-1.77,141,-19,ethnicity_white,North West
E06000049,Cheshire East,98.24,96.71,-1.53,125,-20,ethnicity_white,North West
E06000050,Cheshire West and Chester,98.5,97.4,-1.1,81,16,ethnicity_white,North West
E07000026,Allerdale,99.42,98.92,-0.5,5,2,ethnicity_white,North West
E07000027,Barrow-in-Furness,99.17,98.34,-0.83,40,8,ethnicity_white,North West
E07000028,Carlisle,99.1,98.1,-1.0,67,13,ethnicity_white,North West
E07000029,Copeland,99.29,98.42,-0.87,48,9,ethnicity_white,North West
E07000030,Eden,99.54,98.93,-0.61,14,4,ethnicity_white,North West
E07000031,South Lakeland,99.17,98.36,-0.81,35,7,ethnicity_white,North West
E07000117,Burnley,91.79,87.36,-4.43,-107,-12,ethnicity_white,North West
E07000118,Chorley,97.9,96.9,-1.0,67,13,ethnicity_white,North West
E07000119,Fylde,98.52,97.47,-1.05,74,15,ethnicity_white,North West
E07000120,Hyndburn,91.7,87.67,-4.03,-113,-13,ethnicity_white,North West
E07000121,Lancaster,97.78,95.64,-2.14,157,-17,ethnicity_white,North West
E07000122,Pendle,84.88,79.86,-5.02,-95,-10,ethnicity_white,North West
E07000123,Preston,85.45,80.18,-5.27,-91,-9,ethnicity_white,North West
E07000124,Ribble Valley,98.42,97.85,-0.57,9,3,ethnicity_white,North West
E07000125,Rossendale,96.17,93.82,-2.35,168,-16,ethnicity_white,North West
E07000126,South Ribble,97.99,97.06,-0.93,55,11,ethnicity_white,North West
E07000127,West Lancashire,98.53,98.12,-0.41,3,1,ethnicity_white,North West
E07000128,Wyre,98.86,98.24,-0.62,16,5,ethnicity_white,North West
E08000001,Bolton,89.04,81.88,-7.16,-55,-4,ethnicity_white,North West
E08000002,Bury,93.86,89.18,-4.68,-101,-11,ethnicity_white,North West
E08000003,Manchester,80.94,66.61,-14.33,-10,-1,ethnicity_white,North West
E08000004,Oldham,86.16,77.51,-8.65,-41,-3,ethnicity_white,North West
E08000005,Rochdale,88.53,81.66,-6.87,-62,-5,ethnicity_white,North West
E08000006,Salford,96.16,90.14,-6.02,-78,-7,ethnicity_white,North West
E08000007,Stockport,95.72,92.07,-3.65,-124,-14,ethnicity_white,North West
E08000008,Tameside,94.54,90.93,-3.61,-125,-15,ethnicity_white,North West
E08000009,Trafford,91.65,85.55,-6.1,-76,-6,ethnicity_white,North West
E08000010,Wigan,98.7,97.28,-1.42,116,19,ethnicity_white,North West
E08000011,Knowsley,98.41,97.23,-1.18,88,17,ethnicity_white,North West
E08000012,Liverpool,94.31,88.91,-5.4,-87,-8,ethnicity_white,North West
E08000013,St. Helens,98.84,98.04,-0.8,33,6,ethnicity_white,North West
E08000014,Sefton,98.4,97.43,-0.97,60,12,ethnicity_white,North West
E08000015,Wirral,98.27,96.99,-1.28,97,18,ethnicity_white,North West

In [1150]:
[l for l in lads if l['name']=="Eden"][0]['data']['ethnicity']

{'perc': {'2001': {'asian': 0.19,
   'black': 0.04,
   'mixed': 0.18,
   'other': 0.05,
   'white': 99.54},
  '2011': {'asian': 0.56,
   'black': 0.04,
   'mixed': 0.4,
   'other': 0.08,
   'white': 98.93},
  'change': {'asian': 0.37,
   'black': 0.0,
   'mixed': 0.22,
   'other': 0.03,
   'white': -0.61}},
 'perc_rank': {'2001': {'asian': 334,
   'black': 334,
   'mixed': 336,
   'other': 322,
   'white': 2},
  '2011': {'asian': 326, 'black': 336, 'mixed': 336, 'other': 318, 'white': 1},
  'change': {'asian': 295,
   'black': 324,
   'mixed': 327,
   'other': 249,
   'white': 14},
  'overtake': {'black': [],
   'white': ['Isles of Scilly'],
   'asian': ['Allerdale',
    'Mid Devon',
    'South Hams',
    'Torridge',
    'North Norfolk',
    'Staffordshire Moorlands']},
  'top_bottom': {'black': {1: {'Barking and Dagenham': 13.02},
    3: {'Croydon': 6.83},
    2: {'Greenwich': 8.02},
    -2: {'Hackney': -1.56},
    -3: {'Haringey': -1.28},
    -1: {'Newham': -2.01}},
   'white': {2: {'Redcar and Cleveland': -0.39},
    1: {'Torridge': -0.32},
    3: {'West Lancashire': -0.41},
    -1: {'Barking and Dagenham': -26.9},
    -3: {'Hillingdon': -18.44},
    -2: {'Redbridge': -21.03}},
   'asian': {-1: {'Redcar and Cleveland': 0.02},
    3: {'Slough': 11.48},
    -3: {'Isles of Scilly': 0.09},
    -2: {'Torridge': 0.05},
    2: {'Harrow': 11.71},
    1: {'Redbridge': 15.94}}}},
 'value': {'2001': {'all': 49786,
   'asian': 96,
   'black': 21,
   'mixed': 89,
   'other': 24,
   'white': 49556},
  '2011': {'all': 52564,
   'asian': 292,
   'black': 22,
   'mixed': 211,
   'other': 40,
   'white': 51999},
  'change': {'all': 5.58,
   'asian': 204.17,
   'black': 4.76,
   'mixed': 137.08,
   'other': 66.67,
   'white': 4.93}},
 'value_rank': {'2001': {'all': 330,
   'asian': 334,
   'black': 335,
   'mixed': 335,
   'other': 332,
   'white': 329},
  '2011': {'all': 330,
   'asian': 333,
   'black': 335,
   'mixed': 335,
   'other': 331,
   'white': 329},
  'change': {'all': 204,
   'asian': 19,
   'black': 332,
   'mixed': 16,
   'other': 187,
   'white': 97}},
 'perc_rank_local': {'2011': {'asian': -2,
   'black': -1,
   'mixed': -1,
   'other': -4,
   'white': 1},
  'change': {'asian': -8, 'black': -1, 'mixed': -5, 'other': -9, 'white': 4},
  'above_below': {'black': {'above': 'NaN',
    'below': {'name': 'Manchester', 'value': 8.64}},
   'white': {'above': 'NaN', 'below': {'name': 'Allerdale', 'value': 98.92}},
   'asian': {'above': 'NaN', 'below': {'name': 'Allerdale', 'value': 0.49}}}}}

In [1070]:
# Filter out priority list by subject
for lad in lads:
    subjectList = ["fair", "rent_free", "shared_ownership", "bicycle", "taxi", "moto", "bus", "other", "female", "male"]
    priorities = []
    priorities2011 = []
    for rank in lad['Priorities']:
        s=rank['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        if ((s[2] == "change") & (s[3] not in subjectList)):
            priorities.append(rank)
        if (s[2]!="change"):
            priorities2011.append(rank)
    lad['pri'] = priorities
    lad['pri2011'] = priorities2011

In [1071]:
# Create triple data for areas of closest proximity
geogTriples = []
for lad in lads:
    list1 = lad['bounds'][0]+lad['bounds'][1]
    for lad2 in lads:
        list2 = lad2['bounds'][0]+lad2['bounds'][1]
        listDif = [abs(list1[i]-list2[i]) for i in [0,1,2,3]]
        listDif.sort()
        if (sum(listDif[:3]) < 0.3) & (lad!=lad2):
            geogTriples.append([lad['name'], lad2['name'], ("near", round(sum(listDif[:3]), 2))])

In [1072]:
# storiesRefined

In [1073]:
# storiesRefined = sorted(storiesRefined, key=lambda x: ((abs(x['locRank'])*(1/tfidfLU['manchester'][TFtopicRev[x['label'].split('_')[0]]])), 
#                                                        abs(x['natRank']), -abs(x['value'])))
# storiesRefined

In [1074]:
# topicScoresOrder[bbcRegLU['E09000004']]

In [1075]:
# storiesRefined = sorted(storiesRefined, key=lambda x: ((abs(x['locRank'])*(topicScoresOrder[bbcRegLU[thisLad['code']]][x['label'].split('_')[0]])), 
#                                                        abs(x['natRank']), -abs(x['value'])))
# storiesRefined

In [1076]:
# [(TFtopicRev[x['label'].split('_')[0]], 1/tfidfLU['manchester'][TFtopicRev[x['label'].split('_')[0]]]) for x in storiesRefined]

In [1077]:
for thisLad in lads:

    # Find nearby area of same area type
    nearSimilar = []
    for i in geogTriples:
        try:
            if ((i[0]==thisLad['name'])&(typeLookup[i[1]]==typeLookup[thisLad['name']])):
                nearSimilar.append([i[0], i[1], ('near_similar', i[2][1])])
        except:
            pass

    if len(nearSimilar)==0:
        nearSimilar = [i for i in geogTriples if i[0]==thisLad['name']]

    nearSimilar = sorted(nearSimilar, key=lambda x: x[2][1])


    # Find and refine stories
    stories = []
    stories=stories+[i for i in thisLad['pri'] if abs(i['locRank']) <= 5]
    stories=stories+[i for i in thisLad['pri'] if (abs(i['natRank']) <= 10)&(abs(i['locRank']) > 5)]

    change = sorted(thisLad['pri'], reverse=True, key=lambda x: abs(x['value']))

    bigchange = [i for i in change if abs(i['value'])>4.5]
    for i in range(len(bigchange)):
        if len(stories)<4:
            stories=stories+[bigchange[i]]

    smallchange = sorted([i for i in change if abs(i['value'])<1], reverse=False, key=lambda x: abs(x['value']))
    for i in range(len(smallchange)):
        if len(stories)<5:
            stories=stories+[smallchange[i]]

    stories = sorted(stories, key=lambda x: -abs(x['value']))

    storiesRefined =[]
    notInc = ['density', 'age10yr']
    for i in stories:
        if i['label'].split("_")[0] not in notInc:
            storiesRefined.append(i)
            notInc.append(i['label'].split("_")[0])

    if (thisLad['code'][0]!='W'):
        storiesRefined = sorted(storiesRefined, key=lambda x: (abs(x['locRank'])*(topicScoresOrder[bbcRegLU[thisLad['code']]][x['label'].split('_')[0]])*(abs(x['natRank'])/10)*(5/(1+abs(x['value'])))))
        storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['label']=='population_value_change_all')

    
    #Find differences in data
    if (thisLad['parents'][0]['name']=='Wales'):                        
        region=[i for i in countries if i['name']=="Wales"][0]
        country=[i for i in countries if i['name']=="Wales"][0]
    else:
        region=[i for i in regions if i['name']==thisLad['parents'][0]['name']][0]
        country=[i for i in countries if i['name']==thisLad['parents'][1]['name']][0]

    def reg(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return region['data'][s[0]][s[1]][s[2]][s[3]]
    regDiff = [(i['label'], i['value']-reg(i)) for i in change]
    regDiff = sorted(regDiff, reverse=True, key=lambda x: abs(x[1]))

    def cou(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return countries[1]['data'][s[0]][s[1]][s[2]][s[3]]
    couDiff = [(i['label'], i['value']-cou(i)) for i in change]
    couDiff = sorted(couDiff, reverse=True, key=lambda x: abs(x[1]))
    
    try:
        nearSimilarData = {}
        nearSimilarData['name'] = nearSimilar[0][1]
        nearSimilarData['data'] = [lad for lad in lads if lad['name']==nearSimilar[0][1]][0]['data']
    except:
        nearSimilarData = []

    def near(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return nearSimilarData['data'][s[0]][s[1]][s[2]][s[3]]
    if len(nearSimilarData)>0:
        nearDiff = [(i['label'], i['value']-near(i)) for i in change]
        nearDiff = sorted(nearDiff, reverse=True, key=lambda x: abs(x[1]))

    nearTops = sorted([(lad['name'], lad['pri'][0]) for lad in lads if lad['name'] in [i[1] for i in nearSimilar if i[0]==thisLad['name']]], key=lambda x: abs(x[1]['locRank']))

    ageBandChange = sorted([(i, thisLad['data']['age10yr']['value']['2011'][i]-thisLad['data']['age10yr']['value']['2001'][i]) for i in thisLad['data']['age10yr']['value']['2001'].keys()], 
           reverse=True, key=lambda x: x[1])

    equalAgeChange = [lad['name'] for 
     lad in lads if (lad['parents'][0]['name'] == thisLad['parents'][0]['name']) 
     & (lad['data']['agemed']['value']['change']['all']==thisLad['data']['agemed']['value']['change']['all'])]
    len(equalAgeChange)

    # Add data to object
    thisLad['stories'] = storiesRefined
    thisLad['nearSimilar'] = {}
    thisLad['nearSimilar']['triples'] = nearSimilar
    thisLad['nearSimilar']['nearTops'] = nearTops
    thisLad['nearSimilar']['nearTops'] = nearSimilarData
    thisLad['differences'] = {}
    thisLad['differences']['country'] = couDiff
    thisLad['differences']['region'] = regDiff
    thisLad['differences']['near'] = nearDiff
    thisLad['data']['age10yr']['absChange'] = ageBandChange
    thisLad['data']['agemed']['value_rank_local']['equalAgeChange]'] = len(equalAgeChange)

In [1078]:
[i for i in regions if i['name']==thisLad['parents'][0]['name']]

[]

In [1079]:
thisLad['parents'][0]['name']

'Wales'

In [1080]:
manchester = [l for l in lads if l['name']=='Manchester'][0]

In [1081]:
manchester['data']['tenure']

{'perc': {'2001': {'owned': 41.5,
   'rent_free': 2.72,
   'rented_private': 15.94,
   'rented_social': 39.16,
   'shared_ownership': 0.69},
  '2011': {'owned': 37.76,
   'rent_free': 1.58,
   'rented_private': 28.38,
   'rented_social': 31.56,
   'shared_ownership': 0.72},
  'change': {'owned': -3.74,
   'rent_free': -1.14,
   'rented_private': 12.44,
   'rented_social': -7.6,
   'shared_ownership': 0.03}},
 'perc_rank': {'2001': {'owned': 328,
   'rent_free': 40,
   'rented_private': 25,
   'rented_social': 7,
   'shared_ownership': 98},
  '2011': {'owned': 326,
   'rent_free': 82,
   'rented_private': 16,
   'rented_social': 11,
   'shared_ownership': 146},
  'change': {'owned': 129,
   'rent_free': 303,
   'rented_private': 5,
   'rented_social': 333,
   'shared_ownership': 198},
  'overtake': {'owned': ['Hammersmith and Fulham',
    'Kensington and Chelsea',
    'Newham']},
  'top_bottom': {'rented_social': {3: {'Blackpool': 1.27},
    1: {'Hertsmere': 1.54},
    -2: {'Corby': -9.99},
    2: {'Redbridge': 1.3},
    -3: {'Southwark': -9.09},
    -1: {'Tower Hamlets': -12.03}},
   'rented_private': {3: {'Slough': 13.68},
    -1: {'Isles of Scilly': 0.47},
    -3: {'Allerdale': 2.22},
    -2: {'Copeland': 2.04},
    1: {'Newham': 16.44},
    2: {'Tower Hamlets': 16.13}},
   'owned': {-1: {'Slough': -13.68},
    1: {'Copeland': 3.43},
    3: {'Knowsley': 0.91},
    2: {'South Tyneside': 1.14},
    -2: {'Brent': -12.22},
    -3: {'Enfield': -12.17}}}},
 'value': {'2001': {'all': 168635,
   'owned': 69981,
   'rent_free': 4579,
   'rented_private': 26875,
   'rented_social': 66033,
   'shared_ownership': 1167},
  '2011': {'all': 204969,
   'owned': 77395,
   'rent_free': 3241,
   'rented_private': 58170,
   'rented_social': 64682,
   'shared_ownership': 1481},
  'change': {'all': 21.55,
   'owned': 10.59,
   'rent_free': -29.22,
   'rented_private': 116.45,
   'rented_social': -2.05,
   'shared_ownership': 26.91}},
 'value_rank': {'2001': {'all': 10,
   'owned': 43,
   'rent_free': 6,
   'rented_private': 6,
   'rented_social': 3,
   'shared_ownership': 18},
  '2011': {'all': 7,
   'owned': 32,
   'rent_free': 5,
   'rented_private': 2,
   'rented_social': 3,
   'shared_ownership': 17},
  'change': {'all': 2,
   'owned': 7,
   'rent_free': 181,
   'rented_private': 72,
   'rented_social': 232,
   'shared_ownership': 160}},
 'perc_rank_local': {'2011': {'owned': -1,
   'rent_free': 6,
   'rented_private': 1,
   'rented_social': 1,
   'shared_ownership': 5},
  'change': {'owned': 19,
   'rent_free': -6,
   'rented_private': 1,
   'rented_social': -1,
   'shared_ownership': 10},
  'above_below': {'rented_social': {'above': 'NaN',
    'below': {'name': 'Salford', 'value': 28.8}},
   'rented_private': {'above': 'NaN',
    'below': {'name': 'Blackpool', 'value': 26.05}},
   'owned': {'above': 'NaN',
    'below': {'name': 'South Ribble', 'value': 78.82}}}}}

In [1082]:
for lad in lads:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+lad['code']+'.json', 'w') as outfile:
            json.dump(lad, outfile)
        print("Worked: ", lad['name'])

    except:
        print("Failed: ", lad['name'])

Worked:  Hartlepool
Worked:  Middlesbrough
Worked:  Redcar and Cleveland
Worked:  Stockton-on-Tees
Worked:  Darlington
Worked:  Halton
Worked:  Warrington
Worked:  Blackburn with Darwen
Worked:  Blackpool
Worked:  Kingston upon Hull, City of
Worked:  East Riding of Yorkshire
Worked:  North East Lincolnshire
Worked:  North Lincolnshire
Worked:  York
Worked:  Derby
Worked:  Leicester
Worked:  Rutland
Worked:  Nottingham
Worked:  Herefordshire, County of
Worked:  Telford and Wrekin
Worked:  Stoke-on-Trent
Worked:  Bath and North East Somerset
Worked:  Bristol, City of
Worked:  North Somerset
Worked:  South Gloucestershire
Worked:  Plymouth
Worked:  Torbay
Worked:  Swindon
Worked:  Peterborough
Worked:  Luton
Worked:  Southend-on-Sea
Worked:  Thurrock
Worked:  Medway
Worked:  Bracknell Forest
Worked:  West Berkshire
Worked:  Reading
Worked:  Slough
Worked:  Windsor and Maidenhead
Worked:  Wokingham
Worked:  Milton Keynes
Worked:  Brighton and Hove
Worked:  Portsmouth
Worked:  Southampton
Worked:  Isle of Wight
Worked:  County Durham
Worked:  Cheshire East
Worked:  Cheshire West and Chester
Worked:  Shropshire
Worked:  Cornwall
Worked:  Isles of Scilly
Worked:  Wiltshire
Worked:  Bedford
Worked:  Central Bedfordshire
Worked:  Northumberland
Worked:  Bournemouth, Christchurch and Poole
Worked:  Dorset
Worked:  Buckinghamshire
Worked:  Cambridge
Worked:  East Cambridgeshire
Worked:  Fenland
Worked:  Huntingdonshire
Worked:  South Cambridgeshire
Worked:  Allerdale
Worked:  Barrow-in-Furness
Worked:  Carlisle
Worked:  Copeland
Worked:  Eden
Worked:  South Lakeland
Worked:  Amber Valley
Worked:  Bolsover
Worked:  Chesterfield
Worked:  Derbyshire Dales
Worked:  Erewash
Worked:  High Peak
Worked:  North East Derbyshire
Worked:  South Derbyshire
Worked:  East Devon
Worked:  Exeter
Worked:  Mid Devon
Worked:  North Devon
Worked:  South Hams
Worked:  Teignbridge
Worked:  Torridge
Worked:  West Devon
Worked:  Eastbourne
Worked:  Hastings
Worked:  Lewes
Worked:  Rother
Worked:  Wealden
Worked:  Basildon
Worked:  Braintree
Worked:  Brentwood
Worked:  Castle Point
Worked:  Chelmsford
Worked:  Colchester
Worked:  Epping Forest
Worked:  Harlow
Worked:  Maldon
Worked:  Rochford
Worked:  Tendring
Worked:  Uttlesford
Worked:  Cheltenham
Worked:  Cotswold
Worked:  Forest of Dean
Worked:  Gloucester
Worked:  Stroud
Worked:  Tewkesbury
Worked:  Basingstoke and Deane
Worked:  East Hampshire
Worked:  Eastleigh
Worked:  Fareham
Worked:  Gosport
Worked:  Hart
Worked:  Havant
Worked:  New Forest
Worked:  Rushmoor
Worked:  Test Valley
Worked:  Winchester
Worked:  Broxbourne
Worked:  Dacorum
Worked:  Hertsmere
Worked:  North Hertfordshire
Worked:  Three Rivers
Worked:  Watford
Worked:  Ashford
Worked:  Canterbury
Worked:  Dartford
Worked:  Dover
Worked:  Gravesham
Worked:  Maidstone
Worked:  Sevenoaks
Worked:  Folkestone and Hythe
Worked:  Swale
Worked:  Thanet
Worked:  Tonbridge and Malling
Worked:  Tunbridge Wells
Worked:  Burnley
Worked:  Chorley
Worked:  Fylde
Worked:  Hyndburn
Worked:  Lancaster
Worked:  Pendle
Worked:  Preston
Worked:  Ribble Valley
Worked:  Rossendale
Worked:  South Ribble
Worked:  West Lancashire
Worked:  Wyre
Worked:  Blaby
Worked:  Charnwood
Worked:  Harborough
Worked:  Hinckley and Bosworth
Worked:  Melton
Worked:  North West Leicestershire
Worked:  Oadby and Wigston
Worked:  Boston
Worked:  East Lindsey
Worked:  Lincoln
Worked:  North Kesteven
Worked:  South Holland
Worked:  South Kesteven
Worked:  West Lindsey
Worked:  Breckland
Worked:  Broadland
Worked:  Great Yarmouth
Worked:  King's Lynn and West Norfolk
Worked:  North Norfolk
Worked:  Norwich
Worked:  South Norfolk
Worked:  Corby
Worked:  Daventry
Worked:  East Northamptonshire
Worked:  Kettering
Worked:  Northampton
Worked:  South Northamptonshire
Worked:  Wellingborough
Worked:  Craven
Worked:  Hambleton
Worked:  Harrogate
Worked:  Richmondshire
Worked:  Ryedale
Worked:  Scarborough
Worked:  Selby
Worked:  Ashfield
Worked:  Bassetlaw
Worked:  Broxtowe
Worked:  Gedling
Worked:  Mansfield
Worked:  Newark and Sherwood
Worked:  Rushcliffe
Worked:  Cherwell
Worked:  Oxford
Worked:  South Oxfordshire
Worked:  Vale of White Horse
Worked:  West Oxfordshire
Worked:  Mendip
Worked:  Sedgemoor
Worked:  South Somerset
Worked:  Cannock Chase
Worked:  East Staffordshire
Worked:  Lichfield
Worked:  Newcastle-under-Lyme
Worked:  South Staffordshire
Worked:  Stafford
Worked:  Staffordshire Moorlands
Worked:  Tamworth
Worked:  Babergh
Worked:  Ipswich
Worked:  Mid Suffolk
Worked:  Elmbridge
Worked:  Epsom and Ewell
Worked:  Guildford
Worked:  Mole Valley
Worked:  Reigate and Banstead
Worked:  Runnymede
Worked:  Spelthorne
Worked:  Surrey Heath
Worked:  Tandridge
Worked:  Waverley
Worked:  Woking
Worked:  North Warwickshire
Worked:  Nuneaton and Bedworth
Worked:  Rugby
Worked:  Stratford-on-Avon
Worked:  Warwick
Worked:  Adur
Worked:  Arun
Worked:  Chichester
Worked:  Crawley
Worked:  Horsham
Worked:  Mid Sussex
Worked:  Worthing
Worked:  Bromsgrove
Worked:  Malvern Hills
Worked:  Redditch
Worked:  Worcester
Worked:  Wychavon
Worked:  Wyre Forest
Worked:  St Albans
Worked:  Welwyn Hatfield
Worked:  East Hertfordshire
Worked:  Stevenage
Worked:  East Suffolk
Worked:  West Suffolk
Worked:  Somerset West and Taunton
Worked:  Bolton
Worked:  Bury
Worked:  Manchester
Worked:  Oldham
Worked:  Rochdale
Worked:  Salford
Worked:  Stockport
Worked:  Tameside
Worked:  Trafford
Worked:  Wigan
Worked:  Knowsley
Worked:  Liverpool
Worked:  St. Helens
Worked:  Sefton
Worked:  Wirral
Worked:  Barnsley
Worked:  Doncaster
Worked:  Rotherham
Worked:  Sheffield
Worked:  Newcastle upon Tyne
Worked:  North Tyneside
Worked:  South Tyneside
Worked:  Sunderland
Worked:  Birmingham
Worked:  Coventry
Worked:  Dudley
Worked:  Sandwell
Worked:  Solihull
Worked:  Walsall
Worked:  Wolverhampton
Worked:  Bradford
Worked:  Calderdale
Worked:  Kirklees
Worked:  Leeds
Worked:  Wakefield
Worked:  Gateshead
Worked:  City of London
Worked:  Barking and Dagenham
Worked:  Barnet
Worked:  Bexley
Worked:  Brent
Worked:  Bromley
Worked:  Camden
Worked:  Croydon
Worked:  Ealing
Worked:  Enfield
Worked:  Greenwich
Worked:  Hackney
Worked:  Hammersmith and Fulham
Worked:  Haringey
Worked:  Harrow
Worked:  Havering
Worked:  Hillingdon
Worked:  Hounslow
Worked:  Islington
Worked:  Kensington and Chelsea
Worked:  Kingston upon Thames
Worked:  Lambeth
Worked:  Lewisham
Worked:  Merton
Worked:  Newham
Worked:  Redbridge
Worked:  Richmond upon Thames
Worked:  Southwark
Worked:  Sutton
Worked:  Tower Hamlets
Worked:  Waltham Forest
Worked:  Wandsworth
Worked:  Westminster
Worked:  Isle of Anglesey
Worked:  Gwynedd
Worked:  Conwy
Worked:  Denbighshire
Worked:  Flintshire
Worked:  Wrexham
Worked:  Ceredigion
Worked:  Pembrokeshire
Worked:  Carmarthenshire
Worked:  Swansea
Worked:  Neath Port Talbot
Worked:  Bridgend
Worked:  Vale of Glamorgan
Worked:  Cardiff
Worked:  Rhondda Cynon Taff
Worked:  Caerphilly
Worked:  Blaenau Gwent
Worked:  Torfaen
Worked:  Monmouthshire
Worked:  Newport
Worked:  Powys
Worked:  Merthyr Tydfil

In [1083]:
!git add .
!git commit -m "Add files"
!git push -u origin main

[main 9cc5c44] Add files
 338 files changed, 1913 insertions(+), 2379 deletions(-)
 rewrite json/place/E06000001.json (91%)
 rewrite json/place/E06000002.json (90%)
 rewrite json/place/E06000003.json (91%)
 rewrite json/place/E06000004.json (90%)
 rewrite json/place/E06000005.json (90%)
 rewrite json/place/E06000006.json (91%)
 rewrite json/place/E06000007.json (91%)
 rewrite json/place/E06000008.json (90%)
 rewrite json/place/E06000009.json (91%)
 rewrite json/place/E06000010.json (87%)
 rewrite json/place/E06000011.json (86%)
 rewrite json/place/E06000012.json (87%)
 rewrite json/place/E06000013.json (86%)
 rewrite json/place/E06000014.json (90%)
 rewrite json/place/E06000015.json (90%)
 rewrite json/place/E06000016.json (90%)
 rewrite json/place/E06000017.json (90%)
 rewrite json/place/E06000018.json (90%)
 rewrite json/place/E06000019.json (88%)
 rewrite json/place/E06000020.json (86%)
 rewrite json/place/E06000021.json (91%)
 rewrite json/place/E06000022.json (90%)
 rewrite json/place/E06000023.json (90%)
 rewrite json/place/E06000024.json (91%)
 rewrite json/place/E06000025.json (90%)
 rewrite json/place/E06000026.json (90%)
 rewrite json/place/E06000027.json (90%)
 rewrite json/place/E06000030.json (90%)
 rewrite json/place/E06000031.json (90%)
 rewrite json/place/E06000032.json (91%)
 rewrite json/place/E06000033.json (91%)
 rewrite json/place/E06000034.json (91%)
 rewrite json/place/E06000035.json (91%)
 rewrite json/place/E06000036.json (90%)
 rewrite json/place/E06000037.json (91%)
 rewrite json/place/E06000038.json (91%)
 rewrite json/place/E06000039.json (90%)
 rewrite json/place/E06000040.json (90%)
 rewrite json/place/E06000041.json (91%)
 rewrite json/place/E06000042.json (90%)
 rewrite json/place/E06000043.json (90%)
 rewrite json/place/E06000044.json (91%)
 rewrite json/place/E06000045.json (91%)
 rewrite json/place/E06000046.json (87%)
 rewrite json/place/E06000047.json (86%)
 rewrite json/place/E06000049.json (87%)
 rewrite json/place/E06000050.json (86%)
 rewrite json/place/E06000051.json (87%)
 rewrite json/place/E06000052.json (87%)
 rewrite json/place/E06000053.json (87%)
 rewrite json/place/E06000054.json (87%)
 rewrite json/place/E06000055.json (90%)
 rewrite json/place/E06000056.json (91%)
 rewrite json/place/E06000057.json (87%)
 rewrite json/place/E06000058.json (87%)
 rewrite json/place/E06000059.json (87%)
 rewrite json/place/E06000060.json (87%)
 rewrite json/place/E07000008.json (85%)
 rewrite json/place/E07000009.json (87%)
 rewrite json/place/E07000010.json (86%)
 rewrite json/place/E07000011.json (90%)
 rewrite json/place/E07000012.json (85%)
 rewrite json/place/E07000026.json (87%)
 rewrite json/place/E07000027.json (86%)
 rewrite json/place/E07000028.json (87%)
 rewrite json/place/E07000029.json (87%)
 rewrite json/place/E07000030.json (87%)
 rewrite json/place/E07000031.json (87%)
 rewrite json/place/E07000032.json (90%)
 rewrite json/place/E07000033.json (90%)
 rewrite json/place/E07000034.json (91%)
 rewrite json/place/E07000035.json (87%)
 rewrite json/place/E07000036.json (91%)
 rewrite json/place/E07000037.json (87%)
 rewrite json/place/E07000038.json (63%)
 rewrite json/place/E07000039.json (90%)
 rewrite json/place/E07000040.json (90%)
 rewrite json/place/E07000041.json (91%)
 rewrite json/place/E07000042.json (86%)
 rewrite json/place/E07000043.json (87%)
 rewrite json/place/E07000044.json (90%)
 rewrite json/place/E07000045.json (91%)
 rewrite json/place/E07000046.json (86%)
 rewrite json/place/E07000047.json (87%)
 rewrite json/place/E07000061.json (84%)
 rewrite json/place/E07000062.json (87%)
 rewrite json/place/E07000063.json (91%)
 rewrite json/place/E07000064.json (86%)
 rewrite json/place/E07000065.json (91%)
 rewrite json/place/E07000066.json (91%)
 rewrite json/place/E07000067.json (91%)
 rewrite json/place/E07000068.json (90%)
 rewrite json/place/E07000069.json (92%)
 rewrite json/place/E07000070.json (91%)
 rewrite json/place/E07000071.json (91%)
 rewrite json/place/E07000072.json (90%)
 rewrite json/place/E07000074.json (91%)
 rewrite json/place/E07000075.json (90%)
 rewrite json/place/E07000076.json (90%)
 rewrite json/place/E07000077.json (90%)
 rewrite json/place/E07000078.json (89%)
 rewrite json/place/E07000079.json (91%)
 rewrite json/place/E07000080.json (91%)
 rewrite json/place/E07000081.json (90%)
 rewrite json/place/E07000082.json (86%)
 rewrite json/place/E07000083.json (90%)
 rewrite json/place/E07000084.json (90%)
 rewrite json/place/E07000085.json (88%)
 rewrite json/place/E07000086.json (91%)
 rewrite json/place/E07000087.json (91%)
 rewrite json/place/E07000088.json (91%)
 rewrite json/place/E07000089.json (90%)
 rewrite json/place/E07000090.json (88%)
 rewrite json/place/E07000091.json (89%)
 rewrite json/place/E07000092.json (90%)
 rewrite json/place/E07000093.json (90%)
 rewrite json/place/E07000094.json (90%)
 rewrite json/place/E07000095.json (91%)
 rewrite json/place/E07000096.json (89%)
 rewrite json/place/E07000098.json (90%)
 rewrite json/place/E07000099.json (90%)
 rewrite json/place/E07000102.json (90%)
 rewrite json/place/E07000103.json (89%)
 rewrite json/place/E07000105.json (90%)
 rewrite json/place/E07000106.json (90%)
 rewrite json/place/E07000107.json (90%)
 rewrite json/place/E07000108.json (91%)
 rewrite json/place/E07000109.json (91%)
 rewrite json/place/E07000110.json (89%)
 rewrite json/place/E07000111.json (88%)
 rewrite json/place/E07000112.json (86%)
 rewrite json/place/E07000113.json (90%)
 rewrite json/place/E07000114.json (91%)
 rewrite json/place/E07000115.json (90%)
 rewrite json/place/E07000116.json (85%)
 rewrite json/place/E07000117.json (91%)
 rewrite json/place/E07000118.json (91%)
 rewrite json/place/E07000119.json (91%)
 rewrite json/place/E07000120.json (90%)
 rewrite json/place/E07000121.json (86%)
 rewrite json/place/E07000122.json (91%)
 rewrite json/place/E07000123.json (61%)
 rewrite json/place/E07000124.json (91%)
 rewrite json/place/E07000125.json (90%)
 rewrite json/place/E07000126.json (91%)
 rewrite json/place/E07000127.json (91%)
 rewrite json/place/E07000128.json (91%)
 rewrite json/place/E07000129.json (90%)
 rewrite json/place/E07000130.json (89%)
 rewrite json/place/E07000131.json (90%)
 rewrite json/place/E07000132.json (90%)
 rewrite json/place/E07000133.json (87%)
 rewrite json/place/E07000134.json (90%)
 rewrite json/place/E07000135.json (91%)
 rewrite json/place/E07000136.json (90%)
 rewrite json/place/E07000138.json (85%)
 rewrite json/place/E07000139.json (91%)
 rewrite json/place/E07000140.json (90%)
 rewrite json/place/E07000141.json (90%)
 rewrite json/place/E07000142.json (87%)
 rewrite json/place/E07000143.json (87%)
 rewrite json/place/E07000145.json (91%)
 rewrite json/place/E07000146.json (84%)
 rewrite json/place/E07000147.json (91%)
 rewrite json/place/E07000148.json (91%)
 rewrite json/place/E07000149.json (89%)
 rewrite json/place/E07000150.json (91%)
 rewrite json/place/E07000151.json (91%)
 rewrite json/place/E07000152.json (88%)
 rewrite json/place/E07000153.json (90%)
 rewrite json/place/E07000154.json (90%)
 rewrite json/place/E07000155.json (90%)
 rewrite json/place/E07000156.json (91%)
 rewrite json/place/E07000163.json (87%)
 rewrite json/place/E07000164.json (87%)
 rewrite json/place/E07000165.json (87%)
 rewrite json/place/E07000166.json (86%)
 rewrite json/place/E07000167.json (87%)
 rewrite json/place/E07000168.json (88%)
 rewrite json/place/E07000169.json (90%)
 rewrite json/place/E07000170.json (91%)
 rewrite json/place/E07000171.json (87%)
 rewrite json/place/E07000172.json (90%)
 rewrite json/place/E07000173.json (90%)
 rewrite json/place/E07000174.json (91%)
 rewrite json/place/E07000175.json (91%)
 rewrite json/place/E07000176.json (90%)
 rewrite json/place/E07000177.json (87%)
 rewrite json/place/E07000178.json (90%)
 rewrite json/place/E07000179.json (89%)
 rewrite json/place/E07000180.json (91%)
 rewrite json/place/E07000181.json (90%)
 rewrite json/place/E07000187.json (91%)
 rewrite json/place/E07000188.json (87%)
 rewrite json/place/E07000189.json (85%)
 rewrite json/place/E07000192.json (90%)
 rewrite json/place/E07000193.json (91%)
 rewrite json/place/E07000194.json (91%)
 rewrite json/place/E07000195.json (91%)
 rewrite json/place/E07000196.json (90%)
 rewrite json/place/E07000197.json (86%)
 rewrite json/place/E07000198.json (91%)
 rewrite json/place/E07000199.json (91%)
 rewrite json/place/E07000200.json (91%)
 rewrite json/place/E07000202.json (90%)
 rewrite json/place/E07000203.json (87%)
 rewrite json/place/E07000207.json (90%)
 rewrite json/place/E07000208.json (90%)
 rewrite json/place/E07000209.json (91%)
 rewrite json/place/E07000210.json (90%)
 rewrite json/place/E07000211.json (90%)
 rewrite json/place/E07000212.json (91%)
 rewrite json/place/E07000213.json (91%)
 rewrite json/place/E07000214.json (89%)
 rewrite json/place/E07000215.json (91%)
 rewrite json/place/E07000216.json (90%)
 rewrite json/place/E07000217.json (90%)
 rewrite json/place/E07000218.json (91%)
 rewrite json/place/E07000219.json (90%)
 rewrite json/place/E07000220.json (86%)
 rewrite json/place/E07000221.json (87%)
 rewrite json/place/E07000222.json (90%)
 rewrite json/place/E07000223.json (90%)
 rewrite json/place/E07000224.json (90%)
 rewrite json/place/E07000225.json (87%)
 rewrite json/place/E07000226.json (90%)
 rewrite json/place/E07000227.json (91%)
 rewrite json/place/E07000228.json (89%)
 rewrite json/place/E07000229.json (91%)
 rewrite json/place/E07000235.json (87%)
 rewrite json/place/E07000236.json (90%)
 rewrite json/place/E07000237.json (86%)
 rewrite json/place/E07000238.json (90%)
 rewrite json/place/E07000239.json (87%)
 rewrite json/place/E07000240.json (90%)
 rewrite json/place/E07000241.json (88%)
 rewrite json/place/E07000242.json (91%)
 rewrite json/place/E07000243.json (91%)
 rewrite json/place/E07000244.json (88%)
 rewrite json/place/E07000245.json (87%)
 rewrite json/place/E07000246.json (87%)
 rewrite json/place/E08000001.json (91%)
 rewrite json/place/E08000002.json (90%)
 rewrite json/place/E08000003.json (91%)
 rewrite json/place/E08000004.json (91%)
 rewrite json/place/E08000005.json (91%)
 rewrite json/place/E08000006.json (90%)
 rewrite json/place/E08000007.json (91%)
 rewrite json/place/E08000008.json (91%)
 rewrite json/place/E08000009.json (91%)
 rewrite json/place/E08000010.json (91%)
 rewrite json/place/E08000011.json (91%)
 rewrite json/place/E08000012.json (91%)
 rewrite json/place/E08000013.json (90%)
 rewrite json/place/E08000014.json (91%)
 rewrite json/place/E08000015.json (91%)
 rewrite json/place/E08000016.json (91%)
 rewrite json/place/E08000017.json (90%)
 rewrite json/place/E08000018.json (91%)
 rewrite json/place/E08000019.json (92%)
 rewrite json/place/E08000021.json (91%)
 rewrite json/place/E08000022.json (91%)
 rewrite json/place/E08000023.json (90%)
 rewrite json/place/E08000024.json (89%)
 rewrite json/place/E08000025.json (91%)
 rewrite json/place/E08000026.json (90%)
 rewrite json/place/E08000027.json (91%)
 rewrite json/place/E08000028.json (90%)
 rewrite json/place/E08000029.json (91%)
 rewrite json/place/E08000030.json (91%)
 rewrite json/place/E08000031.json (90%)
 rewrite json/place/E08000032.json (88%)
 rewrite json/place/E08000033.json (91%)
 rewrite json/place/E08000034.json (88%)
 rewrite json/place/E08000035.json (91%)
 rewrite json/place/E08000036.json (87%)
 rewrite json/place/E08000037.json (91%)
 rewrite json/place/E09000001.json (90%)
 rewrite json/place/E09000002.json (91%)
 rewrite json/place/E09000003.json (90%)
 rewrite json/place/E09000004.json (91%)
 rewrite json/place/E09000005.json (90%)
 rewrite json/place/E09000006.json (91%)
 rewrite json/place/E09000007.json (90%)
 rewrite json/place/E09000008.json (91%)
 rewrite json/place/E09000009.json (91%)
 rewrite json/place/E09000010.json (89%)
 rewrite json/place/E09000011.json (90%)
 rewrite json/place/E09000012.json (90%)
 rewrite json/place/E09000013.json (91%)
 rewrite json/place/E09000014.json (89%)
 rewrite json/place/E09000015.json (91%)
 rewrite json/place/E09000016.json (91%)
 rewrite json/place/E09000017.json (91%)
 rewrite json/place/E09000018.json (91%)
 rewrite json/place/E09000019.json (90%)
 rewrite json/place/E09000020.json (89%)
 rewrite json/place/E09000021.json (90%)
 rewrite json/place/E09000022.json (90%)
 rewrite json/place/E09000023.json (91%)
 rewrite json/place/E09000024.json (91%)
 rewrite json/place/E09000025.json (91%)
 rewrite json/place/E09000026.json (90%)
 rewrite json/place/E09000027.json (91%)
 rewrite json/place/E09000028.json (90%)
 rewrite json/place/E09000029.json (90%)
 rewrite json/place/E09000030.json (90%)
 rewrite json/place/E09000031.json (90%)
 rewrite json/place/E09000032.json (90%)
 rewrite json/place/E09000033.json (89%)
 rewrite json/place/W06000001.json (87%)
 rewrite json/place/W06000002.json (88%)
 rewrite json/place/W06000003.json (88%)
 rewrite json/place/W06000004.json (87%)
 rewrite json/place/W06000005.json (89%)
 rewrite json/place/W06000006.json (87%)
 rewrite json/place/W06000008.json (87%)
 rewrite json/place/W06000009.json (88%)
 rewrite json/place/W06000010.json (88%)
 rewrite json/place/W06000011.json (88%)
 rewrite json/place/W06000012.json (85%)
 rewrite json/place/W06000013.json (87%)
 rewrite json/place/W06000014.json (90%)
 rewrite json/place/W06000015.json (91%)
 rewrite json/place/W06000016.json (90%)
 rewrite json/place/W06000018.json (91%)
 rewrite json/place/W06000019.json (90%)
 rewrite json/place/W06000020.json (91%)
 rewrite json/place/W06000021.json (90%)
 rewrite json/place/W06000022.json (91%)
 rewrite json/place/W06000023.json (88%)
 rewrite json/place/W06000024.json (91%)
Enumerating objects: 581, done.
Counting objects: 100% (581/581), done.
Delta compression using up to 16 threads
Compressing objects: 100% (342/342), done.
Writing objects: 100% (342/342), 969.85 KiB | 4.90 MiB/s, done.
Total 342 (delta 325), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (325/325), completed with 237 local objects.
To https://github.com/theojolliffe/census-data.git
   98cb949..9cc5c44  main -> main
Branch 'main' set up to track remote branch 'main' from 'origin'.

In [817]:
[i for i in lads if i['name']=='Manchester'][0]['stories']

[{'label': 'population_value_change_all',
  'locRank': 1,
  'natRank': 2,
  'value': 28.08},
 {'label': 'health_perc_change_good',
  'locRank': 1,
  'natRank': 1,
  'value': 15.87},
 {'label': 'tenure_perc_change_rented_social',
  'locRank': -1,
  'natRank': -4,
  'value': -7.6},
 {'label': 'agemed_value_change_all',
  'locRank': -1,
  'natRank': -3,
  'value': -2.0},
 {'label': 'travel_perc_change_train_metro',
  'locRank': -1,
  'natRank': -7,
  'value': -4.93},
 {'label': 'ethnicity_perc_change_black',
  'locRank': 1,
  'natRank': 8,
  'value': 4.13},
 {'label': 'economic_perc_change_student',
  'locRank': 1,
  'natRank': 6,
  'value': 2.67}]

In [717]:
[i for i in lads if i['name']=='Manchester'][0]['stories']

[{'label': 'travel_perc_change_train_metro',
  'locRank': -1,
  'natRank': -7,
  'value': -4.93},
 {'label': 'tenure_perc_change_rented_social',
  'locRank': -1,
  'natRank': -4,
  'value': -7.6},
 {'label': 'health_perc_change_good',
  'locRank': 1,
  'natRank': 1,
  'value': 15.87},
 {'label': 'economic_perc_change_student',
  'locRank': 1,
  'natRank': 6,
  'value': 2.67},
 {'label': 'ethnicity_perc_change_black',
  'locRank': 1,
  'natRank': 8,
  'value': 4.13},
 {'label': 'population_value_change_all',
  'locRank': 1,
  'natRank': 2,
  'value': 28.08},
 {'label': 'agemed_value_change_all',
  'locRank': -1,
  'natRank': -3,
  'value': -2.0}]

In [718]:
topicScoresOrder['manchester']

{'travel': 0.7621064077360695,
 'tenure': 0.7792718330541142,
 'health': 0.7902066737468546,
 'economic': 0.793664815031433,
 'ethnicity': 0.7955981355335854,
 'population': 0.8037250405900891,
 'agemed': 0.8139850041580589}

In [720]:
1*(7/10)*(5/7)*topicRank

1.4000000000000001

In [721]:
(7/10)

0.7

In [723]:
(5/5)

1.0

In [ ]:
storiesRefined = sorted(storiesRefined, key=lambda x: )

[{'label': 'population_value_change_all',
  'locRank': -1,
  'natRank': -20,
  'value': 0.97},
 {'label': 'economic_perc_change_self-employed',
  'locRank': -1,
  'natRank': -30,
  'value': 0.63},
 {'label': 'health_perc_change_bad',
  'locRank': -5,
  'natRank': -122,
  'value': -3.67},
 {'label': 'agemed_value_change_all',
  'locRank': -6,
  'natRank': -107,
  'value': 0.0}]