In [1004]:
import pandas as pd
import json
import networkx as nx
from networkx_query import search_nodes, search_edges
import numpy as np

In [1005]:
with open('/Users/theojolliffe/Documents/Wayback BBC/topicScoresOrder.json', 'r') as fp:
    topicScoresOrder = json.load(fp)
topicScoresOrder = {i: {i[0]: 1/(1+i[1]/10) for i in topicScoresOrder[i]} for i in topicScoresOrder}

In [1036]:
bbcReg = pd.read_csv('/Users/theojolliffe/Downloads/bbc_regions.csv')
bbcRegLU = {}
for i in bbcReg.index:
    if bbcReg['areaCode'].iloc[i] in [lad['code'] for lad in lads]:
        bbcRegLU[bbcReg['areaCode'].iloc[i]] = bbcReg['bbc_online'].iloc[i]
bbcRegLU['E06000053'] = 'cornwall'
bbcRegLU['E06000060'] = 'beds_bucks_and_herts'
bbcRegLU['E09000001'] = 'london'
bbcRegLU['E07000150'] = 'northamptonshire'

regions = ['cumbria', 'lancashire', 'merseyside', 'manchester', 'tees', 'tyne_and_wear', 'Humberside', 'york_and_north_yorkshire', 'leeds_and_west_yorkshire', 'lincolnshire', 'south_yorkshire', 'birmingham_and_black_country', 'coventry_and_warwickshire', 'hereford_and_worcester', 'shropshire', 'stoke_and_staffordshire', 'derbyshire', 'leicester', 'northamptonshire', 'nottingham', 'bristol', 'cornwall', 'devon', 'gloucestershire', 'somerset', 'wiltshire', 'beds_bucks_and_herts', 'cambridgeshire', 'essex', 'norfolk', 'suffolk', 'berkshire', 'dorset', 'hampshire', 'oxford', 'kent', 'london', 'surrey', 'sussex']
bbcNames = {
     'derby': 'derbyshire', 
     'hereford and worcester': 'hereford_and_worcester',
     'tyne and wear': 'tyne_and_wear',
     'northampton': 'northamptonshire',
     'liverpool': 'merseyside',
     'coventry and warwickshire': 'coventry_and_warwickshire',
     'humberside': 'Humberside',
     'sheffield and south yorkshire': 'south_yorkshire',
     'hampshire & isle of wight': 'hampshire',
     'stoke and staffordshire': 'stoke_and_staffordshire',
     'york & north yorkshire': 'york_and_north_yorkshire',
     'birmingham and black country': 'birmingham_and_black_country',
     'beds, bucks and herts': 'beds_bucks_and_herts',
     'leeds and west yorkshire': 'leeds_and_west_yorkshire'
}
for i in bbcRegLU.keys():
    bbcRegLU[i] = bbcRegLU[i].lower()
    if bbcRegLU[i] not in regions:
        try:
            bbcRegLU[i] = bbcNames[bbcRegLU[i]]
        except:
            pass

In [1037]:
tfidf = pd.read_csv('/Users/theojolliffe/Documents/Wayback BBC/BBCRegionalTFIDF.csv')
tfidf = tfidf.set_index('Unnamed: 0')
for i in tfidf.columns:
    for j in tfidf[i].index:
        tfidf[i].loc[j] = 1+100*tfidf[i].loc[j]
tfidfLU = {}
for i in regions:
    tfidfLU[i]=tfidf.loc[i].to_dict()

In [1038]:
TFtopicLU = {
    'health': 'health',
    'racial': 'ethnicity',
    'population': 'population',
    'age': 'agemed',
    'work': 'economic',
    'commuter': 'travel',
    'housing': 'tenure'
}
TFtopicRev = dict((TFtopicLU[x],x) for x in TFtopicLU)

In [1039]:
options = pd.read_csv('./csv/lists/places_2020.csv')
areaType = pd.read_csv('/Users/theojolliffe/Documents/Census Data/censusAreaLookup.csv')
typeLookup = {}
for i in areaType.index:
    typeLookup[areaType.iloc[i]['Name']]=areaType.iloc[i]['Group name']

In [1040]:
areasO = []
for i in options["code"]:
    try:
        areasO.append(json.load(open(f'/Users/theojolliffe/Documents/Census Data/census-data-main/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
        print(i)
        pass
    
for area in areasO:
    area['data']['agemed']['value']['change']['all'] = area['data']['agemed']['value']['2011']['all']-area['data']['agemed']['value']['2001']['all']

E05009289
E05009290
E05009293
E05009294
E05009295
E05009297
E05009298
E05009299
E05009300
E05009301
E05009303
E05009306
E05009307
E05009312
E05011090

In [1041]:
areas = []
for i in options["code"]:
    try:
        areas.append(json.load(open(f'/Users/theojolliffe/Documents/pipeline_2/final/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
#         print(i)
        pass
    
for area in areas:
    area['data']['agemed']['value']['change']['all'] = area['data']['agemed']['value']['2011']['all']-area['data']['agemed']['value']['2001']['all']

In [1042]:
# Seperate the areas by area type
regions = []
for i in areasO:
    if i['type']=='rgn':
        regions.append(i)
        
lads = []
for i in areasO:
    if i['type']=='lad':
        lads.append(i)
        
countries = []
for i in areasO:
    if (i['type']=='ew')|(i['type']=='ctry'):
        countries.append(i)

In [1043]:
# Find each LAD local and national ranks and put in prioirity order
for thisLad in lads:
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_lads = []
    lad_code = thisLad['parents'][0]['code']
    for i in range(len(lads)):
        if  lad_code == lads[i]['parents'][0]['code']:
            sister_lads.append(lads[i])

    # Loop through the various data variables
    for a in thisLad['data']:
        if a in ['population', 'density', 'agemed']:
            b = 'value'
        else:
            b = 'perc'
        # Create nested object with localised rank
        thisLad['data'][a][b+"_rank_local"] = {}    
        for c in ['2011', 'change']:
            thisLad['data'][a][b+"_rank_local"][c] = {}
            for d in thisLad['data'][a][b][c]:
                vari = thisLad['data'][a][b][c][d]

                # Create sorted list of values from sister areas
                group_values = []
                for lad in sister_lads:
                    group_values.append(lad['data'][a][b][c][d])
                    group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                group_values.sort(reverse=True)

                # Find index of value of area of interest
                varRank = group_values.index(vari) + 1

                # Convert bottom half rankings into negative values
                if varRank>len(group_values)/2:
                    varRank = varRank-len(group_values)-1
                    
                natRank = thisLad['data'][a][b+"_rank"][c][d]
                if natRank > 168:
                    natRank = natRank-336-1

                thisLad['data'][a][b+"_rank_local"][c][d] = varRank

                # Append ranking data to original array
                ranks.append({
                    'label': a+'_'+b+'_'+c+'_'+d, 
                    'locRank': varRank, 
                    'natRank': natRank, 
                    'value': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: (abs(x['locRank']), -abs(x['value'])))
    thisLad["Priorities"] = ranks

In [ ]:
topics = [{1: 'population', 2: 'value', 3: 'all'}, 
          {1: 'agemed', 2: 'value', 3: 'all'},
          {1: 'health', 2: 'perc', 3: 'good'},
          {1: 'travel', 2: 'perc', 3: 'car_van'},
          {1: 'tenure', 2: 'perc', 3: 'rented_social'},
          {1: 'tenure', 2: 'perc', 3: 'rented_private'},
          {1: 'tenure', 2: 'perc', 3: 'owned'},
          {1: 'agemed', 2: 'value', 3: 'all'},
          {1: 'economic', 2: 'perc', 3: 'employee'},
#           {1: 'religion', 2: 'perc', 3: 'Christian'},
          {1: 'health', 2: 'perc', 3: 'bad'},
          {1: 'ethnicity', 2: 'perc', 3: 'black'},
          {1: 'economic', 2: 'perc', 3: 'student'},
          {1: 'economic', 2: 'perc', 3: 'self-employed'}]

ladCodes = []
for lad in lads:
    ladCodes.append(lad['code'])
    
    
df = pd.DataFrame(columns=
                  ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
for j in range(len(topics)):
    df1 = pd.DataFrame(index=ladCodes, columns=
                      ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
    for i in range(len(lads)):
        df1['lad'].iloc[i] = lads[i]['name']
        df1['2001'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2001'][topics[j][3]]
        df1['2011'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2011'][topics[j][3]]    
        df1['change'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['change'][topics[j][3]]
        df1['natRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank"]['change'][topics[j][3]]    
        df1['localRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank_local"]['change'][topics[j][3]]    
        df1['topic'].iloc[i] = topics[j][1]+"_"+topics[j][3]
        df1['parent'].iloc[i] = lads[i]['parents'][0]['name']
    df = pd.concat([df,df1])
df['natRank'] = np.where(df['natRank'] > 168, df['natRank']-337,df['natRank'])



for topic in topics:
    for lad in lads:
        
#       Find the areas that this area has overtaken
        v2001 = lad['data'][topic[1]][topic[2]]['2001'][topic[3]]
        v2011 = lad['data'][topic[1]][topic[2]]['2011'][topic[3]]
        dfT = df[(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)]
        obje = []
        for i in range(dfT.shape[0]):
            obje.append(dfT.iloc[i]['lad'])

        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'][topic[3]] = obje
        
#       Find the area immediatly above or below
        below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]
        above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-2
        if below<0:
            below=below+1
            above=above+1
        reg = lad['parents'][0]['name']
        name_above = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[above]['lad']
        name_below = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[below]['lad']
        if above>0:
            area_above = {'name': name_above,
                         'value': df[(df['lad']==name_above)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        else:
            area_above = 'NaN'
        if below<len(df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])]):
            area_below = {'name': name_below,
                          'value': df[(df['lad']==name_below)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        else:
            area_below = 'NaN'
        
        if 'above_below' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'] = {}

        if topic[3] not in lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]] = {}
        
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["above"] = area_above
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["below"] = area_below
            
        # Add top and bottom three biggest movers for each subject to every area
        df_topic = df[(df['topic']==topic[1]+"_"+topic[3])&(abs(df['natRank'])<4)]
        ob = {}
        for index, row in df_topic.iterrows():
            ob[row['natRank']]= {row['lad']: row['change']}
        if 'top_bottom' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'] = {}
        lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'][topic[3]]=ob

In [ ]:
# Filter out priority list by subject
for lad in lads:
    subjectList = ["fair", "rent_free", "shared_ownership", "bicycle", "taxi", "moto", "bus", "other", "female", "male"]
    priorities = []
    priorities2011 = []
    for rank in lad['Priorities']:
        s=rank['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        if ((s[2] == "change") & (s[3] not in subjectList)):
            priorities.append(rank)
        if (s[2]!="change"):
            priorities2011.append(rank)
    lad['pri'] = priorities
    lad['pri2011'] = priorities2011

In [ ]:
# Create triple data for areas of closest proximity
geogTriples = []
for lad in lads:
    list1 = lad['bounds'][0]+lad['bounds'][1]
    for lad2 in lads:
        list2 = lad2['bounds'][0]+lad2['bounds'][1]
        listDif = [abs(list1[i]-list2[i]) for i in [0,1,2,3]]
        listDif.sort()
        if (sum(listDif[:3]) < 0.3) & (lad!=lad2):
            geogTriples.append([lad['name'], lad2['name'], ("near", round(sum(listDif[:3]), 2))])

In [ ]:
# storiesRefined

In [ ]:
# storiesRefined = sorted(storiesRefined, key=lambda x: ((abs(x['locRank'])*(1/tfidfLU['manchester'][TFtopicRev[x['label'].split('_')[0]]])), 
#                                                        abs(x['natRank']), -abs(x['value'])))
# storiesRefined

In [ ]:
# topicScoresOrder[bbcRegLU['E09000004']]

In [ ]:
# storiesRefined = sorted(storiesRefined, key=lambda x: ((abs(x['locRank'])*(topicScoresOrder[bbcRegLU[thisLad['code']]][x['label'].split('_')[0]])), 
#                                                        abs(x['natRank']), -abs(x['value'])))
# storiesRefined

In [ ]:
# [(TFtopicRev[x['label'].split('_')[0]], 1/tfidfLU['manchester'][TFtopicRev[x['label'].split('_')[0]]]) for x in storiesRefined]

In [ ]:
for thisLad in lads:

    # Find nearby area of same area type
    nearSimilar = []
    for i in geogTriples:
        try:
            if ((i[0]==thisLad['name'])&(typeLookup[i[1]]==typeLookup[thisLad['name']])):
                nearSimilar.append([i[0], i[1], ('near_similar', i[2][1])])
        except:
            pass

    if len(nearSimilar)==0:
        nearSimilar = [i for i in geogTriples if i[0]==thisLad['name']]

    nearSimilar = sorted(nearSimilar, key=lambda x: x[2][1])


    # Find and refine stories
    stories = []
    stories=stories+[i for i in thisLad['pri'] if abs(i['locRank']) <= 5]
    stories=stories+[i for i in thisLad['pri'] if (abs(i['natRank']) <= 10)&(abs(i['locRank']) > 5)]

    change = sorted(thisLad['pri'], reverse=True, key=lambda x: abs(x['value']))

    bigchange = [i for i in change if abs(i['value'])>4.5]
    for i in range(len(bigchange)):
        if len(stories)<4:
            stories=stories+[bigchange[i]]

    smallchange = sorted([i for i in change if abs(i['value'])<1], reverse=False, key=lambda x: abs(x['value']))
    for i in range(len(smallchange)):
        if len(stories)<5:
            stories=stories+[smallchange[i]]

    stories = sorted(stories, key=lambda x: -abs(x['value']))

    storiesRefined =[]
    notInc = ['density', 'age10yr']
    for i in stories:
        if i['label'].split("_")[0] not in notInc:
            storiesRefined.append(i)
            notInc.append(i['label'].split("_")[0])

    if (thisLad['code'][0]!='W'):
        storiesRefined = sorted(storiesRefined, key=lambda x: (abs(x['locRank'])*(topicScoresOrder[bbcRegLU[thisLad['code']]][x['label'].split('_')[0]])*(abs(x['natRank'])/10)*(5/(1+abs(x['value'])))))
        storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['label']=='population_value_change_all')

    
    #Find differences in data
    if (thisLad['parents'][0]['name']=='Wales'):                        
        region=[i for i in countries if i['name']=="Wales"][0]
        country=[i for i in countries if i['name']=="Wales"][0]
    else:
        region=[i for i in regions if i['name']==thisLad['parents'][0]['name']][0]
        country=[i for i in countries if i['name']==thisLad['parents'][1]['name']][0]

    def reg(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return region['data'][s[0]][s[1]][s[2]][s[3]]
    regDiff = [(i['label'], i['value']-reg(i)) for i in change]
    regDiff = sorted(regDiff, reverse=True, key=lambda x: abs(x[1]))

    def cou(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return countries[1]['data'][s[0]][s[1]][s[2]][s[3]]
    couDiff = [(i['label'], i['value']-cou(i)) for i in change]
    couDiff = sorted(couDiff, reverse=True, key=lambda x: abs(x[1]))
    
    try:
        nearSimilarData = {}
        nearSimilarData['name'] = nearSimilar[0][1]
        nearSimilarData['data'] = [lad for lad in lads if lad['name']==nearSimilar[0][1]][0]['data']
    except:
        nearSimilarData = []

    def near(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return nearSimilarData['data'][s[0]][s[1]][s[2]][s[3]]
    if len(nearSimilarData)>0:
        nearDiff = [(i['label'], i['value']-near(i)) for i in change]
        nearDiff = sorted(nearDiff, reverse=True, key=lambda x: abs(x[1]))

    nearTops = sorted([(lad['name'], lad['pri'][0]) for lad in lads if lad['name'] in [i[1] for i in nearSimilar if i[0]==thisLad['name']]], key=lambda x: abs(x[1]['locRank']))

    ageBandChange = sorted([(i, thisLad['data']['age10yr']['value']['2011'][i]-thisLad['data']['age10yr']['value']['2001'][i]) for i in thisLad['data']['age10yr']['value']['2001'].keys()], 
           reverse=True, key=lambda x: x[1])

    equalAgeChange = [lad['name'] for 
     lad in lads if (lad['parents'][0]['name'] == thisLad['parents'][0]['name']) 
     & (lad['data']['agemed']['value']['change']['all']==thisLad['data']['agemed']['value']['change']['all'])]
    len(equalAgeChange)

    # Add data to object
    thisLad['stories'] = storiesRefined
    thisLad['nearSimilar'] = {}
    thisLad['nearSimilar']['triples'] = nearSimilar
    thisLad['nearSimilar']['nearTops'] = nearTops
    thisLad['nearSimilar']['nearTops'] = nearSimilarData
    thisLad['differences'] = {}
    thisLad['differences']['country'] = couDiff
    thisLad['differences']['region'] = regDiff
    thisLad['differences']['near'] = nearDiff
    thisLad['data']['age10yr']['absChange'] = ageBandChange
    thisLad['data']['agemed']['value_rank_local']['equalAgeChange]'] = len(equalAgeChange)

In [971]:
[i for i in regions if i['name']==thisLad['parents'][0]['name']]

[]

In [975]:
thisLad['parents'][0]['name']

'North East'

In [1032]:
[l for l in lads if l['code']=='E07000150'][0]

{'code': 'E07000150',
 'name': 'Corby',
 'type': 'lad',
 'area': 8028.28,
 'count': 336,
 'parents': [{'code': 'E12000004', 'name': 'East Midlands', 'type': 'rgn'},
  {'code': 'E92000001', 'name': 'England', 'type': 'ctry'},
  {'code': 'K04000001', 'name': 'England and Wales', 'type': 'ew'}],
 'bounds': [[-0.80795, 52.45446], [-0.5964, 52.55862]],
 'data': {'population': {'perc': {'2001': {'female': 51.32, 'male': 48.68},
    '2011': {'female': 50.78, 'male': 49.22},
    'change': {'female': -0.54, 'male': 0.54}},
   'perc_rank': {'2001': {'female': 152, 'male': 184},
    '2011': {'female': 199, 'male': 132},
    'change': {'female': 221, 'male': 113}},
   'value': {'2001': {'all': 53174, 'female': 27287, 'male': 25887},
    '2011': {'all': 61255, 'female': 31108, 'male': 30147},
    'change': {'all': 15.2, 'female': 14.0, 'male': 16.46}},
   'value_rank': {'2001': {'all': 328, 'female': 328, 'male': 327},
    '2011': {'all': 323, 'female': 324, 'male': 323},
    'change': {'all': 25, 'female': 29, 'male': 22},
    'overtake': {'all': ['Ribble Valley',
      'Oadby and Wigston',
      'Craven',
      'Adur',
      'Merthyr Tydfil']},
    'top_bottom': {'all': {-1: {'Barrow-in-Furness': -4.02},
      2: {'Manchester': 28.08},
      -2: {'Sefton': -3.24},
      -3: {'South Tyneside': -3.05},
      3: {'Newham': 26.28},
      1: {'Tower Hamlets': 29.57}}}},
   'value_rank_local': {'2011': {'all': -4, 'female': -4, 'male': -4},
    'change': {'all': 5, 'female': 7, 'male': 2},
    'above_below': {'all': {'above': 'NaN',
      'below': {'name': 'Oadby and Wigston', 'value': 56170}}}}},
  'age10yr': {'perc': {'2001': {'0-9': 13.25,
     '10-19': 14.84,
     '20-29': 10.84,
     '30-39': 15.99,
     '40-49': 14.09,
     '50-59': 12.03,
     '60-69': 9.42,
     '70plus': 9.54},
    '2011': {'0-9': 13.27,
     '10-19': 12.33,
     '20-29': 14.22,
     '30-39': 13.56,
     '40-49': 15.4,
     '50-59': 12.42,
     '60-69': 9.5,
     '70plus': 9.29},
    'change': {'0-9': 0.02,
     '10-19': -2.51,
     '20-29': 3.38,
     '30-39': -2.43,
     '40-49': 1.31,
     '50-59': 0.39,
     '60-69': 0.08,
     '70plus': -0.25}},
   'perc_rank': {'2001': {'0-9': 49,
     '10-19': 6,
     '20-29': 183,
     '30-39': 86,
     '40-49': 82,
     '50-59': 259,
     '60-69': 180,
     '70plus': 295},
    '2011': {'0-9': 35,
     '10-19': 109,
     '20-29': 81,
     '30-39': 86,
     '40-49': 108,
     '50-59': 203,
     '60-69': 265,
     '70plus': 298},
    'change': {'0-9': 56,
     '10-19': 334,
     '20-29': 13,
     '30-39': 119,
     '40-49': 178,
     '50-59': 29,
     '60-69': 302,
     '70plus': 247}},
   'value': {'2001': {'0-9': 7050,
     '10-19': 7900,
     '20-29': 5772,
     '30-39': 8513,
     '40-49': 7499,
     '50-59': 6403,
     '60-69': 5012,
     '70plus': 5076,
     'all': 53225},
    '2011': {'0-9': 8129,
     '10-19': 7554,
     '20-29': 8710,
     '30-39': 8306,
     '40-49': 9436,
     '50-59': 7607,
     '60-69': 5820,
     '70plus': 5693,
     'all': 61255},
    'change': {'0-9': 15.3,
     '10-19': -4.38,
     '20-29': 50.9,
     '30-39': -2.43,
     '40-49': 25.83,
     '50-59': 18.8,
     '60-69': 16.12,
     '70plus': 12.16,
     'all': 15.09}},
   'value_rank': {'2001': {'0-9': 322,
     '10-19': 321,
     '20-29': 323,
     '30-39': 321,
     '40-49': 326,
     '50-59': 332,
     '60-69': 331,
     '70plus': 332,
     'all': 328},
    '2011': {'0-9': 307,
     '10-19': 320,
     '20-29': 291,
     '30-39': 307,
     '40-49': 319,
     '50-59': 328,
     '60-69': 333,
     '70plus': 333,
     'all': 323},
    'change': {'0-9': 29,
     '10-19': 287,
     '20-29': 4,
     '30-39': 61,
     '40-49': 44,
     '50-59': 20,
     '60-69': 271,
     '70plus': 155,
     'all': 25}},
   'perc_rank_local': {'2011': {'0-9': 3,
     '10-19': 14,
     '20-29': 7,
     '30-39': 5,
     '40-49': -17,
     '50-59': -9,
     '60-69': -6,
     '70plus': -3},
    'change': {'0-9': 4,
     '10-19': -1,
     '20-29': 2,
     '30-39': 8,
     '40-49': -17,
     '50-59': 2,
     '60-69': -3,
     '70plus': -8}}},
  'ethnicity': {'perc': {'2001': {'asian': 0.77,
     'black': 0.24,
     'mixed': 0.59,
     'other': 0.05,
     'white': 98.36},
    '2011': {'asian': 1.28,
     'black': 1.65,
     'mixed': 1.36,
     'other': 0.18,
     'white': 95.53},
    'change': {'asian': 0.51,
     'black': 1.41,
     'mixed': 0.77,
     'other': 0.13,
     'white': -2.83}},
   'perc_rank': {'2001': {'asian': 210,
     'black': 179,
     'mixed': 216,
     'other': 322,
     'white': 114},
    '2011': {'asian': 230,
     'black': 90,
     'mixed': 163,
     'other': 219,
     'white': 162},
    'change': {'asian': 257,
     'black': 48,
     'mixed': 118,
     'other': 153,
     'white': 188},
    'overtake': {'black': ['Middlesbrough',
      'Kingston upon Hull, City of',
      'Rutland',
      'Telford and Wrekin',
      'Stoke-on-Trent',
      'Bath and North East Somerset',
      'South Gloucestershire',
      'Swindon',
      'West Berkshire',
      'Windsor and Maidenhead',
      'Wokingham',
      'Brighton and Hove',
      'Wiltshire',
      'Central Bedfordshire',
      'Bournemouth, Christchurch and Poole',
      'East Cambridgeshire',
      'Huntingdonshire',
      'South Cambridgeshire',
      'Chesterfield',
      'Erewash',
      'Eastbourne',
      'Hastings',
      'Braintree',
      'Brentwood',
      'Chelmsford',
      'Colchester',
      'Cheltenham',
      'Basingstoke and Deane',
      'Hart',
      'Winchester',
      'Ashford',
      'Canterbury',
      'Maidstone',
      'Swale',
      'Thanet',
      'Tunbridge Wells',
      'Chorley',
      'Preston',
      'Blaby',
      'Charnwood',
      'Oadby and Wigston',
      'Lincoln',
      'Breckland',
      'Norwich',
      'Daventry',
      'East Northamptonshire',
      'Kettering',
      'South Northamptonshire',
      'Bassetlaw',
      'Broxtowe',
      'Gedling',
      'Mansfield',
      'Newark and Sherwood',
      'Rushcliffe',
      'Cherwell',
      'South Oxfordshire',
      'East Staffordshire',
      'South Staffordshire',
      'Stafford',
      'Tamworth',
      'Elmbridge',
      'Epsom and Ewell',
      'Guildford',
      'Reigate and Banstead',
      'Runnymede',
      'Spelthorne',
      'Surrey Heath',
      'Tandridge',
      'Waverley',
      'Woking',
      'Nuneaton and Bedworth',
      'Warwick',
      'Horsham',
      'Mid Sussex',
      'Worthing',
      'Bromsgrove',
      'Redditch',
      'Worcester',
      'East Hertfordshire',
      'West Suffolk',
      'Bury',
      'Oldham',
      'Rochdale',
      'Stockport',
      'Tameside',
      'Doncaster',
      'Dudley',
      'Solihull',
      'Richmond upon Thames']},
    'top_bottom': {'black': {1: {'Barking and Dagenham': 13.02},
      3: {'Croydon': 6.83},
      2: {'Greenwich': 8.02},
      -2: {'Hackney': -1.56},
      -3: {'Haringey': -1.28},
      -1: {'Newham': -2.01}}}},
   'value': {'2001': {'all': 53159,
     'asian': 409,
     'black': 127,
     'mixed': 311,
     'other': 24,
     'white': 52288},
    '2011': {'all': 61255,
     'asian': 782,
     'black': 1008,
     'mixed': 836,
     'other': 110,
     'white': 58519},
    'change': {'all': 15.23,
     'asian': 91.2,
     'black': 693.7,
     'mixed': 168.81,
     'other': 358.33,
     'white': 11.92}},
   'value_rank': {'2001': {'all': 328,
     'asian': 298,
     'black': 271,
     'mixed': 309,
     'other': 332,
     'white': 327},
    '2011': {'all': 323,
     'asian': 302,
     'black': 151,
     'mixed': 284,
     'other': 294,
     'white': 324},
    'change': {'all': 25,
     'asian': 194,
     'black': 2,
     'mixed': 5,
     'other': 22,
     'white': 9}},
   'perc_rank_local': {'2011': {'asian': -20,
     'black': 6,
     'mixed': 13,
     'other': 17,
     'white': -14},
    'change': {'asian': -17,
     'black': 4,
     'mixed': 8,
     'other': 15,
     'white': -10},
    'above_below': {'black': {'above': {'name': 'Derby', 'value': 2.94},
      'below': {'name': 'Gedling', 'value': 1.46}}}}},
  'health': {'perc': {'2001': {'bad': 9.41, 'fair': 22.45, 'good': 68.14},
    '2011': {'bad': 5.77, 'fair': 13.13, 'good': 81.1},
    'change': {'bad': -3.64, 'fair': -9.32, 'good': 12.96}},
   'perc_rank': {'2001': {'bad': 121, 'fair': 151, 'good': 195},
    '2011': {'bad': 120, 'fair': 185, 'good': 182},
    'change': {'bad': 207, 'fair': 231, 'good': 85},
    'overtake': {'bad': ['Chorley',
      'Norwich',
      'Calderdale',
      'Kirklees',
      'Leeds',
      'Newham',
      'Gwynedd',
      'Flintshire']},
    'top_bottom': {'good': {-3: {'Wokingham': 10.23},
      -2: {'Maldon': 10.14},
      -1: {'Surrey Heath': 10.04},
      1: {'Manchester': 15.87},
      2: {'Barking and Dagenham': 15.48},
      3: {'Tower Hamlets': 15.42}},
     'bad': {1: {'Wokingham': -1.86},
      2: {'Daventry': -2.03},
      3: {'Surrey Heath': -2.06},
      -3: {'Neath Port Talbot': -5.9},
      -2: {'Rhondda Cynon Taff': -6.08},
      -1: {'Merthyr Tydfil': -6.93}}}},
   'value': {'2001': {'all': 53174, 'bad': 5002, 'fair': 11938, 'good': 36234},
    '2011': {'all': 61255, 'bad': 3533, 'fair': 8045, 'good': 49677},
    'change': {'all': 15.2, 'bad': -29.37, 'fair': -32.61, 'good': 37.1}},
   'value_rank': {'2001': {'all': 328, 'bad': 313, 'fair': 326, 'good': 326},
    '2011': {'all': 323, 'bad': 305, 'fair': 324, 'good': 322},
    'change': {'all': 25, 'bad': 32, 'fair': 56, 'good': 24}},
   'perc_rank_local': {'2011': {'bad': 15, 'fair': -13, 'good': 18},
    'change': {'bad': -17, 'fair': -16, 'good': 14},
    'above_below': {'good': {'above': {'name': 'High Peak', 'value': 81.6},
      'below': {'name': 'North Kesteven', 'value': 81.1}},
     'bad': {'above': {'name': 'Derby', 'value': 5.89},
      'below': {'name': 'Erewash', 'value': 5.62}}}}},
  'economic': {'perc': {'2001': {'employee': 58.87,
     'inactive': 30.5,
     'self-employed': 4.44,
     'student': 2.02,
     'unemployed': 4.17},
    '2011': {'employee': 60.03,
     'inactive': 26.38,
     'self-employed': 5.86,
     'student': 2.79,
     'unemployed': 4.93},
    'change': {'employee': 1.16,
     'inactive': -4.12,
     'self-employed': 1.42,
     'student': 0.77,
     'unemployed': 0.76}},
   'perc_rank': {'2001': {'employee': 38,
     'inactive': 217,
     'self-employed': 327,
     'student': 237,
     'unemployed': 50},
    '2011': {'employee': 6,
     'inactive': 275,
     'self-employed': 322,
     'student': 149,
     'unemployed': 75},
    'change': {'employee': 73,
     'inactive': 270,
     'self-employed': 115,
     'student': 95,
     'unemployed': 219},
    'overtake': {'self-employed': ['Halton',
      'Leicester',
      'Nottingham',
      'Neath Port Talbot',
      'Torfaen']},
    'top_bottom': {'employee': {-1: {'Slough': -3.85},
      3: {'Knowsley': 5.32},
      -3: {'Hillingdon': -3.67},
      1: {'Tower Hamlets': 6.23},
      -2: {'Waltham Forest': -3.8},
      2: {'Merthyr Tydfil': 5.92}},
     'student': {-2: {'Wokingham': -0.07},
      -1: {'Isles of Scilly': -0.38},
      2: {'Lincoln': 3.32},
      3: {'Newcastle upon Tyne': 2.96},
      1: {'Newham': 4.1}},
     'self-employed': {-2: {'Blackpool': -0.09},
      -1: {'Boston': -0.16},
      -3: {'East Lindsey': 0.06},
      2: {'Haringey': 4.86},
      3: {'Newham': 4.53},
      1: {'Waltham Forest': 5.06}}}},
   'value': {'2001': {'all': 38040,
     'employee': 22393,
     'inactive': 11604,
     'self-employed': 1688,
     'student': 770,
     'unemployed': 1585},
    '2011': {'all': 45049,
     'employee': 27044,
     'inactive': 11883,
     'self-employed': 2642,
     'student': 1258,
     'unemployed': 2222},
    'change': {'all': 18.43,
     'employee': 20.77,
     'inactive': 2.4,
     'self-employed': 56.52,
     'student': 63.38,
     'unemployed': 40.19}},
   'value_rank': {'2001': {'all': 328,
     'employee': 319,
     'inactive': 329,
     'self-employed': 334,
     'student': 323,
     'unemployed': 253},
    '2011': {'all': 323,
     'employee': 313,
     'inactive': 327,
     'self-employed': 332,
     'student': 309,
     'unemployed': 274},
    'change': {'all': 17,
     'employee': 15,
     'inactive': 91,
     'self-employed': 15,
     'student': 36,
     'unemployed': 206}},
   'perc_rank_local': {'2011': {'employee': 1,
     'inactive': -7,
     'self-employed': -3,
     'student': 11,
     'unemployed': 5},
    'change': {'employee': 7,
     'inactive': -6,
     'self-employed': 4,
     'student': 7,
     'unemployed': 18},
    'above_below': {'employee': {'above': 'NaN',
      'below': {'name': 'Blaby', 'value': 58.26}},
     'student': {'above': {'name': 'Broxtowe', 'value': 2.88},
      'below': {'name': 'Melton', 'value': 2.7}},
     'self-employed': {'above': 'NaN',
      'below': {'name': 'Leicester', 'value': 5.79}}}}},
  'travel': {'perc': {'2001': {'bicycle': 2.96,
     'bus': 7.44,
     'car_van': 74.13,
     'foot': 7.0,
     'home': 4.97,
     'moto': 0.87,
     'other': 0.22,
     'taxi': 1.91,
     'train_metro': 0.49},
    '2011': {'bicycle': 2.84,
     'bus': 6.06,
     'car_van': 75.86,
     'foot': 9.04,
     'home': 2.63,
     'moto': 0.59,
     'other': 0.56,
     'taxi': 1.37,
     'train_metro': 1.06},
    'change': {'bicycle': -0.12,
     'bus': -1.38,
     'car_van': 1.73,
     'foot': 2.04,
     'home': -2.34,
     'moto': -0.28,
     'other': 0.34,
     'taxi': -0.54,
     'train_metro': 0.57}},
   'perc_rank': {'2001': {'bicycle': 126,
     'bus': 101,
     'car_van': 14,
     'foot': 319,
     'home': 324,
     'moto': 233,
     'other': 314,
     'taxi': 2,
     'train_metro': 227},
    '2011': {'bicycle': 114,
     'bus': 118,
     'car_van': 52,
     'foot': 223,
     'home': 325,
     'moto': 260,
     'other': 193,
     'taxi': 10,
     'train_metro': 284},
    'change': {'bicycle': 127,
     'bus': 287,
     'car_van': 193,
     'foot': 57,
     'home': 40,
     'moto': 186,
     'other': 62,
     'taxi': 334,
     'train_metro': 280},
    'overtake': {'car_van': ['Halton',
      'Slough',
      'Milton Keynes',
      'Runnymede',
      'Crawley',
      'Newport']},
    'top_bottom': {'car_van': {3: {'East Northamptonshire': 13.48},
      2: {'South Staffordshire': 14.43},
      1: {'Staffordshire Moorlands': 14.88},
      -1: {'Haringey': -25.96},
      -3: {'Lewisham': -23.16},
      -2: {'Newham': -24.53}}}},
   'value': {'2001': {'all': 29488,
     'bicycle': 874,
     'bus': 2195,
     'car_van': 21859,
     'foot': 2065,
     'home': 1466,
     'moto': 256,
     'other': 65,
     'taxi': 563,
     'train_metro': 145},
    '2011': {'all': 30688,
     'bicycle': 871,
     'bus': 1859,
     'car_van': 23279,
     'foot': 2775,
     'home': 807,
     'moto': 182,
     'other': 172,
     'taxi': 419,
     'train_metro': 324},
    'change': {'all': 4.07,
     'bicycle': -0.34,
     'bus': -15.31,
     'car_van': 6.5,
     'foot': 34.38,
     'home': -44.95,
     'moto': -28.91,
     'other': 164.62,
     'taxi': -25.58,
     'train_metro': 123.45}},
   'value_rank': {'2001': {'all': 298,
     'bicycle': 241,
     'bus': 174,
     'car_van': 282,
     'foot': 333,
     'home': 332,
     'moto': 300,
     'other': 325,
     'taxi': 65,
     'train_metro': 268},
    '2011': {'all': 319,
     'bicycle': 245,
     'bus': 208,
     'car_van': 305,
     'foot': 324,
     'home': 332,
     'moto': 322,
     'other': 324,
     'taxi': 104,
     'train_metro': 317},
    'change': {'all': 269,
     'bicycle': 181,
     'bus': 278,
     'car_van': 241,
     'foot': 36,
     'home': 258,
     'moto': 265,
     'other': 61,
     'taxi': 305,
     'train_metro': 273}},
   'perc_rank_local': {'2011': {'bicycle': 17,
     'bus': 11,
     'car_van': 17,
     'foot': -14,
     'home': -1,
     'moto': -10,
     'other': 12,
     'taxi': 1,
     'train_metro': -13},
    'change': {'bicycle': 8,
     'bus': -5,
     'car_van': -6,
     'foot': 5,
     'home': 3,
     'moto': 16,
     'other': 3,
     'taxi': -1,
     'train_metro': -9},
    'above_below': {'car_van': {'above': {'name': 'Kettering', 'value': 76.25},
      'below': {'name': 'North Kesteven', 'value': 75.21}}}}},
  'tenure': {'perc': {'2001': {'owned': 62.6,
     'rent_free': 2.06,
     'rented_private': 4.09,
     'rented_social': 30.92,
     'shared_ownership': 0.33},
    '2011': {'owned': 62.14,
     'rent_free': 1.33,
     'rented_private': 15.23,
     'rented_social': 20.93,
     'shared_ownership': 0.37},
    'change': {'owned': -0.46,
     'rent_free': -0.73,
     'rented_private': 11.14,
     'rented_social': -9.99,
     'shared_ownership': 0.04}},
   'perc_rank': {'2001': {'owned': 291,
     'rent_free': 167,
     'rented_private': 330,
     'rented_social': 24,
     'shared_ownership': 287},
    '2011': {'owned': 261,
     'rent_free': 150,
     'rented_private': 136,
     'rented_social': 63,
     'shared_ownership': 288},
    'change': {'owned': 13,
     'rent_free': 190,
     'rented_private': 11,
     'rented_social': 335,
     'shared_ownership': 191},
    'overtake': {'owned': ['Hartlepool',
      'Blackpool',
      'Derby',
      'Stoke-on-Trent',
      'Bristol, City of',
      'Plymouth',
      'Peterborough',
      'Luton',
      'Reading',
      'Slough',
      'Milton Keynes',
      'Portsmouth',
      'Exeter',
      'Eastbourne',
      'Hastings',
      'Watford',
      'Thanet',
      'Preston',
      'Lincoln',
      'Ipswich',
      'Crawley',
      'Welwyn Hatfield',
      'Stevenage',
      'Rochdale',
      'Coventry',
      'Barnet',
      'Croydon',
      'Enfield',
      'Merton',
      'Cardiff']},
    'top_bottom': {'rented_social': {3: {'Blackpool': 1.27},
      1: {'Hertsmere': 1.54},
      -2: {'Corby': -9.99},
      2: {'Redbridge': 1.3},
      -3: {'Southwark': -9.09},
      -1: {'Tower Hamlets': -12.03}},
     'rented_private': {3: {'Slough': 13.68},
      -1: {'Isles of Scilly': 0.47},
      -3: {'Allerdale': 2.22},
      -2: {'Copeland': 2.04},
      1: {'Newham': 16.44},
      2: {'Tower Hamlets': 16.13}},
     'owned': {-1: {'Slough': -13.68},
      1: {'Copeland': 3.43},
      3: {'Knowsley': 0.91},
      2: {'South Tyneside': 1.14},
      -2: {'Brent': -12.22},
      -3: {'Enfield': -12.17}}}},
   'value': {'2001': {'all': 22044,
     'owned': 13799,
     'rent_free': 454,
     'rented_private': 902,
     'rented_social': 6817,
     'shared_ownership': 72},
    '2011': {'all': 25215,
     'owned': 15669,
     'rent_free': 335,
     'rented_private': 3839,
     'rented_social': 5278,
     'shared_ownership': 94},
    'change': {'all': 14.38,
     'owned': 13.55,
     'rent_free': -26.21,
     'rented_private': 325.61,
     'rented_social': -22.58,
     'shared_ownership': 30.56}},
   'value_rank': {'2001': {'all': 328,
     'owned': 332,
     'rent_free': 319,
     'rented_private': 335,
     'rented_social': 192,
     'shared_ownership': 326},
    '2011': {'all': 324,
     'owned': 330,
     'rent_free': 318,
     'rented_private': 307,
     'rented_social': 256,
     'shared_ownership': 323},
    'change': {'all': 17,
     'owned': 3,
     'rent_free': 142,
     'rented_private': 1,
     'rented_social': 336,
     'shared_ownership': 153}},
   'perc_rank_local': {'2011': {'owned': -5,
     'rent_free': 20,
     'rented_private': 9,
     'rented_social': 5,
     'shared_ownership': -6},
    'change': {'owned': 1,
     'rent_free': -20,
     'rented_private': 1,
     'rented_social': -1,
     'shared_ownership': -18},
    'above_below': {'rented_social': {'above': {'name': 'Lincoln',
       'value': 21.92},
      'below': {'name': 'North East Derbyshire', 'value': 20.39}},
     'rented_private': {'above': {'name': 'Rutland', 'value': 15.55},
      'below': {'name': 'Corby', 'value': 15.23}},
     'owned': {'above': 'NaN', 'below': {'name': 'Derby', 'value': 61.37}}}}},
  'density': {'value': {'2001': {'all': 6.62},
    '2011': {'all': 7.63},
    'change': {'all': 15.26}},
   'value_rank': {'2001': {'all': 161},
    '2011': {'all': 155},

In [ ]:
manchester['data']

In [877]:
for lad in lads:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+lad['code']+'.json', 'w') as outfile:
            json.dump(lad, outfile)
        print("Worked: ", lad['name'])

    except:
        print("Failed: ", lad['name'])

Worked:  Hartlepool
Worked:  Middlesbrough
Worked:  Redcar and Cleveland
Worked:  Stockton-on-Tees
Worked:  Darlington
Worked:  Halton
Worked:  Warrington
Worked:  Blackburn with Darwen
Worked:  Blackpool
Worked:  Kingston upon Hull, City of
Worked:  East Riding of Yorkshire
Worked:  North East Lincolnshire
Worked:  North Lincolnshire
Worked:  York
Worked:  Derby
Worked:  Leicester
Worked:  Rutland
Worked:  Nottingham
Worked:  Herefordshire, County of
Worked:  Telford and Wrekin
Worked:  Stoke-on-Trent
Worked:  Bath and North East Somerset
Worked:  Bristol, City of
Worked:  North Somerset
Worked:  South Gloucestershire
Worked:  Plymouth
Worked:  Torbay
Worked:  Swindon
Worked:  Peterborough
Worked:  Luton
Worked:  Southend-on-Sea
Worked:  Thurrock
Worked:  Medway
Worked:  Bracknell Forest
Worked:  West Berkshire
Worked:  Reading
Worked:  Slough
Worked:  Windsor and Maidenhead
Worked:  Wokingham
Worked:  Milton Keynes
Worked:  Brighton and Hove
Worked:  Portsmouth
Worked:  Southampton
Worked:  Isle of Wight
Worked:  County Durham
Worked:  Cheshire East
Worked:  Cheshire West and Chester
Worked:  Shropshire
Worked:  Cornwall
Worked:  Isles of Scilly
Worked:  Wiltshire
Worked:  Bedford
Worked:  Central Bedfordshire
Worked:  Northumberland
Worked:  Bournemouth, Christchurch and Poole
Worked:  Dorset
Worked:  Buckinghamshire
Worked:  Cambridge
Worked:  East Cambridgeshire
Worked:  Fenland
Worked:  Huntingdonshire
Worked:  South Cambridgeshire
Worked:  Allerdale
Worked:  Barrow-in-Furness
Worked:  Carlisle
Worked:  Copeland
Worked:  Eden
Worked:  South Lakeland
Worked:  Amber Valley
Worked:  Bolsover
Worked:  Chesterfield
Worked:  Derbyshire Dales
Worked:  Erewash
Worked:  High Peak
Worked:  North East Derbyshire
Worked:  South Derbyshire
Worked:  East Devon
Worked:  Exeter
Worked:  Mid Devon
Worked:  North Devon
Worked:  South Hams
Worked:  Teignbridge
Worked:  Torridge
Worked:  West Devon
Worked:  Eastbourne
Worked:  Hastings
Worked:  Lewes
Worked:  Rother
Worked:  Wealden
Worked:  Basildon
Worked:  Braintree
Worked:  Brentwood
Worked:  Castle Point
Worked:  Chelmsford
Worked:  Colchester
Worked:  Epping Forest
Worked:  Harlow
Worked:  Maldon
Worked:  Rochford
Worked:  Tendring
Worked:  Uttlesford
Worked:  Cheltenham
Worked:  Cotswold
Worked:  Forest of Dean
Worked:  Gloucester
Worked:  Stroud
Worked:  Tewkesbury
Worked:  Basingstoke and Deane
Worked:  East Hampshire
Worked:  Eastleigh
Worked:  Fareham
Worked:  Gosport
Worked:  Hart
Worked:  Havant
Worked:  New Forest
Worked:  Rushmoor
Worked:  Test Valley
Worked:  Winchester
Worked:  Broxbourne
Worked:  Dacorum
Worked:  Hertsmere
Worked:  North Hertfordshire
Worked:  Three Rivers
Worked:  Watford
Worked:  Ashford
Worked:  Canterbury
Worked:  Dartford
Worked:  Dover
Worked:  Gravesham
Worked:  Maidstone
Worked:  Sevenoaks
Worked:  Folkestone and Hythe
Worked:  Swale
Worked:  Thanet
Worked:  Tonbridge and Malling
Worked:  Tunbridge Wells
Worked:  Burnley
Worked:  Chorley
Worked:  Fylde
Worked:  Hyndburn
Worked:  Lancaster
Worked:  Pendle
Worked:  Preston
Worked:  Ribble Valley
Worked:  Rossendale
Worked:  South Ribble
Worked:  West Lancashire
Worked:  Wyre
Worked:  Blaby
Worked:  Charnwood
Worked:  Harborough
Worked:  Hinckley and Bosworth
Worked:  Melton
Worked:  North West Leicestershire
Worked:  Oadby and Wigston
Worked:  Boston
Worked:  East Lindsey
Worked:  Lincoln
Worked:  North Kesteven
Worked:  South Holland
Worked:  South Kesteven
Worked:  West Lindsey
Worked:  Breckland
Worked:  Broadland
Worked:  Great Yarmouth
Worked:  King's Lynn and West Norfolk
Worked:  North Norfolk
Worked:  Norwich
Worked:  South Norfolk
Worked:  Corby
Worked:  Daventry
Worked:  East Northamptonshire
Worked:  Kettering
Worked:  Northampton
Worked:  South Northamptonshire
Worked:  Wellingborough
Worked:  Craven
Worked:  Hambleton
Worked:  Harrogate
Worked:  Richmondshire
Worked:  Ryedale
Worked:  Scarborough
Worked:  Selby
Worked:  Ashfield
Worked:  Bassetlaw
Worked:  Broxtowe
Worked:  Gedling
Worked:  Mansfield
Worked:  Newark and Sherwood
Worked:  Rushcliffe
Worked:  Cherwell
Worked:  Oxford
Worked:  South Oxfordshire
Worked:  Vale of White Horse
Worked:  West Oxfordshire
Worked:  Mendip
Worked:  Sedgemoor
Worked:  South Somerset
Worked:  Cannock Chase
Worked:  East Staffordshire
Worked:  Lichfield
Worked:  Newcastle-under-Lyme
Worked:  South Staffordshire
Worked:  Stafford
Worked:  Staffordshire Moorlands
Worked:  Tamworth
Worked:  Babergh
Worked:  Ipswich
Worked:  Mid Suffolk
Worked:  Elmbridge
Worked:  Epsom and Ewell
Worked:  Guildford
Worked:  Mole Valley
Worked:  Reigate and Banstead
Worked:  Runnymede
Worked:  Spelthorne
Worked:  Surrey Heath
Worked:  Tandridge
Worked:  Waverley
Worked:  Woking
Worked:  North Warwickshire
Worked:  Nuneaton and Bedworth
Worked:  Rugby
Worked:  Stratford-on-Avon
Worked:  Warwick
Worked:  Adur
Worked:  Arun
Worked:  Chichester
Worked:  Crawley
Worked:  Horsham
Worked:  Mid Sussex
Worked:  Worthing
Worked:  Bromsgrove
Worked:  Malvern Hills
Worked:  Redditch
Worked:  Worcester
Worked:  Wychavon
Worked:  Wyre Forest
Worked:  St Albans
Worked:  Welwyn Hatfield
Worked:  East Hertfordshire
Worked:  Stevenage
Worked:  East Suffolk
Worked:  West Suffolk
Worked:  Somerset West and Taunton
Worked:  Bolton
Worked:  Bury
Worked:  Manchester
Worked:  Oldham
Worked:  Rochdale
Worked:  Salford
Worked:  Stockport
Worked:  Tameside
Worked:  Trafford
Worked:  Wigan
Worked:  Knowsley
Worked:  Liverpool
Worked:  St. Helens
Worked:  Sefton
Worked:  Wirral
Worked:  Barnsley
Worked:  Doncaster
Worked:  Rotherham
Worked:  Sheffield
Worked:  Newcastle upon Tyne
Worked:  North Tyneside
Worked:  South Tyneside
Worked:  Sunderland
Worked:  Birmingham
Worked:  Coventry
Worked:  Dudley
Worked:  Sandwell
Worked:  Solihull
Worked:  Walsall
Worked:  Wolverhampton
Worked:  Bradford
Worked:  Calderdale
Worked:  Kirklees
Worked:  Leeds
Worked:  Wakefield
Worked:  Gateshead
Worked:  City of London
Worked:  Barking and Dagenham
Worked:  Barnet
Worked:  Bexley
Worked:  Brent
Worked:  Bromley
Worked:  Camden
Worked:  Croydon
Worked:  Ealing
Worked:  Enfield
Worked:  Greenwich
Worked:  Hackney
Worked:  Hammersmith and Fulham
Worked:  Haringey
Worked:  Harrow
Worked:  Havering
Worked:  Hillingdon
Worked:  Hounslow
Worked:  Islington
Worked:  Kensington and Chelsea
Worked:  Kingston upon Thames
Worked:  Lambeth
Worked:  Lewisham
Worked:  Merton
Worked:  Newham
Worked:  Redbridge
Worked:  Richmond upon Thames
Worked:  Southwark
Worked:  Sutton
Worked:  Tower Hamlets
Worked:  Waltham Forest
Worked:  Wandsworth
Worked:  Westminster
Worked:  Isle of Anglesey
Worked:  Gwynedd
Worked:  Conwy
Worked:  Denbighshire
Worked:  Flintshire
Worked:  Wrexham
Worked:  Ceredigion
Worked:  Pembrokeshire
Worked:  Carmarthenshire
Worked:  Swansea
Worked:  Neath Port Talbot
Worked:  Bridgend
Worked:  Vale of Glamorgan
Worked:  Cardiff
Worked:  Rhondda Cynon Taff
Worked:  Caerphilly
Worked:  Blaenau Gwent
Worked:  Torfaen
Worked:  Monmouthshire
Worked:  Newport
Worked:  Powys
Worked:  Merthyr Tydfil

In [878]:
!git add .
!git commit -m "Add files"
!git push -u origin main

[main b6e5a98] Add files
 195 files changed, 287 insertions(+), 239 deletions(-)
Enumerating objects: 361, done.
Counting objects: 100% (361/361), done.
Delta compression using up to 16 threads
Compressing objects: 100% (199/199), done.
Writing objects: 100% (199/199), 282.48 KiB | 5.65 MiB/s, done.
Total 199 (delta 186), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (186/186), completed with 161 local objects.
To https://github.com/theojolliffe/census-data.git
   a9bfad6..b6e5a98  main -> main
Branch 'main' set up to track remote branch 'main' from 'origin'.

In [817]:
[i for i in lads if i['name']=='Manchester'][0]['stories']

[{'label': 'population_value_change_all',
  'locRank': 1,
  'natRank': 2,
  'value': 28.08},
 {'label': 'health_perc_change_good',
  'locRank': 1,
  'natRank': 1,
  'value': 15.87},
 {'label': 'tenure_perc_change_rented_social',
  'locRank': -1,
  'natRank': -4,
  'value': -7.6},
 {'label': 'agemed_value_change_all',
  'locRank': -1,
  'natRank': -3,
  'value': -2.0},
 {'label': 'travel_perc_change_train_metro',
  'locRank': -1,
  'natRank': -7,
  'value': -4.93},
 {'label': 'ethnicity_perc_change_black',
  'locRank': 1,
  'natRank': 8,
  'value': 4.13},
 {'label': 'economic_perc_change_student',
  'locRank': 1,
  'natRank': 6,
  'value': 2.67}]

In [717]:
[i for i in lads if i['name']=='Manchester'][0]['stories']

[{'label': 'travel_perc_change_train_metro',
  'locRank': -1,
  'natRank': -7,
  'value': -4.93},
 {'label': 'tenure_perc_change_rented_social',
  'locRank': -1,
  'natRank': -4,
  'value': -7.6},
 {'label': 'health_perc_change_good',
  'locRank': 1,
  'natRank': 1,
  'value': 15.87},
 {'label': 'economic_perc_change_student',
  'locRank': 1,
  'natRank': 6,
  'value': 2.67},
 {'label': 'ethnicity_perc_change_black',
  'locRank': 1,
  'natRank': 8,
  'value': 4.13},
 {'label': 'population_value_change_all',
  'locRank': 1,
  'natRank': 2,
  'value': 28.08},
 {'label': 'agemed_value_change_all',
  'locRank': -1,
  'natRank': -3,
  'value': -2.0}]

In [718]:
topicScoresOrder['manchester']

{'travel': 0.7621064077360695,
 'tenure': 0.7792718330541142,
 'health': 0.7902066737468546,
 'economic': 0.793664815031433,
 'ethnicity': 0.7955981355335854,
 'population': 0.8037250405900891,
 'agemed': 0.8139850041580589}

In [720]:
1*(7/10)*(5/7)*topicRank

1.4000000000000001

In [721]:
(7/10)

0.7

In [723]:
(5/5)

1.0

In [ ]:
storiesRefined = sorted(storiesRefined, key=lambda x: )

[{'label': 'population_value_change_all',
  'locRank': -1,
  'natRank': -20,
  'value': 0.97},
 {'label': 'economic_perc_change_self-employed',
  'locRank': -1,
  'natRank': -30,
  'value': 0.63},
 {'label': 'health_perc_change_bad',
  'locRank': -5,
  'natRank': -122,
  'value': -3.67},
 {'label': 'agemed_value_change_all',
  'locRank': -6,
  'natRank': -107,
  'value': 0.0}]