In [249]:
import pandas as pd
import json
import networkx as nx
from networkx_query import search_nodes, search_edges
import numpy as np
import math

In [250]:
with open('/Users/theojolliffe/Documents/Wayback BBC/topicScoresOrder.json', 'r') as fp:
    topicScoresOrder = json.load(fp)
topicScoresOrder = {i: {i[0]: 1/(1+i[1]/10) for i in topicScoresOrder[i]} for i in topicScoresOrder}

In [251]:
options = pd.read_csv('./csv/lists/places_2020.csv')
areaType = pd.read_csv('/Users/theojolliffe/Documents/Census Data/censusAreaLookup.csv')
typeLookup = {}
for i in areaType.index:
    typeLookup[areaType.iloc[i]['Name']]=areaType.iloc[i]['Group name']

areas = []
for i in options["code"]:
    try:
        areas.append(json.load(open(f'/Users/theojolliffe/Documents/pipeline_active/final/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
#         print(i)
        pass
    
for area in areas:
    area['data']['agemed']['value']['change']['all'] = area['data']['agemed']['value']['2011']['all']-area['data']['agemed']['value']['2001']['all']
    area['data']['density']['value']['change']['all'] = area['data']['density']['value']['2011']['all']-area['data']['density']['value']['2001']['all']

In [252]:
# Seperate the areas by area type
regions = []
for i in areas:
    if i['type']=='rgn':
        regions.append(i)
        
lads = []
for i in areas:
    if i['type']=='lad':
        lads.append(i)
        
countries = []
for i in areas:
    if (i['type']=='ew')|(i['type']=='ctry'):
        countries.append(i)

In [253]:
# Transform the welsh language data

for area in lads:
    if area['parents'][0]['name']=='Wales':
        x = area['data']['welsh']
        for y in x.keys():
            if y=='value':
                for z in x[y].keys():
                    if z=='change':
                        x[y][z]['NoWelsh'] = round(((x[y]['2011']['NoWelsh'] - x[y]['2001']['NoWelsh'])/x[y]['2001']['NoWelsh'])*100, 2)
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                    else:
                        x[y][z]['NoWelsh'] = x[y][z]['AllOver3'] - x[y][z]['SpeaksWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']

                    

for area in lads:
    if area['parents'][0]['name']=='Wales':
        x = area['data']['welsh']
        for y in x.keys():
            if y=='perc':
                for z in x[y].keys():
                    if z=='change':
                        x[y][z]['NoWelsh'] = x[y]['2011']['NoWelsh'] - x[y]['2001']['NoWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                        for w in x[y][z].keys():
                            x[y][z][w] = round(x[y]['2011'][w]-x[y]['2001'][w], 2)
                    else:
                        x[y][z]['NoWelsh'] = x[y][z]['AllOver3'] - x[y][z]['SpeaksWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                        for w in x[y][z].keys():
                            x[y][z][w] = round((x[y][z][w]/x[y][z]['all'])*100, 2)

for area in lads:
    if area['parents'][0]['name']!='Wales':
        del area['data']['welsh']

In [254]:
# Transform the welsh language data

for area in countries:
    if area['parents'][0]['name']=='Wales':
        x = area['data']['welsh']
        for y in x.keys():
            if y=='value':
                for z in x[y].keys():
                    if z=='change':
                        x[y][z]['NoWelsh'] = round(((x[y]['2011']['NoWelsh'] - x[y]['2001']['NoWelsh'])/x[y]['2001']['NoWelsh'])*100, 2)
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                    else:
                        x[y][z]['NoWelsh'] = x[y][z]['AllOver3'] - x[y][z]['SpeaksWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']

                    

for area in countries:
    if area['parents'][0]['name']=='Wales':
        x = area['data']['welsh']
        for y in x.keys():
            if y=='perc':
                for z in x[y].keys():
                    if z=='change':
                        x[y][z]['NoWelsh'] = x[y]['2011']['NoWelsh'] - x[y]['2001']['NoWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                        for w in x[y][z].keys():
                            x[y][z][w] = round(x[y]['2011'][w]-x[y]['2001'][w], 2)
                    else:
                        x[y][z]['NoWelsh'] = x[y][z]['AllOver3'] - x[y][z]['SpeaksWelsh']
                        x[y][z]['all'] = x[y][z]['AllOver3']
                        del x[y][z]['AllOver3']
                        for w in x[y][z].keys():
                            x[y][z][w] = round((x[y][z][w]/x[y][z]['all'])*100, 2)

for area in countries:
    if area['name']!='Wales':
        del area['data']['welsh']

In [255]:
countries[1]['name']

'Wales'

In [256]:
nameChanges = {
    "Herefordshire, County of": "Herefordshire",
    "Bristol, City of": "Bristol",
    "Isle of Anglesey": "the Isle of Anglesey"
}

In [257]:
simiDF = pd.read_csv('/Users/theojolliffe/Documents/correspondinglocalauthoritiesv3r.csv')

In [258]:
noOfLads = {"England": 307, "Wales": 22}
areaClassDF = pd.read_csv('/Users/theojolliffe/Documents/area-reports/src/data/censusAreaLookup.csv')
areaClassDF.at[75, 'Code'] = "E06000058"
areaClassLU = {
    "1a1r": "affluent suburban area", "1b1r": "affluent rural area", 
    "1b2r": "growing rural area", "2a1r": "city", 
    "2b1r": "area", "3a2r": "remote area", 
    "3a1r": "agricultural area", "3b1r": "coastal area",
    "3b2r": "seaside  area",
    "4a1r": "urban area", "5a1r": "cosmopolitan area",
    "6a2r": "industrial area", "6a3r": "service economy area",
    "6a1r": "industrial area", "7a1r": "rural area",
    "7c2r": "affluent area", "7c1r": "affluent area",
    "8a1r": "multi-cultural area", "8a2r": "urban area",
    "8b1r": "suburban area", "8b2r": "suburban area",
}
areaClassSuperLU = {
    "1r": "affluent area",
    "2r": "urban area",
    "3r": "rural area",
    "4r": "multi-cultural area",
    "5r": "cosmopolitan area",
    "6r": "industrial area",
    "7r": "suburban area",
    "8r": "built up area",
}
gssLookup = {"E09": "London borough", "E08": "metropolitan district", "E07": "district", "E06": "unitary authority", "W06": "Welsh district"}
gssLookupShort = {"E09": "borough", "E08": "district", "E07": "district", "E06": "unitary authority", "W06": "district"}

In [259]:
bbcReg = pd.read_csv('/Users/theojolliffe/Downloads/bbc_regions.csv')
bbcRegLU = {}
for i in bbcReg.index:
    if bbcReg['areaCode'].iloc[i] in [lad['code'] for lad in lads]:
        bbcRegLU[bbcReg['areaCode'].iloc[i]] = bbcReg['bbc_online'].iloc[i]
bbcRegLU['E06000053'] = 'cornwall'
bbcRegLU['E06000060'] = 'beds_bucks_and_herts'
bbcRegLU['E09000001'] = 'london'
bbcRegLU['E07000150'] = 'northamptonshire'

regionsBBC = ['cumbria', 'lancashire', 'merseyside', 'manchester', 'tees', 'tyne_and_wear', 'Humberside', 'york_and_north_yorkshire', 'leeds_and_west_yorkshire', 'lincolnshire', 'south_yorkshire', 'birmingham_and_black_country', 'coventry_and_warwickshire', 'hereford_and_worcester', 'shropshire', 'stoke_and_staffordshire', 'derbyshire', 'leicester', 'northamptonshire', 'nottingham', 'bristol', 'cornwall', 'devon', 'gloucestershire', 'somerset', 'wiltshire', 'beds_bucks_and_herts', 'cambridgeshire', 'essex', 'norfolk', 'suffolk', 'berkshire', 'dorset', 'hampshire', 'oxford', 'kent', 'london', 'surrey', 'sussex']
bbcNames = {
     'derby': 'derbyshire', 
     'hereford and worcester': 'hereford_and_worcester',
     'tyne and wear': 'tyne_and_wear',
     'northampton': 'northamptonshire',
     'liverpool': 'merseyside',
     'coventry and warwickshire': 'coventry_and_warwickshire',
     'humberside': 'Humberside',
     'sheffield and south yorkshire': 'south_yorkshire',
     'hampshire & isle of wight': 'hampshire',
     'stoke and staffordshire': 'stoke_and_staffordshire',
     'york & north yorkshire': 'york_and_north_yorkshire',
     'birmingham and black country': 'birmingham_and_black_country',
     'beds, bucks and herts': 'beds_bucks_and_herts',
     'leeds and west yorkshire': 'leeds_and_west_yorkshire'
}
for i in bbcRegLU.keys():
    bbcRegLU[i] = bbcRegLU[i].lower()
    if bbcRegLU[i] not in regionsBBC:
        try:
            bbcRegLU[i] = bbcNames[bbcRegLU[i]]
        except:
            pass

In [260]:
tfidf = pd.read_csv('/Users/theojolliffe/Documents/Wayback BBC/BBCRegionalTFIDF.csv')
tfidf = tfidf.set_index('Unnamed: 0')
for i in tfidf.columns:
    for j in tfidf[i].index:
        tfidf[i].loc[j] = 1+100*tfidf[i].loc[j]
tfidfLU = {}
for i in regionsBBC:
    tfidfLU[i]=tfidf.loc[i].to_dict()

In [261]:
TFtopicLU = {
    'health': 'health',
    'racial': 'ethnicity',
    'population': 'population',
    'age': 'agemed',
    'work': 'economic',
    'commuter': 'travel',
    'housing': 'tenure'
}
TFtopicRev = dict((TFtopicLU[x],x) for x in TFtopicLU)

In [262]:
def this(lad):
    return[l for l in lads if l['name']==lad][0]

In [263]:
topics = [{1: 'population', 2: 'value', 3: 'all'}, 
          {1: 'density', 2: 'value', 3: 'all'},
          {1: 'agemed', 2: 'value', 3: 'all'},
          {1: 'welsh', 2: 'perc', 3: 'SpeaksWelsh'},
          {1: 'welsh', 2: 'perc', 3: 'all'},
          {1: 'care', 2: 'perc', 3: '1to19hoursWeek'},
          {1: 'care', 2: 'perc', 3: '20to49hoursWeek'},
          {1: 'care', 2: 'perc', 3: '40PlushoursWeek'},
          {1: 'children', 2: 'perc', 3: 'NoKids'},
          {1: 'children', 2: 'perc', 3: 'Kids'},
          {1: 'children', 2: 'perc', 3: 'NonDepKids'},
          {1: 'travel', 2: 'perc', 3: 'car_van'},
          {1: 'travel', 2: 'perc', 3: 'bus'},
          {1: 'travel', 2: 'perc', 3: 'home'},
          {1: 'travel', 2: 'perc', 3: 'train_metro'},
          {1: 'travel', 2: 'perc', 3: 'foot'},
          {1: 'tenure', 2: 'perc', 3: 'rented_social'},
          {1: 'tenure', 2: 'perc', 3: 'rented_private'},
          {1: 'tenure', 2: 'perc', 3: 'owned'},
          {1: 'religion', 2: 'perc', 3: 'Hindu'},
          {1: 'religion', 2: 'perc', 3: 'Buddhist'},
          {1: 'religion', 2: 'perc', 3: 'Jewish'},
          {1: 'religion', 2: 'perc', 3: 'Christian'},
          {1: 'religion', 2: 'perc', 3: 'Muslim'},
          {1: 'religion', 2: 'perc', 3: 'Noreligion'},
          {1: 'household', 2: 'perc', 3: 'OnePerson'},
          {1: 'household', 2: 'perc', 3: 'Married'},
          {1: 'household', 2: 'perc', 3: 'LoneParent'},
          {1: 'household', 2: 'perc', 3: 'Cohabiting'},
          {1: 'health', 2: 'perc', 3: 'bad'},
          {1: 'health', 2: 'perc', 3: 'good'},
          {1: 'ethnicity', 2: 'perc', 3: 'black'},
          {1: 'ethnicity', 2: 'perc', 3: 'white'},
          {1: 'ethnicity', 2: 'perc', 3: 'asian'},
          {1: 'marital', 2: 'perc', 3: 'Married'},
          {1: 'marital', 2: 'perc', 3: 'Seperated'},
          {1: 'marital', 2: 'perc', 3: 'Single'},
          {1: 'hoursworked', 2: 'perc', 3: 'Female1-15'},
          {1: 'hoursworked', 2: 'perc', 3: 'Male1-15'},
          {1: 'hoursworked', 2: 'perc', 3: 'Female49plus'},
          {1: 'hoursworked', 2: 'perc', 3: 'Male49plus'},
          {1: 'economic', 2: 'perc', 3: 'employee'},
          {1: 'economic', 2: 'perc', 3: 'student'},
          {1: 'economic', 2: 'perc', 3: 'unemployed'},
          {1: 'economic', 2: 'perc', 3: 'self-employed'}]

ladCodes = []
for lad in lads:
    ladCodes.append(lad['code'])
    
    
df = pd.DataFrame(columns=
                  ['lad', '2001',  '2011',  'change', 'topic', 'parent'])
for j in range(len(topics)):
    df1 = pd.DataFrame(index=ladCodes, columns=
                      ['lad', '2001',  '2011',  'change', 'topic', 'parent'])
    for i in range(len(lads)):
        try:
            df1['lad'].iloc[i] = lads[i]['name']
            df1['2001'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2001'][topics[j][3]]
            df1['2011'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2011'][topics[j][3]]    
            df1['change'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['change'][topics[j][3]]
            df1['topic'].iloc[i] = topics[j][1]+"_"+topics[j][3]
            df1['parent'].iloc[i] = lads[i]['parents'][0]['name']
        except:
            pass
    df = pd.concat([df,df1])

In [264]:
subjectList = ['NoWelsh', "Male31-48", "Male16-30", "Female31-48", "Female16-30", "Widowed", "65andOver", "Other", "noCare", "Sikh", "Religionnotstated", "MultiOther", "Otherreligion", "fair", "rent_free", "shared_ownership", "bicycle", "taxi", "moto", "other", "female", "male", "inactive", "mixed", "LoneNKids", "MultiStudents"]
topicList = ["age10yr"]

# Find each LAD local and national ranks and put in prioirity order
for thisLad in lads:
    
    try:
        thisLad['similar'] = [
            {'code': simiDF[simiDF['Code']==thisLad['code']]['Code.1'].iloc[0], 'name': simiDF[simiDF['Code']==thisLad['code']]['Name.1'].iloc[0]},
            {'code': simiDF[simiDF['Code']==thisLad['code']]['Code.2'].iloc[0], 'name': simiDF[simiDF['Code']==thisLad['code']]['Name.2'].iloc[0]},
            {'code': simiDF[simiDF['Code']==thisLad['code']]['Code.3'].iloc[0], 'name': simiDF[simiDF['Code']==thisLad['code']]['Name.3'].iloc[0]}
        ]
    except:
        thisLad['similar'] = [
            {'code': 'faulty pre-process', 'name': 'faulty pre-process'},
            {'code': 'faulty pre-process', 'name': 'faulty pre-process'},
            {'code': 'faulty pre-process', 'name': 'faulty pre-process'}
        ]
    
    if (areaClassDF[areaClassDF['Code']==thisLad['code']]['Subgroup code'].shape[0]>0):
        thisLad['classification'] = areaClassLU[areaClassDF[areaClassDF['Code']==thisLad['code']]['Subgroup code'].iloc[0]]
    else:
        thisLad['classification'] = "unk"
    thisLad['gss'] = {}
    thisLad['gss']['short'] = gssLookupShort[thisLad['code'][:3]]
    thisLad['gss']['long'] = gssLookup[thisLad['code'][:3]]
    
    if thisLad['parents'][0]['type'] == "cty":
        thisLad['parents'] = thisLad['parents'][1:]
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_lads = []
    try:
        par_name = next(i for i in thisLad['parents'] if ([j for j in i.values()][2] == 'rgn'))['name']
    except:
        par_name = next(i for i in thatLad['parents'] if ([j for j in i.values()][2] == 'ctry'))['name']
        
    for thatLad in lads:
        try:
            if  par_name == next(i for i in thatLad['parents'] if ([j for j in i.values()][2] == 'rgn'))['name']:
                sister_lads.append(thatLad)
        except:
            if par_name=='Wales':
                sister_lads.append(thatLad)
            
    # Loop through the various data variables
    for a in thisLad['data']:
        if a not in topicList:
            if a in ['population', 'density', 'agemed']:
                b = 'value'
            else:
                b = 'perc'
            # Create nested object with localised rank
            thisLad['data'][a][b+"_rank_local"] = {}    
            for c in ['2001', '2011', 'change']:
                thisLad['data'][a][b+"_rank_local"][c] = {}
                for d in thisLad['data'][a][b][c]:
                    if d not in subjectList:
                        vari = thisLad['data'][a][b][c][d]

                        # Create sorted list of values from sister areas
                        group_values = []
                        for lad in sister_lads:
                            group_values.append(lad['data'][a][b][c][d])
                            group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                        group_values.sort(reverse=True)

                        # Find index of value of area of interest
                        varRank = group_values.index(vari) + 1

                        # Convert bottom half rankings into negative values
                        if varRank>len(group_values)/2:
                            varRank = varRank-len(group_values)-1

                        if thisLad['parents'][0]['name'] == "Wales":
                            natRank = [i for i in df[(df['parent']=="Wales")&(df['topic']==a+"_"+d)].sort_values(by=[c], ascending=False)['lad']].index(thisLad['name'])+1
                            if natRank > noOfLads["Wales"]/2:
                                natRank = natRank-noOfLads["Wales"]-1
                        else:
                            if a!='welsh':
                                natRank = [i for i in df[(df['parent']!="Wales")&(df['topic']==a+"_"+d)].sort_values(by=[c], ascending=False)['lad']].index(thisLad['name'])+1
                                if natRank > noOfLads["England"]/2:
                                    natRank = natRank-noOfLads["England"]-1

                        thisLad['data'][a][b+"_rank_local"][c][d] = varRank
                        thisLad['data'][a][b+"_rank"][c][d] = natRank

                        # Append ranking data to original array
                        ranks.append({
                            'label': a+'_'+b+'_'+c+'_'+d, 
                            'locRank': varRank, 
                            'natRank': natRank, 
                            'value': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: (abs(x['locRank']), -abs(x['value'])))
    thisLad["Priorities"] = ranks

In [266]:
df = pd.DataFrame(columns=
                  ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
for j in range(len(topics)):
    df1 = pd.DataFrame(index=ladCodes, columns=
                      ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
    for i in range(len(lads)):
        try:
            df1['lad'].iloc[i] = lads[i]['name']
            df1['2001'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2001'][topics[j][3]]
            df1['2011'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2011'][topics[j][3]]    
            df1['change'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['change'][topics[j][3]]
            df1['natRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank"]['change'][topics[j][3]]    
            df1['localRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank_local"]['change'][topics[j][3]]    
            df1['topic'].iloc[i] = topics[j][1]+"_"+topics[j][3]
        except:
            pass
        try:
            df1['parent'].iloc[i] = next(k for k in lads[i]['parents'] if ([j for j in k.values()][2] == 'rgn'))['name']
        except:
            df1['parent'].iloc[i] = next(k for k in lads[i]['parents'] if ([j for j in k.values()][2] == 'ctry'))['name']
        
    df = pd.concat([df,df1])

for topic in topics:
    for lad in lads:
        
        # Find the areas that this area has overtaken
        try:
            v2001 = lad['data'][topic[1]][topic[2]]['2001'][topic[3]]
            v2011 = lad['data'][topic[1]][topic[2]]['2011'][topic[3]]
        except:
            pass
        if thisLad['parents'][0]['name'] == "Wales":
            dfT = df[(df['parent']=="Wales")&(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)]
        else:
            dfT = df[(df['parent']!="Wales")&(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)]

        obje = []
        for i in range(dfT.shape[0]):
            obje.append(dfT.iloc[i]['lad'])
        
        if 'overtake' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'][topic[3]] = obje
        
        
        # Find areas within the region that this area has overtaken
        reg = lad['parents'][0]['name']
        dfTr = df[(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)&(df['parent']==reg)]
        objeR = []
        for i in range(dfTr.shape[0]):
            objeR.append(dfTr.iloc[i]['lad'])
        if 'overtake' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank_local"]['overtake'][topic[3]] = objeR
        
        dfReg = df[(df['topic']==topic[1]+"_"+topic[3])&(df['parent']==reg)]
        rank2001 = sorted(dfReg['2001'], reverse=True).index(v2001)+1
        if rank2001 > 168:
            rank2001 = rank2001-336-1
        if '2001' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['2001'] = {}
        lad['data'][topic[1]][topic[2]+'_rank_local']['2001'][topic[3]] = rank2001
        
        
        # Find the area immediatly above or below
        above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-2
        below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]
        if below<0:
            above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-1
            below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]+1
            
        name_above = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[above]['lad']
        name_below = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[below]['lad']

        area_above = {'name': name_above,
                         'value': df[(df['lad']==name_above)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        area_below = {'name': name_below,
                          'value': df[(df['lad']==name_below)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}

        
        if 'above_below' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'] = {}

        if topic[3] not in lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]] = {}
        
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["above"] = area_above
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["below"] = area_below
            
        # Add top and bottom three biggest movers for each subject to every area
        if thisLad['parents'][0]['name'] == "Wales":
            df_topic = df[(df['parent']=="Wales")&(df['topic']==topic[1]+"_"+topic[3])&(abs(df['natRank'])<4)]
        else:
            df_topic = df[(df['parent']!="Wales")&(df['topic']==topic[1]+"_"+topic[3])&(abs(df['natRank'])<4)]

        ob = {}
        for index, row in df_topic.iterrows():
            ob[int(row['natRank'])] = {'name': row['lad'], 2001: row['2001'], 2011: row['2011'], 'change': row['change']}
        if 'top_bottom' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'] = {}
        lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'][topic[3]]=ob
        
        
        # Add top and bottom three biggest movers for each subject to every area (regional)
        df_topicReg = df[(df['topic']==topic[1]+"_"+topic[3])&(abs(df['localRank'])<4)&(df['parent']==reg)]

        ob = {}
        for index, row in df_topicReg.iterrows():
            ob[int(row['localRank'])] = {'name': row['lad'], 2001: row['2001'], 2011: row['2011'], 'change': row['change']}
        if 'top_bottom' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['top_bottom'] = {}
        lad['data'][topic[1]][topic[2]+'_rank_local']['top_bottom'][topic[3]]=ob

KeyError: 'welsh'

In [ ]:
lads_copy = lads.copy()

In [ ]:
for thisLad in lads:
    thisLad['similarC'] = thisLad['similar']

In [ ]:
lads = lads_copy.copy()
# Filter out priority list by subject
for lad in lads:
    subjectList = ["NoWelsh", "Male31-48", "Male16-30", "Female31-48", "Female16-30", "Widowed", "65andOver", "Other", "noCare", "Sikh", "Religionnotstated", "MultiOther", "Otherreligion", "fair", "rent_free", "shared_ownership", "bicycle", "taxi", "moto", "other", "female", "male", "inactive", "mixed", "LoneNKids", "MultiStudents"]
    priorities = []
    priorities2011 = []
    for rank in lad['Priorities']:
        s=rank['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        if ((s[2] == "change") & (s[3] not in subjectList) & (((s[0]=="household")&(s[3]=="Married")) is False)):
            rank['2011']=[i for i in this("Manchester")['Priorities'] if i['label']==s[0]+'_'+s[1]+'_2011_'+s[3]][0]['value']
            priorities.append(rank)
        if (s[2]!="change"):
            priorities2011.append(rank)
    lad['pri'] = priorities
    lad['pri2011'] = priorities2011


# Create triple data for areas of closest proximity
geogTriples = []
for lad in lads:
    list1 = lad['bounds'][0]+lad['bounds'][1]
    for lad2 in lads:
        list2 = lad2['bounds'][0]+lad2['bounds'][1]
        listDif = [abs(list1[i]-list2[i]) for i in [0,1,2,3]]
        listDif.sort()
        if (sum(listDif[:3]) < 1) & (lad!=lad2):
            geogTriples.append([lad['name'], lad2['name'], ("near", round(sum(listDif[:3]), 2))])


sign = lambda x: math.copysign(1, x)

for thisLad in lads:
    thisLad['similar'] = thisLad['similarC']
    
    # Find nearby area of same area type
    nearSimilar = []
    for i in geogTriples:
        try:
            if ((i[0]==thisLad['name'])&(typeLookup[i[1]]==typeLookup[thisLad['name']])):
                nearSimilar.append([i[0], i[1], ('near_similar', i[2][1])])
        except:
            pass

    if len(nearSimilar)==0:
        nearSimilar = [i for i in geogTriples if i[0]==thisLad['name']]

    nearSimilar = sorted(nearSimilar, key=lambda x: x[2][1])

    
    #Find differences in data
    if (thisLad['parents'][0]['name']=='Wales'):                     
        region=[i for i in countries if i['name']=="Wales"][0]
        country=[i for i in countries if i['name']=="Wales"][0]
    else:
        region=[i for i in regions if i['name']==thisLad['parents'][0]['name']][0]
        country=[i for i in countries if i['name']==thisLad['parents'][1]['name']][0]

    def reg(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        try:
            return region['data'][s[0]][s[1]][s[2]][s[3]]
        except:
            return 0

    regDiff = [(i, {'val': reg(i), 'dif': i['value']-reg(i)}) for i in thisLad['pri']]
    regDiff = sorted(regDiff, reverse=True, key=lambda x: abs(x[1]['dif']))

    def cou(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return country['data'][s[0]][s[1]][s[2]][s[3]]
    couDiff = [(i, {'val': cou(i), 'dif': i['value']-cou(i)}) for i in thisLad['pri']]
    couDiff = sorted(couDiff, reverse=True, key=lambda x: abs(x[1]['dif']))
    
    try:
        nearSimilarData = {}
        nearSimilarData['name'] = nearSimilar[0][1]
        nearSimilarData['data'] = [lad for lad in lads if lad['name']==nearSimilar[0][1]][0]['data']
    except:
        print("Nearby data not found for:: ", thisLad['name'])
        nearSimilarData = []
        
    try:
        similarData = {}
        if (nearSimilar[0][1]!=thisLad['similar'][0]['name']):
            try:
                similarData['name'] = thisLad['similar'][0]['name']
                similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][0]['name']][0]['data']
            except:
                try:
                    similarData['name'] = thisLad['similar'][1]['name']
                    similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][1]['name']][0]['data']
                except:
                    similarData['name'] = thisLad['similar'][2]['name']
                    similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][2]['name']][0]['data']
        else:
            try:
                similarData['name'] = thisLad['similar'][1]['name']
                similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][1]['name']][0]['data']
            except:
                similarData['name'] = thisLad['similar'][2]['name']
                similarData['data'] = [lad for lad in lads if lad['name']==thisLad['similar'][2]['name']][0]['data']
    
    except:
        print("Similar data not found for:: ", thisLad['name'])
        similarData = []
    
    def simi(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return similarData['data'][s[0]][s[1]][s[2]][s[3]]
    if len(similarData)>0:
        simiDiff = [(i, {'val': simi(i), 'dif': i['value']-simi(i)}) for i in thisLad['pri']]
        simiDiff = sorted(simiDiff, reverse=True, key=lambda x: abs(x[1]['dif']))


    def near(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return nearSimilarData['data'][s[0]][s[1]][s[2]][s[3]]
    if len(nearSimilarData)>0:
        nearDiff = [(i, {'val': near(i), 'dif': i['value']-near(i)}) for i in thisLad['pri']]
        nearDiff = sorted(nearDiff, reverse=True, key=lambda x: abs(x[1]['dif']))

    nearTops = sorted([(lad['name'], lad['pri'][0]) for lad in lads if lad['name'] in [i[1] for i in nearSimilar if i[0]==thisLad['name']]], key=lambda x: abs(x[1]['locRank']))

    ageBandChange = sorted([(i, thisLad['data']['age10yr']['value']['2011'][i]-thisLad['data']['age10yr']['value']['2001'][i]) for i in thisLad['data']['age10yr']['value']['2001'].keys()], 
           reverse=True, key=lambda x: x[1])

    equalAgeChange = [lad['name'] for 
     lad in lads if (lad['parents'][0]['name'] == thisLad['parents'][0]['name']) 
     & (lad['data']['agemed']['value']['change']['all']==thisLad['data']['agemed']['value']['change']['all'])]
    len(equalAgeChange)
    
    
    # Find and refine stories
    stories = []
    stories=stories+[{**i, **{'type':['pop']}} for i in thisLad['pri'] if i['label'] == 'population_value_change_all']
    stories=stories+[{**i, **{'type':['size']}} for i in thisLad['pri'] if ((abs(i['value'])/abs(i['2011'])>0.1)&(abs(i['value']) > 1))]
    stories=stories+[{**i, **{'type':['locRank']}} for i in thisLad['pri'] if (abs(i['locRank']) < 4)&(abs(i['value']) > 1)]
    stories=stories+[{**i, **{'type':['natRank']}} for i in thisLad['pri'] if (abs(i['natRank']) < 6)&(abs(i['value']) > 1)]
    stories=stories+[{**i[0], **{'type':['couBuck']}} for i in couDiff if ((abs(i[1]['val'])>0.5) & (abs(i[0]['value'])>0.5) & (sign(i[1]['val'])!=sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['regBuck']}} for i in regDiff if ((abs(i[1]['val'])>0.5) & (abs(i[0]['value'])>0.5) & (sign(i[1]['val'])!=sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['nearBuck']}} for i in nearDiff if ((abs(i[1]['val'])>0.8) & (abs(i[0]['value'])>0.8) & (sign(i[1]['val'])!=sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['simiBuck']}} for i in simiDiff if ((abs(i[1]['val'])>0.8) & (abs(i[0]['value'])>0.8) & (sign(i[1]['val'])!=sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['couDiff']}} for i in couDiff if ((abs(i[1]['dif'])>2) & (sign(i[1]['val'])==sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['regDiff']}} for i in regDiff if ((abs(i[1]['dif'])>2) & (sign(i[1]['val'])==sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['nearDiff']}} for i in nearDiff if ((abs(i[1]['dif'])>2) & (sign(i[1]['val'])==sign(i[0]['value'])))]
    stories=stories+[{**i[0], **{'type':['simiDiff']}} for i in simiDiff if ((abs(i[1]['dif'])>2) & (sign(i[1]['val'])==sign(i[0]['value'])))]
    seen = set()
    uniq = [item['label'] for item in stories if item['label'] in seen or seen.add(item['label'])]
    listofdoubles = [[i for i in stories if i['label'] == uniqI] for uniqI in uniq]
    multi = [{**double[0], **{'type': [item for sublist in [i['type'] for i in double] for item in sublist]}} for double in listofdoubles]
    stories = [item for item in stories if item['label'] not in [i['label'] for i in multi]]
    stories=stories+multi
    
    storiesRefined =[]
    notInc = ['density', 'age10yr', 'travel']
    for i in stories:
        if i['label'].split("_")[0] not in notInc:
            storiesRefined.append(i)
            notInc.append(i['label'].split("_")[0])

    if (thisLad['code'][0]!='W'):
        storiesRefined = sorted(storiesRefined, key=lambda x: ((topicScoresOrder[bbcRegLU[thisLad['code']]][x['label'].split('_')[0]])*(1/(1+abs(x['value'])))))
    else:
        storiesRefined = sorted(storiesRefined, key=lambda x: 1/(1+abs(x['value'])))

    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['locRank']<5)
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['natRank']<5)
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['type']=='regBuck')
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['type']=='couBuck')
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['label']=='population_value_change_all')
    storiesRefined = storiesRefined[:6]
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['label']=='agemed_value_change_all')
    storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['label']=='population_value_change_all')

    
    # Create a varibale 'hiRank' which holds the index of a top 5 rank at the national or reginal level to be used for an overtake story
    hiRank ={}
    hiRankNat = []
    for i in storiesRefined:
        if i['label'] not in ['population_value_change_all', 'agemed_value_change_all']:
            s=i['label'].split("_")
            if len(s)>4:
                s[3] = s[3] + "_" + s[4]
            if thisLad['data'][s[0]][s[1]+"_rank"]['2011'][s[3]]!=thisLad['data'][s[0]][s[1]+"_rank"]['2001'][s[3]]:
                hiRankNat.append(abs(thisLad['data'][s[0]][s[1]+"_rank"]['2011'][s[3]]))
            else:
                hiRankNat.append(100)
        else:
            hiRankNat.append(100)

    hiRankReg = []
    for i in storiesRefined:
        if i['label'] not in ['population_value_change_all', 'agemed_value_change_all']:
            s=i['label'].split("_")
            if len(s)>4:
                s[3] = s[3] + "_" + s[4]
            if thisLad['data'][s[0]][s[1]+"_rank_local"]['2011'][s[3]]!=thisLad['data'][s[0]][s[1]+"_rank_local"]['2001'][s[3]]:
                hiRankReg.append(abs(thisLad['data'][s[0]][s[1]+"_rank_local"]['2011'][s[3]]))
            else:
                hiRankReg.append(100)
        else:
            hiRankReg.append(100)
            
    if min(hiRankNat)<5:
        hiRank['rankIn'] = hiRankNat.index(min(hiRankNat))
        hiRank['type'] = 'nat'
    elif min(hiRankReg)<5:
        hiRank['rankIn'] = hiRankReg.index(min(hiRankReg))
        hiRank['type'] = 'reg'
    elif min(hiRankNat)<10:
        hiRank['rankIn'] = hiRankNat.index(min(hiRankNat))
        hiRank['type'] = 'nat'
    else:
        hiRank['rankIn'] = "None"
        hiRank['type'] = "None"
        
    ageBandChange= [i for i in ageBandChange if i[0]!='all']
    ageBandPos = sorted([i for i in ageBandChange if i[1]>0], reverse=True, key=lambda x: abs(x[1]))
    ageBandNeg = sorted([i for i in ageBandChange if i[1]<0], reverse=True, key=lambda x: abs(x[1]))
    

    # Add data to object
    thisLad['hiRank']=hiRank
    thisLad['stories'] = storiesRefined
    thisLad['similar'] = similarData
    thisLad['nearSimilar'] = {}
    thisLad['nearSimilar']['triples'] = nearSimilar
    thisLad['nearSimilar']['nearTops'] = nearTops
    thisLad['nearSimilar']['nearTops'] = nearSimilarData
    thisLad['differences'] = {}
    thisLad['differences']['country'] = couDiff
    thisLad['differences']['region'] = regDiff
    thisLad['differences']['near'] = nearDiff
    thisLad['data']['age10yr']['absChange'] = {}
    thisLad['data']['age10yr']['absChange']['pos'] = ageBandPos
    thisLad['data']['age10yr']['absChange']['neg'] = ageBandNeg
    thisLad['data']['agemed']['value_rank_local']['equalAgeChange]'] = len(equalAgeChange)

In [221]:
thisLad['data']['welsh']

{'perc': {'2001': {'SpeaksWelsh': 1, 'all': 1},
  '2011': {'SpeaksWelsh': 1, 'all': 1},
  'change': {'SpeaksWelsh': 1, 'all': 1}},
 'perc_rank': {'2001': {'SpeaksWelsh': -73, 'all': -73},
  '2011': {'SpeaksWelsh': -73, 'all': -73},
  'change': {'SpeaksWelsh': -73, 'all': -73},
  'overtake': {'SpeaksWelsh': [], 'all': []},
  'top_bottom': {'SpeaksWelsh': {-3: {'name': 'Gwynedd',
     2001: 68.69,
     2011: 65.37,
     'change': -3.32},
    -2: {'name': 'Ceredigion', 2001: 51.81, 2011: 47.34, 'change': -4.47},
    -1: {'name': 'Carmarthenshire', 2001: 50.06, 2011: 43.93, 'change': -6.13},
    3: {'name': 'Cardiff', 2001: 10.85, 2011: 11.06, 'change': 0.21},
    2: {'name': 'Caerphilly', 2001: 10.91, 2011: 11.2, 'change': 0.29},
    1: {'name': 'Monmouthshire', 2001: 9.02, 2011: 9.91, 'change': 0.89}},
   'all': {1: {'name': 'Isle of Anglesey',
     2001: 100.0,
     2011: 100.0,
     'change': 0.0},
    2: {'name': 'Gwynedd', 2001: 100.0, 2011: 100.0, 'change': 0.0},
    -2: {'name': 'Conwy', 2001: 100.0, 2011: 100.0, 'change': 0.0},
    -3: {'name': 'Denbighshire', 2001: 100.0, 2011: 100.0, 'change': 0.0},
    3: {'name': 'Powys', 2001: 100.0, 2011: 100.0, 'change': 0.0},
    -1: {'name': 'Merthyr Tydfil', 2001: 100.0, 2011: 100.0, 'change': 0.0}}}},
 'value': {'2001': {'SpeaksWelsh': 1, 'all': 1},
  '2011': {'SpeaksWelsh': 1, 'all': 1},
  'change': {'SpeaksWelsh': 1, 'all': 1}},
 'value_rank': {'2001': {'SpeaksWelsh': 1, 'all': 1},
  '2011': {'SpeaksWelsh': 1, 'all': 1},
  'change': {'SpeaksWelsh': 1, 'all': 1}},
 'perc_rank_local': {'2001': {'SpeaksWelsh': 1, 'all': 1},
  '2011': {'SpeaksWelsh': 1, 'all': 1},
  'change': {'SpeaksWelsh': 1, 'all': 1},
  'overtake': {'SpeaksWelsh': [], 'all': []},
  'above_below': {'SpeaksWelsh': {'above': {'name': 'Gateshead', 'value': 1},
    'below': {'name': 'Middlesbrough', 'value': 1}},
   'all': {'above': {'name': 'Gateshead', 'value': 1},
    'below': {'name': 'Middlesbrough', 'value': 1}}},
  'top_bottom': {'SpeaksWelsh': {1: {'name': 'Gateshead',
     2001: 1,
     2011: 1,
     'change': 1}},
   'all': {1: {'name': 'Gateshead', 2001: 1, 2011: 1, 'change': 1}}}}}

In [215]:
country

{'code': 'E92000001',
 'name': 'England',
 'type': 'ctry',
 'area': 13027842.85,
 'count': 2,
 'parents': [{'code': 'K04000001', 'name': 'England and Wales', 'type': 'ew'}],
 'children': [{'code': 'E12000001', 'name': 'North East', 'type': 'rgn'},
  {'code': 'E12000002', 'name': 'North West', 'type': 'rgn'},
  {'code': 'E12000003', 'name': 'Yorkshire and The Humber', 'type': 'rgn'},
  {'code': 'E12000004', 'name': 'East Midlands', 'type': 'rgn'},
  {'code': 'E12000005', 'name': 'West Midlands', 'type': 'rgn'},
  {'code': 'E12000006', 'name': 'East', 'type': 'rgn'},
  {'code': 'E12000007', 'name': 'London', 'type': 'rgn'},
  {'code': 'E12000008', 'name': 'South East', 'type': 'rgn'},
  {'code': 'E12000009', 'name': 'South West', 'type': 'rgn'}],
 'bounds': [[-6.41894, 49.86464], [1.76891, 55.81167]],
 'data': {'population': {'perc': {'2001': {'female': 51.32, 'male': 48.68},
    '2011': {'female': 50.82, 'male': 49.18},
    'change': {'female': -0.5, 'male': 0.5}},
   'perc_rank': {'2001': {'female': 2.0, 'male': 1.0},
    '2011': {'female': 2.0, 'male': 1.0},
    'change': {'female': 1.0, 'male': 2.0}},
   'value': {'2001': {'all': 46818857.0,
     'female': 24027820.0,
     'male': 22791037.0},
    '2011': {'all': 50516010.0, 'female': 25673614.0, 'male': 24842396.0},
    'change': {'all': 7.9, 'female': 6.85, 'male': 9.0}},
   'value_rank': {'2001': {'all': 1.0, 'female': 1.0, 'male': 1.0},
    '2011': {'all': 1.0, 'female': 1.0, 'male': 1.0},
    'change': {'all': 1.0, 'female': 1.0, 'male': 1.0}}},
  'care': {'perc': {'2001': {'1to19hoursWeek': 6.8,
     '20to49hoursWeek': 1.09,
     '40PlushoursWeek': 2.05,
     'noCare': 90.07},
    '2011': {'1to19hoursWeek': 6.48,
     '20to49hoursWeek': 1.37,
     '40PlushoursWeek': 2.38,
     'noCare': 89.77},
    'change': {'1to19hoursWeek': -0.32,
     '20to49hoursWeek': 0.28,
     '40PlushoursWeek': 0.33,
     'noCare': -0.3}},
   'perc_rank': {'2001': {'1to19hoursWeek': 2.0,
     '20to49hoursWeek': 2.0,
     '40PlushoursWeek': 2.0,
     'noCare': 1.0},
    '2011': {'1to19hoursWeek': 2.0,
     '20to49hoursWeek': 2.0,
     '40PlushoursWeek': 2.0,
     'noCare': 1.0},
    'change': {'1to19hoursWeek': 2.0,
     '20to49hoursWeek': 1.0,
     '40PlushoursWeek': 1.0,
     'noCare': 1.0}},
   'value': {'2001': {'1to19hoursWeek': 3182528.0,
     '20to49hoursWeek': 509689.0,
     '40PlushoursWeek': 958007.0,
     'all': 46818857.0,
     'noCare': 42168633.0},
    '2011': {'1to19hoursWeek': 3275080.0,
     '20to49hoursWeek': 690960.0,
     '40PlushoursWeek': 1201542.0,
     'all': 50516010.0,
     'noCare': 45348428.0},
    'change': {'1to19hoursWeek': 2.91,
     '20to49hoursWeek': 35.57,
     '40PlushoursWeek': 25.42,
     'all': 7.9,
     'noCare': 7.54}},
   'value_rank': {'2001': {'1to19hoursWeek': 1.0,
     '20to49hoursWeek': 1.0,
     '40PlushoursWeek': 1.0,
     'all': 1.0,
     'noCare': 1.0},
    '2011': {'1to19hoursWeek': 1.0,
     '20to49hoursWeek': 1.0,
     '40PlushoursWeek': 1.0,
     'all': 1.0,
     'noCare': 1.0},
    'change': {'1to19hoursWeek': 1.0,
     '20to49hoursWeek': 1.0,
     '40PlushoursWeek': 1.0,
     'all': 1.0,
     'noCare': 1.0}}},
  'religion': {'perc': {'2001': {'Buddhist': 0.29,
     'Christian': 71.64,
     'Hindu': 1.15,
     'Jewish': 0.54,
     'Muslim': 3.2,
     'Noreligion': 14.52,
     'Otherreligion': 0.29,
     'Religionnotstated': 7.69,
     'Sikh': 0.69},
    '2011': {'Buddhist': 0.45,
     'Christian': 59.29,
     'Hindu': 1.56,
     'Jewish': 0.51,
     'Muslim': 5.18,
     'Noreligion': 24.6,
     'Otherreligion': 0.43,
     'Religionnotstated': 7.17,
     'Sikh': 0.82},
    'change': {'Buddhist': 0.16,
     'Christian': -12.35,
     'Hindu': 0.41,
     'Jewish': -0.03,
     'Muslim': 1.98,
     'Noreligion': 10.08,
     'Otherreligion': 0.14,
     'Religionnotstated': -0.52,
     'Sikh': 0.13}},
   'perc_rank': {'2001': {'Buddhist': 1.0,
     'Christian': 2.0,
     'Hindu': 1.0,
     'Jewish': 1.0,
     'Muslim': 1.0,
     'Noreligion': 2.0,
     'Otherreligion': 1.0,
     'Religionnotstated': 2.0,
     'Sikh': 1.0},
    '2011': {'Buddhist': 1.0,
     'Christian': 1.0,
     'Hindu': 1.0,
     'Jewish': 1.0,
     'Muslim': 1.0,
     'Noreligion': 2.0,
     'Otherreligion': 1.0,
     'Religionnotstated': 2.0,
     'Sikh': 1.0},
    'change': {'Buddhist': 1.0,
     'Christian': 1.0,
     'Hindu': 1.0,
     'Jewish': 2.0,
     'Muslim': 1.0,
     'Noreligion': 2.0,
     'Otherreligion': 2.0,
     'Religionnotstated': 2.0,
     'Sikh': 1.0}},
   'value': {'2001': {'Buddhist': 133765.0,
     'Christian': 33540561.0,
     'Hindu': 537105.0,
     'Jewish': 252236.0,
     'Muslim': 1497661.0,
     'Noreligion': 6798323.0,
     'Otherreligion': 136792.0,
     'Religionnotstated': 3598929.0,
     'Sikh': 323486.0,
     'all': 46818858.0},
    '2011': {'Buddhist': 229546.0,
     'Christian': 29949176.0,
     'Hindu': 788422.0,
     'Jewish': 256339.0,
     'Muslim': 2614279.0,
     'Noreligion': 12428819.0,
     'Otherreligion': 216586.0,
     'Religionnotstated': 3620670.0,
     'Sikh': 412173.0,
     'all': 50516010.0},
    'change': {'Buddhist': 71.6,
     'Christian': -10.71,
     'Hindu': 46.79,
     'Jewish': 1.63,
     'Muslim': 74.56,
     'Noreligion': 82.82,
     'Otherreligion': 58.33,
     'Religionnotstated': 0.6,
     'Sikh': 27.42,
     'all': 7.9}},
   'value_rank': {'2001': {'Buddhist': 1.0,
     'Christian': 1.0,
     'Hindu': 1.0,
     'Jewish': 1.0,
     'Muslim': 1.0,
     'Noreligion': 1.0,
     'Otherreligion': 1.0,
     'Religionnotstated': 1.0,
     'Sikh': 1.0,
     'all': 1.0},
    '2011': {'Buddhist': 1.0,
     'Christian': 1.0,
     'Hindu': 1.0,
     'Jewish': 1.0,
     'Muslim': 1.0,
     'Noreligion': 1.0,
     'Otherreligion': 1.0,
     'Religionnotstated': 1.0,
     'Sikh': 1.0,
     'all': 1.0},
    'change': {'Buddhist': 1.0,
     'Christian': 1.0,
     'Hindu': 2.0,
     'Jewish': 1.0,
     'Muslim': 2.0,
     'Noreligion': 1.0,
     'Otherreligion': 2.0,
     'Religionnotstated': 1.0,
     'Sikh': 2.0,
     'all': 1.0}}},
  'ethnicity': {'perc': {'2001': {'asian': 5.17,
     'black': 2.38,
     'mixed': 1.33,
     'other': 0.45,
     'white': 90.67},
    '2011': {'asian': 8.02,
     'black': 3.59,
     'mixed': 2.28,
     'other': 1.07,
     'white': 85.05},
    'change': {'asian': 2.85,
     'black': 1.21,
     'mixed': 0.95,
     'other': 0.62,
     'white': -5.62}},
   'perc_rank': {'2001': {'asian': 1.0,
     'black': 1.0,
     'mixed': 1.0,
     'other': 1.0,
     'white': 2.0},
    '2011': {'asian': 1.0,
     'black': 1.0,
     'mixed': 1.0,
     'other': 1.0,
     'white': 2.0},
    'change': {'asian': 1.0,
     'black': 1.0,
     'mixed': 1.0,
     'other': 1.0,
     'white': 2.0}},
   'value': {'2001': {'all': 46818847.0,
     'asian': 2422781.0,
     'black': 1115111.0,
     'mixed': 620947.0,
     'other': 208709.0,
     'white': 42451299.0},
    '2011': {'all': 50516010.0,
     'asian': 4052654.0,
     'black': 1812564.0,
     'mixed': 1149736.0,
     'other': 539474.0,
     'white': 42961582.0},
    'change': {'all': 7.9,
     'asian': 67.27,
     'black': 62.55,
     'mixed': 85.16,
     'other': 158.48,
     'white': 1.2}},
   'value_rank': {'2001': {'all': 1.0,
     'asian': 1.0,
     'black': 1.0,
     'mixed': 1.0,
     'other': 1.0,
     'white': 1.0},
    '2011': {'all': 1.0,
     'asian': 1.0,
     'black': 1.0,
     'mixed': 1.0,
     'other': 1.0,
     'white': 1.0},
    'change': {'all': 1.0,
     'asian': 2.0,
     'black': 2.0,
     'mixed': 1.0,
     'other': 2.0,
     'white': 2.0}}},
  'health': {'perc': {'2001': {'bad': 9.09, 'fair': 22.22, 'good': 68.69},
    '2011': {'bad': 5.53, 'fair': 13.13, 'good': 81.34},
    'change': {'bad': -3.56, 'fair': -9.09, 'good': 12.65}},
   'perc_rank': {'2001': {'bad': 2.0, 'fair': 2.0, 'good': 1.0},
    '2011': {'bad': 2.0, 'fair': 2.0, 'good': 1.0},
    'change': {'bad': 1.0, 'fair': 2.0, 'good': 2.0}},
   'value': {'2001': {'all': 46818857.0,
     'bad': 4258112.0,
     'fair': 10403046.0,
     'good': 32157699.0},
    '2011': {'all': 50516010.0,
     'bad': 2795294.0,
     'fair': 6630923.0,
     'good': 41089793.0},
    'change': {'all': 7.9, 'bad': -34.35, 'fair': -36.26, 'good': 27.78}},
   'value_rank': {'2001': {'all': 1.0, 'bad': 1.0, 'fair': 1.0, 'good': 1.0},
    '2011': {'all': 1.0, 'bad': 1.0, 'fair': 1.0, 'good': 1.0},
    'change': {'all': 1.0, 'bad': 1.0, 'fair': 2.0, 'good': 1.0}}},
  'economic': {'perc': {'2001': {'employee': 52.52,
     'inactive': 33.26,
     'self-employed': 8.24,
     'student': 2.59,
     'unemployed': 3.39},
    '2011': {'employee': 52.25,
     'inactive': 30.17,
     'self-employed': 9.7,
     'student': 3.46,
     'unemployed': 4.43},
    'change': {'employee': -0.27,
     'inactive': -3.09,
     'self-employed': 1.46,
     'student': 0.87,
     'unemployed': 1.04}},
   'perc_rank': {'2001': {'employee': 1.0,
     'inactive': 2.0,
     'self-employed': 1.0,
     'student': 1.0,
     'unemployed': 2.0},
    '2011': {'employee': 1.0,
     'inactive': 2.0,
     'self-employed': 1.0,
     'student': 1.0,
     'unemployed': 1.0},
    'change': {'employee': 2.0,
     'inactive': 1.0,
     'self-employed': 1.0,
     'student': 2.0,
     'unemployed': 1.0}},
   'value': {'2001': {'all': 33871581.0,
     'employee': 17789406.0,
     'inactive': 11264173.0,
     'self-employed': 2792304.0,
     'student': 877536.0,
     'unemployed': 1148162.0},
    '2011': {'all': 37075034.0,
     'employee': 19370491.0,
     'inactive': 11184036.0,
     'self-employed': 3594981.0,
     'student': 1283209.0,
     'unemployed': 1642317.0},
    'change': {'all': 9.46,
     'employee': 8.89,
     'inactive': -0.71,
     'self-employed': 28.75,
     'student': 46.23,
     'unemployed': 43.04}},
   'value_rank': {'2001': {'all': 1.0,
     'employee': 1.0,
     'inactive': 1.0,
     'self-employed': 1.0,
     'student': 1.0,
     'unemployed': 1.0},
    '2011': {'all': 1.0,
     'employee': 1.0,
     'inactive': 1.0,
     'self-employed': 1.0,
     'student': 1.0,
     'unemployed': 1.0},
    'change': {'all': 1.0,
     'employee': 2.0,
     'inactive': 1.0,
     'self-employed': 1.0,
     'student': 2.0,
     'unemployed': 1.0}}},
  'children': {'perc': {'2001': {'Kids': 29.5,
     'NoKids': 61.14,
     'NonDepKids': 9.36},
    '2011': {'Kids': 29.18, 'NoKids': 61.22, 'NonDepKids': 9.6},
    'change': {'Kids': -0.32, 'NoKids': 0.08, 'NonDepKids': 0.24}},
   'perc_rank': {'2001': {'Kids': 2.0, 'NoKids': 1.0, 'NonDepKids': 2.0},
    '2011': {'Kids': 1.0, 'NoKids': 1.0, 'NonDepKids': 2.0},
    'change': {'Kids': 1.0, 'NoKids': 2.0, 'NonDepKids': 2.0}},
   'value': {'2001': {'Kids': 5747538.0,
     'NoKids': 11912951.0,
     'NonDepKids': 1823999.0,
     'all': 19484488.0},
    '2011': {'Kids': 6130713.0,
     'NoKids': 12863328.0,
     'NonDepKids': 2016604.0,
     'all': 21010645.0},
    'change': {'Kids': 6.67,
     'NoKids': 7.98,
     'NonDepKids': 10.56,
     'all': 7.83}},
   'value_rank': {'2001': {'Kids': 1.0,
     'NoKids': 1.0,
     'NonDepKids': 1.0,
     'all': 1.0},
    '2011': {'Kids': 1.0, 'NoKids': 1.0, 'NonDepKids': 1.0, 'all': 1.0},
    'change': {'Kids': 1.0, 'NoKids': 2.0, 'NonDepKids': 2.0, 'all': 1.0}}},
  'household': {'perc': {'2001': {'65andOver': 8.83,
     'Cohabiting': 8.34,
     'LoneParent': 9.54,
     'Married': 36.38,
     'OnePerson': 30.16,
     'Other': 6.76},
    '2011': {'65andOver': 8.01,
     'Cohabiting': 9.85,
     'LoneParent': 10.69,
     'Married': 33.1,
     'OnePerson': 30.27,
     'Other': 8.08},
    'change': {'65andOver': -0.82,
     'Cohabiting': 1.51,
     'LoneParent': 1.15,
     'Married': -3.28,
     'OnePerson': 0.11,
     'Other': 1.32}},
   'perc_rank': {'2001': {'65andOver': 2.0,
     'Cohabiting': 1.0,
     'LoneParent': 2.0,
     'Married': 2.0,
     'OnePerson': 1.0,
     'Other': 1.0},
    '2011': {'65andOver': 2.0,
     'Cohabiting': 1.0,
     'LoneParent': 2.0,
     'Married': 1.0,
     'OnePerson': 2.0,
     'Other': 1.0},
    'change': {'65andOver': 2.0,
     'Cohabiting': 2.0,
     'LoneParent': 1.0,
     'Married': 1.0,
     'OnePerson': 2.0,
     'Other': 1.0}},
   'value': {'2001': {'65andOver': 1719583.0,
     'Cohabiting': 1624054.0,
     'LoneParent': 1859657.0,
     'Married': 7087621.0,
     'OnePerson': 5876801.0,
     'Other': 1316772.0,
     'all': 19484488.0},
    '2011': {'65andOver': 1682072.0,
     'Cohabiting': 2069137.0,
     'LoneParent': 2246675.0,
     'Married': 6954749.0,
     'OnePerson': 6360925.0,
     'Other': 1697087.0,
     'all': 21010645.0},
    'change': {'65andOver': -2.18,
     'Cohabiting': 27.41,
     'LoneParent': 20.81,
     'Married': -1.87,
     'OnePerson': 8.24,
     'Other': 28.88,
     'all': 7.83}},
   'value_rank': {'2001': {'65andOver': 1.0,
     'Cohabiting': 1.0,
     'LoneParent': 1.0,
     'Married': 1.0,
     'OnePerson': 1.0,
     'Other': 1.0,
     'all': 1.0},
    '2011': {'65andOver': 1.0,
     'Cohabiting': 1.0,
     'LoneParent': 1.0,
     'Married': 1.0,
     'OnePerson': 1.0,
     'Other': 1.0,
     'all': 1.0},
    'change': {'65andOver': 2.0,
     'Cohabiting': 2.0,
     'LoneParent': 1.0,
     'Married': 1.0,
     'OnePerson': 2.0,
     'Other': 1.0,
     'all': 1.0}}},
  'marital': {'perc': {'2001': {'Married': 50.65,
     'Seperated': 10.6,
     'Single': 30.45,
     'Widowed': 8.3},
    '2011': {'Married': 46.62,
     'Seperated': 11.6,
     'Single': 34.89,
     'Widowed': 6.89},
    'change': {'Married': -4.03,
     'Seperated': 1.0,
     'Single': 4.44,
     'Widowed': -1.41}},
   'perc_rank': {'2001': {'Married': 2.0,
     'Seperated': 1.0,
     'Single': 1.0,
     'Widowed': 2.0},
    '2011': {'Married': 2.0, 'Seperated': 2.0, 'Single': 1.0, 'Widowed': 2.0},
    'change': {'Married': 1.0,
     'Seperated': 2.0,
     'Single': 2.0,
     'Widowed': 1.0}},
   'value': {'2001': {'Married': 18929361.0,
     'Seperated': 3962170.0,
     'Single': 11381052.0,
     'Widowed': 3100824.0,
     'all': 37373407.0},
    '2011': {'Married': 19091646.0,
     'Seperated': 4751564.0,
     'Single': 14288219.0,
     'Widowed': 2820980.0,
     'all': 40952409.0},
    'change': {'Married': 0.86,
     'Seperated': 19.92,
     'Single': 25.54,
     'Widowed': -9.02,
     'all': 9.58}},
   'value_rank': {'2001': {'Married': 1.0,
     'Seperated': 1.0,
     'Single': 1.0,
     'Widowed': 1.0,
     'all': 1.0},
    '2011': {'Married': 1.0,
     'Seperated': 1.0,
     'Single': 1.0,
     'Widowed': 1.0,
     'all': 1.0},
    'change': {'Married': 1.0,
     'Seperated': 2.0,
     'Single': 2.0,
     'Widowed': 1.0,
     'all': 1.0}}},
  'travel': {'perc': {'2001': {'bicycle': 2.8,
     'bus': 7.7,
     'car_van': 60.78,
     'foot': 9.94,
     'home': 9.09,
     'moto': 1.11,
     'other': 0.37,
     'taxi': 0.52,
     'train_metro': 7.7},
    '2011': {'bicycle': 2.95,
     'bus': 7.7,
     'car_van': 61.58,
     'foot': 10.73,
     'home': 5.3,
     'moto': 0.82,
     'other': 0.65,
     'taxi': 0.53,
     'train_metro': 9.76},
    'change': {'bicycle': 0.15,
     'bus': 0.0,
     'car_van': 0.8,
     'foot': 0.79,
     'home': -3.79,
     'moto': -0.29,
     'other': 0.28,
     'taxi': 0.01,
     'train_metro': 2.06}},
   'perc_rank': {'2001': {'bicycle': 1.0,
     'bus': 1.0,
     'car_van': 2.0,
     'foot': 2.0,
     'home': 2.0,
     'moto': 1.0,
     'other': 2.0,
     'taxi': 1.0,
     'train_metro': 1.0},
    '2011': {'bicycle': 1.0,
     'bus': 1.0,
     'car_van': 2.0,
     'foot': 1.0,
     'home': 2.0,
     'moto': 1.0,
     'other': 1.0,
     'taxi': 1.0,
     'train_metro': 1.0},
    'change': {'bicycle': 1.0,
     'bus': 1.0,
     'car_van': 2.0,
     'foot': 1.0,
     'home': 1.0,
     'moto': 2.0,
     'other': 1.0,
     'taxi': 1.0,
     'train_metro': 1.0}},
   'value': {'2001': {'all': 21338864.0,
     'bicycle': 597152.0,
     'bus': 1642500.0,
     'car_van': 12968842.0,
     'foot': 2122102.0,
     'home': 1939345.0,
     'moto': 236679.0,
     'other': 78378.0,
     'taxi': 111008.0,
     'train_metro': 1642858.0},
    '2011': {'all': 23941433.0,
     'bicycle': 706759.0,
     'bus': 1843122.0,
     'car_van': 14742206.0,
     'foot': 2567843.0,
     'home': 1268013.0,
     'moto': 196217.0,
     'other': 154718.0,
     'taxi': 126667.0,
     'train_metro': 2335888.0},
    'change': {'all': 12.2,
     'bicycle': 18.35,
     'bus': 12.21,
     'car_van': 13.67,
     'foot': 21.0,
     'home': -34.62,
     'moto': -17.1,
     'other': 97.4,
     'taxi': 14.11,
     'train_metro': 42.18}},
   'value_rank': {'2001': {'all': 1.0,
     'bicycle': 1.0,
     'bus': 1.0,
     'car_van': 1.0,
     'foot': 1.0,
     'home': 1.0,
     'moto': 1.0,
     'other': 1.0,
     'taxi': 1.0,
     'train_metro': 1.0},
    '2011': {'all': 1.0,
     'bicycle': 1.0,
     'bus': 1.0,
     'car_van': 1.0,
     'foot': 1.0,
     'home': 1.0,
     'moto': 1.0,
     'other': 1.0,
     'taxi': 1.0,
     'train_metro': 1.0},
    'change': {'all': 2.0,
     'bicycle': 2.0,
     'bus': 1.0,
     'car_van': 2.0,
     'foot': 1.0,
     'home': 1.0,
     'moto': 2.0,
     'other': 1.0,
     'taxi': 1.0,
     'train_metro': 2.0}}},
  'hoursworked': {'perc': {'2001': {'Female1-15': 6.4,
     'Female16-30': 12.97,
     'Female31-48': 23.32,
     'Female49plus': 3.17,
     'Male1-15': 1.87,
     'Male16-30': 3.35,
     'Male31-48': 35.89,
     'Male49plus': 13.03},
    '2011': {'Female1-15': 6.52,
     'Female16-30': 14.2,
     'Female31-48': 23.24,
     'Female49plus': 3.13,
     'Male1-15': 3.05,
     'Male16-30': 5.25,
     'Male31-48': 34.47,
     'Male49plus': 10.13},
    'change': {'Female1-15': 0.12,
     'Female16-30': 1.23,
     'Female31-48': -0.08,
     'Female49plus': -0.04,
     'Male1-15': 1.18,
     'Male16-30': 1.9,
     'Male31-48': -1.42,
     'Male49plus': -2.9}},
   'perc_rank': {'2001': {'Female1-15': 1.0,
     'Female16-30': 2.0,
     'Female31-48': 1.0,
     'Female49plus': 1.0,
     'Male1-15': 1.0,
     'Male16-30': 1.0,
     'Male31-48': 2.0,
     'Male49plus': 1.0},
    '2011': {'Female1-15': 1.0,
     'Female16-30': 2.0,
     'Female31-48': 1.0,
     'Female49plus': 1.0,
     'Male1-15': 1.0,
     'Male16-30': 2.0,
     'Male31-48': 2.0,
     'Male49plus': 1.0},
    'change': {'Female1-15': 1.0,
     'Female16-30': 2.0,
     'Female31-48': 2.0,
     'Female49plus': 1.0,
     'Male1-15': 2.0,
     'Male16-30': 2.0,
     'Male31-48': 1.0,
     'Male49plus': 2.0}},
   'value': {'2001': {'Female1-15': 1365663.0,
     'Female16-30': 2767931.0,
     'Female31-48': 4976068.0,
     'Female49plus': 675410.0,
     'Male1-15': 399426.0,
     'Male16-30': 715559.0,
     'Male31-48': 7657202.0,
     'Male49plus': 2779662.0,
     'all': 21336921.0},
    '2011': {'Female1-15': 1561471.0,
     'Female16-30': 3399905.0,
     'Female31-48': 5564393.0,
     'Female49plus': 749692.0,
     'Male1-15': 731358.0,
     'Male16-30': 1255898.0,
     'Male31-48': 8252540.0,
     'Male49plus': 2426176.0,
     'all': 23941433.0},
    'change': {'Female1-15': 14.34,
     'Female16-30': 22.83,
     'Female31-48': 11.82,
     'Female49plus': 11.0,
     'Male1-15': 83.1,
     'Male16-30': 75.51,
     'Male31-48': 7.77,
     'Male49plus': -12.72,
     'all': 12.21}},
   'value_rank': {'2001': {'Female1-15': 1.0,
     'Female16-30': 1.0,
     'Female31-48': 1.0,
     'Female49plus': 1.0,
     'Male1-15': 1.0,
     'Male16-30': 1.0,
     'Male31-48': 1.0,
     'Male49plus': 1.0,
     'all': 1.0},
    '2011': {'Female1-15': 1.0,
     'Female16-30': 1.0,
     'Female31-48': 1.0,
     'Female49plus': 1.0,
     'Male1-15': 1.0,
     'Male16-30': 1.0,
     'Male31-48': 1.0,
     'Male49plus': 1.0,
     'all': 1.0},
    'change': {'Female1-15': 2.0,
     'Female16-30': 2.0,
     'Female31-48': 2.0,
     'Female49plus': 1.0,
     'Male1-15': 2.0,
     'Male16-30': 2.0,
     'Male31-48': 2.0,
     'Male49plus': 2.0,
     'all': 2.0}}},
  'tenure': {'perc': {'2001': {'owned': 68.0,
     'rent_free': 2.02,
     'rented_private': 9.93,

In [ ]:
this("Cardiff")['data']['welsh']['value']['2011']['SpeaksWelsh']

In [ ]:
this("Amber Valley")['data']['density']['value']['2011']['all']

In [ ]:
len([l for l in lads if (l['data']['density']['value']['2011']['all']<4.61)])-307

In [ ]:
for rgn in regions:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+rgn['code']+'.json', 'w') as outfile:
            json.dump(rgn, outfile)
    except:
        print("Failed: ", rgn['name'])

In [ ]:
for ctry in countries:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+ctry['code']+'.json', 'w') as outfile:
            json.dump(ctry, outfile)
    except:
        print("Failed: ", ctry['name'])

In [ ]:
for lad in lads:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+lad['code']+'.json', 'w') as outfile:
            json.dump(lad, outfile)
    except:
        print("Failed: ", lad['name'])

In [ ]:
df.to_csv('laddata.csv')

In [ ]:
!git add .
!git commit -m "Add files"
!git push -u origin main

In [240]:
type(lads[2])

dict

In [352]:
df

,lad,2001,2011,change,natRank,localRank,topic,parent
E06000001,Hartlepool,88611.0,92028.0,3.86,-73,-6,population_all,North East
E06000002,Middlesbrough,134855.0,138412.0,2.64,-43,-4,population_all,North East
E06000003,Redcar and Cleveland,139132.0,135177.0,-2.84,-5,-2,population_all,North East
E06000004,Stockton-on-Tees,178408.0,191610.0,7.4,128,3,population_all,North East
E06000005,Darlington,97838.0,105564.0,7.9,118,2,population_all,North East
...,...,...,...,...,...,...,...,...
W06000020,Torfaen,4.93,5.83,0.9,-10,-10,economic_self-employed,Wales
W06000021,Monmouthshire,10.49,12.04,1.55,1,1,economic_self-employed,Wales
W06000022,Newport,5.5,6.56,1.06,9,9,economic_self-employed,Wales
W06000023,Powys,16.81,17.39,0.58,-4,-4,economic_self-employed,Wales
W06000024,Merthyr Tydfil,4.27,5.74,1.47,2,2,economic_self-employed,Wales