In [1]:
import pandas as pd
import json
import networkx as nx
from networkx_query import search_nodes, search_edges
import numpy as np

In [2]:
with open('/Users/theojolliffe/Documents/Wayback BBC/topicScoresOrder.json', 'r') as fp:
    topicScoresOrder = json.load(fp)
topicScoresOrder = {i: {i[0]: 1/(1+i[1]/10) for i in topicScoresOrder[i]} for i in topicScoresOrder}

In [3]:
options = pd.read_csv('./csv/lists/places_2020.csv')
areaType = pd.read_csv('/Users/theojolliffe/Documents/Census Data/censusAreaLookup.csv')
typeLookup = {}
for i in areaType.index:
    typeLookup[areaType.iloc[i]['Name']]=areaType.iloc[i]['Group name']

areas = []
for i in options["code"]:
    try:
        areas.append(json.load(open(f'/Users/theojolliffe/Documents/pipeline_v3/final/json/place/{i}.json', 'rb')))
    except FileNotFoundError:
#         print(i)
        pass
    
for area in areas:
    area['data']['agemed']['value']['change']['all'] = area['data']['agemed']['value']['2011']['all']-area['data']['agemed']['value']['2001']['all']

In [4]:
# Seperate the areas by area type
regions = []
for i in areas:
    if i['type']=='rgn':
        regions.append(i)
        
lads = []
for i in areas:
    if i['type']=='lad':
        lads.append(i)
        
countries = []
for i in areas:
    if (i['type']=='ew')|(i['type']=='ctry'):
        countries.append(i)

In [5]:
areaClassDF = pd.read_csv('/Users/theojolliffe/Documents/area-reports/src/data/censusAreaLookup.csv')
areaClassDF.at[75, 'Code'] = "E06000058"
areaClassLU = {
    "1a1r": "affluent suburban area", "1b1r": "affluent rural area", 
    "1b2r": "growing rural area", "2a1r": "city", 
    "2b1r": "area", "3a2r": "remote area", 
    "3a1r": "agricultural area", "3b1r": "coastal area",
    "3b2r": "seaside  area",
    "4a1r": "urban area", "5a1r": "cosmopolitan area",
    "6a2r": "industrial area", "6a3r": "service economy area",
    "6a1r": "industrial area", "7a1r": "rural area",
    "7c2r": "affluent area", "7c1r": "affluent area",
    "8a1r": "multi-cultural area", "8a2r": "urban area",
    "8b1r": "suburban area", "8b2r": "suburban area",
}
gssLookup = {"E09": "London borough", "E08": "metropolitan district", "E07": "district", "E06": "unitary authority", "W06": "Welsh district"}
gssLookupShort = {"E09": "borough", "E08": "district", "E07": "district", "E06": "unitary authority", "W06": "district"}

In [6]:
bbcReg = pd.read_csv('/Users/theojolliffe/Downloads/bbc_regions.csv')
bbcRegLU = {}
for i in bbcReg.index:
    if bbcReg['areaCode'].iloc[i] in [lad['code'] for lad in lads]:
        bbcRegLU[bbcReg['areaCode'].iloc[i]] = bbcReg['bbc_online'].iloc[i]
bbcRegLU['E06000053'] = 'cornwall'
bbcRegLU['E06000060'] = 'beds_bucks_and_herts'
bbcRegLU['E09000001'] = 'london'
bbcRegLU['E07000150'] = 'northamptonshire'

regionsBBC = ['cumbria', 'lancashire', 'merseyside', 'manchester', 'tees', 'tyne_and_wear', 'Humberside', 'york_and_north_yorkshire', 'leeds_and_west_yorkshire', 'lincolnshire', 'south_yorkshire', 'birmingham_and_black_country', 'coventry_and_warwickshire', 'hereford_and_worcester', 'shropshire', 'stoke_and_staffordshire', 'derbyshire', 'leicester', 'northamptonshire', 'nottingham', 'bristol', 'cornwall', 'devon', 'gloucestershire', 'somerset', 'wiltshire', 'beds_bucks_and_herts', 'cambridgeshire', 'essex', 'norfolk', 'suffolk', 'berkshire', 'dorset', 'hampshire', 'oxford', 'kent', 'london', 'surrey', 'sussex']
bbcNames = {
     'derby': 'derbyshire', 
     'hereford and worcester': 'hereford_and_worcester',
     'tyne and wear': 'tyne_and_wear',
     'northampton': 'northamptonshire',
     'liverpool': 'merseyside',
     'coventry and warwickshire': 'coventry_and_warwickshire',
     'humberside': 'Humberside',
     'sheffield and south yorkshire': 'south_yorkshire',
     'hampshire & isle of wight': 'hampshire',
     'stoke and staffordshire': 'stoke_and_staffordshire',
     'york & north yorkshire': 'york_and_north_yorkshire',
     'birmingham and black country': 'birmingham_and_black_country',
     'beds, bucks and herts': 'beds_bucks_and_herts',
     'leeds and west yorkshire': 'leeds_and_west_yorkshire'
}
for i in bbcRegLU.keys():
    bbcRegLU[i] = bbcRegLU[i].lower()
    if bbcRegLU[i] not in regionsBBC:
        try:
            bbcRegLU[i] = bbcNames[bbcRegLU[i]]
        except:
            pass

In [7]:
tfidf = pd.read_csv('/Users/theojolliffe/Documents/Wayback BBC/BBCRegionalTFIDF.csv')
tfidf = tfidf.set_index('Unnamed: 0')
for i in tfidf.columns:
    for j in tfidf[i].index:
        tfidf[i].loc[j] = 1+100*tfidf[i].loc[j]
tfidfLU = {}
for i in regionsBBC:
    tfidfLU[i]=tfidf.loc[i].to_dict()

In [8]:
TFtopicLU = {
    'health': 'health',
    'racial': 'ethnicity',
    'population': 'population',
    'age': 'agemed',
    'work': 'economic',
    'commuter': 'travel',
    'housing': 'tenure'
}
TFtopicRev = dict((TFtopicLU[x],x) for x in TFtopicLU)

In [9]:
def this(lad):
    return[l for l in lads if l['name']==lad][0]

In [10]:
# Find each LAD local and national ranks and put in prioirity order
for thisLad in lads:
    
    if (areaClassDF[areaClassDF['Code']==thisLad['code']]['Subgroup code'].shape[0]>0):
        thisLad['classification'] = areaClassLU[areaClassDF[areaClassDF['Code']==thisLad['code']]['Subgroup code'].iloc[0]]
    else:
        thisLad['classification'] = "unk"
    thisLad['gss'] = {}
    thisLad['gss']['short'] = gssLookupShort[thisLad['code'][:3]]
    thisLad['gss']['long'] = gssLookup[thisLad['code'][:3]]
    
    if thisLad['parents'][0]['type'] == "cty":
        thisLad['parents'] = thisLad['parents'][1:]
    
    # Empty array will be populted with ranks for each variable
    ranks = []

    # Filter areas with same parent
    sister_lads = []
    lad_code = thisLad['parents'][0]['code']
    for i in range(len(lads)):
        if  lad_code == lads[i]['parents'][0]['code']:
            sister_lads.append(lads[i])

    # Loop through the various data variables
    for a in thisLad['data']:
        if a in ['population', 'density', 'agemed']:
            b = 'value'
        else:
            b = 'perc'
        # Create nested object with localised rank
        thisLad['data'][a][b+"_rank_local"] = {}    
        for c in ['2011', 'change']:
            thisLad['data'][a][b+"_rank_local"][c] = {}
            for d in thisLad['data'][a][b][c]:
                vari = thisLad['data'][a][b][c][d]

                # Create sorted list of values from sister areas
                group_values = []
                for lad in sister_lads:
                    group_values.append(lad['data'][a][b][c][d])
                    group_values = [x if (type(x) == float) | (type(x) == int) else np.nan for x in group_values]
                group_values.sort(reverse=True)

                # Find index of value of area of interest
                varRank = group_values.index(vari) + 1

                # Convert bottom half rankings into negative values
                if varRank>len(group_values)/2:
                    varRank = varRank-len(group_values)-1
                    
                natRank = thisLad['data'][a][b+"_rank"][c][d]
                if natRank > 168:
                    natRank = natRank-336-1

                thisLad['data'][a][b+"_rank_local"][c][d] = varRank
                thisLad['data'][a][b+"_rank"][c][d] = natRank

                # Append ranking data to original array
                ranks.append({
                    'label': a+'_'+b+'_'+c+'_'+d, 
                    'locRank': varRank, 
                    'natRank': natRank, 
                    'value': vari})

    # Sort in rank order
    ranks = sorted(ranks, key=lambda x: (abs(x['locRank']), -abs(x['value'])))
    thisLad["Priorities"] = ranks

In [ ]:
topics = [{1: 'population', 2: 'value', 3: 'all'}, 
          {1: 'density', 2: 'value', 3: 'all'},
          {1: 'agemed', 2: 'value', 3: 'all'},
          {1: 'care', 2: 'perc', 3: '1to19hoursWeek'},
          {1: 'care', 2: 'perc', 3: '20to49hoursWeek'},
          {1: 'care', 2: 'perc', 3: '40PlushoursWeek'},
          {1: 'children', 2: 'perc', 3: 'NoKids'},
          {1: 'children', 2: 'perc', 3: 'Kids'},
          {1: 'children', 2: 'perc', 3: 'NonDepKids'},
          {1: 'travel', 2: 'perc', 3: 'car_van'},
          {1: 'travel', 2: 'perc', 3: 'bus'},
          {1: 'travel', 2: 'perc', 3: 'home'},
          {1: 'travel', 2: 'perc', 3: 'train_metro'},
          {1: 'travel', 2: 'perc', 3: 'foot'},
          {1: 'tenure', 2: 'perc', 3: 'rented_social'},
          {1: 'tenure', 2: 'perc', 3: 'rented_private'},
          {1: 'tenure', 2: 'perc', 3: 'owned'},
          {1: 'religion', 2: 'perc', 3: 'Hindu'},
          {1: 'religion', 2: 'perc', 3: 'Buddhist'},
          {1: 'religion', 2: 'perc', 3: 'Jewish'},
          {1: 'religion', 2: 'perc', 3: 'Christian'},
          {1: 'religion', 2: 'perc', 3: 'Muslim'},
          {1: 'religion', 2: 'perc', 3: 'Noreligion'},
          {1: 'household', 2: 'perc', 3: 'OnePerson'},
          {1: 'household', 2: 'perc', 3: 'Married'},
          {1: 'household', 2: 'perc', 3: 'LoneParent'},
          {1: 'household', 2: 'perc', 3: 'Cohabiting'},
          {1: 'health', 2: 'perc', 3: 'bad'},
          {1: 'health', 2: 'perc', 3: 'good'},
          {1: 'ethnicity', 2: 'perc', 3: 'black'},
          {1: 'ethnicity', 2: 'perc', 3: 'white'},
          {1: 'ethnicity', 2: 'perc', 3: 'asian'},
          {1: 'marital', 2: 'perc', 3: 'Married'},
          {1: 'marital', 2: 'perc', 3: 'Seperated'},
          {1: 'marital', 2: 'perc', 3: 'Single'},
          {1: 'hoursworked', 2: 'perc', 3: 'Female1-15'},
          {1: 'hoursworked', 2: 'perc', 3: 'Male1-15'},
          {1: 'hoursworked', 2: 'perc', 3: 'Female49plus'},
          {1: 'hoursworked', 2: 'perc', 3: 'Male49plus'},
          {1: 'economic', 2: 'perc', 3: 'employee'},
          {1: 'economic', 2: 'perc', 3: 'student'},
          {1: 'economic', 2: 'perc', 3: 'unemployed'},
          {1: 'economic', 2: 'perc', 3: 'inactive'},
          {1: 'economic', 2: 'perc', 3: 'self-employed'}]

ladCodes = []
for lad in lads:
    ladCodes.append(lad['code'])
    
    
df = pd.DataFrame(columns=
                  ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
for j in range(len(topics)):
    df1 = pd.DataFrame(index=ladCodes, columns=
                      ['lad', '2001',  '2011',  'change', 'natRank', 'localRank', 'topic', 'parent'])
    for i in range(len(lads)):
        df1['lad'].iloc[i] = lads[i]['name']
        df1['2001'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2001'][topics[j][3]]
        df1['2011'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['2011'][topics[j][3]]    
        df1['change'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]]['change'][topics[j][3]]
        df1['natRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank"]['change'][topics[j][3]]    
        df1['localRank'].iloc[i] = lads[i]['data'][topics[j][1]][topics[j][2]+"_rank_local"]['change'][topics[j][3]]    
        df1['topic'].iloc[i] = topics[j][1]+"_"+topics[j][3]
        df1['parent'].iloc[i] = lads[i]['parents'][0]['name']
    df = pd.concat([df,df1])
df['natRank'] = np.where(df['natRank'] > 168, df['natRank']-337,df['natRank'])



for topic in topics:
    for lad in lads:
        
#       Find the areas that this area has overtaken
        v2001 = lad['data'][topic[1]][topic[2]]['2001'][topic[3]]
        v2011 = lad['data'][topic[1]][topic[2]]['2011'][topic[3]]
        dfT = df[(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)]
        obje = []
        for i in range(dfT.shape[0]):
            obje.append(dfT.iloc[i]['lad'])
        
        if 'overtake' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank"]['overtake'][topic[3]] = obje
        
        
        # Find areas within the region that this area has overtaken
        reg = lad['parents'][0]['name']
        dfTr = df[(df['topic']==topic[1]+"_"+topic[3])&(df['2001']>v2001)&(df['2011']<v2011)&(df['parent']==reg)]
        objeR = []
        for i in range(dfTr.shape[0]):
            objeR.append(dfTr.iloc[i]['lad'])
        if 'overtake' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['overtake'] = {}
        lad['data'][topic[1]][topic[2]+"_rank_local"]['overtake'][topic[3]] = objeR
        
        dfReg = df[(df['topic']==topic[1]+"_"+topic[3])&(df['parent']==reg)]
        rank2001 = sorted(dfReg['2001'], reverse=True).index(v2001)+1
        if rank2001 > 168:
            rank2001 = rank2001-336-1
        if '2001' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['2001'] = {}
        lad['data'][topic[1]][topic[2]+'_rank_local']['2001'][topic[3]] = rank2001
        
        
#       Find the area immediatly above or below
        below = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]
        above = lad['data'][topic[1]][topic[2]+'_rank_local']['2011'][topic[3]]-2
        if below<0:
            below=below+1
            above=above+1
        name_above = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[above]['lad']
        name_below = df[(df['parent']==reg)&(df['topic']==topic[1]+"_"+topic[3])].sort_values('2011', ascending=False).iloc[below]['lad']

        area_above = {'name': name_above,
                         'value': df[(df['lad']==name_above)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}
        area_below = {'name': name_below,
                          'value': df[(df['lad']==name_below)&(df['topic']==topic[1]+"_"+topic[3])]['2011'].iloc[0]}

        
        if 'above_below' not in lad['data'][topic[1]][topic[2]+'_rank_local'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'] = {}

        if topic[3] not in lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'].keys():
            lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]] = {}
        
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["above"] = area_above
        lad['data'][topic[1]][topic[2]+'_rank_local']['above_below'][topic[3]]["below"] = area_below
            
        # Add top and bottom three biggest movers for each subject to every area
        df_topic = df[(df['topic']==topic[1]+"_"+topic[3])&(abs(df['natRank'])<4)]
        ob = {}
        for index, row in df_topic.iterrows():
            ob[row['natRank']]= {row['lad']: row['change']}
        if 'top_bottom' not in lad['data'][topic[1]][topic[2]+'_rank'].keys():
            lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'] = {}
        lad['data'][topic[1]][topic[2]+'_rank']['top_bottom'][topic[3]]=ob

In [ ]:
# Filter out priority list by subject
for lad in lads:
    subjectList = ["Male31-48", "Male16-30", "Female31-48", "Female16-30", "Widowed", "65andOver", "Other", "noCare", "Sikh", "Religionnotstated", "MultiOther", "Otherreligion", "fair", "rent_free", "shared_ownership", "bicycle", "taxi", "moto", "other", "female", "male", "inactive", "mixed", "LoneNKids", "MultiStudents"]
    priorities = []
    priorities2011 = []
    for rank in lad['Priorities']:
        s=rank['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        if ((s[2] == "change") & (s[3] not in subjectList) & (((s[0]=="household")&(s[3]=="Married")) is False)):
            priorities.append(rank)
        if (s[2]!="change"):
            priorities2011.append(rank)
    lad['pri'] = priorities
    lad['pri2011'] = priorities2011

In [ ]:
# Create triple data for areas of closest proximity
geogTriples = []
for lad in lads:
    list1 = lad['bounds'][0]+lad['bounds'][1]
    for lad2 in lads:
        list2 = lad2['bounds'][0]+lad2['bounds'][1]
        listDif = [abs(list1[i]-list2[i]) for i in [0,1,2,3]]
        listDif.sort()
        if (sum(listDif[:3]) < 1) & (lad!=lad2):
            geogTriples.append([lad['name'], lad2['name'], ("near", round(sum(listDif[:3]), 2))])

In [ ]:
for thisLad in lads:

    # Find nearby area of same area type
    nearSimilar = []
    for i in geogTriples:
        try:
            if ((i[0]==thisLad['name'])&(typeLookup[i[1]]==typeLookup[thisLad['name']])):
                nearSimilar.append([i[0], i[1], ('near_similar', i[2][1])])
        except:
            pass

    if len(nearSimilar)==0:
        nearSimilar = [i for i in geogTriples if i[0]==thisLad['name']]

    nearSimilar = sorted(nearSimilar, key=lambda x: x[2][1])


#     # Find and refine stories
#     stories = []
#     stories=stories+[i for i in thisLad['pri'] if abs(i['locRank']) < 5]
#     stories=stories+[i for i in thisLad['pri'] if (abs(i['natRank']) <= 10)&(abs(i['locRank']) >= 5)]

#     change = sorted(thisLad['pri'], reverse=True, key=lambda x: abs(x['value']))

#     bigchange = [i for i in change if abs(i['value'])>4.5]
#     for i in range(len(bigchange)):
#         if len(stories)<4:
#             stories=stories+[bigchange[i]]

#     smallchange = sorted([i for i in change if abs(i['value'])<1], reverse=False, key=lambda x: abs(x['value']))
#     for i in range(len(smallchange)):
#         if len(stories)<5:
#             stories=stories+[smallchange[i]]

#     stories = sorted(stories, key=lambda x: abs(x['value']))

    
    #Find differences in data
    if (thisLad['parents'][0]['name']=='Wales'):                        
        region=[i for i in countries if i['name']=="Wales"][0]
        country=[i for i in countries if i['name']=="Wales"][0]
    else:
        region=[i for i in regions if i['name']==thisLad['parents'][0]['name']][0]
        country=[i for i in countries if i['name']==thisLad['parents'][1]['name']][0]

    def reg(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return region['data'][s[0]][s[1]][s[2]][s[3]]
    regDiff = [(i, i['value']-reg(i)) for i in thisLad['pri']]
    regDiff = sorted(regDiff, reverse=True, key=lambda x: abs(x[1]))

    def cou(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return countries[1]['data'][s[0]][s[1]][s[2]][s[3]]
    couDiff = [(i, i['value']-cou(i)) for i in thisLad['pri']]
    couDiff = sorted(couDiff, reverse=True, key=lambda x: abs(x[1]))
    
    try:
        nearSimilarData = {}
        nearSimilarData['name'] = nearSimilar[0][1]
        nearSimilarData['data'] = [lad for lad in lads if lad['name']==nearSimilar[0][1]][0]['data']
    except:
        nearSimilarData = []

    def near(i):
        s=i['label'].split("_")
        if len(s)>4:
            s[3] = s[3] + "_" + s[4]
        return nearSimilarData['data'][s[0]][s[1]][s[2]][s[3]]
    if len(nearSimilarData)>0:
        nearDiff = [(i, i['value']-near(i)) for i in thisLad['pri']]
        nearDiff = sorted(nearDiff, reverse=True, key=lambda x: abs(x[1]))

    nearTops = sorted([(lad['name'], lad['pri'][0]) for lad in lads if lad['name'] in [i[1] for i in nearSimilar if i[0]==thisLad['name']]], key=lambda x: abs(x[1]['locRank']))

    ageBandChange = sorted([(i, thisLad['data']['age10yr']['value']['2011'][i]-thisLad['data']['age10yr']['value']['2001'][i]) for i in thisLad['data']['age10yr']['value']['2001'].keys()], 
           reverse=True, key=lambda x: x[1])

    equalAgeChange = [lad['name'] for 
     lad in lads if (lad['parents'][0]['name'] == thisLad['parents'][0]['name']) 
     & (lad['data']['agemed']['value']['change']['all']==thisLad['data']['agemed']['value']['change']['all'])]
    len(equalAgeChange)
    
    
    # Find and refine stories
    stories = []
    stories=stories+[{**i, **{'type':['size']}} for i in thisLad['pri'] if (abs(i['value']) >= 5)]
    stories=stories+[{**i, **{'type':['locRank']}} for i in thisLad['pri'] if (abs(i['locRank']) < 4)&(abs(i['value']) > 1)]
    stories=stories+[{**i, **{'type':['natRank']}} for i in thisLad['pri'] if (abs(i['natRank']) <= 6)&(abs(i['locRank']) >= 4)&(abs(i['value']) > 1)]
    stories=stories+[{**i[0], **{'type':['couDiff']}} for i in couDiff if abs(i[1])>2]
    stories=stories+[{**i[0], **{'type':['regDiff']}} for i in regDiff if abs(i[1])>2]
    stories=stories+[{**i[0], **{'type':['nearDiff']}} for i in nearDiff if abs(i[1])>2]
    seen = set()
    uniq = [item['label'] for item in stories if item['label'] in seen or seen.add(item['label'])]
    listofdoubles = [[i for i in stories if i['label'] == uniqI] for uniqI in uniq]
    multi = [{**double[0], **{'type': [item for sublist in [i['type'] for i in double] for item in sublist]}} for double in listofdoubles]
    stories = [item for item in stories if item['label'] not in [i['label'] for i in multi]]
    stories=stories+multi
    
    storiesRefined =[]
    notInc = ['density', 'age10yr', 'population']
    for i in stories:
        if i['label'].split("_")[0] not in notInc:
            storiesRefined.append(i)
            notInc.append(i['label'].split("_")[0])

    if (thisLad['code'][0]!='W'):
        storiesRefined = sorted(storiesRefined, key=lambda x: ((topicScoresOrder[bbcRegLU[thisLad['code']]][x['label'].split('_')[0]])*(1/(1+abs(x['value'])))))
        storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['locRank']<5)
        storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['natRank']<5)
        storiesRefined = sorted(storiesRefined, reverse=True, key=lambda x: x['label']=='population_value_change_all')

    
    # Create a varibale 'hiRank' which holds the index of a top 5 rank at the national or reginal level to be used for an overtake story
    hiRank ={}
    hiRankNat = []
    for i in storiesRefined:
        if i['label'] not in ['population_value_change_all', 'agemed_value_change_all']:
            s=i['label'].split("_")
            if len(s)>4:
                s[3] = s[3] + "_" + s[4]
            if thisLad['data'][s[0]][s[1]+"_rank"]['2011'][s[3]]!=thisLad['data'][s[0]][s[1]+"_rank"]['2001'][s[3]]:
                hiRankNat.append(abs(thisLad['data'][s[0]][s[1]+"_rank"]['2011'][s[3]]))
            else:
                hiRankNat.append(100)
        else:
            hiRankNat.append(100)

    hiRankReg = []
    for i in storiesRefined:
        if i['label'] not in ['population_value_change_all', 'agemed_value_change_all']:
            s=i['label'].split("_")
            if len(s)>4:
                s[3] = s[3] + "_" + s[4]
            if thisLad['data'][s[0]][s[1]+"_rank_local"]['2011'][s[3]]!=thisLad['data'][s[0]][s[1]+"_rank_local"]['2001'][s[3]]:
                hiRankReg.append(abs(thisLad['data'][s[0]][s[1]+"_rank_local"]['2011'][s[3]]))
            else:
                hiRankReg.append(100)
        else:
            hiRankReg.append(100)
            
    if min(hiRankNat)<5:
        hiRank['rankIn'] = hiRankNat.index(min(hiRankNat))
        hiRank['type'] = 'nat'
    elif min(hiRankReg)<5:
        hiRank['rankIn'] = hiRankReg.index(min(hiRankReg))
        hiRank['type'] = 'reg'
    elif min(hiRankNat)<10:
        hiRank['rankIn'] = hiRankNat.index(min(hiRankNat))
        hiRank['type'] = 'nat'
    else:
        hiRank['rankIn'] = "None"
        hiRank['type'] = "None"

    # Add data to object
    thisLad['hiRank']=hiRank
    thisLad['stories'] = storiesRefined
    thisLad['nearSimilar'] = {}
    thisLad['nearSimilar']['triples'] = nearSimilar
    thisLad['nearSimilar']['nearTops'] = nearTops
    thisLad['nearSimilar']['nearTops'] = nearSimilarData
    thisLad['differences'] = {}
    thisLad['differences']['country'] = couDiff
    thisLad['differences']['region'] = regDiff
    thisLad['differences']['near'] = nearDiff
    thisLad['data']['age10yr']['absChange'] = ageBandChange
    thisLad['data']['agemed']['value_rank_local']['equalAgeChange]'] = len(equalAgeChange)

In [42]:
this("Manchester")['stories']

[{'label': 'population_value_change_all',
  'locRank': 1,
  'natRank': 2.0,
  'value': 28.08,
  'type': ['size', 'locRank', 'couDiff', 'regDiff', 'nearDiff']},
 {'label': 'health_perc_change_good',
  'locRank': 1,
  'natRank': 1.0,
  'value': 15.87,
  'type': ['size', 'locRank', 'couDiff', 'regDiff', 'nearDiff']},
 {'label': 'ethnicity_perc_change_white',
  'locRank': -1,
  'natRank': -15.0,
  'value': -14.35,
  'type': ['size', 'locRank', 'couDiff', 'regDiff', 'nearDiff']},
 {'label': 'religion_perc_change_Christian',
  'locRank': -1,
  'natRank': -73.0,
  'value': -13.68,
  'type': ['size', 'locRank', 'regDiff']},
 {'label': 'travel_perc_change_car_van',
  'locRank': -1,
  'natRank': -37.0,
  'value': -10.88,
  'type': ['size', 'locRank', 'couDiff', 'regDiff', 'nearDiff']},
 {'label': 'agemed_value_change_all',
  'locRank': -1,
  'natRank': -8.0,
  'value': -2.0,
  'type': ['locRank', 'couDiff', 'regDiff']},
 {'label': 'hoursworked_perc_change_Male1-15',
  'locRank': 1,
  'natRank': 3.0,
  'value': 1.98,
  'type': ['locRank']},
 {'label': 'tenure_perc_change_rented_private',
  'locRank': 1,
  'natRank': 5.0,
  'value': 12.44,
  'type': ['size', 'locRank', 'couDiff', 'regDiff', 'nearDiff']},
 {'label': 'marital_perc_change_Single',
  'locRank': 4,
  'natRank': 17.0,
  'value': 7.02,
  'type': ['size']},
 {'label': 'household_perc_change_Cohabiting',
  'locRank': 3,
  'natRank': 18.0,
  'value': 2.68,
  'type': ['locRank']},
 {'label': 'economic_perc_change_student',
  'locRank': 1,
  'natRank': 6.0,
  'value': 2.68,
  'type': ['locRank']},
 {'label': 'children_perc_change_Kids',
  'locRank': 2,
  'natRank': 85.0,
  'value': 0.35,
  'type': ['couDiff']}]

In [2440]:
[i for i in lads if i['data']['population']['value']['change']['all']<-4.0][0]['data']['population']['value']['change']['all']

-4.02

In [2437]:
sorted([i for i in lads if i['data']['population']['value']['change']['all']<-4.0], key=lambda x: (x['data']['population']['value']['change']['all']))

[{'code': 'E07000027',
  'name': 'Barrow-in-Furness',
  'type': 'lad',
  'area': 7796.05,
  'count': 331,
  'parents': [{'code': 'E12000002', 'name': 'North West', 'type': 'rgn'},
   {'code': 'E92000001', 'name': 'England', 'type': 'ctry'},
   {'code': 'K04000001', 'name': 'England and Wales', 'type': 'ew'}],
  'children': [{'code': 'E02003977',
    'name': 'Barrow-in-Furness 001',
    'type': 'msoa'},
   {'code': 'E02003978', 'name': 'Barrow-in-Furness 002', 'type': 'msoa'},
   {'code': 'E02003979', 'name': 'Barrow-in-Furness 003', 'type': 'msoa'},
   {'code': 'E02003980', 'name': 'Barrow-in-Furness 004', 'type': 'msoa'},
   {'code': 'E02003981', 'name': 'Barrow-in-Furness 005', 'type': 'msoa'},
   {'code': 'E02003982', 'name': 'Barrow-in-Furness 006', 'type': 'msoa'},
   {'code': 'E02003983', 'name': 'Barrow-in-Furness 007', 'type': 'msoa'},
   {'code': 'E02003984', 'name': 'Barrow-in-Furness 008', 'type': 'msoa'},
   {'code': 'E02003985', 'name': 'Barrow-in-Furness 009', 'type': 'msoa'},
   {'code': 'E02003986', 'name': 'Barrow-in-Furness 010', 'type': 'msoa'}],
  'bounds': [[-3.32482, 54.03963], [-3.12411, 54.21847]],
  'data': {'population': {'perc': {'2001': {'female': 51.25, 'male': 48.75},
     '2011': {'female': 50.52, 'male': 49.48},
     'change': {'female': -0.73, 'male': 0.73}},
    'perc_rank': {'2001': {'female': 172.0, 'male': 159.0},
     '2011': {'female': 251.0, 'male': 77.0},
     'change': {'female': 256.0, 'male': 76.0}},
    'value': {'2001': {'all': 71980.0, 'female': 36888.0, 'male': 35092.0},
     '2011': {'all': 69087.0, 'female': 34902.0, 'male': 34185.0},
     'change': {'all': -4.02, 'female': -5.38, 'male': -2.58}},
    'value_rank': {'2001': {'all': 304.0, 'female': 304.0, 'male': 304.0},
     '2011': {'all': -24.0, 'female': -24.0, 'male': -24.0},
     'change': {'all': -6.0, 'female': -6.0, 'male': -7.0},
     'overtake': {'all': []},
     'top_bottom': {'all': {2.0: {'Manchester': 28.08},
       3.0: {'Newham': 26.28},
       1.0: {'Tower Hamlets': 29.57}}}},
    'value_rank_local': {'2011': {'all': -1, 'female': -1, 'male': -1},
     'change': {'all': -1, 'female': -1, 'male': -1},
     'overtake': {'all': []},
     '2001': {'all': 35},
     'above_below': {'all': {'above': {'name': 'Ribble Valley',
        'value': 57132.0},
       'below': {'name': 'Manchester', 'value': 503127.0}}}}},
   'care': {'perc': {'2001': {'1to19hoursWeek': 7.37,
      '20to49hoursWeek': 1.69,
      '40PlushoursWeek': 2.98,
      'noCare': 87.96},
     '2011': {'1to19hoursWeek': 6.62,
      '20to49hoursWeek': 1.89,
      '40PlushoursWeek': 3.42,
      'noCare': 88.07},
     'change': {'1to19hoursWeek': -0.75,
      '20to49hoursWeek': 0.2,
      '40PlushoursWeek': 0.44,
      'noCare': 0.11}},
    'perc_rank': {'2001': {'1to19hoursWeek': 106.0,
      '20to49hoursWeek': 6.0,
      '40PlushoursWeek': 20.0,
      'noCare': 317.0},
     '2011': {'1to19hoursWeek': -139.0,
      '20to49hoursWeek': 14.0,
      '40PlushoursWeek': 23.0,
      'noCare': -52.0},
     'change': {'1to19hoursWeek': -16.0,
      '20to49hoursWeek': -50.0,
      '40PlushoursWeek': 121.0,
      'noCare': 39.0},
     'overtake': {'1to19hoursWeek': ['Wrexham'],
      '20to49hoursWeek': [],
      '40PlushoursWeek': ['Hartlepool',
       'Middlesbrough',
       'Liverpool',
       'Barnsley',
       'Pembrokeshire']},
     'top_bottom': {'1to19hoursWeek': {1.0: {'Isles of Scilly': 1.03},
       2.0: {'Eden': 0.9},
       3.0: {'Gosport': 0.71}},
      '20to49hoursWeek': {2.0: {'Folkestone and Hythe': 0.5},
       1.0: {'Tendring': 0.52}},
      '40PlushoursWeek': {3.0: {'Torbay': 0.82},
       2.0: {'Rother': 0.83},
       1.0: {'East Lindsey': 0.86}}}},
    'value': {'2001': {'1to19hoursWeek': 5308.0,
      '20to49hoursWeek': 1215.0,
      '40PlushoursWeek': 2144.0,
      'all': 71980.0,
      'noCare': 63313.0},
     '2011': {'1to19hoursWeek': 4573.0,
      '20to49hoursWeek': 1308.0,
      '40PlushoursWeek': 2364.0,
      'all': 69087.0,
      'noCare': 60842.0},
     'change': {'1to19hoursWeek': -13.85,
      '20to49hoursWeek': 7.65,
      '40PlushoursWeek': 10.26,
      'all': -4.02,
      'noCare': -3.9}},
    'value_rank': {'2001': {'1to19hoursWeek': 295.0,
      '20to49hoursWeek': 172.0,
      '40PlushoursWeek': 189.0,
      'all': 304.0,
      'noCare': 304.0},
     '2011': {'1to19hoursWeek': 318.0,
      '20to49hoursWeek': 236.0,
      '40PlushoursWeek': 233.0,
      'all': 313.0,
      'noCare': 313.0},
     'change': {'1to19hoursWeek': 331.0,
      '20to49hoursWeek': 330.0,
      '40PlushoursWeek': 321.0,
      'all': 331.0,
      'noCare': 329.0}},
    'perc_rank_local': {'2011': {'1to19hoursWeek': -12,
      '20to49hoursWeek': 5,
      '40PlushoursWeek': 5,
      'noCare': -6},
     'change': {'1to19hoursWeek': -1,
      '20to49hoursWeek': -3,
      '40PlushoursWeek': -10,
      'noCare': 3},
     'overtake': {'1to19hoursWeek': [],
      '20to49hoursWeek': [],
      '40PlushoursWeek': ['Liverpool']},
     '2001': {'1to19hoursWeek': 15,
      '20to49hoursWeek': 2,
      '40PlushoursWeek': 5},
     'above_below': {'1to19hoursWeek': {'above': {'name': 'Bolton',
        'value': 6.57},
       'below': {'name': 'Tameside', 'value': 6.43}},
      '20to49hoursWeek': {'above': {'name': 'Liverpool', 'value': 1.92},
       'below': {'name': 'Sefton', 'value': 1.83}},
      '40PlushoursWeek': {'above': {'name': 'Blackpool', 'value': 3.58},
       'below': {'name': 'Wyre', 'value': 3.42}}}}},
   'religion': {'perc': {'2001': {'Buddhist': 0.1,
      'Christian': 81.03,
      'Hindu': 0.06,
      'Jewish': 0.03,
      'Muslim': 0.25,
      'Noreligion': 10.79,
      'Otherreligion': 0.13,
      'Religionnotstated': 7.59,
      'Sikh': 0.01},
     '2011': {'Buddhist': 0.22,
      'Christian': 70.68,
      'Hindu': 0.15,
      'Jewish': 0.02,
      'Muslim': 0.25,
      'Noreligion': 22.08,
      'Otherreligion': 0.24,
      'Religionnotstated': 6.36,
      'Sikh': 0.01},
     'change': {'Buddhist': 0.12,
      'Christian': -10.35,
      'Hindu': 0.09,
      'Jewish': -0.01,
      'Muslim': 0.0,
      'Noreligion': 11.29,
      'Otherreligion': 0.11,
      'Religionnotstated': -1.23,
      'Sikh': 0.0}},
    'perc_rank': {'2001': {'Buddhist': 291.0,
      'Christian': 37.0,
      'Hindu': 296.0,
      'Jewish': 288.0,
      'Muslim': 234.0,
      'Noreligion': 285.0,
      'Otherreligion': 311.0,
      'Religionnotstated': 151.0,
      'Sikh': 308.0},
     '2011': {'Buddhist': -89.0,
      'Christian': 27.0,
      'Hindu': -70.0,
      'Jewish': -32.0,
      'Muslim': -45.0,
      'Noreligion': -83.0,
      'Otherreligion': -29.0,
      'Religionnotstated': -60.0,
      'Sikh': -32.0},
     'change': {'Buddhist': 148.0,
      'Christian': 45.0,
      'Hindu': -146.0,
      'Jewish': 138.0,
      'Muslim': -11.0,
      'Noreligion': 160.0,
      'Otherreligion': -145.0,
      'Religionnotstated': -70.0,
      'Sikh': -96.0},
     'overtake': {'Hindu': ['County Durham',
       'Shropshire',
       'Northumberland',
       'Dorset',
       'Amber Valley',
       'Bolsover',
       'North East Derbyshire',
       'Maldon',
       'Cotswold',
       'New Forest',
       'Pendle',
       'Rossendale',
       'East Lindsey',
       'Selby',
       'Mendip',
       'South Somerset',
       'Cannock Chase',
       'Babergh',
       'Wyre Forest',
       'Somerset West and Taunton',
       'Barnsley',
       'Neath Port Talbot',
       'Caerphilly',
       'Blaenau Gwent',
       'Merthyr Tydfil'],
      'Buddhist': ['Stockton-on-Tees',
       'Blackburn with Darwen',
       'East Riding of Yorkshire',
       'County Durham',
       'Northumberland',
       'Fenland',
       'Chesterfield',
       'Erewash',
       'South Derbyshire',
       'Rochford',
       'Tewkesbury',
       'Swale',
       'Ribble Valley',
       'South Ribble',
       'West Lancashire',
       'Wyre',
       'Blaby',
       'Harborough',
       'Hinckley and Bosworth',
       'Boston',
       'East Lindsey',
       'South Kesteven',
       'West Lindsey',
       'Breckland',
       'Hambleton',
       'Selby',
       'Newark and Sherwood',
       'Bromsgrove',
       'Redditch',
       'Wyre Forest',
       'Oldham',
       'Rochdale',
       'Sefton',
       'Dudley',
       'Sandwell',
       'Solihull',
       'Bradford',
       'Blaenau Gwent',
       'Merthyr Tydfil'],
      'Jewish': ['Ashfield'],
      'Christian': ['Redcar and Cleveland',
       'Stockton-on-Tees',
       'Northumberland',
       'North Kesteven',
       'South Kesteven',
       'West Lindsey',
       'Richmondshire',
       'North Warwickshire',
       'Stratford-on-Avon',
       'Barnsley',
       'South Tyneside',
       'Sunderland'],
      'Muslim': [],
      'Noreligion': ['Luton',
       'Slough',
       'Windsor and Maidenhead',
       'Cheshire West and Chester',
       'Eden',
       'Brentwood',
       'Hertsmere',
       'Watford',
       'Gravesham',
       'Burnley',
       'Pendle',
       'Boston',
       'North Kesteven',
       'West Lindsey',
       'Selby',
       'East Staffordshire',
       'North Warwickshire',
       'Stratford-on-Avon',
       'Bromsgrove',
       'Wychavon',
       'Trafford',
       'Birmingham',
       'Solihull',
       'Wolverhampton',
       'Bradford',
       'Barking and Dagenham',
       'Barnet',
       'Croydon',
       'Ealing',
       'Enfield',
       'Hillingdon',
       'Hounslow',
       'Kensington and Chelsea',
       'Merton',
       'Tower Hamlets',
       'Waltham Forest',
       'Westminster']},
     'top_bottom': {'Hindu': {1.0: {'Harrow': 5.66},
       3.0: {'Hillingdon': 3.43},
       2.0: {'Redbridge': 3.54}},
      'Buddhist': {1.0: {'Rushmoor': 2.91}, 2.0: {'Hounslow': 0.73}},
      'Jewish': {1.0: {'Hertsmere': 2.95},
       3.0: {'Salford': 0.89},
       2.0: {'Hackney': 0.99}},
      'Christian': {1.0: {'Knowsley': -4.75},
       2.0: {'Haringey': -5.09},
       3.0: {'Lambeth': -5.72}},
      'Muslim': {2.0: {'Luton': 9.98},
       3.0: {'Slough': 9.94},
       1.0: {'Redbridge': 11.36}},
      'Noreligion': {2.0: {'Kingston upon Hull, City of': 16.52},
       3.0: {'Gosport': 16.23},
       1.0: {'Caerphilly': 16.71}}}},
    'value': {'2001': {'Buddhist': 72.0,
      'Christian': 58322.0,
      'Hindu': 46.0,
      'Jewish': 25.0,
      'Muslim': 182.0,
      'Noreligion': 7769.0,
      'Otherreligion': 93.0,
      'Religionnotstated': 5465.0,
      'Sikh': 6.0,
      'all': 71980.0},
     '2011': {'Buddhist': 150.0,
      'Christian': 48830.0,
      'Hindu': 101.0,
      'Jewish': 15.0,
      'Muslim': 172.0,
      'Noreligion': 15252.0,
      'Otherreligion': 167.0,
      'Religionnotstated': 4393.0,
      'Sikh': 7.0,
      'all': 69087.0},
     'change': {'Buddhist': 108.33,
      'Christian': -16.28,
      'Hindu': 119.57,
      'Jewish': -40.0,
      'Muslim': -5.49,
      'Noreligion': 96.32,
      'Otherreligion': 79.57,
      'Religionnotstated': -19.62,
      'Sikh': 16.67,
      'all': -4.02}},
    'value_rank': {'2001': {'Buddhist': 316.0,
      'Christian': 296.0,
      'Hindu': 308.0,
      'Jewish': 315.0,
      'Muslim': 273.0,
      'Noreligion': 314.0,
      'Otherreligion': 318.0,
      'Religionnotstated': 293.0,
      'Sikh': 321.0,
      'all': 304.0},
     '2011': {'Buddhist': 308.0,
      'Christian': 302.0,
      'Hindu': 295.0,
      'Jewish': 317.0,
      'Muslim': 313.0,
      'Noreligion': 315.0,
      'Otherreligion': 323.0,
      'Religionnotstated': 317.0,
      'Sikh': 319.0,
      'all': 313.0},
     'change': {'Buddhist': 73.0,
      'Christian': 298.0,
      'Hindu': 76.0,
      'Jewish': 316.0,
      'Muslim': 330.0,
      'Noreligion': 105.0,
      'Otherreligion': 111.0,
      'Religionnotstated': 320.0,
      'Sikh': 241.0,
      'all': 331.0}},
    'perc_rank_local': {'2011': {'Buddhist': -11,
      'Christian': 9,
      'Hindu': -3,
      'Jewish': -3,
      'Muslim': -3,
      'Noreligion': 7,
      'Otherreligion': -12,
      'Religionnotstated': 8,
      'Sikh': -2},
     'change': {'Buddhist': 8,
      'Christian': 9,
      'Hindu': -12,
      'Jewish': -10,
      'Muslim': -1,
      'Noreligion': 3,
      'Otherreligion': 11,
      'Religionnotstated': -12,
      'Sikh': -5},
     'overtake': {'Hindu': ['Pendle', 'Rossendale'],
      'Buddhist': ['Blackburn with Darwen',
       'Ribble Valley',
       'South Ribble',
       'West Lancashire',
       'Wyre',
       'Oldham',
       'Rochdale',
       'Sefton'],
      'Jewish': [],
      'Christian': [],
      'Muslim': [],
      'Noreligion': ['Cheshire West and Chester',
       'Eden',
       'Burnley',
       'Pendle',
       'Trafford']},
     '2001': {'Hindu': 33,
      'Buddhist': 31,
      'Jewish': 27,
      'Christian': 16,
      'Muslim': 28,
      'Noreligion': 16},
     'above_below': {'Hindu': {'above': {'name': 'Hyndburn', 'value': 0.09},
       'below': {'name': 'South Lakeland', 'value': 0.05}},
      'Buddhist': {'above': {'name': 'Wyre', 'value': 0.2},
       'below': {'name': 'Allerdale', 'value': 0.19}},
      'Jewish': {'above': {'name': 'Barrow-in-Furness', 'value': 0.02},
       'below': {'name': 'Ribble Valley', 'value': 0.02}},
      'Christian': {'above': {'name': 'South Ribble', 'value': 75.69},
       'below': {'name': 'Chorley', 'value': 75.34}},
      'Muslim': {'above': {'name': 'Eden', 'value': 0.22},
       'below': {'name': 'Allerdale', 'value': 0.2}},
      'Noreligion': {'above': {'name': 'Tameside', 'value': 23.56},
       'below': {'name': 'Carlisle', 'value': 22.9}}}}},
   'ethnicity': {'perc': {'2001': {'asian': 0.36,
      'black': 0.06,
      'mixed': 0.29,
      'other': 0.07,
      'white': 99.21},
     '2011': {'asian': 0.92,
      'black': 0.1,
      'mixed': 0.52,
      'other': 0.12,
      'white': 98.34},
     'change': {'asian': 0.56,
      'black': 0.04,
      'mixed': 0.23,
      'other': 0.05,
      'white': -0.87}},
    'perc_rank': {'2001': {'asian': 306.0,
      'black': 322.0,
      'mixed': 321.0,
      'other': 295.0,
      'white': 12.0},
     '2011': {'asian': -59.0,
      'black': -14.0,
      'mixed': -10.0,
      'other': -60.0,
      'white': 24.0},
     'change': {'asian': -94.0,
      'black': -34.0,
      'mixed': -17.0,
      'other': -119.0,
      'white': 44.0},
     'overtake': {'black': ['Redcar and Cleveland',
       'Teignbridge',
       'Torridge',
       'Flintshire'],
      'white': ['Hambleton', 'Isle of Anglesey'],
      'asian': ['Redcar and Cleveland',
       'Halton',
       'East Riding of Yorkshire',
       'Northumberland',
       'Dorset',
       'Amber Valley',
       'Bolsover',
       'High Peak',
       'North East Derbyshire',
       'Teignbridge',
       'Torridge',
       'Maldon',
       'Stroud',
       'West Lancashire',
       'East Lindsey',
       'North Kesteven',
       'South Holland',
       'Newark and Sherwood',
       'Mendip',
       'Sedgemoor',
       'South Somerset',
       'Babergh',
       'Barnsley',
       'Caerphilly',
       'Blaenau Gwent',
       'Powys']},
     'top_bottom': {'black': {1.0: {'Barking and Dagenham': 13.0},
       3.0: {'Croydon': 6.83},
       2.0: {'Greenwich': 8.03}},
      'white': {2.0: {'West Lancashire': -0.4}, 1.0: {'Torridge': -0.31}},
      'asian': {3.0: {'Slough': 11.49},
       2.0: {'Harrow': 11.7},
       1.0: {'Redbridge': 15.95}}}},
    'value': {'2001': {'all': 71980.0,
      'asian': 262.0,
      'black': 43.0,
      'mixed': 212.0,
      'other': 50.0,
      'white': 71413.0},
     '2011': {'all': 69087.0,
      'asian': 633.0,
      'black': 70.0,
      'mixed': 360.0,
      'other': 84.0,
      'white': 67940.0},
     'change': {'all': -4.02,
      'asian': 141.6,
      'black': 62.79,
      'mixed': 69.81,
      'other': 68.0,
      'white': -4.86}},
    'value_rank': {'2001': {'all': 304.0,
      'asian': 314.0,
      'black': 324.0,
      'mixed': 321.0,
      'other': 313.0,
      'white': 302.0},
     '2011': {'all': 313.0,
      'asian': 309.0,
      'black': 326.0,
      'mixed': 325.0,
      'other': 308.0,
      'white': 310.0},
     'change': {'all': 331.0,
      'asian': 77.0,
      'black': 246.0,
      'mixed': 274.0,
      'other': 187.0,
      'white': 302.0}},
    'perc_rank_local': {'2011': {'asian': -3,
      'black': -2,
      'mixed': -2,
      'other': -3,
      'white': 2},
     'change': {'asian': -8,
      'black': -3,
      'mixed': -2,
      'other': -3,
      'white': 3},
     'overtake': {'black': [],
      'white': [],
      'asian': ['Halton', 'West Lancashire']},
     '2001': {'black': 36, 'white': 4, 'asian': 35},
     'above_below': {'black': {'above': {'name': 'Barrow-in-Furness',
        'value': 0.1},
       'below': {'name': 'Eden', 'value': 0.04}},
      'white': {'above': {'name': 'Eden', 'value': 98.93},
       'below': {'name': 'Copeland', 'value': 98.42}},
      'asian': {'above': {'name': 'South Lakeland', 'value': 0.76},
       'below': {'name': 'Eden', 'value': 0.56}}}}},
   'health': {'perc': {'2001': {'bad': 13.25, 'fair': 23.63, 'good': 63.12},
     '2011': {'bad': 8.37, 'fair': 15.77, 'good': 75.85},
     'change': {'bad': -4.88, 'fair': -7.86, 'good': 12.73}},
    'perc_rank': {'2001': {'bad': 15.0, 'fair': 60.0, 'good': 313.0},
     '2011': {'bad': 15.0, 'fair': 34.0, 'good': -24.0},
     'change': {'bad': -24.0, 'fair': 35.0, 'good': 110.0},
     'overtake': {'bad': ['Swansea'],
      'good': ['Thanet', 'South Tyneside', 'Sunderland']},
     'top_bottom': {'bad': {1.0: {'Wokingham': -1.86},
       3.0: {'Isles of Scilly': -2.11},
       2.0: {'Surrey Heath': -2.06}},
      'good': {1.0: {'Manchester': 15.87},
       2.0: {'Barking and Dagenham': 15.48},
       3.0: {'Tower Hamlets': 15.42}}}},
    'value': {'2001': {'all': 71980.0,
      'bad': 9537.0,
      'fair': 17009.0,
      'good': 45434.0},
     '2011': {'all': 69087.0, 'bad': 5786.0, 'fair': 10898.0, 'good': 52403.0},
     'change': {'all': -4.02, 'bad': -39.33, 'fair': -35.93, 'good': 15.34}},
    'value_rank': {'2001': {'all': 304.0,
      'bad': 190.0,
      'fair': 291.0,
      'good': 310.0},
     '2011': {'all': 313.0, 'bad': 207.0, 'fair': 288.0, 'good': 313.0},
     'change': {'all': 331.0, 'bad': 291.0, 'fair': 157.0, 'good': 326.0}},
    'perc_rank_local': {'2011': {'bad': 4, 'fair': 2, 'good': -3},
     'change': {'bad': -4, 'fair': 8, 'good': 6},
     'overtake': {'bad': [], 'good': []},
     '2001': {'bad': 4, 'good': 38},
     'above_below': {'bad': {'above': {'name': 'Liverpool', 'value': 8.77},
       'below': {'name': 'St. Helens', 'value': 8.28}},
      'good': {'above': {'name': 'Burnley', 'value': 76.57},
       'below': {'name': 'Knowsley', 'value': 75.85}}}}},
   'economic': {'perc': {'2001': {'employee': 49.64,
      'inactive': 39.16,
      'self-employed': 5.18,
      'student': 1.78,
      'unemployed': 4.23},
     '2011': {'employee': 53.21,
      'inactive': 33.67,
      'self-employed': 6.17,
      'student': 2.32,
      'unemployed': 4.63},
     'change': {'employee': 3.57,
      'inactive': -5.49,
      'self-employed': 0.99,
      'student': 0.54,
      'unemployed': 0.4}},
    'perc_rank': {'2001': {'employee': 253.0,
      'inactive': 33.0,
      'self-employed': 305.0,
      'student': 300.0,
      'unemployed': 46.0},
     '2011': {'employee': 158.0,
      'inactive': 50.0,
      'self-employed': -26.0,
      'student': -57.0,
      'unemployed': 98.0},
     'change': {'employee': 12.0,
      'inactive': -30.0,
      'self-employed': -100.0,
      'student': -163.0,
      'unemployed': -48.0},
     'overtake': {'employee': ['East Riding of Yorkshire',
       'North East Lincolnshire',
       'York',
       'Derby',
       'Rutland',
       'Herefordshire, County of',
       'Bath and North East Somerset',
       'Bristol, City of',
       'Plymouth',
       'Luton',
       'Southend-on-Sea',
       'Brighton and Hove',
       'Portsmouth',
       'Southampton',
       'Shropshire',
       'Northumberland',

In [2419]:
for rgn in regions:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+rgn['code']+'.json', 'w') as outfile:
            json.dump(rgn, outfile)
    except:
        print("Failed: ", rgn['name'])

In [2420]:
for ctry in countries:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+ctry['code']+'.json', 'w') as outfile:
            json.dump(ctry, outfile)
    except:
        print("Failed: ", ctry['name'])

In [2421]:
for lad in lads:
    try:
        with open('/Users/theojolliffe/Documents/census-data-transformed/json/place/'+lad['code']+'.json', 'w') as outfile:
            json.dump(lad, outfile)
    except:
        print("Failed: ", lad['name'])

In [2422]:
!git add .
!git commit -m "Add files"
!git push -u origin main

[main 22155f64] Add files
 330 files changed, 393 insertions(+), 747 deletions(-)
 rewrite json/place/E06000001.json (66%)
 rewrite json/place/E06000002.json (66%)
 rewrite json/place/E06000003.json (65%)
 rewrite json/place/E06000004.json (63%)
 rewrite json/place/E06000005.json (65%)
 rewrite json/place/E06000006.json (66%)
 rewrite json/place/E06000007.json (65%)
 rewrite json/place/E06000008.json (65%)
 rewrite json/place/E06000009.json (65%)
 rewrite json/place/E06000010.json (66%)
 rewrite json/place/E06000011.json (63%)
 rewrite json/place/E06000012.json (64%)
 rewrite json/place/E06000013.json (64%)
 rewrite json/place/E06000014.json (66%)
 rewrite json/place/E06000015.json (65%)
 rewrite json/place/E06000016.json (65%)
 rewrite json/place/E06000017.json (66%)
 rewrite json/place/E06000018.json (66%)
 rewrite json/place/E06000019.json (65%)
 rewrite json/place/E06000020.json (64%)
 rewrite json/place/E06000021.json (63%)
 rewrite json/place/E06000022.json (65%)
 rewrite json/place/E06000023.json (66%)
 rewrite json/place/E06000024.json (64%)
 rewrite json/place/E06000025.json (64%)
 rewrite json/place/E06000026.json (63%)
 rewrite json/place/E06000027.json (66%)
 rewrite json/place/E06000030.json (65%)
 rewrite json/place/E06000031.json (66%)
 rewrite json/place/E06000032.json (67%)
 rewrite json/place/E06000033.json (63%)
 rewrite json/place/E06000034.json (66%)
 rewrite json/place/E06000035.json (65%)
 rewrite json/place/E06000036.json (65%)
 rewrite json/place/E06000037.json (63%)
 rewrite json/place/E06000038.json (64%)
 rewrite json/place/E06000039.json (63%)
 rewrite json/place/E06000040.json (64%)
 rewrite json/place/E06000041.json (66%)
 rewrite json/place/E06000042.json (66%)
 rewrite json/place/E06000043.json (66%)
 rewrite json/place/E06000044.json (65%)
 rewrite json/place/E06000045.json (66%)
 rewrite json/place/E06000046.json (66%)
 rewrite json/place/E06000047.json (64%)
 rewrite json/place/E06000049.json (65%)
 rewrite json/place/E06000050.json (64%)
 rewrite json/place/E06000051.json (65%)
 rewrite json/place/E06000052.json (63%)
 rewrite json/place/E06000054.json (63%)
 rewrite json/place/E06000055.json (64%)
 rewrite json/place/E06000056.json (63%)
 rewrite json/place/E06000057.json (64%)
 rewrite json/place/E06000058.json (65%)
 rewrite json/place/E06000059.json (65%)
 rewrite json/place/E06000060.json (65%)
 rewrite json/place/E07000008.json (67%)
 rewrite json/place/E07000009.json (66%)
 rewrite json/place/E07000010.json (63%)
 rewrite json/place/E07000011.json (63%)
 rewrite json/place/E07000012.json (65%)
 rewrite json/place/E07000026.json (66%)
 rewrite json/place/E07000027.json (67%)
 rewrite json/place/E07000028.json (65%)
 rewrite json/place/E07000029.json (64%)
 rewrite json/place/E07000030.json (64%)
 rewrite json/place/E07000031.json (67%)
 rewrite json/place/E07000032.json (66%)
 rewrite json/place/E07000033.json (65%)
 rewrite json/place/E07000034.json (65%)
 rewrite json/place/E07000035.json (67%)
 rewrite json/place/E07000036.json (65%)
 rewrite json/place/E07000037.json (64%)
 rewrite json/place/E07000038.json (64%)
 rewrite json/place/E07000039.json (64%)
 rewrite json/place/E07000040.json (66%)
 rewrite json/place/E07000041.json (66%)
 rewrite json/place/E07000042.json (64%)
 rewrite json/place/E07000043.json (65%)
 rewrite json/place/E07000044.json (66%)
 rewrite json/place/E07000045.json (65%)
 rewrite json/place/E07000047.json (66%)
 rewrite json/place/E07000061.json (67%)
 rewrite json/place/E07000062.json (67%)
 rewrite json/place/E07000063.json (64%)
 rewrite json/place/E07000064.json (66%)
 rewrite json/place/E07000065.json (65%)
 rewrite json/place/E07000066.json (65%)
 rewrite json/place/E07000067.json (65%)
 rewrite json/place/E07000068.json (65%)
 rewrite json/place/E07000069.json (64%)
 rewrite json/place/E07000070.json (65%)
 rewrite json/place/E07000071.json (65%)
 rewrite json/place/E07000074.json (65%)
 rewrite json/place/E07000075.json (67%)
 rewrite json/place/E07000076.json (64%)
 rewrite json/place/E07000078.json (67%)
 rewrite json/place/E07000079.json (65%)
 rewrite json/place/E07000080.json (63%)
 rewrite json/place/E07000081.json (65%)
 rewrite json/place/E07000082.json (67%)
 rewrite json/place/E07000083.json (64%)
 rewrite json/place/E07000084.json (64%)
 rewrite json/place/E07000085.json (65%)
 rewrite json/place/E07000086.json (64%)
 rewrite json/place/E07000087.json (65%)
 rewrite json/place/E07000088.json (65%)
 rewrite json/place/E07000089.json (66%)
 rewrite json/place/E07000090.json (65%)
 rewrite json/place/E07000091.json (64%)
 rewrite json/place/E07000092.json (64%)
 rewrite json/place/E07000093.json (64%)
 rewrite json/place/E07000094.json (66%)
 rewrite json/place/E07000096.json (63%)
 rewrite json/place/E07000098.json (65%)
 rewrite json/place/E07000099.json (65%)
 rewrite json/place/E07000102.json (66%)
 rewrite json/place/E07000105.json (62%)
 rewrite json/place/E07000106.json (68%)
 rewrite json/place/E07000107.json (64%)
 rewrite json/place/E07000108.json (63%)
 rewrite json/place/E07000109.json (64%)
 rewrite json/place/E07000110.json (65%)
 rewrite json/place/E07000112.json (65%)
 rewrite json/place/E07000113.json (66%)
 rewrite json/place/E07000114.json (66%)
 rewrite json/place/E07000115.json (64%)
 rewrite json/place/E07000116.json (66%)
 rewrite json/place/E07000117.json (65%)
 rewrite json/place/E07000118.json (66%)
 rewrite json/place/E07000119.json (64%)
 rewrite json/place/E07000120.json (65%)
 rewrite json/place/E07000121.json (66%)
 rewrite json/place/E07000122.json (66%)
 rewrite json/place/E07000123.json (64%)
 rewrite json/place/E07000124.json (66%)
 rewrite json/place/E07000125.json (65%)
 rewrite json/place/E07000126.json (66%)
 rewrite json/place/E07000127.json (65%)
 rewrite json/place/E07000128.json (66%)
 rewrite json/place/E07000129.json (66%)
 rewrite json/place/E07000130.json (66%)
 rewrite json/place/E07000131.json (66%)
 rewrite json/place/E07000132.json (64%)
 rewrite json/place/E07000133.json (65%)
 rewrite json/place/E07000134.json (66%)
 rewrite json/place/E07000135.json (65%)
 rewrite json/place/E07000136.json (66%)
 rewrite json/place/E07000137.json (65%)
 rewrite json/place/E07000138.json (68%)
 rewrite json/place/E07000139.json (65%)
 rewrite json/place/E07000141.json (64%)
 rewrite json/place/E07000142.json (64%)
 rewrite json/place/E07000143.json (65%)
 rewrite json/place/E07000144.json (66%)
 rewrite json/place/E07000145.json (64%)
 rewrite json/place/E07000146.json (64%)
 rewrite json/place/E07000147.json (65%)
 rewrite json/place/E07000148.json (67%)
 rewrite json/place/E07000149.json (62%)
 rewrite json/place/E07000163.json (66%)
 rewrite json/place/E07000164.json (66%)
 rewrite json/place/E07000165.json (65%)
 rewrite json/place/E07000166.json (66%)
 rewrite json/place/E07000167.json (66%)
 rewrite json/place/E07000168.json (65%)
 rewrite json/place/E07000169.json (64%)
 rewrite json/place/E07000170.json (66%)
 rewrite json/place/E07000171.json (65%)
 rewrite json/place/E07000172.json (65%)
 rewrite json/place/E07000173.json (66%)
 rewrite json/place/E07000174.json (65%)
 rewrite json/place/E07000175.json (64%)
 rewrite json/place/E07000176.json (65%)
 rewrite json/place/E07000177.json (64%)
 rewrite json/place/E07000178.json (66%)
 rewrite json/place/E07000179.json (65%)
 rewrite json/place/E07000180.json (64%)
 rewrite json/place/E07000181.json (64%)
 rewrite json/place/E07000187.json (67%)
 rewrite json/place/E07000188.json (64%)
 rewrite json/place/E07000189.json (64%)
 rewrite json/place/E07000192.json (65%)
 rewrite json/place/E07000193.json (66%)
 rewrite json/place/E07000194.json (65%)
 rewrite json/place/E07000195.json (66%)
 rewrite json/place/E07000196.json (66%)
 rewrite json/place/E07000197.json (64%)
 rewrite json/place/E07000198.json (65%)
 rewrite json/place/E07000199.json (66%)
 rewrite json/place/E07000200.json (66%)
 rewrite json/place/E07000202.json (65%)
 rewrite json/place/E07000203.json (64%)
 rewrite json/place/E07000207.json (64%)
 rewrite json/place/E07000208.json (66%)
 rewrite json/place/E07000209.json (65%)
 rewrite json/place/E07000210.json (65%)
 rewrite json/place/E07000211.json (63%)
 rewrite json/place/E07000212.json (64%)
 rewrite json/place/E07000213.json (65%)
 rewrite json/place/E07000214.json (67%)
 rewrite json/place/E07000215.json (65%)
 rewrite json/place/E07000216.json (66%)
 rewrite json/place/E07000217.json (65%)
 rewrite json/place/E07000218.json (67%)
 rewrite json/place/E07000219.json (63%)
 rewrite json/place/E07000220.json (65%)
 rewrite json/place/E07000221.json (65%)
 rewrite json/place/E07000222.json (65%)
 rewrite json/place/E07000223.json (65%)
 rewrite json/place/E07000224.json (66%)
 rewrite json/place/E07000225.json (65%)
 rewrite json/place/E07000226.json (65%)
 rewrite json/place/E07000227.json (65%)
 rewrite json/place/E07000228.json (66%)
 rewrite json/place/E07000234.json (66%)
 rewrite json/place/E07000235.json (65%)
 rewrite json/place/E07000236.json (66%)
 rewrite json/place/E07000237.json (65%)
 rewrite json/place/E07000238.json (66%)
 rewrite json/place/E07000240.json (66%)
 rewrite json/place/E07000241.json (63%)
 rewrite json/place/E07000242.json (66%)
 rewrite json/place/E07000243.json (64%)
 rewrite json/place/E07000244.json (62%)
 rewrite json/place/E07000245.json (64%)
 rewrite json/place/E07000246.json (65%)
 rewrite json/place/E08000001.json (64%)
 rewrite json/place/E08000002.json (66%)
 rewrite json/place/E08000003.json (65%)
 rewrite json/place/E08000004.json (65%)
 rewrite json/place/E08000005.json (65%)
 rewrite json/place/E08000006.json (63%)
 rewrite json/place/E08000007.json (66%)
 rewrite json/place/E08000008.json (65%)
 rewrite json/place/E08000009.json (65%)
 rewrite json/place/E08000010.json (64%)
 rewrite json/place/E08000011.json (67%)
 rewrite json/place/E08000012.json (65%)
 rewrite json/place/E08000013.json (65%)
 rewrite json/place/E08000014.json (66%)
 rewrite json/place/E08000015.json (64%)
 rewrite json/place/E08000016.json (64%)
 rewrite json/place/E08000017.json (64%)
 rewrite json/place/E08000018.json (65%)
 rewrite json/place/E08000019.json (64%)
 rewrite json/place/E08000021.json (65%)
 rewrite json/place/E08000023.json (66%)
 rewrite json/place/E08000024.json (65%)
 rewrite json/place/E08000025.json (62%)
 rewrite json/place/E08000026.json (65%)
 rewrite json/place/E08000027.json (65%)
 rewrite json/place/E08000028.json (65%)
 rewrite json/place/E08000029.json (66%)
 rewrite json/place/E08000030.json (65%)
 rewrite json/place/E08000031.json (66%)
 rewrite json/place/E08000032.json (65%)
 rewrite json/place/E08000033.json (66%)
 rewrite json/place/E08000034.json (64%)
 rewrite json/place/E08000035.json (63%)
 rewrite json/place/E08000036.json (65%)
 rewrite json/place/E08000037.json (63%)
 rewrite json/place/E09000001.json (65%)
 rewrite json/place/E09000002.json (63%)
 rewrite json/place/E09000003.json (65%)
 rewrite json/place/E09000004.json (67%)
 rewrite json/place/E09000005.json (66%)
 rewrite json/place/E09000006.json (65%)
 rewrite json/place/E09000007.json (65%)
 rewrite json/place/E09000008.json (65%)
 rewrite json/place/E09000009.json (65%)
 rewrite json/place/E09000010.json (64%)
 rewrite json/place/E09000011.json (65%)
 rewrite json/place/E09000012.json (65%)
 rewrite json/place/E09000013.json (65%)
 rewrite json/place/E09000014.json (66%)
 rewrite json/place/E09000015.json (65%)
 rewrite json/place/E09000016.json (66%)
 rewrite json/place/E09000017.json (64%)
 rewrite json/place/E09000018.json (65%)
 rewrite json/place/E09000019.json (64%)
 rewrite json/place/E09000020.json (68%)
 rewrite json/place/E09000021.json (65%)
 rewrite json/place/E09000022.json (67%)
 rewrite json/place/E09000023.json (66%)
 rewrite json/place/E09000024.json (65%)
 rewrite json/place/E09000025.json (67%)
 rewrite json/place/E09000026.json (65%)
 rewrite json/place/E09000028.json (63%)
 rewrite json/place/E09000029.json (65%)
 rewrite json/place/E09000030.json (63%)
 rewrite json/place/E09000031.json (66%)
 rewrite json/place/E09000032.json (67%)
 rewrite json/place/E09000033.json (62%)
 rewrite json/place/W06000001.json (64%)
 rewrite json/place/W06000002.json (65%)
 rewrite json/place/W06000003.json (66%)
 rewrite json/place/W06000004.json (61%)
 rewrite json/place/W06000005.json (65%)
 rewrite json/place/W06000006.json (64%)
 rewrite json/place/W06000008.json (66%)
 rewrite json/place/W06000009.json (65%)
 rewrite json/place/W06000010.json (65%)
 rewrite json/place/W06000011.json (64%)
 rewrite json/place/W06000012.json (66%)
 rewrite json/place/W06000013.json (65%)
 rewrite json/place/W06000014.json (65%)
 rewrite json/place/W06000015.json (63%)
 rewrite json/place/W06000016.json (65%)
 rewrite json/place/W06000018.json (66%)
 rewrite json/place/W06000019.json (66%)
 rewrite json/place/W06000020.json (64%)
 rewrite json/place/W06000021.json (65%)
 rewrite json/place/W06000022.json (64%)
 rewrite json/place/W06000023.json (67%)
Enumerating objects: 572, done.
Counting objects: 100% (572/572), done.
Delta compression using up to 16 threads
Compressing objects: 100% (334/334), done.
Writing objects: 100% (334/334), 2.28 MiB | 1.80 MiB/s, done.
Total 334 (delta 332), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (332/332), completed with 237 local objects.
To https://github.com/theojolliffe/census-data.git
   7839a959..22155f64  main -> main
Branch 'main' set up to track remote branch 'main' from 'origin'.

In [2382]:
pop = [89000, 94000, 108000]

In [2383]:
[i for i in pop]

[89000, 94000, 108000]