In [1]:
import pandas as pd

In [23]:
onsdata = pd.read_excel('https://www.nomisweb.co.uk/api/v01/dataset/nm_609_1.data.xlsx?time=latest&geography=1946157261&rural_urban=0&cell=0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40&measures=20100&rows=cell&cols=measures&select=noflags')

/Users/theojolliffe/opt/anaconda3/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [24]:
onsdata

,KS202EW - National identity,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ONS Crown Copyright Reserved [from Nomis on 10...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Metadata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"2011, Barnet",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN